Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Wip Crothan Event
  events/Flavour_crothan_A54.txt
  localisation/Flavour_Crothan_A54_l_english.yml
Due: Events Encoding, Localization Encoding

Moon Elf models
  gfx/entities/elves.asset
  gfx/models/units/elf/moon/tier1/moon_elf_type1.mesh
  gfx/models/units/elf/moon/tier1/moon_elf_type1_diffuse.dds
  gfx/models/units/elf/moon/tier1/moon_elf_type1_normal.dds
  gfx/models/units/elf/moon/tier1/moon_elf_type1_spec.dds
  gfx/models/units/elf/moon/tier2/moon_elf_type2.mesh
  gfx/models/units/elf/moon/tier2/moon_elf_type2_Spec.dds
  gfx/models/units/elf/moon/tier2/moon_elf_type2_diffuse.dds
  gfx/models/units/elf/moon/tier2/moon_elf_type2_normal.dds
  gfx/models/units/elf/moon/tier3/moon_elf_type3.mesh
  gfx/models/units/elf/moon/tier3/moon_elf_type3_Diffuse.dds
  gfx/models/units/elf/moon/tier3/moon_elf_type3_Normal.dds
  gfx/models/units/elf/moon/tier3/moon_elf_type3_Spec.dds
  gfx/models/units/elf/moon/tier4/moon_elf_type4.mesh
  gfx/models/units/elf/moon/tier4/moon_elf_type4_diffuse.dds
  gfx/models/units/elf/moon/tier4/moon_elf_type4_normal.dds
  gfx/models/units/elf/moon/tier4/moon_elf_type4_spec.dds
  gfx/sprite_packs/elf_sprites.txt
  gfx/sprite_packs_order/00_sprite_pack_orders.txt
  interface/assets/elf.gfx
Due: none

Vyzemby bookmark icon + halfling and halforc spawnable icons
  gfx/interface/bookmarks/dlc_button_vyzemby_halfling.dds
  gfx/interface/bookmarks/spawnable_half_orcish.dds
  gfx/interface/bookmarks/spawnable_halfling.dds
Due: none

New karma modifiers and Nathalyne order removes slaves
  common/holy_orders/anb_holy_orders.txt
  common/static_modifiers/00_static_modifiers.txt
  localisation/anb_events_religion_l_english.yml
Due: Localization Encoding

Auto stash before merge of "orders" and "JayBean/new-master"
  .vscode/settings.json
  localisation/RC_favored_by_the_gods_l_english.yml
Due: Localization Encoding

Auto stash before merge of "orders" and "JayBean/new-master"
  localisation/RC_favored_by_the_gods_l_english.yml
Due: Localization Encoding

Loc fixes
  localisation/RC_favored_by_the_gods_l_english.yml
Due: Localization Encoding

Auto stash before merge of "orders" and "JayBean/new-master"
  .vscode/settings.json
Due: none

fixing loc
  localisation/RC_favored_by_the_gods_l_english.yml
Due: Localization Encoding

Deleting json file
  .vscode/settings.json
Due: none

HUGE RAHEN NERF!!
  common/event_modifiers/anb_event_modifiers.txt
Due: none

fixing cannor eye rape
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none

reform fix
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

no more jinn cult
  common/government_names/00_anbennar_government_names.txt
  common/rebel_types/jinn_cult.txt
  common/religions/00_anb_religion.txt
  history/provinces/6063 - Ardim_Qarast.txt
  localisation/anb_government_names_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Vyzemby stuff
  decisions/FahvanosyDecisions.txt
  localisation/anb_vyzemby_l_english.yml
Due: Decisions Encoding, Localization Encoding

fix
  decisions/FahvanosyDecisions.txt
Due: Decisions Encoding

done
  decisions/FahvanosyDecisions.txt
  localisation/anb_vyzemby_l_english.yml
Due: Decisions Encoding, Localization Encoding

actually done
  decisions/FahvanosyDecisions.txt
  events/Flavour_Amiratsamo_S77.txt
  localisation/anb_vyzemby_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Desert Legion mechanics
  common/event_modifiers/anb_bulwari_modifiers.txt
  common/government_mechanics/anb_desert_legion.txt
  common/government_reforms/04_government_reforms_tribes.txt
  localisation/Flavour_Jaddari_F46_l_english.yml
Due: Localization Encoding

E-V fix
  events/Flavour_EduzVacyn_F31.txt
Due: Events Encoding

Medasi reform rebalance
  events/MedasiEvents.txt
  localisation/medasi_l_english.yml
Due: Events Encoding, Localization Encoding

amacimst reviewed loca and some brelar stuff
  localisation/Flavour_Amacimst_G26_l_english.yml
  localisation/ynn_loc_l_english.yml
  missions/Brelar_Missions.txt
Due: Localization Encoding

Jadd events in Ghankedhen and Rabhidaraj
  common/on_actions/00_on_actions.txt
  events/Flavour_Jaddari_F46.txt
  events/Flavour_ZokkaJaddariWar.txt
  localisation/Flavour_Jaddari_F46_l_english.yml
Due: Events Encoding, Localization Encoding

Adeen tweaks
  common/estate_privileges/estate_adeen_privileges.txt
  events/estate_adeen_events.txt
Due: Events Encoding

Yinquan fixes and golden highway cleaning
  decisions/GoldenHighway.txt
  events/Flavour_Yinquan_Y26.txt
Due: Decisions Encoding, Events Encoding

Silverforge fix if empire is dismantled
  missions/Silverforge_Missions.txt
Due: none

mulen loc
  localisation/Flavour_Mulen_F50_l_english.yml
  missions/Mulen_Missions.txt
Due: Localization Encoding

haless bookmark
  localisation/anb_bookmarks_l_english.yml
Due: Localization Encoding

yinquan work
  events/Flavour_Yinquan_Y26.txt
Due: Events Encoding

ChienLoc1
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

Chienloc2
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

typo
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

fixes triggers for mission
  missions/ChienBinhrung_Missions.txt
Due: none

bypass for losing khom civil war
  events/KhomCivilWar.txt
  missions/ChienBinhrung_Missions.txt
Due: Events Encoding

loc keys for Yinquan
  localisation/Flavour_Yinquan_Y26_l_english.yml
Due: Localization Encoding

missed key
  localisation/Flavour_Yinquan_Y26_l_english.yml
Due: Localization Encoding

yes
  localisation/medasi_l_english.yml
Due: Localization Encoding
