Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Elect a new emperor if the emperor is force converted, to avoiding destroying it
  common/on_actions/00_on_actions.txt
Due: none

loca for dhenba hokuma and yanhe
  customizable_localization/and_rending_appeasement.txt
  events/Rending.txt
Due: Events Encoding

rang nartak flag, brorc fix
  common/subject_types/00_subject_types.txt
  gfx/flags/Y31.tga
Due: none

bugged icon. plz fix oxtroo
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

Nuugdan Tsarai fix and clarification
  events/Flavour_NuugdanTsarai_Y91.txt
  localisation/Flavour_NuugdanTsarai_Y91_l_english.yml
Due: Events Encoding, Localization Encoding

Nuugdan Tsarai further trigger fix
  events/Flavour_NuugdanTsarai_Y91.txt
Due: Events Encoding

tournament bug fix
  events/CentaurTournament.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

Fixed PO for claiming dwarovkron fragments from vassals that can't seperate peace
  common/peace_treaties/anb_steal_dwarovkron_gems.txt
Due: none

Tluukt Azka-Sur mission fix
  events/Flavour_Tluukt_F28.txt
  missions/Tluukt_Missions.txt
Due: Events Encoding

Finishing blessings mission & bugfixes
  common/church_aspects/anb_mountain_watchers.txt
  common/religions/00_anb_religion.txt
  localisation/Flavour_Obrtrol_Z17_l_english.yml
  localisation/anb_religions_l_english.yml
  missions/Obrtrol_Missions.txt
Due: Localization Encoding

Forgot this trigger
  common/peace_treaties/anb_steal_dwarovkron_gems.txt
Due: none

More fixes
  common/event_modifiers/anb_event_modifiers.txt
  events/Flavour_Freemarches_H51.txt
  localisation/Flavour_Freemarches_H51_l_english.yml
  missions/Freemarches_Missions.txt
Due: Events Encoding, Localization Encoding

More loc
  localisation/Flavour_Freemarches_H51_l_english.yml
Due: Localization Encoding

Freemarches Loc
  events/Flavour_Freemarches_H51.txt
  localisation/Flavour_Freemarches_H51_l_english.yml
  missions/Freemarches_Missions.txt
Due: Events Encoding, Localization Encoding

hill
  map/terrain.txt
Due: none

Event fixes
  events/Flavour_Freemarches_H51.txt
  localisation/Flavour_Freemarches_H51_l_english.yml
  missions/Freemarches_Missions.txt
Due: Events Encoding, Localization Encoding

loc
  localisation/diplomacy_l_english.yml
Due: Localization Encoding

more mandate
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
  localisation/messages_l_english.yml
Due: Localization Encoding

elizna tweaks
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  events/Flavour_Elizna_U05.txt
  localisation/Flavour_Elizna_U05_l_english.yml
  localisation/anb_governments_l_english.yml
  missions/Elizna_Missions.txt
Due: Events Encoding, Localization Encoding

typo
  localisation/Flavour_Zansap_F43_l_english.yml
Due: Localization Encoding

i have no words
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

aakhetist colour
  common/religions/00_anb_religion.txt
Due: none

Dwarovkron transfer
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

Changed the solution for dwarovkron fragments. Reverted my old fix.
  common/peace_treaties/anb_steal_dwarovkron_gems.txt
  events/DiggyDiggyHoleEvents.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Events Encoding, Localization Encoding

change reform to account for new NIs
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

Gor Burad estate stuff
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
Due: none

Gor Burad Basalt Rage + loc
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
Due: Events Encoding, Localization Encoding

Gor Burad Innovation fixes
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

fixing spirit swarms
  common/rebel_types/spirit_swarms.txt
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

Gor Burad lava river renaming
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
Due: Events Encoding, Localization Encoding

phungoen is a silver mine
  localisation/Flavour_Jaddari_F46_l_english.yml
  localisation/Flavour_LotDekkhang_Y58_l_english.yml
Due: Localization Encoding

silver hill
  common/event_modifiers/anb_event_modifiers.txt
  gfx/interface/ideas_EU4/silver_hill.dds
  history/provinces/4940 - Phungoen.txt
  interface/provinceview.gfx
  localisation/anb_modifiers_l_english.yml
Due: Localization Encoding

Removed color from event titles
  localisation/Flavour_GorBurad_I16_l_english.yml
Due: Localization Encoding

four lords tooltip fix
  common/event_modifiers/anb_event_modifiers.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

tooltip gaming
  common/event_modifiers/anb_event_modifiers.txt
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

four lords more tooltip
  events/HalessiSpirits.txt
Due: Events Encoding

New elephant herd for Rang Nartak
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  decisions/GhavaanajDecisions.txt
  events/Flavour_Ghavaanaj_R72.txt
  history/countries/Y31 - Rang Nartak.txt
  history/provinces/4512 - Rangeenaar.txt
  localisation/Flavour_Ghavaanaj_R72_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

WWindwards
  localisation/anb_kheionai_l_english.yml
Due: Localization Encoding

subject restore temple yes
  decisions/TempleDecisions.txt
Due: Decisions Encoding

estate edicts be like
  common/state_edicts/spirit_hunters_edict.txt
Due: none
