Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Lifting restrictions on lower caste estate no longer makes them unhappy
  common/estate_privileges/estate_lowercastes_privileges.txt
Due: none

Zansap loc fixes
  localisation/Flavour_Zansap_F43_l_english.yml
Due: Localization Encoding

finishing touch's to the Zansap loc
  localisation/Flavour_Zansap_F43_l_english.yml
Due: Localization Encoding

fix
  common/trade_companies/00_trade_companies.txt
  common/tradenodes/00_tradenodes.txt
Due: none

Sarhal Fixes
  common/estates/84_adeen.txt
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

Vyzemby Missions
  common/estate_privileges/anb_privileges.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_vyzemby_modifiers.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Fahvanosy.txt
  localisation/anb_vyzemby_l_english.yml
  map/provincegroup.txt
  missions/Vyzemby_missions.txt
Due: Events Encoding, Localization Encoding

Small fix
  localisation/anb_vyzemby_l_english.yml
  missions/Vyzemby_missions.txt
Due: Localization Encoding

Small fix
  common/event_modifiers/anb_vyzemby_modifiers.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  localisation/anb_vyzemby_l_english.yml
Due: Localization Encoding

fixing again
  history/countries/L32 - Vadokizy.txt
  missions/Vyzemby_missions.txt
Due: none

why is this 3 dev
  history/provinces/6660 - Jenikamipi.txt
Due: none

Sisinybohi Ni
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

2 more Mengi aspects for Melakmengi with temp loc
  common/church_aspects/anb_sky_domain_abilities.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/religions/00_anb_religion.txt
  events/SkyDomain.txt
  localisation/Flavour_mengi_l_english.yml
Due: Events Encoding, Localization Encoding

melakmengi loc edit
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

No orc warbands in not-asia
  events/anb_aw_spawner.txt
Due: Events Encoding

mt loc and loc fixes
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

Keyolíon gets Localíon
  localisation/Flavour_Keyolion_G58_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Keyolion_Missions.txt
Due: Localization Encoding

Mengi trade node rework
  common/trade_companies/00_trade_companies.txt
  common/tradenodes/00_tradenodes.txt
  localisation/anb_trade_companies_l_english.yml
  localisation/anb_trade_l_english.yml
Due: Localization Encoding

Castanor establish embassies bypass
  missions/Castanor_Missions.txt
Due: none

Eborthíl mission change
  missions/Eborthil_Missions.txt
Due: none

Guhe, Duwarkani, and Hisost Yamok unit model fix to match Racial Mils.
  events/AnbennarSetup.txt
Due: Events Encoding

rename in code too
  common/trade_companies/00_trade_companies.txt
  common/tradenodes/00_tradenodes.txt
  localisation/anb_trade_companies_l_english.yml
  localisation/anb_trade_l_english.yml
  missions/Mulen_Missions.txt
Due: Localization Encoding

foox
  common/tradenodes/00_tradenodes.txt
Due: none

dewuhyunization fix
  common/on_actions/00_on_actions.txt
Due: none

few fixes
  common/parliament_issues/00_adm_parliament_issues.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

.
  history/provinces/5567 - Fettigeban.txt
Due: none

Vyzemby fixes part one
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_vyzemby_modifiers.txt
  decisions/FahvanosyDecisions.txt
  localisation/anb_vyzemby_l_english.yml
  missions/Vyzemby_missions.txt
Due: Decisions Encoding, Localization Encoding

updates
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

yuh
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

elephant lord rulers
  history/countries/R13 - Ghavaghuundakhan.txt
  history/countries/R14 - Maldeelakhan.txt
  history/countries/R16 - Banjisbid.txt
  history/countries/R17 - Banjiraal.txt
  history/countries/R18 - Buhaanjirghal.txt
  history/countries/R35 - Banjibang.txt
  history/countries/Y63 - Verkal Ozovar.txt
Due: none

yushyn
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

blorc unit fix
  common/technologies/mil.txt
  localisation/anb_units_l_english.yml
Due: Localization Encoding

guys plz check error log
  events/Flavour_Mulen_F50.txt
  missions/Skurkokli_Missions.txt
Due: Events Encoding

yushyn
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

vyzemby error fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
Due: none

mercenary parsing error fixes
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
Due: none

mulen, skurkokli, mengi fixes
  events/Flavour_Mulen_F50.txt
  events/SkyDomain.txt
  missions/Mulen_Missions.txt
  missions/Skurkokli_Missions.txt
Due: Events Encoding

encoding fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

update
  common/scripted_effects/anb_scripted_effects_arawkelin.txt
Due: none

hobgoblin portrait
  gfx/interface/bookmarks/dlc_button_hobgoblin.dds
Due: none

small loc changes for zansap
  localisation/Flavour_Zansap_F43_l_english.yml
Due: Localization Encoding
