Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

shagadyrra idea fixes
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

fix accidental double cost in realm scrying magic
  common/scripted_effects/anb_scripted_effects_for_magic.txt
Due: none

fix outdated adenica tooltip now their deity upgrade was changed
  localisation/Flavour_Adenica_B58_l_english.yml
Due: Localization Encoding

kobold hoard customisable loca trigger mistype fixed
  customizable_localization/anb_custom_loca.txt
Due: none

moved ynn buycev events to thri yearly from yearly to hamper the buycev native printer
  common/on_actions/00_on_actions.txt
Due: none

Rakkaz Flag Rework
  gfx/flags/F71.tga
Due: none

nudges
  map/positions.txt
Due: none

Expedition refund fix
  common/scripted_effects/anb_digging_effects.txt
Due: none

fix province groups because people can't read
  localisation/anb_regions_l_english.yml
  map/provincegroup.txt
Due: Localization Encoding

thalassocracy quick fixes
  common/government_reforms/06_government_reforms_common.txt
  common/new_diplomatic_actions/00_diplomatic_actions.txt
Due: none

shadow pact
  common/rebel_types/echenka_beliefs.txt
  common/rebel_types/shadow_pact.txt
  common/religions/00_anb_religion.txt
  events/Flavour_Simegasa_L66.txt
  events/ReligiousReforms.txt
  history/provinces/5460 - Pyazada.txt
  history/provinces/5490 - Grixzakr.txt
  history/provinces/5493 - Ararxarda.txt
  history/provinces/5494 - Zaxhorov.txt
  history/provinces/5664 - Xuligrax.txt
  history/provinces/5665 - Bozgaxh.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

another warning
  map/provincegroup.txt
Due: none

some yinquan loc
  events/Flavour_Yinquan_Y26.txt
  localisation/Flavour_Yinquan_Y26_l_english.yml
Due: Events Encoding, Localization Encoding

basic mandate setup
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
  common/static_modifiers/00_static_modifiers.txt
  history/countries/U01 - Kheterata.txt
  localisation/EU4_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  localisation/subject_type_l_english.yml
  localisation/text_l_english.yml
Due: Localization Encoding

missed some loc
  localisation/mandate_of_heaven_l_english.yml
Due: Localization Encoding

missed this
  localisation/text_l_english.yml
Due: Localization Encoding

fixed positions file (I hope)
  map/positions.txt
Due: none

Testing boon/bane
  events/FeyCourtEvents.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

fixed positions file
  map/positions.txt
Due: none

Fixes
  events/FeyCourtEvents.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

Vyzemby Flavour Events Batch 1 Final
  common/event_modifiers/anb_event_modifiers.txt
  events/Flavour_Vyzemby.txt
  localisation/Flavour_Vyzemby_l_english.yml
Due: Events Encoding, Localization Encoding

Oops
  common/event_modifiers/anb_event_modifiers.txt
Due: none

Ashhami flavour events
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Group_Flavour_Lizardfolk.txt
  localisation/Group_Flavour_Lizardfolk_l_english.yml
Due: Events Encoding, Localization Encoding

Working boon/bane + fixes
  events/FeyCourtEvents.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

Clarification for debug event
  events/FeyCourtEvents.txt
Due: Events Encoding

Small addition
  events/FeyCourtEvents.txt
Due: Events Encoding

Namespace
  events/FeyCourtEvents.txt
Due: Events Encoding

fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

fix 2
  common/ideas/anb_country_ideas.txt
Due: none

I can't go a day without you guys breaking something
  common/cb_types/00_cb_types.txt
  common/event_modifiers/anb_adventurers_wanted.txt
  common/event_modifiers/tanizu_dakinshi_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/units/harpy_10_flanker_camel_riders.txt
  common/units/harpy_14_desert_musketeers.txt
  common/units/harpy_18_swift_shots.txt
  common/units/harpy_1_camel_cavalry.txt
  common/units/harpy_23_camel_dragoons.txt
  common/units/harpy_28_camel_artillery.txt
  common/units/harpy_28_camel_carabiniers.txt
  common/units/harpy_6_camel_archers.txt
  decisions/Estates.txt
  decisions/TanizuDakinshiDecisions.txt
  events/DakinshiEvents.txt
  events/Elections.txt
  events/Flavour_Melakmengi_L65.txt
  factiontest.txt
  history/countries/F62 - Duwarkani.txt
  history/countries/S27 - Mwasagore.txt
  history/countries/S28 - Kwizera.txt
  history/countries/S29 - Akaliza.txt
  history/countries/S31 - Umutukomye.txt
  history/countries/S32 - Gahigi.txt
  history/provinces/5547 - Anbennar5547.txt
  history/provinces/5566 - Anbennar5566.txt
  history/provinces/5574 - Anbennar5574.txt
  history/provinces/5575 - Anbennar5575.txt
  history/provinces/5577 - Anbennar5577.txt
  history/provinces/5580 - Anbennar5580.txt
  localisation/Group_Flavour_Dakinshi_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Changed to scripted triggers
  events/FeyCourtEvents.txt
Due: Events Encoding

bugfixes
  common/countries/Akaliza.txt
  common/countries/Kwizera.txt
  common/event_modifiers/tanizu_dakinshi_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/DakinshiEvents.txt
  history/countries/L63 - Butuguzi.txt
  history/countries/S29 - Akaliza.txt
Due: Events Encoding

taychend PR fixes this?
  events/DakinshiEvents.txt
  missions/Ameion_Missions.txt
Due: Events Encoding

fixeing eddies colors
  common/countries/Death_Bringing_Cobra.txt
  common/countries/Gahigi.txt
  common/countries/Kwizera.txt
  common/countries/Umutukomye.txt
Due: none

Herald of Change Loading Screen
  gfx/loadingscreens/load_20.dds
Due: none

Testing Xia dynasty names
  history/countries/Y12 - Fengzhaobu.txt
  history/countries/Y28 - Jiangliusi.txt
  history/countries/Y29 - Jilin.txt
  history/countries/Y30 - Aoshan.txt
  history/countries/Y33 - Vidvakhoka.txt
  history/countries/Y38 - Bommak.txt
  history/countries/Y39 - Fengwuzhe.txt
  history/countries/Y44 - Shanyutian.txt
Due: none

sending Al Kamtarhid to the memorial swimming pool
  localisation/high_philosophy_l_english.yml
Due: Localization Encoding
