Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

makes racial admin change immediate
  customizable_localization/anb_racial_localization.txt
  events/anb_racial_admin_mil.txt
  localisation/anb_racial_l_english.yml
Due: Events Encoding, Localization Encoding

makes azkare primary culture flip instant
  events/Flavour_Azkare_Y86.txt
  localisation/anb_racial_l_english.yml
Due: Events Encoding, Localization Encoding

refactors unit model update event
  events/Flavour_Azkare_Y86.txt
  events/anb_racial_admin_mil.txt
Due: Events Encoding

removes extraneous event
  events/Flavour_Azkare_Y86.txt
Due: Events Encoding

various centaur fixes
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_centaur_modifiers.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/peace_treaties/01_annex_tribe.txt
  history/provinces/5129 - Dochradurscaen.txt
  history/provinces/5146 - Imulotpaek.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

centaur/dwarovar 'annex tribe' peace option disabled
  common/peace_treaties/01_annex_tribe.txt
Due: none

Xia general names
  common/countries/Aoshan.txt
  common/countries/Bommak.txt
  common/countries/Fengzhaobu.txt
  common/countries/He Preahsang.txt
  common/countries/Hufumen.txt
  common/countries/Jiangliusi.txt
  common/countries/Jianxusi.txt
  common/countries/Jilin.txt
  common/countries/Jinhusi.txt
  common/countries/Linquanzhuang.txt
  common/countries/Liukhexingzhe.txt
  common/countries/Lo Phasong.txt
  common/countries/Nay Khwan.txt
  common/countries/One Xia.txt
  common/countries/Pezarang.txt
  common/countries/Qiansimiao.txt
  common/countries/Rang Nartak.txt
  common/countries/Shanyutian.txt
  common/countries/Tsiancukmen.txt
  common/countries/Vidvakhoka.txt
  common/countries/Wudikmen.txt
  common/countries/Xaram.txt
  common/countries/Xerdgonfa.txt
  common/countries/Yantrakari.txt
  common/countries/Yizeikwu.txt
  common/countries/Yumaomen.txt
Due: none

error log fixes, logic fixes, cleanup
  common/ideas/anb_country_ideas.txt
  decisions/EastSarhalFormables.txt
  events/Flavour_Gawed_A13.txt
  events/anb_ebonsteel_events.txt
Due: Decisions Encoding, Events Encoding

Marrhold tunnel fix
  common/great_projects/anb_great_projects.txt
Due: none

duplicate natives fix
  common/natives/00_natives.txt
Due: none

horsegarden tag
  common/countries/Horsegarden.txt
  common/country_tags/anb_countries.txt
  common/ideas/anb_country_ideas.txt
  history/countries/B76 - Horsegarden.txt
  history/provinces/105 - Horsegarden.txt
  history/provinces/78 - Greatfield.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

centaur balance
  common/event_modifiers/anb_centaur_modifiers.txt
  events/CentaurEvents.txt
Due: Events Encoding

The Hunt for the Lord of Beasts tweaks and loc
  common/event_modifiers/anb_deepwoods_modifiers.txt
  common/scripted_effects/deepwoods_scripted_effects.txt
  events/DeepwoodsVegan.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding

Corinite holy order upgrade finally works
  common/holy_orders/anb_holy_orders.txt
  common/on_actions/00_on_actions.txt
Due: none

Fixing the other order upgrades as well
  common/on_actions/00_on_actions.txt
Due: none

Uncommenting mission requirements
  missions/Freemarches_Missions.txt
  missions/Hammerhome_Missions.txt
  missions/Ibevar_Missions.txt
  missions/Khugdihr_Missions.txt
  missions/Seinathil_Missions.txt
  missions/Silverforge_Missions.txt
Due: none

Removing unneeded event
  common/on_actions/00_on_actions.txt
  events/Corinite.txt
  localisation/anb_events_religion_l_english.yml
  missions/Adenica_Missions.txt
Due: Events Encoding, Localization Encoding

Jadd fix
  common/on_actions/00_on_actions.txt
  events/Flavour_ZokkaJaddariWar.txt
Due: Events Encoding

Auto stash before merge of "master" and "JayBean/new-master"
  localisation/anb_ebonsteel_l_english.yml
Due: Localization Encoding

Medasi any instead of all
  events/MedasiEvents.txt
Due: Events Encoding

khet fixes
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  events/KhetMandateEvents.txt
  localisation/anb_khet_mandate_l_english.yml
  missions/Kheteratan_Missions.txt
Due: Events Encoding, Localization Encoding

Small fixes in new Aelantir provinces
  common/colonial_regions/00_colonial_regions.txt
  common/natives/00_natives.txt
  common/tradenodes/00_tradenodes.txt
  history/provinces/3293.txt
  history/provinces/3294.txt
Due: none

Trollsbay subtropical terrain
  map/terrain.txt
Due: none

Names for new Aelantir provinces
  localisation/anb_areas_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

New Expanse terrain
  map/terrain.txt
Due: none

Provinces adjectives, minor loc fix
  localisation/anb_areas_l_english.yml
  localisation/anb_units_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/area.txt
  map/region.txt
Due: Localization Encoding

Deranne ideas updated
  common/ideas/anb_country_ideas.txt
Due: none

Aelantir new CoTs
  history/provinces/1864 - Esimoy.txt
  history/provinces/1995 - Sellacann.txt
Due: none

No colony alongside CLSTC
  common/subject_types/00_subject_types.txt
Due: none

Vampiric lord influence reduction for patricians
  common/estates/101_patricians.txt
Due: none

Changing vanilla archbichopric loc
  customizable_localization/anb_customizable_localization.txt
  localisation/decisions_l_english.yml
Due: Localization Encoding

Polished Wood Elf gov reforms with loc and gfx.
  common/government_reforms/04_government_reforms_tribes.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  decisions/DeepwoodDecision.txt
  events/DeepwoodsVegan.txt
  events/FeyAlignment.txt
  events/FeyCourtEvents.txt
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Satrapsies to satrapies
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

Minor Cyranvar bug fixes
  common/government_names/00_anbennar_government_names.txt
  events/FeyCourtEvents.txt
  localisation/anb_government_names_l_english.yml
  missions/Cyranvar_Missions.txt
Due: Events Encoding, Localization Encoding

sky domain icons
  common/church_aspects/anb_sky_domain_abilities.txt
  gfx/interface/church_aspects/sky_domain_amilak_supremacy.dds
  gfx/interface/church_aspects/sky_domain_denounce_yrilak.dds
  gfx/interface/church_aspects/sky_domain_expand_realm.dds
  gfx/interface/church_aspects/sky_domain_great_prayer.dds
  gfx/interface/church_aspects/sky_domain_great_temple.dds
  gfx/interface/church_aspects/sky_domain_guide_rains.dds
  gfx/interface/church_aspects/sky_domain_riyitewag_sins.dds
  interface/anb_church_aspects.gfx
Due: none

Slightly increase MTTH of fey court favoritism event.
  events/FeyCourtEvents.txt
Due: Events Encoding

LF Loc
  decisions/LakeFederationStandingCohesion.txt
  events/LakeFederationEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_forbidden_lands_standing_l_english.yml
  missions/Zabutodask_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Adzalan desc
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding

silverforge carver monopoly fix
  missions/Silverforge_Missions.txt
Due: none

Tweak the nationality of Albert síl Moreced
  localisation/text_l_english.yml
Due: Localization Encoding
