Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Fix2
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

define change
  common/defines.lua
Due: none

minor fixes
  common/estate_privileges/estate_dragon_command_privileges.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

Quick loc and event fix for Kuiika
  events/Flavour_Kuiika_L01.txt
  localisation/Flavour_Kuiika_L01_l_english.yml
Due: Events Encoding, Localization Encoding

handle all cases of new nation spawn (including edge cases that don't trigger typical on actions like adventurers and nations created directly via cede_province) together with new event, plus cleanup
  common/on_actions/00_on_actions.txt
  events/AnbennarSetup.txt
  events/anb_racial_pop_calculations.txt
Due: Events Encoding

E
  localisation/Flavour_Thirabnir_Y59_l_english.yml
Due: Localization Encoding

ugly hack to fix nations being released day 1 not getting majorities
  common/on_actions/00_on_actions.txt
  events/anb_racial_pop_calculations.txt
Due: Events Encoding

counting practice
  events/debugevent.txt
Due: Events Encoding

clean up trash
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
Due: none

hide increment/decrement effects
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none

taychend ruler to general fix
  common/scripted_effects/taychend_scripted_effects.txt
  events/taychendi_events.txt
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding

tay v2
  localisation/anb_taychend_l_english.yml
Due: Localization Encoding

racial menu tt fix
  events/anb_racial_pop_events_lizardfolk.txt
Due: Events Encoding

rending sequel
  common/event_modifiers/anb_spirit_modifiers.txt
  customizable_localization/anb_rending_appeasement.txt
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

taychend locfix
  localisation/anb_taychend_l_english.yml
Due: Localization Encoding

Harimraj and Rahenraj formation changes
  decisions/RaheniFormables.txt
Due: Decisions Encoding

Fix3
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

Kuiika MT fix
  missions/Kuiika_Missions.txt
Due: none

Fixing khetist starting ruler cultures in Horashesh
  history/countries/L04 - Saqraxat.txt
  history/countries/L09 - Zuvavim.txt
  history/countries/L12 - Gomuvuri.txt
Due: none

Adding Samishesha medasi reform requirements to form Fangaula
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

[Steam] more tooltips and tiny brelar stuff
  common/government_reforms/02_government_reforms_republics.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/Flavour_Brelar_G27.txt
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

Flavour Vyzemby Loc Fix
  localisation/Flavour_Vyzemby_l_english.yml
Due: Localization Encoding

Fixing Horashesh formable decisions
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

remove reforms for gobs
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
Due: none

special commissions estate action
  common/estate_privileges/estate_boar_command_privileges.txt
  common/estate_privileges/estate_dragon_command_privileges.txt
  common/estate_privileges/estate_elephant_command_privileges.txt
  common/estate_privileges/estate_lion_command_privileges.txt
  common/estate_privileges/estate_tiger_command_privileges.txt
  common/estate_privileges/estate_wolf_command_privileges.txt
  common/estates/102_wolf_command.txt
  common/estates/103_boar_command.txt
  common/estates/104_lion_command.txt
  common/estates/105_dragon_command.txt
  common/estates/106_elephant_command.txt
  common/estates/107_tiger_command.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  decisions/TheCommandDecisions.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  localisation/anb_estates_command_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Frostwall culture change from Old Alenic to Blue reachman.
  history/countries/Z33 - Frostwall.txt
  history/provinces/706 - Frostwall.txt
Due: none

remove stupid highlighting
  events/DiggyDiggySerpentRot.txt
Due: Events Encoding

korashi menu checkpoint
  common/event_modifiers/anb_rahen_modifiers.txt
  decisions/TheCommandDecisions.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Dartax Mission Shield
  missions/Dartaxagerdim_Missions.txt
Due: none

missed the modifier part lel
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
Due: none

This is a skill issue
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

Removing unecessary ANDs
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

Azaly Farscribe Vyzemby Events
  events/Flavour_Vyzemby.txt
Due: Events Encoding

korashi menu completed
  customizable_localization/anb_customizable_localization.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

typos
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

Arg-Ordstun improvements
  common/government_mechanics/anb_argordstun_roughness.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_argordstun.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
Due: Localization Encoding

Fuck line endings
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
