Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

Small changes
  common/custom_gui/countryreligionview.txt
  common/estates/03_burghers.txt
  common/estates/95_monstrous_tribe.txt
  common/religions/00_anb_religion.txt
Due: none

Removing stuff 1
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/estates/95_monstrous_tribe.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  common/state_edicts/gather_sacrifices_edict.txt
  decisions/XhazobkultDecisions.txt
  events/XhazobkultEvents.txt
Due: Decisions Encoding, Events Encoding

Removing stuff 2
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  decisions/XhazobkultDecisions.txt
  events/Flavour_Mykx_G93.txt
  events/XhazobkultEvents.txt
  localisation/xhazobkult_l_english.yml
  missions/Mykx_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

zuvavim MT adjustments
  missions/Zuvavim_missions.txt
Due: none

Minor bugfixes
  common/government_reforms/02_government_reforms_republics.txt
  decisions/RaheniFormables.txt
  localisation/Flavour_Karakhanbar_Z54_l_english.yml
  missions/Karakhanbar_Missions.txt
Due: Decisions Encoding, Localization Encoding, Loc key collision check

Kanolowele Straits
  map/adjacencies.csv
Due: none

minor fix
  events/Flavour_Zuvavim_L09.txt
Due: Events Encoding

even more fixes
  events/Flavour_Zuvavim_L09.txt
Due: Events Encoding

fixing more
  events/Flavour_Zuvavim_L09.txt
Due: Events Encoding

updating necropolis events for new religions
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Bim_Lau_Y51.txt
Due: Events Encoding

One digit off lmao
  map/adjacencies.csv
Due: none

made a very silly AND/OR mistake
  events/Elections.txt
Due: Events Encoding

You can now steal the kobold hoard if you own it
  decisions/KoboldNation.txt
Due: Decisions Encoding

moarfixes
  events/Fahvanosy.txt
Due: Events Encoding

Better button
  gfx/interface/button_light_the_pyres.dds
  interface/countryreligionview.gui
Due: none

gomuvury fix
  missions/Zuvavim_missions.txt
Due: none

Dynamid Names Plateau
  common/province_names/sirimadsik_kobold.txt
  common/province_names/skyfall_ogre.txt
  common/province_names/utubodi.txt
Due: none

adding is_technocracy = yes attribute to a couple technocracy reforms which didn't have it
  common/government_reforms/02_government_reforms_republics.txt
Due: none

Dartax Spring Cleaning
  decisions/DartaxagerdimDecisions.txt
  events/Flavour_Dartaxagerdim_F22.txt
  localisation/Flavour_Dartaxagerdim_F22_l_english.yml
  missions/Dartaxagerdim_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

kvangahga pulse events
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/kvangahga_events.txt
  localisation/kvangahga_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Tyvorkan culture group
  common/cultures/anb_cultures.txt
  common/region_colors/00_region_colors.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  localisation/anb_cultures_l_english.yml
Due: Localization Encoding, Loc key collision check

forgot mtth
  events/kvangahga_events.txt
Due: Events Encoding

one more
  events/Flavour_Zuvavim_L09.txt
Due: Events Encoding

Aurius feedback
  common/event_modifiers/anb_religion_modifiers.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/kvangahga_events.txt
  localisation/kvangahga_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Pulse fix
  common/on_actions/00_on_actions.txt
Due: none

HP Event Fix
  events/HighPhilosophy.txt
Due: Events Encoding

Debate Tracker Fix
  common/scripted_effects/anb_scripted_effects_for_haless.txt
Due: none

Pasiragha Event Fixes
  events/Flavour_Pasiragha_R61.txt
Due: Events Encoding

Loc + MT Changes
  localisation/Flavour_Pasiragha_R61_l_english.yml
  localisation/high_philosophy_l_english.yml
  missions/Pasiragha_Missions.txt
Due: Localization Encoding, Loc key collision check

removed leftover xhazob peace treaty
  common/peace_treaties/anb_xhazobkult_gather_sacrifices.txt
  common/wargoal_types/00_wargoal_types.txt
Due: none

zuvavim and kharakhanbar error log fixes
  events/Flavour_Zuvavim_L09.txt
  missions/Karakhanbar_Missions.txt
Due: Events Encoding

taychend and kvangahga error log fixes
  events/kvangahga_events.txt
  events/taychend_flavour_events.txt
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

fixed pipeline script to ignore false negatives (BOM but binary) on loc encoding
  checkEncoding.sh
Due: none

fix
  events/Flavour_Zuvavim_L09.txt
Due: Events Encoding

PR #7709 orlazam az dir mission bug fix
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  missions/Jaddari_Missions.txt
  missions/Lot_Dekkhang_Missions.txt
  missions/Siadan_Missions.txt
Due: none

PR #7679 Haraf bugfix + Wormway monument picture
  events/HarafEvents.txt
  interface/great_project.gfx
Due: Events Encoding

PR #7722 updating old bim lau events for content added later
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Bim_Lau_Y51.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
