Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

Ancient Jungle Terrain
  interface/colonisationpanel.gfx
  interface/combat.gfx
  localisation/anb_terrain_l_english.yml
  map/terrain.txt
Due: Localization Encoding, Loc key collision check

more edits
  map/terrain.txt
Due: none

Nomsyulhan Gateway System WIP
  common/event_modifiers/nomsyulhan_gateway_modifiers.txt
  decisions/NomsyulhanGatewayDecision.txt
  events/NomsyulhanGatewayEvents.txt
  map/provincegroup.txt
Due: Decisions Encoding, Events Encoding

Added shadowpact localization, centralized in new YML
  customizable_localization/anb_custom_loca.txt
  localisation/anb_events_religion_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/anb_shadow_pact_l_english.yml
Due: Localization Encoding, Loc key collision check

minor edits
  decisions/NomsyulhanGatewayDecision.txt
  events/NomsyulhanGatewayEvents.txt
Due: Decisions Encoding, Events Encoding

brelar fixes
  common/government_reforms/02_government_reforms_republics.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding, Loc key collision check

stat adjustment for technocracy post-playtesting
  events/Elections.txt
  localisation/anb_events_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

final edits
  interface/colonisationpanel.gfx
  interface/combat.gfx
  localisation/anb_terrain_l_english.yml
  map/terrain.txt
Due: Localization Encoding, Loc key collision check

bugfix to non-death event
  events/Elections.txt
Due: Events Encoding

New Ship and Leaders names
  common/countries/Amubariz.txt
  common/countries/Butuguzi.txt
  common/countries/Bwa Dakinshi.txt
  common/countries/Bwa_Tanizu.txt
  common/countries/Death_Bringing_Cobra.txt
  common/countries/Degumwamba.txt
  common/countries/Dendugma.txt
  common/countries/Eusiwuni.txt
  common/countries/Gumti.txt
  common/countries/Hisraad.txt
  common/countries/Inshibonde.txt
  common/countries/Kabilu_Gawakhiza.txt
  common/countries/Katidariga.txt
  common/countries/Kaziradoka.txt
  common/countries/Maakhibkhii.txt
  common/countries/Ndurubu.txt
  common/countries/Negefaama.txt
  common/countries/Qabiika_Baddabi.txt
  common/countries/Qabiika_Beeragga.txt
  common/countries/Qabiika_Dadubakha.txt
  common/countries/Qabiika_Weggabiga.txt
  common/countries/Qasriga.txt
  common/countries/Rijalsahil.txt
  common/countries/T_Cunning_River_Eel.txt
  common/countries/T_Forest_Hiding_Okapi.txt
  common/countries/T_Friend_Helping_Parrot.txt
  common/countries/T_Hut_Building_Weaver_Bird.txt
  common/countries/T_Prey_Finding_Leopard.txt
  common/countries/T_Red_Fanged_Gorilla.txt
  common/countries/T_Stealthy_Duiker.txt
  common/countries/T_Swift_Legged_Bongo.txt
  common/countries/T_Violent_Hearted_Goose.txt
  common/countries/T_Well_Fed_Elephant.txt
  common/countries/T_Work_Doing_Hippo.txt
  common/countries/Taafisi.txt
  common/countries/Umoji Baashidi.txt
  common/countries/Uwakila_Baashi.txt
  common/countries/Wattoi.txt
Due: none

Removed Abigishinbzoka tag, tanizu namelists for tanizu lizards
  common/countries/Abigishinbzoka.txt
  common/countries/Foul Mouthed Kazatsa.txt
  common/countries/Sea Roaming Inyubi.txt
  common/countries/Way Pointing Tchoken.txt
  common/country_tags/anb_countries.txt
  events/sarhal_spawnables.txt
  history/countries/S80 - Abigishinbzoka.txt
  localisation/anb_countries_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

fixing encoding
  common/countries/Butuguzi.txt
  common/countries/Bwa Dakinshi.txt
  common/countries/Death_Bringing_Cobra.txt
  common/countries/Degumwamba.txt
  common/countries/Eusiwuni.txt
  common/countries/Gumti.txt
  common/countries/Inshibonde.txt
  common/countries/Katidariga.txt
  common/countries/Kaziradoka.txt
  common/countries/Qabiika_Weggabiga.txt
  common/countries/Qasriga.txt
  common/countries/Wattoi.txt
Due: none

More work
  common/advisortypes/00_advisortypes.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  decisions/OrcFormables.txt
  events/Flavour_BrokenJaw_Z19.txt
  events/OrcFormables.txt
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
  missions/BrokenJaw_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

bugfix
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

bugfix
  missions/Bhuvauri_Missions.txt
Due: none

boost adjustment further for technocracy
  common/event_modifiers/anb_event_modifiers.txt
Due: none

bugfix
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

adjustments to Kobold Unity event b/c adding separatism does nothing if separatism is already gone, + want to ensure that spawned rebels are actually separatist ones even if culture is accepted
  common/event_modifiers/anb_kobold_traps_modifiers.txt
  events/Kobold_Traps.txt
  localisation/kobold_traps_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

adjustments to "kobolds fleeing into caverns" events to feel less spammy (only get free traps if AI, delay when the migration happens so it doesn't happen at the same time as another pulse event)
  common/on_actions/00_on_actions.txt
  events/Kobold_Traps.txt
Due: Events Encoding

Insyaa 1st Flag Pack
  gfx/flags/N00.tga
  gfx/flags/N11.tga
  gfx/flags/N12.tga
  gfx/flags/N42.tga
  gfx/flags/N46.tga
  gfx/flags/N57.tga
  gfx/flags/N64.tga
  gfx/flags/N91.tga
Due: none

Gnoll religious icons
  gfx/interface/button_light_the_pyres.dds
  gfx/interface/icon_gnoll_school_children_of_goxma.dds
  gfx/interface/icon_gnoll_school_demonic_shamans.dds
  gfx/interface/icon_gnoll_school_demons_of_the_sorrow.dds
  gfx/interface/icon_gnoll_school_kult_of_the_packmother.dds
  gfx/interface/icon_gnoll_school_monstrous_pedigrees.dds
  gfx/interface/icon_gnoll_school_umbral_bargains.dds
  gfx/interface/icon_gnoll_school_way_of_bones.dds
  gfx/interface/icon_gnoll_school_way_of_iron.dds
  gfx/interface/russian_icons_strip.dds
  interface/countryreligionview.gfx
Due: none

More work 2
  common/event_modifiers/anb_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_BrokenJaw_Z19.txt
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
  missions/BrokenJaw_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Lilac Wars event picture
  gfx/event_pictures/LILAC_WARS_eventPicture.dds
Due: none

Added alternative things for inviting scholars
  common/countries/dummy_children_of_goxma.txt
  common/countries/dummy_demonic_shamans.txt
  common/countries/dummy_demons_of_the_sorrow.txt
  common/countries/dummy_kult_of_the_packmother.txt
  common/countries/dummy_monstrous_pedigrees.txt
  common/countries/dummy_umbral_bargains.txt
  common/countries/dummy_way_of_bones.txt
  common/countries/dummy_way_of_iron.txt
  common/country_tags/anb_countries.txt
  common/religions/00_anb_religion.txt
  history/countries/M70 - dummy_demons_of_the_sorrow.txt
  history/countries/M71 - dummy_monstrous_pedigrees.txt
  history/countries/M72 - dummy_children_of_goxma.txt
  history/countries/M73 - dummy_kult_of_the_packmother.txt
  history/countries/M74 - dummy_demonic_shamans.txt
  history/countries/M75 - dummy_umbral_bargains.txt
  history/countries/M76 - dummy_way_of_iron.txt
  history/countries/M77 - dummy_way_of_bones.txt
  localisation/anb_countries_l_english.yml
Due: Localization Encoding, Loc key collision check

Slight adjustment
  gfx/event_pictures/LILAC_WARS_eventPicture.dds
Due: none

Silly stuff
  localisation/cossacks_l_english.yml
  localisation/messages_l_english.yml
Due: Localization Encoding, Loc key collision check

Bloom speed balance
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
Due: none

Even more work
  events/Flavour_BrokenJaw_Z19.txt
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

loc fix
  localisation/Flavour_Bhuvauri_R38_l_english.yml
Due: Localization Encoding, Loc key collision check

Merfolk System
  common/buildings/00_buildings.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/merfolk_scripted_effects.txt
  customizable_localization/anb_merfolk.txt
  events/MerfolkEvents.txt
  history/countries/S16 - Uwakila Baashi.txt
  history/countries/S17 - Baddabi.txt
  history/countries/S18 - Beeragga.txt
  history/countries/S19 - Weggabiga.txt
  history/countries/S20 - Dadubakha.txt
  history/countries/S21 - Gawakhiza.txt
  history/provinces/3258.txt
  history/provinces/5550 - Guwazi.txt
  history/provinces/6009 - Shar_Ashamad.txt
  history/provinces/6052 - Magaalad_Qasr.txt
  history/provinces/6076 - Port_Marcan.txt
  history/provinces/6138 - Lanobuk.txt
  history/provinces/6577 - Ardimtelava.txt
  history/provinces/6675 - Qasri_Bariga.txt
  localisation/anb_merfolk_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

merfolk system setup
  common/on_actions/00_on_actions.txt
  history/provinces/6678 - Qasri_Maroodiqya.txt
Due: none

oop
  common/on_actions/00_on_actions.txt
  events/MerfolkEvents.txt
  history/countries/S16 - Uwakila Baashi.txt
  history/countries/S17 - Baddabi.txt
  history/countries/S18 - Beeragga.txt
  history/countries/S19 - Weggabiga.txt
  history/countries/S20 - Dadubakha.txt
  history/countries/S21 - Gawakhiza.txt
  localisation/anb_merfolk_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

undoing 1k province gov cost i am very smart
  common/event_modifiers/anb_merfolk_modifiers.txt
Due: none

Some stuff
  localisation/a_l_english.yml
  missions/BrokenJaw_Missions.txt
  missions/a.txt
Due: Localization Encoding, Loc key collision check

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
