Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

disable ardimya tags for update
  history/provinces/6063 - Ardim_Qarast.txt
  history/provinces/6581 - Sant_Aadan.txt
  history/provinces/6584 - Qasrig_Alahmar.txt
  history/provinces/6585 - Port_Samaan.txt
Due: none

Line endings fixed?
  common/church_aspects/anb_kvangahga_abilities.txt
  common/estates/01_church.txt
  common/ideas/00_basic_ideas.txt
  decisions/KhetMandateDecisions.txt
Due: Decisions Encoding

OR = {} bracketing around province triggers for mithradhum and claxac's abyss
  common/tradegoods/00_tradegoods.txt
Due: none

monstrous tribes priv
  common/estate_privileges/anb_privileges.txt
  common/estates/95_monstrous_tribe.txt
  common/on_actions/00_on_actions.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

random error
  history/provinces/734 - East_Gulletpeak.txt
Due: none

more tweaks
  localisation/Flavour_Skewered_Drake_H73_l_english.yml
  missions/SkeweredDrake_Missions.txt
Due: Localization Encoding

gnollish province names file updated with new names for Busilar, Gnollsgate, and Verne
  common/province_names/gnollish
Due: none

common/province_names/gnollish edited online with Bitbucket
  common/province_names/gnollish
Due: none

fix planetouched PUs
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
Due: none

more tweaks
  common/event_modifiers/anb_dwarovar_blorc_modifiers.txt
  common/static_modifiers/00_static_modifiers.txt
  common/subject_types/00_subject_types.txt
  localisation/Flavour_Skewered_Drake_H73_l_english.yml
Due: Localization Encoding

Get a Truce with Gawed event loc change
  localisation/Flavour_Nimscodd_A06_l_english.yml
Due: Localization Encoding

encoding fixes
  events/Flavour_Cestirmark_H33.txt
  events/Flavour_Orenvalyam_U39.txt
Due: Events Encoding

Arg-Ordstun government buttons
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_assuage_concerns.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_diamonds_are_unbreakable.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_tighten_our_grip.dds
  interface/government_mechanics/anb_government_mechanics.gfx
Due: none

[Steam] Goblin Migration extensive fix
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Urviksten_Z15.txt
  events/GoblinMigration.txt
  localisation/anb_modifiers_l_english.yml
  localisation/goblin_migration_l_english.yml
  missions/Adshaw_Missions.txt
Due: Events Encoding, Localization Encoding

BLOrc Government Reforms
  common/event_modifiers/anb_dwarovar_blorc_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/anb_diggy_diggy_hole_blorc_l_english.yml
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

Sunijalla Round 2
  common/event_modifiers/anb_lake_modifiers.txt
  events/Flavour_Lake_Splinters_JXX.txt
  localisation/Flavour_Sunijalla_J50_l_english.yml
  missions/Sunijalla_Missions.txt
Due: Events Encoding, Localization Encoding

[Steam] Goblin migration fixes
  events/GoblinMigration.txt
Due: Events Encoding

Fix
  anbennar-eu4-fork-lvtheir.mod
Due: none

Irkorzik fixes
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Irkorzik_F69.txt
  events/Theocracies.txt
  events/ideagroups.txt
  history/countries/F69 - Irkorzik.txt
  localisation/anb_governments_l_english.yml
Due: Events Encoding, Localization Encoding

Irkorzik fix 2
  history/countries/F69 - Irkorzik.txt
Due: none

Fix 3
  common/buildings/00_buildings.txt
Due: none

Fix
  Anbennar-PublicFork.mod
  anbennar-eu4-fork-lvtheir.mod
Due: none

fix 4
  history/countries/F69 - Irkorzik.txt
Due: none

fix 5
  common/on_actions/00_on_actions.txt
Due: none

fix 6
  common/on_actions/00_on_actions.txt
Due: none

Seasonal Courts tolerance privileges
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_estate_modifiers.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Fix
  Anbennar-PublicFork.mod
  anbennar-eu4-fork-lvtheir.mod
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Fix
  common/event_modifiers/anb_dwarovar_blorc_modifiers.txt
Due: none

Arg-Ordstun has missions
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

add fungi
  missions/SkeweredDrake_Missions.txt
Due: none

quick node fixes
  common/tradenodes/00_tradenodes.txt
  localisation/anb_trade_l_english.yml
Due: Localization Encoding

the great trade tetris
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none

set locations
  common/scripted_effects/feiten_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/tradenodes/00_tradenodes.txt
  events/Flavour_Feiten_Y20.txt
  missions/Eordand_Missions.txt
  missions/Isobelin_Missions.txt
Due: Events Encoding

more trade stuff
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none

move this one
  common/scripted_effects/feiten_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/tradenodes/00_tradenodes.txt
  decisions/ConfirmThalassocracy.txt
  events/Flavour_Feiten_Y20.txt
  map/provincegroup.txt
  missions/Pearlsedge_Missions.txt
Due: Decisions Encoding, Events Encoding

move these too
  common/scripted_effects/feiten_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/tradenodes/00_tradenodes.txt
  events/Flavour_Feiten_Y20.txt
  map/positions.txt
  missions/Amacimst_Missions.txt
  missions/Arverynn_Missions.txt
  missions/Bosancovac_Missions.txt
  missions/Brelar_Missions.txt
  missions/Cestirmark_Missions.txt
  missions/Isobelin_Missions.txt
  missions/Plumstead_Missions.txt
  missions/VelsFadhecai_Missions.txt
Due: Events Encoding

nodes fixed
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none
