Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

final final final fixes
  events/anb_mechanim_events.txt
Due: Events Encoding

final final final final fixes
  events/anb_mechanim_events.txt
Due: Events Encoding

Covenblad: 9 instead of 15 provinces in Dostanor
  missions/Covenblad_Missions.txt
Due: none

Balrijin + Covenblad now check for existing spells
  missions/Balrijin_Missions.txt
  missions/Covenblad_Missions.txt
Due: none

Added 'have_had_reform' to several reforms
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
Due: none

Castanor Scripted Effects Use Castanor
  common/scripted_effects/castanor_scripted_effects.txt
  decisions/1EscannFormables.txt
  decisions/DostanorNation.txt
  missions/Castanor_Missions.txt
Due: Decisions Encoding

Castanor Scripted Triggers Use 'castanor_'
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  decisions/1EscannFormables.txt
  decisions/DostanorNation.txt
Due: Decisions Encoding

See prior
  missions/Castanor_Missions.txt
Due: none

East Diven SHIP
  common/countries/Arannen.txt
  common/countries/Asheniande.txt
  common/countries/Brinkmarches.txt
  common/countries/Busilar.txt
  common/countries/Celliande.txt
  common/countries/Corvuria.txt
  common/countries/Dostanor.txt
  common/countries/Eborthil.txt
  common/countries/Gisden.txt
  common/countries/Hortosare.txt
  common/countries/Nathalaire.txt
  common/countries/Orda Aldresia.txt
  common/countries/Ourdia.txt
  common/countries/Tellum.txt
  common/countries/Toarnen.txt
  common/countries/Varlosen.txt
Due: none

part 2...
  common/event_modifiers/anb_theatre_of_attrition_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Theatre_Of_Attrition.txt
  localisation/theatre_of_attrition_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Last small fix before code review
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

Acolyte Loc Fixes
  customizable_localization/anb_magic_menus_localization.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding, Loc key collision check

almost done with events..
  events/Theatre_Of_Attrition.txt
Due: Events Encoding

sapchopper parsing fix
  missions/Sapchopper_Missions.txt
Due: none

moonhaven missing quote fix
  common/countries/Moonhaven.txt
Due: none

PR #7575 [STEAM] Jaddari parsing fix + Magisterium heir fix
  common/on_actions/00_on_actions.txt
  missions/Jaddari_Missions.txt
Due: none

PR #7576 [Steam] Loc Fix
  localisation/Flavour_Yinquan_Y26_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #7581 [steam] Fixes for effelai namelists, lizardfolk privilege and nzeri harpy units
  common/countries/Aen Saldayno.txt
  common/countries/Airoa Naditari.txt
  common/countries/Ingani.txt
  common/countries/Kamaraka.txt
  common/countries/Munzeri.txt
  common/countries/Sel'parura.txt
  common/countries/XotiGuao.txt
  common/estate_privileges/anb_privileges.txt
  common/natives/00_natives.txt
  common/units/nzeri_harpy_1_crodamic_camelry.txt
  gfx/interface/natives.dds
  interface/provinceview.gfx
Due: none

PR #7585 [steam] fixes for crathanor
  events/Flavour_Crathanor_U17.txt
  localisation/Flavour_Crathanor_U17_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
  missions/Crathanor_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

daxugo on action error log scope fix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

munzeri steam-specific fix
  common/countries/Munzeri.txt
Due: none

effelai steam specific fix
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

added missing amount to type=random for mechanim system and fixed indentation
  events/anb_mechanim_events.txt
Due: Events Encoding

Castanor South Citadel Tweaks
  common/scripted_effects/castanor_scripted_effects.txt
  events/Flavour_Castanor_B32.txt
  localisation/Flavour_Castanor_B32_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Castanor Mage Only Bypass
  missions/Castanor_Missions.txt
Due: none

events coded for now
  events/Theatre_Of_Attrition.txt
Due: Events Encoding

modifiers in....
  common/event_modifiers/anb_theatre_of_attrition_modifiers.txt
  common/on_actions/00_on_actions.txt
  decisions/KoboldNation.txt
  events/Theatre_Of_Attrition.txt
Due: Decisions Encoding, Events Encoding

Loc change
  localisation/Flavour_Castanor_B32_l_english.yml
Due: Localization Encoding, Loc key collision check

Acolyte Spell Strength Loc
  customizable_localization/anb_magic_menus_localization.txt
Due: none

Fix
  common/government_reforms/02_government_reforms_republics.txt
Due: none

Code fix 1
  common/event_modifiers/anb_escanni_refugees.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Code fix 2
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

slamming my head against the code until i got randomized loc to work
  common/province_triggered_modifiers/anb_modifiers.txt
  customizable_localization/anb_custom_loca.txt
  events/Theatre_Of_Attrition.txt
  history/countries/A27 - Bluescale Clan.txt
  localisation/theatre_of_attrition_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

almost done with loc...
  events/Theatre_Of_Attrition.txt
  localisation/theatre_of_attrition_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

[STEAM] Artificiery loc fixes + other fixes
  common/custom_gui/countrydecisionsview.txt
  customizable_localization/anb_custom_artifice_localization.txt
  localisation/artifice_l_english.yml
  missions/Gemradcurt_Missions.txt
Due: Localization Encoding, Loc key collision check

Acolyte Spell Strength
  customizable_localization/anb_magic_menus_localization.txt
  events/Flavour_Black_Demesne_Acolytes_Estates.txt
  localisation/Flavour_BlackDemesne_Z99_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Code fix 3
  events/Escanni_refugees_settlement.txt
Due: Events Encoding
