Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Sword Covenant Update
  history/countries/B19 - Sword Covenant.txt
  history/provinces/757 - Carlanhal.txt
  history/provinces/845 - Victors_Path.txt
Due: none

Loc fix
  history/provinces/5256 - Bazur_Qarshtuluu.txt
  history/provinces/5257 - Zurka_Qarshtuluu.txt
Due: none

LF Island named
  common/religious_conversions/00_religious_conversions.txt
  customizable_localization/00_start_screen.txt
  decisions/BeikdugangDecisions.txt
  decisions/LakeFederationDecisions.txt
  decisions/LakeFederationSeiche.txt
  decisions/LakeFederationStandingCohesion.txt
  events/CentaurEvents.txt
  events/FederationIncidents_Cutdown.txt
  events/FederationIncidents_ReligiousWar.txt
  events/Flavour_Castanor_B32.txt
  events/LakeFederationEvents.txt
  localisation/anb_regions_l_english.yml
  map/region.txt
  map/superregion.txt
  missions/Castanor_Missions.txt
  missions/CentaurFormable_Missions.txt
  missions/DurVazhatun_Missions.txt
  missions/LakeFederation2_Missions.txt
  missions/LakeFederation_Missions.txt
  missions/Maghargma_Missions.txt
  missions/Skurkokli_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

[steam] Haless unit loc fix
  .vscode/settings.json
  localisation/anb_units_l_english.yml
Due: Localization Encoding

[steam] Haless unit loc fix
  localisation/anb_units_l_english.yml
Due: Localization Encoding

Revert "Merge branch 'new-master' of https://bitbucket.org/stormruner/anbennar-eu4-storm into new-master"
  .vscode/settings.json
Due: none

IT IS DONE
  events/Flavour_Vels_Fadhecai_G38.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
Due: Events Encoding, Localization Encoding

has missions
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

mountainshark scripted effect gubfix
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Mountainshark_H84.txt
Due: Events Encoding

trade node province gubfix
  events/Flavour_Feiten_Y20.txt
  missions/Castanor_Missions.txt
Due: Events Encoding

adj
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

how many times do people touch this file wtf
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

northern pass new provinces setup
  events/DiggyDiggyHoleEvents.txt
  history/provinces/6286 - Rislagasthúr.txt
  history/provinces/6287 - PROV6287.txt
  history/provinces/6287 - Vrotrundyn.txt
  localisation/anb_areas_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/area.txt
  map/region.txt
  missions/DurVazhatun_Missions.txt
  missions/Krakdhumvror_Missions.txt
  missions/Mountainshark_Missions.txt
  missions/Urviksten_Missions.txt
Due: Events Encoding, Localization Encoding

fix these
  history/provinces/6272 - PROV6272.txt
  history/provinces/6274 - PROV6274.txt
  history/provinces/6275 - PROV6275.txt
  history/provinces/6276 - Krelvrtanvr.txt
  history/provinces/6277 - PROV6277.txt
  history/provinces/6278 - PROV6278.txt
  history/provinces/6279 - Iseazmark.txt
  history/provinces/6280 - PROV6280.txt
  history/provinces/6281 - PROV6281.txt
  history/provinces/6282 - PROV6282.txt
  history/provinces/6283 - PROV6283.txt
  history/provinces/6284 - PROV6284.txt
  history/provinces/6285 - PROV6285.txt
Due: none

[Steam] Verkal Gulan mission fix
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  missions/VerkalGulan_Missions.txt
Due: none

[Steam] Monuments fix
  common/great_projects/anb_monuments_sarhal.txt
Due: none

vertesk fix
  map/positions.txt
Due: none

Empkeios MT updates
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Empkeios_G53.txt
  localisation/Flavour_Empkeios_G53_l_english.yml
  missions/Empkeios_missions.txt
Due: Events Encoding, Localization Encoding

minor loc fix
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
Due: Localization Encoding

Sudomegi icon
  common/religions/00_anb_religion.txt
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
  interface/countryview.gfx
  interface/ledger.gfx
  interface/provinceview.gfx
Due: none

Rending Loc Fixes
  localisation/Flavour_Yinquan_Y26_l_english.yml
  localisation/anb_rending_l_english.yml
Due: Localization Encoding

Nuugdan Tsarai temp patch
  events/Flavour_NuugdanTsarai_Y91.txt
  missions/Nuugdan_Tsarai_Missions.txt
Due: Events Encoding

Comment
  events/Flavour_NuugdanTsarai_Y91.txt
Due: Events Encoding

scouring fix
  events/HalessiSpirits.txt
Due: Events Encoding

Vels Fadhecai Loc + Bug fixes
  common/estates/98_adventurers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  events/Dynastic.txt
  events/YnnEvents.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Events Encoding, Localization Encoding

centaur get tribes
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

Minor Escann Fix
  history/provinces/757 - Carlanhal.txt
  history/provinces/845 - Victors_Path.txt
Due: none

Fix Previous PR
  history/provinces/845 - Victors_Path.txt
Due: none

Vels Fadhecai Loc + Bug fixes
  common/estates/98_adventurers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  events/Dynastic.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  events/YnnEvents.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Events Encoding, Localization Encoding

golden highway fixes part 1
  common/scripted_effects/anb_scripted_effects.txt
  events/Golden_Highway.txt
Due: Events Encoding

Reverians
  common/cultures/anb_cultures.txt
Due: none

VF government fix
  events/Flavour_Vels_Fadhecai_G38.txt
Due: Events Encoding

NH Trade Charters
  common/trade_companies/00_trade_companies.txt
  localisation/anb_trade_companies_l_english.yml
Due: Localization Encoding

Devand - Trees
  map/trees.bmp
Due: none

Cast Vicious Mockery
  localisation/dharma_l_english.yml
Due: Localization Encoding

Ynn + brelar fixes
  common/event_modifiers/anb_brelar_modifiers.txt
  common/scripted_effects/anb_scripted_effects_brelar.txt
  common/scripted_effects/yrw_scripted_effects.txt
  events/Flavour_Brelar_G27.txt
  events/Flavour_Malacnar_G32.txt
  events/YnnEvents.txt
  localisation/Flavour_Brelar_G27_l_english.yml
  missions/Brelar_Missions.txt
Due: Events Encoding, Localization Encoding

Shrine maintnance
  common/personal_deities/anb_avo_nakavy_deities.txt
Due: none

Various fixes VF
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
