Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Zansap bug due to a lucky gold roll
  missions/Zansap_Missions.txt
Due: none

Bwa Tanizu NIs + bugfix in harem
  common/ideas/anb_country_ideas.txt
  events/DakinshiHarem.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Achievement icons
  gfx/interface/achievements/ach_bulwar_garden.dds
  gfx/interface/achievements/ach_bulwar_garden_g.dds
  gfx/interface/achievements/ach_fine_addition.dds
  gfx/interface/achievements/ach_fine_addition_g.dds
  gfx/interface/achievements/ach_from_whom_the_bell_tolls.dds
  gfx/interface/achievements/ach_from_whom_the_bell_tolls_g.dds
  gfx/interface/achievements/ach_harimars_empire.dds
  gfx/interface/achievements/ach_harimars_empire_g.dds
  gfx/interface/achievements/ach_one_tag_one_faith.dds
  gfx/interface/achievements/ach_one_tag_one_faith_g.dds
  gfx/interface/achievements/ach_only_thing_i_know.dds
  gfx/interface/achievements/ach_only_thing_i_know_g.dds
  gfx/interface/achievements/ach_restorers_of_the_fey_realm.dds
  gfx/interface/achievements/ach_restorers_of_the_fey_realm_g.dds
  gfx/interface/achievements/ach_smallfolk_unite.dds
  gfx/interface/achievements/ach_smallfolk_unite_g.dds
  gfx/interface/achievements/ach_the_snap.dds
  gfx/interface/achievements/ach_the_snap_g.dds
  gfx/interface/achievements/ach_unlimited_pawer.dds
  gfx/interface/achievements/ach_unlimited_pawer_g.dds
  gfx/interface/ideas_EU4/sun_garden.dds
Due: none

khet event tweak
  events/KhetMandateEvents.txt
Due: Events Encoding

positions fix
  map/positions.txt
Due: none

Generic Bulwari shipnames, army/navy names
  common/countries/Akalses.txt
  common/countries/Anzabad.txt
  common/countries/Anzarzax.txt
  common/countries/Azka-Sur.txt
  common/countries/Azkabar.txt
  common/countries/Baharkand.txt
  common/countries/Brasan.txt
  common/countries/Bulwar.txt
  common/countries/Dartaxagerdim.txt
  common/countries/Dasmatus.txt
  common/countries/Drolakand.txt
  common/countries/Eduz-Vacyn.txt
  common/countries/Gelkalis.txt
  common/countries/Harklum.txt
  common/countries/Hasr.txt
  common/countries/Kalib.txt
  common/countries/Kumarkand.txt
  common/countries/Kuzaram.txt
  common/countries/Medurubar.txt
  common/countries/Reuyel.txt
  common/countries/Saamirses.txt
  common/countries/Sihrusam.txt
  common/countries/Surakes.txt
  common/countries/Zanbar.txt
  common/countries/Zanlib.txt
  common/countries/Zansap.txt
Due: none

rinta loc
  localisation/Group_Flavour_Baashidi_l_english.yml
Due: Localization Encoding

error fix
  events/FeyAlignment.txt
Due: Events Encoding

Chien bug fixes and loc
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
  localisation/anb_startup_screen_l_english.yml
  missions/ChienBinhrung_Missions.txt
Due: Localization Encoding

indend fix for zansap
  missions/Zansap_Missions.txt
Due: none

prevent constant colonist colony conversions
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Added vanilla imperial incident icons to replace generic vanilla roman numeral icons
  interface/hre.gfx
Due: none

fixes broken trigger in rogieria mission
  map/provincegroup.txt
  missions/Rogieria_Missions.txt
Due: none

yinquan work
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Yinquan_Y26.txt
  events/PatronsOnAction.txt
  localisation/Flavour_Yinquan_Y26_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/mystic_accord_l_english.yml
  missions/Yinquan_Missions.txt
Due: Events Encoding, Localization Encoding

merge
  common/ideas/anb_country_ideas.txt
Due: none

i hate how easy this was
  common/on_actions/00_on_actions.txt
  decisions/ArawkelinDeforestation.txt
  events/Flavour_Arawkelin_Y65.txt
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  missions/Arawkelin_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

fixes Wood Elf monarchy government name
  common/government_names/00_anbennar_government_names.txt
Due: none

adds locked dynasty to wood elf tribe gov
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

fey court event bugfixes
  events/FeyCourtEvents.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

fey court event bugfixes
  events/FeyCourtEvents.txt
Due: Events Encoding

rename jinn to genie
  common/religions/00_anb_religion.txt
  localisation/anb_religions_l_english.yml
  localisation/fangaula_pantheon_l_english.yml
Due: Localization Encoding

fixes heir not getting injured at Samartal
  events/NewSunCultEvents.txt
  localisation/anb_new_sun_cult_events_l_english.yml
Due: Events Encoding, Localization Encoding

move these cannor nodes
  common/scripted_effects/feiten_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/tradenodes/00_tradenodes.txt
  decisions/ConfirmThalassocracy.txt
  events/Flavour_Feiten_Y20.txt
  localisation/anb_thalassocracy_l_english.yml
  map/provincegroup.txt
  missions/Beikdugang_Missions.txt
  missions/Koboldildzan_Missions.txt
  missions/Mykx_Missions.txt
  missions/Obrtrol_Missions.txt
  missions/Urviksten_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

uncolonized not required for tellum achievement
  common/triggered_modifiers/anb_achievements.txt
Due: none

north cannor pain
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none

jinn cleansing
  common/tradegoods/00_tradegoods.txt
  localisation/anb_areas_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  map/area.txt
  map/region.txt
Due: Localization Encoding

Tech group Icons
  gfx/interface/tech_group_strip.dds
Due: none

Corintar holy order upgrade
  common/event_modifiers/anb_religion_modifiers.txt
  common/holy_orders/anb_holy_orders.txt
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Corintar_B02_l_english.yml
  localisation/anb_modifiers_l_english.yml
  missions/Corintar_Missions.txt
Due: Localization Encoding

Ynn idea loc edits
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Balance edits Ynn idea sets
  common/ideas/anb_country_ideas.txt
Due: none

begone foul demon
  missions/Stanyrhrada_Missions.txt
Due: none

Shortening emulant event
  localisation/RC_favored_by_the_gods_l_english.yml
Due: Localization Encoding

WIP Crothan event
  events/Flavour_crothan_A54.txt
Due: Events Encoding

fixy fixy
  common/countries/Akalses.txt
  events/estate_vampires.txt
Due: Events Encoding

I don't even know
  events/RC_favored_by_the_gods.txt
Due: Events Encoding

allow syncretic for hall of endless debates
  common/great_projects/anb_monuments_rahen_haless.txt
  localisation/leviathan_l_english.yml
Due: Localization Encoding

Endralliande Ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Bosancovac tweaks
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Bosancovac_G33_l_english.yml
  localisation/ynn_loc_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Localization Encoding

Sareyand decision commission scene of war
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/PhoenixEmpireDecisions.txt
  localisation/Flavour_Sareyand_F25_l_english.yml
Due: Decisions Encoding, Localization Encoding

age 1 ability
  common/ages/00_default.txt
  interface/ages_view.gfx
  localisation/anb_ages_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
