Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Queen of Gawed - Karina Deland Event
  events/Flavour_Gawed_A13.txt
  localisation/Flavour_Gawed_A13_l_english.yml
Due: Events Encoding, Localization Encoding

Mother Akasik province flag to count the variable correctly
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
Due: none

Yingzhen loc fixes
  localisation/Flavour_Yingzhen_Y10_l_english.yml
Due: Localization Encoding

South Aelantir - Lakes
  map/lakes/00_lakes.txt
Due: none

Even more Irkorzik
  common/buildings/00_buildings.txt
  common/church_aspects/anb_kvangahga_abilities.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Irkorzik_F69.txt
  localisation/Flavour_Irkorzik_F69_l_english.yml
  localisation/anb_religions_l_english.yml
  missions/Irkorzik_Missions.txt
Due: Events Encoding, Localization Encoding

Mother akasik flag improvements
  common/on_actions/00_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
Due: none

more stuff
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_dwarovar_blorc_modifiers.txt
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/great_projects/anb_dwarovar_dungeons.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_digging_effects.txt
  common/static_modifiers/00_static_modifiers.txt
  events/DiggyDiggyHoleEvents.txt
  events/Flavour_Skewered_Drake_H73.txt
  localisation/Flavour_Skewered_Drake_H73_l_english.yml
  missions/SkeweredDrake_Missions.txt
Due: Events Encoding, Localization Encoding

starting planetouched rulers
  history/countries/F65 - Tzilekal.txt
  history/countries/F81 - Hytiranyalen.txt
  history/countries/L13 - Samishesha.txt
  history/countries/L15 - Bokiya.txt
  history/countries/L71 - Nazhni.txt
  history/countries/L77 - Karach.txt
  history/countries/S31 - Eusiwuni.txt
  history/countries/S57 - Shelokmengi.txt
Due: none

tweaks to these provinces
  common/event_modifiers/anb_dwarovar_modifiers.txt
  history/provinces/2978 - Claxac's_Abyss.txt
  history/provinces/4058 - Lair_of_Zokkorna.txt
  history/provinces/4102 - Azmak_Quarry.txt
  history/provinces/4219 - Pit_of_Xazor.txt
Due: none

Arg-Ordstun Roughness/Luster bars (+buttons placeholder)
  common/government_mechanics/anb_argordstun_roughness.txt
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_assuage_concerns.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_diamonds_are_unbreakable.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_frame.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_luster.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_neutral.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_neutral_darker.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_roughness.dds
  gfx/interface/government_mechanics/arg_ordstun/arg_ord_tighten_our_grip.dds
  interface/government_mechanics/anb_government_mechanics.gfx
  interface/government_mechanics/argordstun_roughness.gui
Due: none

MT start icon
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

tributary stuff
  common/cb_types/00_cb_types.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/peace_treaties/anb_tributary.txt
  common/subject_types/00_subject_types.txt
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

quick changes
  common/government_mechanics/anb_drakonshani_dominion.txt
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

Various Newshire fixes and loc :)
  common/countries/Newshire.txt
  events/Flavour_Newshire_B50.txt
  localisation/Flavour_Newshire_B50_l_english.yml
  missions/Newshire_Missions.txt
Due: Events Encoding, Localization Encoding

long lived heirs/consorts no longer get full immortality flag, fixed new rulers and starting rulers/heirs/consorts sometimes not having long lived ruler
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Ruler.txt
  history/countries/B71 - Southroy.txt
  history/countries/F21 - Birzartanses.txt
  history/countries/F37 - Irrliam.txt
  history/countries/H77 - Ovdal Lodhum.txt
  history/countries/I26 - Salla Elyn.txt
  history/countries/I30 - Salla Fealgarn.txt
  history/countries/Y63 - Verkal Ozovar.txt
Due: Events Encoding

tiny cleanup because why not
  common/on_actions/00_on_actions.txt
  events/Flavour_Arawkelin_Y65.txt
Due: Events Encoding

corsair empress missing loc fix
  common/government_names/00_0anbennar_unique_names.txt
Due: none

Overlord defends colonies
  common/subject_types/00_subject_types.txt
Due: none

Spawnable buffs changes
  common/event_modifiers/anb_event_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

Moved Urdea Samrad
  common/natives/00_natives.txt
  common/province_names/eordan_ruinborn_elf.txt
  history/provinces/2825 - Fospont.txt
  localisation/anb_units_l_english.yml
  missions/Caamas_Missions.txt
  missions/Eordand_Missions.txt
  missions/Kairncal_Missions.txt
Due: Localization Encoding

Don't read this
  events/AelantirSpawnables.txt
Due: Events Encoding

Small trade and vision fixes
  common/scripted_effects/anb_setup_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/tradenodes/00_tradenodes.txt
Due: none

New(2)_final_last Triarchy color
  common/countries/Triarchy.txt
Due: none

Aelantir Trade Rework
  common/scripted_effects/feiten_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/tradenodes/00_tradenodes.txt
  events/Flavour_Feiten_Y20.txt
  history/provinces/1130 - Mordun_Point.txt
  history/provinces/1818 - Tuhohtyr.txt
  history/provinces/3305.txt
  localisation/anb_trade_l_english.yml
  missions/Cestirmark_Missions.txt
  missions/Eordand_Missions.txt
  missions/Isobelin_Missions.txt
Due: Events Encoding, Localization Encoding

irkorzik fiinishing touches
  common/event_modifiers/anb_event_modifiers.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_Irkorzik_F69.txt
  localisation/Flavour_Irkorzik_F69_l_english.yml
  missions/Irkorzik_Missions.txt
Due: Events Encoding, Localization Encoding

Lorent stuff
  events/Flavour_Lorent_A01.txt
Due: Events Encoding

dakinshi stuff
  events/DakinshiEvents.txt
Due: Events Encoding

lighthouse v1
  common/great_projects/anb_monuments_aelantir.txt
  interface/great_project.gfx
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

more lorent fix
  common/estate_privileges/anb_privileges.txt
Due: none

Sunijalla Round 1
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_lake_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  events/Flavour_Lake_Splinters_JXX.txt
  localisation/Flavour_Sunijalla_J50_l_english.yml
  missions/Sunijalla_Missions.txt
Due: Events Encoding, Localization Encoding

Replaced most event pictures to be removed in NA
  events/Eordand.txt
  events/EordandDisaster.txt
  events/Flavour_Aelnar_Z43.txt
  events/Flavour_Amacimst_G26.txt
  events/Flavour_Arverynn_G35.txt
  events/Flavour_Brelar_G27.txt
  events/Flavour_Cestirmark_H33.txt
  events/Flavour_Freemarches_H51.txt
  events/Flavour_Malacnar_G32.txt
  events/Flavour_Plumstead_H61.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  events/YnnBuycevEvents.txt
  events/YnnEvents.txt
  events/YnnsmanEvents.txt
Due: Events Encoding

EoL stuff
  common/estate_privileges/estate_gerunanin_privileges.txt
Due: none

yanification doesn't convert primary religion
  events/Flavour_Bianfang_Y09.txt
Due: Events Encoding

skewered drake fixes
  common/cb_types/00_cb_types.txt
  common/event_modifiers/anb_dwarovar_blorc_modifiers.txt
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/peace_treaties/anb_tributary.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_Skewered_Drake_H73.txt
  localisation/Flavour_Skewered_Drake_H73_l_english.yml
  localisation/anb_diggy_diggy_hole_blorc_l_english.yml
  localisation/anb_governments_l_english.yml
  missions/SkeweredDrake_Missions.txt
Due: Events Encoding, Localization Encoding

ardimya flags
  gfx/flags/S85.tga
  gfx/flags/S86.tga
  gfx/flags/S87.tga
  gfx/flags/S88.tga
Due: none

Irkorzik finish
  common/buildings/00_buildings.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/ideas/00_basic_ideas.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  events/Flavour_Irkorzik_F69.txt
  events/ideagroups.txt
  localisation/Flavour_Irkorzik_F69_l_english.yml
  missions/Irkorzik_Missions.txt
Due: Events Encoding, Localization Encoding
