Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Unnecessary goto in province events
  events/DiggyDiggyHoleEvents.txt
  events/Flavour_Bulwar.txt
  events/Flavour_HonSai_Y66.txt
  events/HarpyEvents.txt
  events/MagicProjectLichdom.txt
  events/estate_vampires.txt
Due: Events Encoding

The fight against decimals
  events/anb_racial_pop_events_centaur.txt
Due: Events Encoding

reenable clergy priv
  common/estate_privileges/01_church_privileges.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  decisions/EstateActionsChuch.txt
Due: Decisions Encoding

oops
  missions/Kheteratan_Missions.txt
Due: none

move sarhal mercs
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  localisation/anb_mercs_l_english.yml
Due: Localization Encoding

dumb smh
  events/Aakhetist.txt
Due: Events Encoding

not here lol
  common/imperial_reforms/01_china.txt
Due: none

forgot this
  common/estates/01_church.txt
Due: none

fixes
  common/ideas/anb_country_ideas.txt
Due: none

okman needs better eyesight smh
  common/estate_privileges/02_noble_privileges.txt
Due: none

forbidden, plain, typo
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Less stab loss while converting via monstrous events with "Embrace new thoughts"
  events/MonstrousEvents.txt
Due: Events Encoding

Skill issue, mixed up an area and a province group
  missions/Bulwar_Missions.txt
Due: none

Shrunk the trigger a bit
  missions/Haraz_Orldhum_Missions.txt
Due: none

Oni mission icon
  gfx/interface/missions/mission_oni.dds
Due: none

mandate tweaks
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/imperial_reforms/01_china.txt
  missions/Kheteratan_Missions.txt
Due: none

remove spiritual liege
  decisions/TanizuDakinshiDecisions.txt
Due: Decisions Encoding

tweak this mission
  missions/Kheteratan_Missions.txt
Due: none

make it so shadow pact gov can recruit rulers as leaders
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

vurebindika improvements
  decisions/WestSarhalFormables.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

irsukumbha too
  decisions/WestSarhalFormables.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

Troll minority fix
  history/provinces/6736 - Taelek_Kashul.txt
  history/provinces/6737 - Krumkrmura.txt
  history/provinces/6739 - Twanimisutu.txt
  history/provinces/6742 - Mednua_Nama.txt
  history/provinces/6743 - Kiripli.txt
  history/provinces/6744 - Palemke.txt
Due: none

Beast Memory unique icon
  common/event_modifiers/anb_sarhal_modifiers.txt
  gfx/interface/ideas_EU4/beast_memory.dds
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

last one
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

taychend fix
  common/cb_types/anb_cb_taychend.txt
Due: none

Disabled SGC options if you do not actually have a merchant to send
  events/Flavour_Seghdihr_H78.txt
  localisation/Flavour_Seghdihr_H78_l_english.yml
Due: Events Encoding, Localization Encoding

Changed reign to rein in a reform, and changed all references
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  gfx/interface/government_reform_icons/rein_in_the_tribes.dds
  interface/governmentreformicons.gfx
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

Oopsie fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

subjects
  common/scripted_triggers/anb_scripted_triggers_ynn.txt
  common/subject_types/00_subject_types.txt
Due: none

gardener duty privilege
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_estate_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

im gonna rend
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

Mokatanga NI and fix to ataturozi loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

civil war fix
  events/Kheterata_Civil_War.txt
Due: Events Encoding

kheteratan sprites
  gfx/sprite_packs/Anbennar_sprites.txt
Due: none

kartakhet changes
  common/cultures/anb_cultures.txt
  common/estate_agendas/anb_ahati_agendas.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/WestSarhalFormables.txt
  events/MedasiEvents.txt
  history/countries/L29 - Kartakhet.txt
  localisation/anb_cultures_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

ui shizzle
  decisions/HalessiSpirits.txt
  gfx/interface/event_interfaces/rending_window_purple.dds
  gfx/interface/event_interfaces/rending_window_red.dds
  interface/event_interfaces.gfx
  localisation/anb_spirits_l_english.yml
Due: Decisions Encoding, Localization Encoding

blooming events
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
  events/EffelaiBloomEvents.txt
Due: Events Encoding

whoops forgot to change this
  events/EffelaiBloomEvents.txt
Due: Events Encoding

preliminary GUI stuff
  customizable_localization/anb_rending_localization.txt
  localisation/anb_rending_l_english.yml
Due: Localization Encoding

more stuff
  gfx/interface/event_interfaces/rending_window_purple.dds
  gfx/interface/event_interfaces/rending_window_red.dds
Due: none
