Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

floop
  decisions/YnnDecisions.txt
Due: Decisions Encoding

fleeb
  common/event_modifiers/anb_ynn_worship.txt
  decisions/YnnDecisions.txt
  events/Flavour_Radavezyr_U21.txt
  localisation/anb_formable_countries_l_english.yml
  localisation/ynn_loc_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Broken Jaw MT setup
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
  missions/BrokenJaw_Missions.txt
Due: Localization Encoding, Loc key collision check

Revert "make these not get yeeted by annexing a subject"
  events/Flavour_Brelar_G27.txt
Due: Events Encoding

Gnollish Namelists
  common/countries/Arrtukerr.txt
  common/countries/Brrtekuh.txt
  common/countries/Gnollakaz.txt
  common/countries/Haraagtseda.txt
  common/countries/Honderaak.txt
  common/countries/Irkorzik.txt
  common/countries/Jixobix.txt
  common/countries/Koggraffa.txt
  common/countries/Kogzalla.txt
  common/countries/Konolkhatep.txt
  common/countries/Krahahga.txt
  common/countries/Mykx.txt
  common/countries/Rakkaz.txt
  common/countries/Taladzan.txt
  common/countries/Tluukt.txt
  common/countries/Tzilekal.txt
  common/countries/Viakkoc.txt
  common/countries/Xanzerbexis.txt
  common/countries/Xhurekal.txt
  common/countries/Zhavekal.txt
  common/countries/Zokka.txt
  common/cultures/anb_cultures.txt
Due: none

veykodan last names
  common/cultures/anb_cultures.txt
Due: none

PR #7588 [Steam] Assorted Bug Fixes
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/scripted_effects/castanor_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  customizable_localization/anb_magic_menus_localization.txt
  decisions/1EscannFormables.txt
  decisions/DostanorNation.txt
  events/Flavour_Black_Demesne_Acolytes_Estates.txt
  localisation/Flavour_BlackDemesne_Z99_l_english.yml
  localisation/anb_estates_l_english.yml
  missions/Balrijin_Missions.txt
  missions/Castanor_Missions.txt
  missions/Covenblad_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

PR #7589 [Steam] Artificery custom loc fixes + other fixes
  common/custom_gui/countrydecisionsview.txt
  customizable_localization/anb_custom_artifice_localization.txt
  localisation/artifice_l_english.yml
  missions/Gemradcurt_Missions.txt
Due: Localization Encoding, Loc key collision check

PR #7590 [Steam daily bugfixes
  common/government_reforms/02_government_reforms_republics.txt
  events/Flavour_Toarnen_A57.txt
  events/Flavour_VerkalOzovar_Y63.txt
  history/countries/A60 - Asheniande.txt
  localisation/Flavour_Asheniande_A60_l_english.yml
  localisation/Flavour_Corvuria_A59_l_english.yml
  localisation/Flavour_Rogieria_B37_l_english.yml
  localisation/Flavour_VerkalOzovar_Y63_l_english.yml
  missions/Asheniande_Missions.txt
  missions/Ayarallen_Missions.txt
  missions/Azkabar_missions.txt
  missions/Corvuria_Missions.txt
  missions/Feiten_Missions.txt
  missions/Maghargma_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #7591 [Steam] wood_elf mission retaking_our_land, id tag correction
  missions/WoodElves_Missions.txt
Due: none

PR #7595 [Steam] Brelar & Azkabar fixes
  events/Flavour_Brelar_G27.txt
  localisation/Flavour_Azkabar_F35_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #7596 [Steam] Brelar and New Havoral fix + faction loc
  common/cultures/anb_cultures.txt
  common/custom_gui/faction.txt
  localisation/anb_factions_l_english.yml
  missions/Brelar_Missions.txt
Due: Localization Encoding, Loc key collision check

asdfg
  common/event_modifiers/anb_ynn_worship.txt
  decisions/YnnDecisions.txt
  events/Flavour_Radavezyr_U21.txt
  localisation/anb_formable_countries_l_english.yml
  localisation/ynn_loc_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Deyeion MIssion Change
  missions/Deyeion_Missions.txt
Due: none

More work
  common/event_modifiers/anb_event_modifiers.txt
  events/Flavour_BrokenJaw_Z19.txt
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
  missions/BrokenJaw_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Fix Plumstead expedition missing flag check
  events/Flavour_Plumstead_H61.txt
Due: Events Encoding

Fix special_life_extension
  common/scripted_effects/anb_scripted_effects_for_vampires.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Flavour_Jinqiu_Y02.txt
  history/countries/Y02 - Jinqiu.txt
Due: Events Encoding

Fix troll toll event local not global
  common/event_modifiers/racial_event_modifiers.txt
Due: none

Fix lich ruler personalities sticking
  events/MagicProjectLichdom.txt
Due: Events Encoding

Fix rezankand heir name
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding, Loc key collision check

Fix VarbukFreemen prestige loss from corinite
  events/AdventurerSpawnables.txt
Due: Events Encoding

PR #7601 [Steam] more bugfixes
  common/event_modifiers/racial_event_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_vampires.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/AdventurerSpawnables.txt
  events/Flavour_Jinqiu_Y02.txt
  events/Flavour_Plumstead_H61.txt
  events/MagicProjectLichdom.txt
  history/countries/Y02 - Jinqiu.txt
  localisation/anb_formable_countries_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Starting work
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  common/static_modifiers/00_static_modifiers.txt
  common/subject_types/00_subject_types.txt
  gfx/interface/icon_gnoll_school_demonic_shamans.dds
  history/countries/A49 - Xanzerbexis.txt
  history/countries/F28 - Tluukt.txt
  history/countries/F29 - Zokka.txt
  history/countries/F54 - Koggraffa.txt
  history/countries/F55 - Kogzalla.txt
  history/countries/F65 - Tzilekal.txt
  history/countries/F69 - Irkorzik.txt
  history/countries/F71 - Rakkaz.txt
  history/countries/F72 - Haraagtseda.txt
  history/countries/F86 - Krahahga.txt
  history/countries/F91 - Jixobix.txt
  history/countries/F93 - Arrtukerr.txt
  history/countries/G93 - Mykx.txt
  history/countries/U07 - Viakkoc.txt
  history/countries/U09 - Gnollakaz.txt
  history/countries/U10 - Brrtekuh.txt
  interface/countryreligionview.gfx
  localisation/anb_governments_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding, Loc key collision check

[STEAM] Bunch of fixes
  events/Flavour_Malacnar_G32.txt
  events/Flavour_Sapchopper_I41.txt
  events/NewSunCultEvents.txt
  localisation/Flavour_NewHavoral_H57_l_english.yml
  localisation/Flavour_Zabutodask_J53_l_english.yml
  missions/NewHavoral_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

[STEAM] Forgor
  events/Flavour_Malacnar_G32.txt
Due: Events Encoding
