Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

homogrius
  common/event_modifiers/anb_brelar_modifiers.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/yrw_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_ynn.txt
  decisions/BrelarDecisions.txt
  events/Flavour_Brelar_G27.txt
  events/YnnBuycevEvents.txt
  events/YnnDebateEvents.txt
  localisation/Flavour_Brelar_G27_l_english.yml
  localisation/ynn_loc_l_english.yml
  localisation/yrw_debates_l_english.yml
  missions/Brelar_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Remove the ruler_modifier and heir flag for heir powerful mage before you turn republic
  common/government_reforms/01_government_reforms_monarchies.txt
  events/AdventurerFormables.txt
Due: Events Encoding

spirits
  events/HalessiSpirits.txt
Due: Events Encoding

Allclan Error Fixes
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/anb_privileges.txt
  common/government_mechanics/anb_allclan_pandemonium.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/scripted_effects/artifice_scripted_effects.txt
  events/ArtificeEvents.txt
  events/DiggyDiggyDungeons.txt
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  missions/Allclan_Missions.txt
Due: Events Encoding, Localization Encoding

Xiaken changed remaining loc from seppuku to abdication
  localisation/messages_l_english.yml
  localisation/modifers_l_english.yml
Due: Localization Encoding

Cavedelver -> Cavedweller
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Localization Encoding

bugfix
  events/Beast_Memory_Events.txt
Due: Events Encoding

stashed working
  common/church_aspects/anb_beast_memory_abilities .txt
  common/religions/00_anb_religion.txt
Due: none

converts can now properly use the church power actions for beast memory
  common/religions/00_anb_religion.txt
  events/Beast_Memory_Events.txt
Due: Events Encoding

0.1->10
  common/event_modifiers/anb_sarhal_modifiers.txt
Due: none

eve
  events/HalessiSpirits.txt
Due: Events Encoding

parsing will hopefully be easier
  events/Flavour_Brelar_G27.txt
  missions/Brelar_Missions.txt
Due: Events Encoding

Dûr-Vazhatun Insyaa loc fix
  localisation/Flavour_DurVazhatun_I03_l_english.yml
Due: Localization Encoding

tweaks
  common/church_aspects/anb_aakhetist_abilities.txt
  events/Aakhetist.txt
  history/countries/F63 - Aramoole.txt
Due: Events Encoding

More Bahari names
  common/cultures/anb_cultures.txt
Due: none

Phoenix Empire Mandate
  common/cb_types/00_cb_types.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
  decisions/RestorePhoenixEmpire.txt
  events/Elections.txt
  events/Flavour_Varamhar_F42.txt
  localisation/anb_governments_l_english.yml
  missions/XX_Phoenix_Empire_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Jadd Empire Mandate
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
  decisions/JaddEmpireNation.txt
  events/Flavour_Jaddari_F46.txt
  events/NewSunCultEvents.txt
  history/countries/F51 - Jadd Empire.txt
  history/countries/F99 - Jadd Civil War.txt
  localisation/jadd_nobility_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

aakhetist tweaks
  common/on_actions/00_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  events/Aakhetist.txt
  localisation/anb_aakhetist_l_english.yml
Due: Events Encoding, Localization Encoding

khet religion loc
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

khet civil war loc
  localisation/Kheterata_civil_war_l_english.yml
Due: Localization Encoding

lots of loc
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

dlc check
  common/imperial_reforms/01_china.txt
Due: none

mandate loc
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

disable guru debuff
  common/static_modifiers/00_static_modifiers.txt
Due: none

"
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

fixes
  common/government_mechanics/anb_allclan_pandemonium.txt
  decisions/CaveGoblinDecisions.txt
  decisions/FactionMenu.txt
  events/DiggyDiggyEncounters.txt
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  missions/Allclan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

maybe befuddle fix?
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  decisions/DiggyDiggyHole.txt
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Decisions Encoding, Localization Encoding

moar
  common/government_mechanics/anb_allclan_pandemonium.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Events Encoding, Localization Encoding

MOAR
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

HOLDS HAVE MORE BUILDING SLOTS THAN BUILDINGS
  common/event_modifiers/anb_dwarovar_modifiers.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  missions/Allclan_Missions.txt
Due: Localization Encoding

Revert "HOLDS HAVE MORE BUILDING SLOTS THAN BUILDINGS"
  common/event_modifiers/anb_dwarovar_modifiers.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  missions/Allclan_Missions.txt
Due: Localization Encoding

HOLDS HAVE MORE BUILDING SLOTS THAN BUILDINGS
  localisation/Flavour_Allclan_I98_l_english.yml
  missions/Allclan_Missions.txt
Due: Localization Encoding

Command warcamp replacement placed in on_action
  common/event_modifiers/anb_rahen_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/anb_MiscEvents.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

limit by tier
  common/church_aspects/anb_aakhetist_abilities.txt
  events/Aakhetist.txt
Due: Events Encoding

empires get a little bonus
  common/church_aspects/anb_aakhetist_abilities.txt
  events/Aakhetist.txt
Due: Events Encoding

setup fix
  common/scripted_effects/anb_setup_effects.txt
Due: none

anorther ivory prov
  history/provinces/2554 - Varaendi.txt
Due: none

seething rn
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fixing event_targets
  common/scripted_effects/yrw_scripted_effects.txt
  events/Flavour_Amacimst_G26.txt
Due: Events Encoding
