Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

fixed oa restrained oath flag
  events/Flavour_OrdaAldresia_A77.txt
Due: Events Encoding

third round of fixes
  common/subject_types/00_subject_types.txt
  decisions/OrdaAldresiaDecisions.txt
Due: Decisions Encoding

flag
  gfx/flags/R98.tga
Due: none

relevant disband
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

minor fixes + loc dump
  common/church_aspects/anb_dookan_abilities.txt
  common/estate_privileges/estate_vampires_privileges.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/scripted_triggers/anb_scripted_triggers_masked_butcher.txt
  common/wargoal_types/00_wargoal_types.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_MaskedButcher_H81.txt
  events/estate_vampires.txt
  gfx/interface/privileges/privilege_masked_butcher_bloody_knife.dds
  interface/countryestatesview.gfx
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

fixed emperor potential for oa decision
  decisions/OrdaAldresiaDecisions.txt
Due: Decisions Encoding

[NEW-MASTER] Removing owns_all_provinces
  common/great_projects/anb_monuments_cannor.txt
  missions/BrokenJaw_Missions.txt
Due: none

[STEAM] Removing owns_all_provinces
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/Flavour_Moonhaven_A31_l_english .yml
  missions/Adshaw_Missions.txt
  missions/Azjakuma_Missions.txt
  missions/Azkare_Missions.txt
  missions/Busilar_Missions.txt
  missions/Eltikan_Missions.txt
  missions/Empkeios_missions.txt
  missions/Eordand_Missions.txt
  missions/Haraz_Orldhum_Missions.txt
  missions/Khao_Elnak_Missions.txt
  missions/Lot_Dekkhang_Missions.txt
  missions/Marblehead_Missions.txt
  missions/Moonhaven_missions.txt
  missions/Ravenmarch_Missions.txt
  missions/Sapchopper_Missions.txt
  missions/ShatteredCrown_Missions.txt
  missions/Varaine_Missions.txt
  missions/VelsBacar_Missions.txt
Due: Localization Encoding, Loc key collision check

Khugra fixes
  missions/Khugra_Missions.txt
Due: none

Yet another fix
  missions/Vuls_Tenvach_Missions.txt
Due: none

Half Elves
  common/ancestor_personalities/00_core.txt
  common/cultures/anb_cultures.txt
  common/custom_gui/countrygovernmentview.txt
  common/event_modifiers/racial_admin_military.txt
  common/event_modifiers/racial_event_modifiers.txt
  common/event_modifiers/racial_pop_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/on_actions/00_on_actions.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  customizable_localization/anb_racial_localization.txt
  decisions/HalfElves.txt
  decisions/Racial.txt
  dlc_metadata/dlc_info/00_dlc_info.txt
  dlc_metadata/dlc_recommendations/08_race.txt
  events/HalfElves.txt
  events/ToleranceHalfElven.txt
  events/anb_racial_admin_mil.txt
  gfx/interface/bookmarks/dlc_button_half_elf.dds
  gfx/interface/custom_gui/racial_adm_strip.dds
  gfx/interface/custom_gui/racial_mil_strip.dds
  gfx/interface/ideas_EU4/racial_adm_helf.dds
  gfx/interface/ideas_EU4/racial_mil_helf.dds
  history/countries/A01 - Lorent.txt
  history/countries/A04 - Wesdam.txt
  history/countries/A45 - Istralore.txt
  history/countries/A46 - Arbaran.txt
  interface/anb_bookmarks.gfx
  interface/countrygovernmentview.gfx
  localisation/anb_cultures_l_english.yml
  localisation/anb_half_elves_l_english.yml
  localisation/anb_racial_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Smol fix
  decisions/DamerianNation.txt
  decisions/LorentishNation.txt
  events/HolyRomanEmpire.txt
Due: Decisions Encoding, Events Encoding

Getting there, slowly but surely
  events/Flavour_MaskedButcher_H81.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

[STEAM] Fixes
  missions/Azkare_Missions.txt
  missions/Lot_Dekkhang_Missions.txt
  missions/Moonhaven_missions.txt
  missions/VelsBacar_Missions.txt
Due: none

[STEAM] Another Fix
  missions/Azkare_Missions.txt
Due: none

[STEAM] Legally blind
  missions/Sapchopper_Missions.txt
Due: none

done except fey events
  decisions/MaskedButcherDecisions.txt
  events/Flavour_MaskedButcher_H81.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

whoops
  missions/ThievingArrow_Missions.txt
Due: none

stubs for Armon's events
  localisation/Flavour_MaskedButcher_H81_l_english.yml
Due: Localization Encoding, Loc key collision check

More fixes
  missions/Khugra_Missions.txt
Due: none

Fixing for Hmmm
  common/ancestor_personalities/00_core.txt
  common/cultures/anb_cultures.txt
  common/on_actions/00_on_actions.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/anb_racial_election_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/1EscannFormables.txt
  decisions/Racial.txt
  events/CorinsCircle.txt
  events/Escanni_refugees_settlement.txt
  events/Flavour_Rogieria_B37.txt
  events/HalfElves.txt
  events/anb_colonial.txt
  events/anb_racial_admin_mil.txt
  history/countries/B60 - Farranean.txt
  history/provinces/780 - Valefort.txt
  localisation/anb_cultures_l_english.yml
  localisation/anb_racial_l_english.yml
  missions/Covenblad_Missions.txt
  missions/Rogieria_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Fix
  common/ancestor_personalities/00_core.txt
Due: none

Fix Raj integrating vassals count not updating
  events/GenericOnActionEvents.txt
Due: Events Encoding

i did not forget a piece of loc
  localisation/Flavour_MaskedButcher_H81_l_english.yml
Due: Localization Encoding, Loc key collision check

lol
  localisation/Flavour_MaskedButcher_H81_l_english.yml
Due: Localization Encoding, Loc key collision check

Fix Upgrading Metropolis Hold Infrastructure
  events/DiggyGreatProjectEvents.txt
Due: Events Encoding

Fix Kalsyto consolidate state for colonial regions
  common/scripted_effects/kalsyto_scripted_effects.txt
Due: none

Fix Kalsyto mission missing reward
  missions/Kalsyto_Missions.txt
Due: none

More fixes
  common/scripted_effects/anb_racial_election_scripted_effects.txt
  localisation/anb_racial_l_english.yml
Due: Localization Encoding, Loc key collision check

Fix
  missions/Rogieria_Missions.txt
Due: none

Fix moved Re-Uyel T5 reform reward to country modi
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  localisation/anb_governments_l_english.yml
  missions/Reuyel_Missions.txt
Due: Localization Encoding, Loc key collision check

hmm #1
  common/great_projects/anb_great_projects.txt
  common/great_projects/anb_monuments_cannor.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  decisions/MaskedButcherDecisions.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Decisions Encoding, Localization Encoding, Loc key collision check

fixes for pending vuls tenvach PR
  dlc_metadata/dlc_recommendations/07_missions.txt
  missions/Karakhanbar_Missions.txt
Due: none

wrong priv
  missions/MaskedButcher_Missions.txt
Due: none

Else_if fixes and other half-elf stuff
  common/scripted_effects/anb_racial_election_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects.txt
  decisions/1EscannFormables.txt
  decisions/Racial.txt
  localisation/anb_racial_l_english.yml
Due: Decisions Encoding, Localization Encoding, Loc key collision check

Farrani related
  decisions/1EscannFormables.txt
Due: Decisions Encoding

Oops all else_ifs
  common/scripted_effects/anb_scripted_effects.txt
Due: none

death election whoops
  common/on_actions/00_on_actions.txt
Due: none
