Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

event pictures for sky domain
  common/event_modifiers/anb_sarhal_modifiers.txt
  events/SkyDomain.txt
Due: Events Encoding

UI works and flags work
  customizable_localization/anb_rending_localization.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

bonk
  events/HalessiSpirits.txt
Due: Events Encoding

tluukt duel
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

tluukt war
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Zansap_F43.txt
  missions/Zansap_Missions.txt
Due: Events Encoding

bonk
  gfx/interface/spirits/spirit_lupulan.dds
Due: none

Tluukt war fix with Zerodv help
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  missions/Zansap_Missions.txt
Due: none

dekamnielized ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

angry
  common/ideas/anb_group_ideas.txt
Due: none

light east coding
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Zansap_Missions.txt
Due: none

light east problems
  missions/Zansap_Missions.txt
Due: none

Maranakavi NIs
  common/ideas/anb_country_ideas.txt
  history/provinces/6615 - Ndyuye.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

testing
  missions/Zansap_Missions.txt
Due: none

still testing
  missions/Zansap_Missions.txt
Due: none

bug
  events/Flavour_Zansap_F43.txt
  missions/Zansap_Missions.txt
Due: Events Encoding

BUG
  missions/Zansap_Missions.txt
Due: none

Gor Burad fixes and tester feedback
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/AdventurerFormables.txt
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
  missions/Gor_Burad_missions.txt
Due: Events Encoding, Localization Encoding

Obrtrol mission trigger fix to require you to own the province
  missions/Obrtrol_Missions.txt
Due: none

Adden Mulen to nations that require south sarhal and fp
  common/scripted_triggers/anb_scripted_triggers_settings.txt
Due: none

bug
  missions/Zansap_Missions.txt
Due: none

Halessi Harpy changes
  common/countries/Semifírë.txt
  common/country_tags/anb_countries.txt
  history/countries/R83 - Semifírë.txt
  localisation/Flavour_Bianfang_Y09_l_english.yml
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

bug
  common/diplomatic_actions/00_diplomatic_actions.txt
  missions/Zansap_Missions.txt
Due: none

Encoding fix
  localisation/mandate_of_heaven_l_english.yml
Due: Localization Encoding

Loc fix
  localisation/mandate_of_heaven_l_english.yml
Due: Localization Encoding

Quick GB fix
  events/Flavour_GorBurad_I16.txt
Due: Events Encoding

disaster skill issues
  common/disasters/ahati_disaster.txt
  events/estate_ahati.txt
Due: Events Encoding

light east
  missions/Zansap_Missions.txt
Due: none
