Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

more tooltips and tweaking triggers and effects
  missions/Isobelin_Missions.txt
Due: none

mts - more tooltip adjustments
  missions/Isobelin_Missions.txt
Due: none

No equal sign, naughty nautghty
  missions/Vyzemby_missions.txt
Due: none

natives now have a unit type lol
  common/natives/00_natives.txt
Due: none

...
  missions/Vanbury_Guild_Missions.txt
Due: none

error fixes
  events/RajEvents.txt
  localisation/Flavour_Vyzemby_l_english.yml
Due: Events Encoding, Localization Encoding

more errors
  common/scripted_effects/anb_digging_effects.txt
  events/anb_aw_satyrs.txt
  localisation/RC_favored_by_the_gods_l_english.yml
  localisation/medasi_l_english.yml
Due: Events Encoding, Localization Encoding

more fixes
  events/ToleranceGnomish.txt
  localisation/anb_diggy_diggy_hole_encounters_l_english.yml
  localisation/anb_vampires_l_english.yml
Due: Events Encoding, Localization Encoding

Fixed Mykx event not changing culture
  events/Flavour_Mykx_G93.txt
Due: Events Encoding

startup icon
  customizable_localization/anb_custom_loca.txt
  dlc_metadata/dlc_info/00_dlc_info.txt
  dlc_metadata/dlc_recommendations/06_spawnable.txt
  interface/anb_bookmarks.gfx
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

Add tooltip loc
  localisation/Flavour_Isobelin_G91_l_english.yml
Due: Localization Encoding

add bypass for orchorc tolerance
  missions/Isobelin_Missions.txt
Due: none

Adeen tweaks
  common/estate_privileges/estate_adeen_privileges.txt
  localisation/anb_estate_adeen_l_english.yml
Due: Localization Encoding

cardesti fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_cardesti_scripted_effects.txt
  events/anb_cardesti_events.txt
Due: Events Encoding

1.36.1
  Anbennar-PublicFork.mod
  common/advisortypes/00_advisortypes.txt
  common/scripted_effects/00_scripted_effects.txt
  localisation/scandinavia_l_english.yml
Due: Localization Encoding

Blessings
  gfx/interface/fangaulan_pantheon_blessing_select.dds
  gfx/interface/fangaulan_pantheon_blessing_select_glow.dds
  gfx/interface/noukahi_pantheon_blessing_select.dds
  gfx/interface/noukahi_pantheon_blessing_select_glow.dds
  interface/hre.gfx
Due: none

1.36.1
  common/scripted_effects/00_scripted_effects.txt
Due: none

a
  common/on_actions/00_on_actions.txt
Due: none

Adeen slight tooltip tweak
  localisation/anb_estate_adeen_l_english.yml
Due: Localization Encoding

Indentation
  events/MonstrousEvents.txt
Due: Events Encoding

we do not speak of this
  dlc_metadata/dlc_recommendations/06_spawnable.txt
Due: none

Capital R
  localisation/anb_estate_adeen_l_english.yml
Due: Localization Encoding

emergency and temporary temple crash fix
  common/event_modifiers/anb_spirit_modifiers.txt
  decisions/TempleDecisions.txt
  events/HalessiSpirits.txt
Due: Decisions Encoding, Events Encoding

I'm ynniiiing
  events/Flavour_Brelar_G27.txt
  events/YnnBargesSystem.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Events Encoding, Localization Encoding

Yudunyovi and Tachyend Religion
  common/personal_deities/anb_taychend_glory_styles.txt
  common/personal_deities/anb_yudunyovi_deities.txt
  common/religions/00_anb_religion.txt
  gfx/interface/country_icon_religion.dds
  gfx/interface/hindu_deities_strip.dds
  gfx/interface/icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
  interface/countryreligionview.gfx
  interface/countryview.gfx
  interface/ledger.gfx
  interface/provinceview.gfx
Due: none

Small change to Corintar's mission.
  missions/Corintar_Missions.txt
Due: none

Actually enabling the rinta seekers events
  common/on_actions/00_on_actions.txt
Due: none

I can't remember changing this, honestly a mystery
  missions/Vyzemby_missions.txt
Due: none

Indend improvements for Zansap
  missions/Zansap_Missions.txt
Due: none

no message
  missions/Corintar_Missions.txt
Due: none

Font fixes
  common/great_projects/anb_monuments_sarhal.txt
  gfx/fonts/vic_22s.fnt
  gfx/fonts/vic_29s.fnt
  localisation/prov_names_l_english.yml
Due: Localization Encoding

more bracket fixing
  missions/Corintar_Missions.txt
Due: none

pain
  missions/Corintar_Missions.txt
Due: none

aaaaa
  missions/Corintar_Missions.txt
Due: none

Far Isle
  localisation/prov_names_l_english.yml
Due: Localization Encoding

indend save zansap
  missions/Zansap_Missions.txt
Due: none

aa
  missions/Corintar_Missions.txt
Due: none

indend save zansap 2
  missions/Zansap_Missions.txt
Due: none

shadowpact color
  common/religions/00_anb_religion.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
