Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

oop
  common/personal_deities/anb_lizard_deities.txt
Due: none

Adeen tweaks for more drawbacks
  common/disasters/estate_adeen_palace_coup.txt
  common/estate_privileges/estate_adeen_privileges.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  events/estate_adeen_events.txt
  localisation/anb_estate_adeen_l_english.yml
Due: Events Encoding, Localization Encoding

ideas fixes
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Rebalancing Aramoole
  common/government_reforms/03_government_reforms_theocracies.txt
  common/ideas/anb_country_ideas.txt
Due: none

Medasi event error
  common/opinion_modifiers/anb_opinion_modifiers.txt
Due: none

Rahen Dwarf Exodus Events
  events/RahenEvents.txt
  localisation/Flavour_Rahen_l_english.yml
Due: Events Encoding, Localization Encoding

arawkelin stuff
  common/event_modifiers/anb_arawkelin_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/ArawkelinDeforestation.txt
  events/Flavour_Arawkelin_Y65.txt
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  missions/Arawkelin_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

mengi tier 4 part 1
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/anb_estate_modifiers.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/government_reforms/06_government_reforms_common.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  events/SkyDomain.txt
  localisation/Flavour_mengi_l_english.yml
  localisation/anb_estates_l_english.yml
Due: Events Encoding, Localization Encoding

khet event tweaks/fixes
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  events/KhetMandateEvents.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

passive gain tweaks
  common/ruler_personalities/00_core.txt
Due: none

more tweaks
  common/static_modifiers/00_static_modifiers.txt
Due: none

move sella
  common/scripted_effects/feiten_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/tradenodes/00_tradenodes.txt
  events/Flavour_Feiten_Y20.txt
  events/Flavour_Gemradcurt_H16.txt
  map/provincegroup.txt
  missions/Cestirmark_Missions.txt
  missions/Gemradcurt_Missions.txt
Due: Events Encoding

custom loc helper for spirit domains/temple areas
  customizable_localization/anb_halessi_spirits_localization.txt
Due: none

helper modifier for spirit domain/temple areas
  common/event_modifiers/anb_spirit_modifiers.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

aelantir work
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none

removes commented out unused areas
  customizable_localization/anb_halessi_spirits_localization.txt
Due: none

code cleanup
  customizable_localization/anb_halessi_spirits_localization.txt
  events/HalessiSpirits.txt
Due: Events Encoding

tweaks
  common/tradenodes/00_tradenodes.txt
Due: none

tanizu hills
  map/terrain.txt
Due: none

fix
  common/government_reforms/02_government_reforms_republics.txt
Due: none

Simegasa cannot ally people at start until they click an option on the starting event
  common/diplomatic_actions/00_diplomatic_actions.txt
  events/Flavour_Simegasa_L66.txt
  history/countries/L66 - Simegasa.txt
  localisation/Flavour_Simegasa_L66_l_english.yml
Due: Events Encoding, Localization Encoding

name these
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

move these sea tiles
  map/area.txt
Due: none

fixed that loophole
  events/Flavour_Simegasa_L66.txt
  events/Flavour_YezelMora_S70.txt
Due: Events Encoding

Loc
  localisation/anb_estate_adeen_l_english.yml
Due: Localization Encoding

Tiny loc
  localisation/anb_estate_adeen_l_english.yml
Due: Localization Encoding

Adeen slight privilege change
  common/estate_privileges/estate_adeen_privileges.txt
  events/estate_adeen_events.txt
Due: Events Encoding

Adeen tooltip changes
  common/estate_privileges/estate_adeen_privileges.txt
  events/estate_adeen_events.txt
  localisation/anb_estate_adeen_l_english.yml
Due: Events Encoding, Localization Encoding

move more stuff
  map/area.txt
Due: none

New Horashesh island names
  history/provinces/3244 - Kubachit.txt
  history/provinces/3245 - Lelatam.txt
  localisation/anb_areas_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/area.txt
  map/positions.txt
  map/region.txt
Due: Localization Encoding

Adeen changes
  common/estate_privileges/estate_adeen_privileges.txt
Due: none

rending fixes
  common/scripted_effects/spirits_scripted_effects.txt
  events/HalessiSpirits.txt
Due: Events Encoding

why is this not fucking working cunt
  decisions/ArawkelinDeforestation.txt
  events/Flavour_Arawkelin_Y65.txt
  missions/Arawkelin_Missions.txt
Due: Decisions Encoding, Events Encoding

mission tree button
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

Custom tooltips
  common/government_reforms/04_government_reforms_tribes.txt
  localisation/anb_governments_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Performance fixes
  decisions/AzkareDecisions.txt
  decisions/HalessiFormables.txt
  decisions/HarpylenFormable.txt
  decisions/KainoDecisions.txt
  decisions/MagicRuler.txt
  decisions/Racial.txt
  decisions/TheJadd.txt
  decisions/WestSarhalFormables.txt
  decisions/YnnDecisions.txt
Due: Decisions Encoding

mengi tier 4 part 2
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

a lot more than just dakinshi loc now, so inyaswarosa
  localisation/Group_Flavour_Dakinshi_l_english.yml
  localisation/Group_Flavour_Inyaswarosa_l_english.yml
Due: Localization Encoding

.
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

broken sea to sella
  common/tradenodes/00_tradenodes.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
