Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Besolaki Basics
  common/custom_gui/faction.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/factions/anb_factions.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Besolaki_G54.txt
  interface/faction.gfx
  localisation/Flavour_Besolaki_G54_l_english.yml
  localisation/anb_factions_l_english.yml
  localisation/anb_misc_l_english.yml
  missions/Besolaki_Missions.txt
Due: Events Encoding, Localization Encoding

Command Azjakuma exploit fix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

loc fix
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

During log investigation
  common/buildings/00_buildings.txt
  common/scripted_effects/anb_scripted_effects.txt
  localisation/Flavour_Thangoya_Z62_l_english.yml
  missions/Zz_Thangoya_Missions.txt
Due: Localization Encoding

?
  events/AelantirSpawnables.txt
Due: Events Encoding

Raghamidesh MT
  missions/Raghamidesh_Missions.txt
Due: none

Has free manufactory slot trigger
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

Is it working?
  missions/Zz_Thangoya_Missions.txt
Due: none

Oren Nayiru and Kamrayakval's War Loc
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Flavour_Orenvalyam_U39.txt
  events/OrenNayiruEvents.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding

Fixed Harmonization Crash with Gotiriei
  common/religions/00_anb_religion.txt
Due: none

Gitignore removed
  .gitignore
Due: none

Restored .mod
  Anbennar-PublicFork.mod
Due: none

A round of gubfixes
  common/parliament_issues/00_adm_parliament_issues.txt
  common/parliament_issues/00_mil_parliament_issues.txt
  events/Flavour_Thirabnir_Y59.txt
  history/countries/Y59 - Thirabnir.txt
  localisation/Flavour_Thirabnir_Y59_l_english.yml
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: Events Encoding, Localization Encoding

hide tooltip
  decisions/DiggyFallenDwarf.txt
Due: Decisions Encoding

remove useless modifier
  common/event_modifiers/anb_mother_akasik.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/mother_akasik_scripted_effects.txt
  common/tradenodes/00_tradenodes.txt
  history/provinces/383 - Desh-Al-Deshak.txt
  history/provinces/397 - Hapak.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

file cleanup
  common/event_modifiers/anb_mother_akasik.txt
  common/scripted_effects/mother_akasik_scripted_effects.txt
  common/scripted_effects/sarhal_scripted_effects.txt
Due: none

tolerance triggers now work
  common/government_reforms/02_government_reforms_republics.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/Flavour_Thangoya_Z62_l_english.yml
  missions/Zz_Thangoya_Missions.txt
Due: Localization Encoding

Mulen Harpylen change
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  decisions/HarpylenFormable.txt
  localisation/Flavour_Mulen_F50_l_english.yml
  missions/Mulen_Missions.txt
Due: Decisions Encoding, Localization Encoding

Working build
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_Thangoya_Z62.txt
  localisation/Flavour_Thangoya_Z62_l_english.yml
  missions/Lo_Ngoen_missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: Events Encoding, Localization Encoding

mandate fixes
  common/imperial_reforms/01_china.txt
Due: none

minor disaster nerfs
  common/disasters/ahati_disaster.txt
  events/estate_ahati.txt
Due: Events Encoding

fix planetouched thing
  common/custom_gui/countrymilitaryview.txt
Due: none

mostly done
  common/event_modifiers/anb_spirit_modifiers.txt
  events/RendingMA.txt
  missions/Isagumze_Missions.txt
Due: Events Encoding

infested event fix
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

Command merc army prof fix
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

Command dynasty exploit fix
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Fix
  localisation/prov_names_l_english.yml
  missions/Raghamidesh_Missions.txt
Due: Localization Encoding

Bugfixes
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
Due: Events Encoding, Localization Encoding

Testers's branch
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/Flavour_Thangoya_Z62_l_english.yml
  localisation/anb_tooltips_l_english.yml
  missions/Zz_Thangoya_Missions.txt
Due: Localization Encoding

hmmmmmmmmmmm
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Thangoya_Z62_l_english.yml
Due: Localization Encoding

hmmmmmmmmmmmmmmmmm
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none

hm
  localisation/Flavour_Thangoya_Z62_l_english.yml
Due: Localization Encoding

New Lorentish vassals
  history/countries/A01 - Lorent.txt
  history/countries/B68 - Kyliande.txt
  history/countries/B71 - Southroy.txt
  history/countries/B72 - Ionnidar.txt
  history/diplomacy/Lorentish_alliances.txt
  history/provinces/119 - Ioriels_Rest.txt
  history/provinces/123 - Thunderward.txt
  history/provinces/124 - Sildthol.txt
  history/provinces/125 - Haysfield.txt
  history/provinces/128 - Southroy.txt
  history/provinces/70 - Ionnidar.txt
  history/provinces/71 - Ruby_Pass.txt
  history/provinces/74 - Kyliande.txt
Due: none

Auto stash before merge of "new-master" and "JayBean/new-master"
  Anbennar-PublicFork.mod
  anbennar-eu4-fork-lvtheir.mod
Due: none

Command Insubordination Assault Fort Exploit fix
  common/event_modifiers/anb_rahen_modifiers.txt
Due: none

Viakkoc Fixes and Failsafe
  localisation/Flavour_Viakkoc_U07_l_english.yml
  missions/Viakkoc_Missions.txt
Due: Localization Encoding

Little more
  missions/Viakkoc_Missions.txt
Due: none
