Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

stupid crash
  events/KhetMandateEvents.txt
Due: Events Encoding

missions
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

Ameion NI Rework Glory To Laskaris and the Ameioni Empire!
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

more adjustments
  common/event_modifiers/anb_effelai_worship_modifiers.txt
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

more event adjustments
  events/EffelaiWorshipEvents.txt
  localisation/effelai_worship_l_english.yml
Due: Events Encoding, Localization Encoding

salad
  common/event_modifiers/anb_brelar_modifiers.txt
  events/Flavour_Brelar_G27.txt
  localisation/Flavour_Brelar_G27_l_english.yml
Due: Events Encoding, Localization Encoding

Fixes
  common/province_triggered_modifiers/anb_modifiers.txt
  decisions/AmeionDecisions.txt
  localisation/anb_religions_l_english.yml
  missions/Zabutodask_Missions.txt
Due: Decisions Encoding, Localization Encoding

DUNGEOOOOOOOOOOOON
  common/great_projects/anb_dwarovar_dungeons.txt
  common/scripted_effects/anb_digging_effects.txt
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
  decisions/CaveGoblinDecisions.txt
  events/DiggyDiggyDungeons.txt
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

sus stuff
  common/event_modifiers/anb_spirit_modifiers.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

more event changes
  events/EffelaiWorshipEvents.txt
  localisation/effelai_worship_l_english.yml
Due: Events Encoding, Localization Encoding

changed "icey determination" to "icy determination"
  localisation/Flavour_Gemradcurt_H16_l_english.yml
Due: Localization Encoding

finish medasi stuff
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/imperial_reforms/01_china.txt
  common/subject_types/00_subject_types.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

lizard rulers rebalance
  history/countries/L68 - Karassk.txt
  history/countries/L69 - Zerat.txt
  history/countries/L70 - Khugra.txt
  history/countries/L71 - Nazhni.txt
  history/countries/L72 - Zatsuti.txt
  history/countries/L74 - Zatal.txt
  history/countries/L75 - Kakhazajar.txt
  history/countries/L76 - Gasha.txt
  history/countries/L77 - Karach.txt
  history/countries/L79 - Rshak.txt
  history/countries/L80 - Zulbur.txt
  history/countries/L81 - Yassa.txt
  history/countries/L82 - Izmeri.txt
  history/countries/L83 - Shangra.txt
  history/countries/L84 - Shalazar.txt
  history/countries/L85 - Ashakani.txt
  history/countries/L88 - Abussa.txt
  history/countries/L89 - Tsuz.txt
  history/countries/L90 - Ashka.txt
  history/countries/L95 - Rayaz.txt
  history/countries/L96 - Asarta.txt
  history/countries/L99 - Katsanada.txt
  history/countries/S11 - Natani.txt
  history/countries/S12 - Ksazata.txt
  history/countries/S14 - Ipshalani.txt
  history/countries/S15 - Karshyr.txt
Due: none

rest of the currently approved generic spirit events
  common/event_modifiers/anb_spirit_modifiers.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

Forest Goblin formable loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Ahati setup
  common/estate_agendas/anb_ahati_agendas.txt
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  common/estates_preload/anb_estate_modifiers.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/imperial_reforms/01_china.txt
  common/static_modifiers/00_static_modifiers.txt
  localisation/EU4_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  localisation/cradle_of_civilization_l_english.yml
  localisation/emperor_l_english.yml
  localisation/tmm_l_english.yml
  localisation/triggers_and_effects_l_english.yml
Due: Localization Encoding

disable adventurers lol
  common/estates/98_adventurers.txt
Due: none

Sarisung monument, and fix to the old haless monumnts
  common/great_projects/anb_monuments_rahen_haless.txt
  gfx/interface/great_projects/desktop.ini
  gfx/interface/great_projects/great_project_sarisung_city.dds
  interface/great_project.gfx
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

New Malacnar flag by Valorique
  gfx/flags/G32.tga
Due: none

glowing option button
  gfx/interface/bookmarks/anb_button_options.dds
  interface/anb_bookmarks.gfx
Due: none

Spyhaus Is Cooking
  common/event_modifiers/anb_mission_modifiers.txt
  gfx/flags/G78.tga
  gfx/flags/J71.tga
  gfx/flags/J76.tga
  gfx/flags/J77.tga
  gfx/flags/J81.tga
  gfx/flags/J84.tga
  gfx/flags/S79.tga
  missions/Eltikan_Missions.txt
Due: none

metric fuckton of work
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/imperial_reforms/01_china.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
  decisions/KhetMandateDecisions.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Decisions Encoding, Localization Encoding

reforms complete
  common/imperial_reforms/01_china.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

added burning eventchain
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/rebel_types/effelai_beasts.txt
  common/rebel_types/song_servant_ambushers.txt
  common/scripted_effects/effelai_bloom_scripted_effects.txt
  events/EffelaiBloomEvents.txt
Due: Events Encoding

yinquan events
  common/on_actions/00_on_actions.txt
  customizable_localization/anb_custom_loca.txt
  events/Flavour_Yinquan_Y26.txt
  history/countries/Y26 - Yinquan.txt
Due: Events Encoding

changes
  events/Flavour_Yinquan_Y26.txt
Due: Events Encoding

Added Forest Gob formable tags
  common/countries/Akluztajo.txt
  common/countries/Soyzkaru Cartel.txt
  common/country_tags/anb_countries.txt
  customizable_localization/anb_custom_loca.txt
  gfx/flags/Z86.tga
  gfx/flags/Z87.tga
  history/countries/Z86 - Soyzkaru Cartel.txt
  history/countries/Z87 - Akluztajo.txt
Due: none

Forest Goblin Formables decisions + Forest Gob unit pip fixes
  common/countries/Akluztajo.txt
  common/countries/Soyzkaru Cartel.txt
  common/units/forest_goblin_28_heralds_chosen.txt
  common/units/forest_goblin_28_howling_moving_castles.txt
  decisions/DeepwoodsFormables.txt
  decisions/WoodelfNation.txt
  localisation/anb_deepwoods_l_english.yml
Due: Decisions Encoding, Localization Encoding

Fixing some loc for forest gob formable decisions
  common/countries/Akluztajo.txt
  common/countries/Soyzkaru Cartel.txt
  localisation/anb_deepwoods_l_english.yml
Due: Localization Encoding

Taychend start rulers
  customizable_localization/00_start_screen.txt
  history/countries/G52 - Ameion.txt
  history/countries/G64 - Larankar.txt
  history/countries/G65 - Sedregenhi.txt
  history/countries/G66 - Clematar.txt
  history/countries/G67 - Royakottar.txt
  history/countries/G68 - Nakar Mlerek.txt
  history/countries/G69 - Nakar Kilaiek.txt
  history/countries/G70 - Nakar Kriadvai.txt
  history/countries/G71 - Orenkoraim.txt
  history/countries/G73 - Ahartadyam.txt
  history/countries/G74 - Gophira.txt
  history/countries/G75 - Sibisimra.txt
  history/countries/G76 - Tirsin.txt
  history/countries/G77 - Marhed Varanya.txt
  history/countries/G78 - Ethanamara.txt
  history/countries/G79 - Vul Tenvach.txt
  history/countries/G80 - Imarchend.txt
  history/countries/G81 - Sthanan ith Vussam.txt
  history/countries/G83 - Korrimutren.txt
  history/countries/J70 - Oremvand.txt
  history/countries/J71 - Sarihaddu.txt
  history/countries/J72 - Darkalyndar.txt
  history/countries/J73 - Zaernmaera.txt
  history/countries/J74 - Caergaraen.txt
  history/countries/J75 - Rakkabuttai.txt
  history/countries/J76 - Banderuttai.txt
  history/countries/J77 - Kattisangamar.txt
  history/countries/J78 - Uesrennu.txt
  history/countries/J79 - Katalperai.txt
  history/countries/J80 - Vettakaramai.txt
  history/countries/J81 - Parahechend.txt
  history/countries/J82 - Varampiraya.txt
  history/countries/J83 - Airoa Naditari.txt
Due: none

heirs and rulers
  history/countries/G64 - Larankar.txt
  history/countries/G65 - Sedregenhi.txt
  history/countries/G66 - Clematar.txt
  history/countries/G67 - Royakottar.txt
  history/countries/G68 - Nakar Mlerek.txt
  history/countries/G69 - Nakar Kilaiek.txt
  history/countries/G70 - Nakar Kriadvai.txt
  history/countries/G73 - Ahartadyam.txt
  history/countries/G74 - Gophira.txt
  history/countries/G76 - Tirsin.txt
  history/countries/G77 - Marhed Varanya.txt
  history/countries/G79 - Vul Tenvach.txt
  history/countries/G80 - Imarchend.txt
  history/countries/G81 - Sthanan ith Vussam.txt
  history/countries/G83 - Korrimutren.txt
  history/countries/J70 - Oremvand.txt
  history/countries/J72 - Darkalyndar.txt
  history/countries/J73 - Zaernmaera.txt
  history/countries/J74 - Caergaraen.txt
  history/countries/J75 - Rakkabuttai.txt
  history/countries/J78 - Uesrennu.txt
  history/countries/J79 - Katalperai.txt
  history/countries/J80 - Vettakaramai.txt
Due: none

ahati privs
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/on_actions/00_on_actions.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

ahati fixes
  common/static_modifiers/00_static_modifiers.txt
  localisation/EU4_l_english.yml
  localisation/cradle_of_civilization_l_english.yml
  localisation/government_l_english.yml
  localisation/tmm_l_english.yml
Due: Localization Encoding

privilege fixes
  common/estate_privileges/estate_ahati_privileges.txt
Due: none

PE Sarhal removal
  missions/XX_Phoenix_Empire_Missions.txt
Due: none

Biegel hates the letter O
  history/countries/F24 - Brasan.txt
Due: none

bunch of icons
  common/estate_privileges/estate_ahati_privileges.txt
Due: none

final icons
  common/estate_privileges/estate_ahati_privileges.txt
Due: none

High Philosophy event fix
  events/HighPhilosophy.txt
Due: Events Encoding
