Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

vanilla tooltip
  localisation/common_sense_l_english.yml
Due: Localization Encoding

duplicate buff
  common/subject_types/00_subject_types.txt
Due: none

stupid AW
  common/estate_privileges/estate_ahati_privileges.txt
  events/anb_aw_bandits.txt
  events/anb_aw_eldritch_cultists.txt
  events/anb_aw_ghouls.txt
  events/anb_aw_goblins.txt
  events/anb_aw_hags.txt
  events/anb_aw_haunted_house.txt
  events/anb_aw_orcs.txt
  events/anb_aw_satyrs.txt
  events/anb_aw_thieves_guild.txt
  events/anb_aw_trolls.txt
  events/anb_aw_vampires.txt
  events/anb_aw_wendigo.txt
  events/anb_aw_werewolves.txt
  events/anb_aw_wyvern.txt
  events/anb_aw_zombies.txt
Due: Events Encoding

stupid pdx
  common/defines.lua
  common/estate_privileges/estate_ahati_privileges.txt
  events/estate_ahati.txt
Due: Events Encoding

Whitespace
  events/DeleteColony.txt
Due: Events Encoding

More whitespace
  common/on_actions/00_on_actions.txt
Due: none

to tc for agenda
  common/estate_agendas/anb_ahati_agendas.txt
Due: none

smh
  common/estate_agendas/anb_ahati_agendas.txt
Due: none

Don't leave weird colonies
  common/on_actions/00_on_actions.txt
Due: none

theocracy heir fix
  events/KhetMandateEvents.txt
Due: Events Encoding

KDC fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_kobold_dragon_cult.txt
Due: none

Haraf election
  common/on_actions/00_on_actions.txt
  events/HarafEvents.txt
  localisation/Flavour_Haraf_G43_l_english.yml
Due: Events Encoding, Localization Encoding

switch loc to steward
  localisation/EU4_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/cradle_of_civilization_l_english.yml
  localisation/emperor_l_english.yml
  localisation/text_l_english.yml
Due: Localization Encoding

Haraf election part 2
  events/Elections.txt
  events/HarafEvents.txt
Due: Events Encoding

Fixing loc
  localisation/Flavour_Haraf_G43_l_english.yml
Due: Localization Encoding

mandate tweaks
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  localisation/anb_khet_mandate_l_english.yml
  localisation/text_l_english.yml
Due: Localization Encoding

Election fix
  events/Elections.txt
Due: Events Encoding

Last revolt
  events/HarafEvents.txt
Due: Events Encoding

fixes
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
Due: none

Event pictures and reform icons
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  events/HarafEvents.txt
Due: Events Encoding

Potentials
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
Due: none

Lock levels
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
Due: none

Church Aspects fix
  gfx/interface/church_aspects/aerial_assault.dds
  gfx/interface/church_aspects/anoint_slave_herd_great.dds
  gfx/interface/church_aspects/anoint_slave_herd_old.dds
  gfx/interface/church_aspects/ask_for_dookan_guidance.dds
  gfx/interface/church_aspects/assemble_shamans_great.dds
  gfx/interface/church_aspects/assemble_shamans_old.dds
  gfx/interface/church_aspects/birth_new_daughter.dds
  gfx/interface/church_aspects/gather_breeding_mates.dds
  gfx/interface/church_aspects/gather_great_host_great.dds
  gfx/interface/church_aspects/gather_great_host_old.dds
  gfx/interface/church_aspects/invoke_the_winds.dds
  gfx/interface/church_aspects/invoke_warrior_heritage.dds
  gfx/interface/church_aspects/look_for_omens.dds
  gfx/interface/church_aspects/reincarnated_warrior.dds
  gfx/interface/church_aspects/shake_the_earth_great.dds
  gfx/interface/church_aspects/shake_the_earth_old.dds
  interface/anb_church_aspects.gfx
Due: none

Haless map mission icon
  gfx/interface/missions/mission_haless_map.dds
  interface/missionicons_anb.gfx
  missions/TheCommand_Missions.txt
Due: none

monument fix
  common/great_projects/anb_monuments_sarhal.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
Due: none

more tweaks
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

balance tweak
  common/static_modifiers/00_static_modifiers.txt
Due: none

error fixes
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
Due: none

fix history file
  history/countries/L33 - Afakoyuzemby.txt
Due: none

MT upload
  common/disasters/gor_burad_the_eruption.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_estate_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  common/scripted_effects/gor_burad_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/trading_policies/00_trading_policies.txt
  decisions/DiggyDiggyHole.txt
  decisions/DiggyFormables.txt
  decisions/GorBuradDecisions.txt
  events/EstatePrivilegesAndAgendasEvents.txt
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
  missions/Gor_Burad_missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Area fix
  missions/Gor_Burad_missions.txt
Due: none

Brelar Edits
  common/event_modifiers/anb_brelar_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_brelar.txt
  common/scripted_effects/yrw_scripted_effects.txt
  decisions/YnnDecisions.txt
  events/Flavour_Brelar_G27.txt
  localisation/Flavour_Brelar_G27_l_english.yml
  missions/Brelar_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Deepwoods orc religion fixes
  events/AgeOfGreentide.txt
  events/MonstrousEvents.txt
Due: Events Encoding

Urdea-Samrad -> Urdea Samrad
  common/province_names/eordan_ruinborn_elf.txt
  localisation/Flavour_Caamas_l_english.yml
  missions/Caamas_Missions.txt
Due: Localization Encoding

Alpha testing #1 fixes
  common/estates/03_burghers.txt
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
  missions/Gor_Burad_missions.txt
Due: Events Encoding, Localization Encoding

Alpha testing #2 fixes
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
  missions/Gor_Burad_missions.txt
Due: Events Encoding, Localization Encoding

Alpha testing #3 fix
  localisation/Flavour_GorBurad_I16_l_english.yml
Due: Localization Encoding

Hisraad NIs loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

PE Interactions alert
  common/government_mechanics/anb_phoenix_estate.txt
Due: none

Cheese Events fire only once
  events/Flavour_Bulwar.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
