Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

Covenblad Localisation
  localisation/Flavour_Covenblad_Z37_l_english.yml
Due: Localization Encoding, Loc key collision check

CTD
  localisation/anb_planetouched_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #7307 [Steam] loc fix for Covenblad
  localisation/Flavour_Covenblad_Z37_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #7308 [Steam] CTD fix
  localisation/anb_planetouched_l_english.yml
Due: Localization Encoding, Loc key collision check

missed these
  history/provinces/3060 - PROV3060.txt
  history/provinces/3273 - PROV3273.txt
  history/provinces/7028 - PROV7028.txt
  map/continent.txt
Due: none

bug
  events/Flavour_Kumarkand_F30.txt
  localisation/Flavour_Kumarkand_F30_l_english.yml
  missions/Kumarkand_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

bug
  localisation/Flavour_Kumarkand_F30_l_english.yml
  map/provincegroup.txt
Due: Localization Encoding, Loc key collision check

Final Covenblad Fixes
  common/government_reforms/01_government_reforms_monarchies.txt
  common/on_actions/00_on_actions.txt
Due: none

bug
  localisation/Flavour_Kumarkand_F30_l_english.yml
  missions/Kumarkand_Missions.txt
Due: Localization Encoding, Loc key collision check

bug
  events/Flavour_Kumarkand_F30.txt
  missions/Kumarkand_Missions.txt
Due: Events Encoding

bug
  missions/Kumarkand_Missions.txt
Due: none

test
  missions/Kumarkand_Missions.txt
Due: none

BUG
  events/Flavour_Kumarkand_F30.txt
  missions/Kumarkand_Missions.txt
Due: Events Encoding

extant
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding, Loc key collision check

irkorzik fixes
  common/government_reforms/03_government_reforms_theocracies.txt
  localisation/Flavour_Irkorzik_F69_l_english.yml
  missions/Irkorzik_Missions.txt
Due: Localization Encoding, Loc key collision check

Effelai Steam Fix [Steam]
  decisions/EffelaiWorshipDecisions.txt
  events/EffelaiBloomEvents.txt
  events/EffelaiWorshipEvents.txt
Due: Decisions Encoding, Events Encoding

debugtrade file
  common/tradenodes/trade_debug.txt
Due: none

skewered drake fixes
  events/Flavour_Skewered_Drake_H73.txt
  localisation/Flavour_Skewered_Drake_H73_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

typo
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
Due: Localization Encoding, Loc key collision check

tarakar plunder fix
  decisions/OrcFormables.txt
Due: Decisions Encoding

hold fixes
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
Due: none

adzalan fix
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

typo
  localisation/anb_racial_l_english.yml
Due: Localization Encoding, Loc key collision check

Fixing building requirements for Isagumze
  missions/Isagumze_Missions.txt
Due: none

bug
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

missed this
  common/custom_gui/provinceview.txt
Due: none

Covenblad fix
  missions/Covenblad_Missions.txt
Due: none

corvuria
  common/ideas/anb_country_ideas.txt
Due: none

mnor spleeing mistak
  localisation/anb_racial_l_english.yml
Due: Localization Encoding, Loc key collision check

bug
  common/estate_privileges/anb_privileges.txt
  localisation/Flavour_Kumarkand_F30_l_english.yml
Due: Localization Encoding, Loc key collision check

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
