Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

e
  common/on_actions/00_on_actions.txt
Due: none

e
  events/Ruler.txt
Due: Events Encoding

e
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

gaming
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Ruler.txt
  events/anb_MiscEvents.txt
  gfx/interface/icon_red_text_2.dds
  interface/general_stuff.gfx
  localisation/anb_ruler_l_english.yml
Due: Events Encoding, Localization Encoding

Sugamber Civil War fix
  events/Flavour_Sugamber_A48.txt
Due: Events Encoding

Revert "Insubordination province mod bug fix"
  decisions/TheCommandDecisions.txt
Due: Decisions Encoding

cool
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
Due: none

silly ele
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

zomp
  common/event_modifiers/anb_effelai_worship_modifiers.txt
  events/EffelaiBloomEvents.txt
Due: Events Encoding

spirit hunter edict fix
  common/state_edicts/spirit_hunters_edict.txt
Due: none

rending quest changes
  customizable_localization/anb_rending_appeasement.txt
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

removing superfluous fort level variables
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

zomp
  common/rebel_types/effelai_blood_hunts.txt
  common/rebel_types/effelai_great_beasts.txt
Due: none

zamp
  events/EffelaiBloomEvents.txt
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

Windhowler Kvangahga Setup Encoding Fix
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Kvanga religion loca fix
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Kvanga loca fixes again
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

attempt 300
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

more fixes
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

quick fix tf2
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

mages estate event picture
  gfx/event_pictures/MAGES_ESTATE_eventPicture.dds
  interface/anb_eventpictures.gfx
Due: none

event picture stuff
  events/AgeOfUnraveling.txt
  gfx/event_pictures/CASTELLOS_IS_DEAD_eventPicture.dds
  interface/anb_eventpictures.gfx
Due: Events Encoding

sad
  events/EffelaiBloomEvents.txt
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

idek
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

e
  gfx/event_pictures/CASTELLOS_IS_DEAD_eventPicture.dds
Due: none

these files aren't used
  events/MagicRealm.txt
  events/MagicRealmAbjuration.txt
  events/MagicRealmConjuration.txt
  events/MagicRealmDivination.txt
  events/MagicRealmEnchantment.txt
  events/MagicRealmEvocation.txt
  events/MagicRealmIllusion.txt
  events/MagicRealmNecromancy.txt
  events/MagicRealmTransmutation.txt
Due: Events Encoding

some cleanup
  events/MagicStudy.txt
Due: Events Encoding

more event stuff
  events/estate_mages.txt
Due: Events Encoding

eepy
  events/MonstrousEvents.txt
Due: Events Encoding

artificer loyalty gubfix
  common/event_modifiers/anb_religion_modifiers.txt
  common/fetishist_cults/00_fetishist_cults.txt
Due: none

Aelnar Starseeker typo fix
  localisation/anb_units_l_english.yml
Due: Localization Encoding

fix expel/purge majority events firing in colonies
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
Due: Events Encoding

fix province highlighting in brelar mission
  missions/Brelar_Missions.txt
Due: none

fix xia mt breaking when gained as non-xia tag
  decisions/OneXia.txt
Due: Decisions Encoding
