Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

Unjanking this
  missions/Lot_Dekkhang_Missions.txt
Due: none

We don't vassalize people against their will here
  events/Flavour_Grombar_Z50.txt
Due: Events Encoding

Further unjanking
  events/Flavour_LotDekkhang_Y58.txt
Due: Events Encoding

Bal Vroren Monument Description
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding, Loc key collision check

Ship name for All Lencenor
  common/countries/Ainethan.txt
  common/countries/Carneter.txt
  common/countries/Crovania.txt
  common/countries/Deranne.txt
  common/countries/Eilisin.txt
  common/countries/Great Ording.txt
  common/countries/Horsegarden.txt
  common/countries/Ilvandet.txt
  common/countries/Iochand.txt
  common/countries/Ionnidar.txt
  common/countries/Kyliande.txt
  common/countries/Lasean.txt
  common/countries/Lorent.txt
  common/countries/Madelaire.txt
  common/countries/Minaran Temple.txt
  common/countries/Order of the Ashen Rose.txt
  common/countries/Portnamm.txt
  common/countries/Roilsard.txt
  common/countries/Rosande.txt
  common/countries/Rubenaire.txt
  common/countries/Saddleglade.txt
  common/countries/Saloren.txt
  common/countries/Sorncost.txt
  common/countries/Southroy.txt
  common/countries/Toarnaire.txt
  common/countries/Tretun.txt
  common/countries/Wineport.txt
  common/countries/Woodwell.txt
Due: none

Loc Scoping
  localisation/Flavour_Jaddari_F46_l_english.yml
  localisation/Flavour_Rahen_l_english.yml
Due: Localization Encoding, Loc key collision check

Lock Convocation, New unit Types don't reconvert
  common/government_reforms/02_government_reforms_republics.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

Faction events require factions
  events/RepublicFactions.txt
Due: Events Encoding

redning gubfix
  events/HalessiSpirits.txt
Due: Events Encoding

Jadd now wants east sarhal
  common/scripted_triggers/anb_scripted_triggers_settings.txt
Due: none

Typos
  common/mercenary_companies/00_mercenaries.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Localization Encoding, Loc key collision check

We can read now
  missions/Obrtrol_Missions.txt
Due: none

Failsafe requirement
  missions/Covenblad_Missions.txt
Due: none

fix "
  common/countries/Ainethan.txt
  common/countries/Crovania.txt
  common/countries/Deranne.txt
  common/countries/Eilisin.txt
  common/countries/Great Ording.txt
  common/countries/Horsegarden.txt
  common/countries/Iochand.txt
  common/countries/Ionnidar.txt
  common/countries/Kyliande.txt
  common/countries/Lasean.txt
  common/countries/Lorent.txt
  common/countries/Madelaire.txt
  common/countries/Minaran Temple.txt
  common/countries/Order of the Ashen Rose.txt
  common/countries/Portnamm.txt
  common/countries/Roilsard.txt
  common/countries/Rosande.txt
  common/countries/Rubenaire.txt
  common/countries/Saddleglade.txt
  common/countries/Saloren.txt
  common/countries/Sorncost.txt
  common/countries/Southroy.txt
  common/countries/Toarnaire.txt
  common/countries/Tretun.txt
  common/countries/Wineport.txt
Due: none

fix 2
  common/countries/Carneter.txt
  common/countries/Ilvandet.txt
  common/countries/Woodwell.txt
Due: none

fix 3
  common/countries/Carneter.txt
  common/countries/Ilvandet.txt
  common/countries/Woodwell.txt
Due: none

Teal Keep Art
  gfx/interface/great_projects/great_project_teal_keep.dds
  interface/great_project.gfx
Due: none

PR #7469 [Steam] Bugfixes
  common/government_reforms/02_government_reforms_republics.txt
  common/mercenary_companies/00_mercenaries.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  common/scripted_triggers/anb_scripted_triggers_settings.txt
  events/Flavour_Grombar_Z50.txt
  events/Flavour_LotDekkhang_Y58.txt
  events/HalessiSpirits.txt
  events/HarpyEvents.txt
  events/RepublicFactions.txt
  localisation/Flavour_Jaddari_F46_l_english.yml
  localisation/Flavour_Rahen_l_english.yml
  localisation/anb_diggy_diggy_hole_l_english.yml
  localisation/anb_magic_realm_l_english.yml
  localisation/anb_racial_l_english.yml
  map/positions.txt
  missions/Covenblad_Missions.txt
  missions/Lot_Dekkhang_Missions.txt
  missions/Obrtrol_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Fixing Heroic Kingdoms Starting Event
  common/event_modifiers/anb_rahen_modifiers.txt
  events/anb_heroic_realm.txt
  localisation/Flavour_Rahen_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Dragon Coast MT fixes for map updates
  events/Flavour_Reveria_A05.txt
  localisation/Flavour_Kobildzan_Z38_l_english.yml
  missions/Kobold_Missions.txt
  missions/Koboldildzan_Missions.txt
  missions/Nimscodd_Missions.txt
  missions/Reveria_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

balance fix for kobold traps
  common/event_modifiers/anb_theatre_of_attrition_modifiers.txt
Due: none

Taychend flavour events
  common/event_modifiers/taychendi_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/taychend_flavour_events.txt
  events/taychendi_events.txt
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

hmm fixes
  events/taychend_flavour_events.txt
  events/taychendi_events.txt
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

realized i calculated an ai_chance wrong
  events/Theatre_Of_Attrition.txt
Due: Events Encoding

oops i still calculated it wrong
  events/Theatre_Of_Attrition.txt
Due: Events Encoding

veykodirzag things
  common/event_modifiers/anb_ynn_worship.txt
  decisions/YnnDecisions.txt
  events/Flavour_Radavezyr_U21.txt
  localisation/anb_formable_countries_l_english.yml
  localisation/ynn_loc_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

fghd
  decisions/YnnDecisions.txt
Due: Decisions Encoding

also slight boon for people who get unruly Rzenta as brelar
  missions/Brelar_Missions.txt
Due: none

Dragon Coast bugfix
  map/positions.txt
Due: none

Dragon Coast Port Fix
  map/positions.txt
Due: none

Fixed the fact that Trap Masteries were accidentally stacking
  common/scripted_effects/anb_scripted_effects.txt
Due: none

Fix bug with Domandrod gates
  common/great_projects/anb_great_projects.txt
  map/adjacencies.csv
Due: none

Gave Salla Myna a teleporter so they aren't bricked.
  history/provinces/3049 - Vyr_Bor.txt
Due: none

Initial Wood Elf NIs 3.0
  common/ideas/anb_country_ideas.txt
Due: none

Covenblad bugfix
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Covenblad_Z37.txt
Due: Events Encoding

Don't mind me, Verne startup event isn't on steam lol
  events/Flavour_Verne_A33.txt
Due: Events Encoding

Arg ordstun mission rewards change
  missions/ArgOrdstun_Missions.txt
Due: none

Implementing Ucha'imauna
  common/country_tags/anb_countries.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding, Loc key collision check

Fixing a minor typo in the Lizard KingdomLocalization
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding, Loc key collision check

Fixing an implementation mistake for Ucha'imauna
  common/countries/Uchaimauna.txt
  decisions/KanoloweleFormables.txt
Due: Decisions Encoding
