Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Lex will change this instead
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

isobelin loc change
  localisation/Flavour_Isobelin_G91_l_english.yml
Due: Localization Encoding

Sunijalla Round 4
  events/Flavour_Lake_Splinters_JXX.txt
  localisation/Flavour_Sunijalla_J50_l_english.yml
  missions/Sunijalla_Missions.txt
Due: Events Encoding, Localization Encoding

Small fixes
  common/event_modifiers/anb_precursor_fragments_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Balrijin_Y85.txt
  events/ravelianism.txt
  localisation/anb_precursor_fragment_l_english.yml
Due: Events Encoding, Localization Encoding

ingrish
  localisation/anb_precursor_fragment_l_english.yml
Due: Localization Encoding

Irkorzik fixed
  common/government_reforms/03_government_reforms_theocracies.txt
  common/ideas/00_basic_ideas.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/Flavour_Irkorzik_F69_l_english.yml
Due: Localization Encoding

End of line fixes
  common/government_reforms/03_government_reforms_theocracies.txt
  common/ideas/00_basic_ideas.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

oopsie
  common/great_projects/anb_monuments_aelantir.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

ravenmarch mission fixes
  missions/Ravenmarch_Missions.txt
Due: none

migration patch
  common/event_modifiers/racial_event_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_effects/var_effect.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

:)
  common/great_projects/anb_monuments_aelantir.txt
Due: none

:))
  common/great_projects/anb_monuments_aelantir.txt
Due: none

mt fixes
  common/subject_types/00_subject_types.txt
  missions/SkeweredDrake_Missions.txt
Due: none

fix weird border
  map/area.txt
Due: none

misc
  common/custom_gui/countrydecisionsview.txt
  common/personal_deities/anb_cannorian_deities.txt
  common/religions/00_anb_religion.txt
  events/MagicArtificerySetup.txt
  gfx/interface/country_icon_religion.dds
  gfx/interface/disasters/kamrayakvals_war.dds
  gfx/interface/hindu_deities_strip.dds
  gfx/interface/icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
  interface/countryreligionview.gfx
  interface/countrystabilityview.gfx
  interface/countryview.gfx
  interface/ledger.gfx
  interface/provinceview.gfx
  localisation/anb_estates_l_english.yml
  localisation/anb_new_sun_cult_events_l_english.yml
  localisation/artifice_l_english.yml
  localisation/artifice_privileges_l_english.yml
Due: Events Encoding, Localization Encoding

And so it begins
  common/scripted_effects/anb_setup_effects.txt
  decisions/EastSarhalFormables.txt
  events/ReligiousReforms.txt
  history/countries/S33 - Red_Fanged_Gorilla.txt
  history/countries/S38 - Work_Doing_Hippo.txt
  history/countries/S41 - Prey_Finding_Leopard.txt
  history/countries/S42 - Friend_Helping_Parrot.txt
  history/countries/S43 - Violent_Hearted_Goose.txt
  localisation/anb_areas_l_english.yml
  localisation/anb_regions_l_english.yml
  map/region.txt
  map/superregion.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Auto stash before merge of "JayBean/new-master" and "Tanizu"
  events/Flavour_Irkorzik_F69.txt
  missions/Irkorzik_Missions.txt
Due: Events Encoding

Auto stash before merge of "Tanizu" and "JayBean/new-master"
  history/provinces/5618 - Sakuibiryo.txt
  history/provinces/5619 - Aryoshuru.txt
  history/provinces/5620 - Umuramombe.txt
  history/provinces/5621 - Furkis.txt
  history/provinces/5622 - Gyumtihini.txt
  history/provinces/5623 - Bimbitsekombe.txt
  history/provinces/5624 - Amafisumaz.txt
  history/provinces/5625 - Kezashokulosa.txt
  history/provinces/5626 - Nyekvitamahi.txt
  history/provinces/5627 - Gitoshyaba.txt
  history/provinces/5628 - Kuraru.txt
  history/provinces/5629 - Mbaroacuri.txt
  history/provinces/5630 - Umuyakombe.txt
  history/provinces/5631 - Cyamutaka.txt
  history/provinces/5632 - Kingikera.txt
  history/provinces/5633 - Inyaswauru.txt
  history/provinces/5634 - Uguduruware.txt
  history/provinces/5635 - Komerumun.txt
  history/provinces/5636 - Datakh.txt
  history/provinces/5637 - Rom_ra_God.txt
  history/provinces/5638 - Duksnash.txt
  history/provinces/5639 - Adora_Shwara.txt
  history/provinces/5640 - Gylizir.txt
  history/provinces/5641 - Izubabuye.txt
  history/provinces/5642 - Akayarakh.txt
  history/provinces/5643 - Gylgyra.txt
  history/provinces/5644 - Umodubunza.txt
  history/provinces/5645 - Yusazas.txt
  history/provinces/5647 - Tochtek.txt
  history/provinces/5659 - Igitikombe.txt
  history/provinces/5660 - Byimbahuru.txt
  history/provinces/5661 - Muramuru.txt
  history/provinces/5662 - Igicucu.txt
  history/provinces/5663 - Yundotuba.txt
  history/provinces/5670 - Guziba.txt
Due: none

More dev
  history/provinces/5620 - Umuramombe.txt
  history/provinces/5626 - Nyekvitamahi.txt
  history/provinces/5627 - Gitoshyaba.txt
  history/provinces/5628 - Kuraru.txt
  history/provinces/5629 - Mbaroacuri.txt
  history/provinces/5631 - Cyamutaka.txt
  history/provinces/5632 - Kingikera.txt
  history/provinces/5635 - Komerumun.txt
  history/provinces/5637 - Rom_ra_God.txt
  history/provinces/5638 - Duksnash.txt
  history/provinces/5641 - Izubabuye.txt
  history/provinces/5642 - Akayarakh.txt
  history/provinces/5643 - Gylgyra.txt
  history/provinces/5659 - Igitikombe.txt
  history/provinces/5662 - Igicucu.txt
  history/provinces/5663 - Yundotuba.txt
  history/provinces/5670 - Guziba.txt
Due: none

no more infinite lich reviving + election
  events/Flavour_EduzVacyn_F31.txt
Due: Events Encoding

gubfix
  map/area.txt
Due: none

enc fix
  events/Flavour_Irkorzik_F69.txt
  missions/Irkorzik_Missions.txt
Due: Events Encoding

HP Kill the poor event
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/HighPhilosophy.txt
  localisation/high_philosophy_l_english.yml
Due: Events Encoding, Localization Encoding

small rebel size change fix
  events/Flavour_ArgOrdstun_H76.txt
Due: Events Encoding

LakeFed Splinter on Nation Select
  dlc_metadata/dlc_info/00_dlc_info.txt
  dlc_metadata/dlc_recommendations/06_spawnable.txt
  localisation/anb_bookmarks_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

10x your manpower with shady gas station pills
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_effects/var_effect.txt
  events/Flavour_ArgOrdstun_H76.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  localisation/anb_racial_l_english.yml
Due: Events Encoding, Localization Encoding

[steam] karashar fixes- made its vassal's racisters
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_harpy.txt
  localisation/Flavour_Karashar_Z57_l_english.yml
  missions/Karashar_Missions.txt
  missions/Landshark_Missions.txt
Due: Events Encoding, Localization Encoding

Western Castanor -> West Castanor
  localisation/Flavour_BlackDemesne_Z99_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding

karashar v2
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_harpy.txt
  localisation/Flavour_Karashar_Z57_l_english.yml
Due: Events Encoding, Localization Encoding

Keep unlocked Luciande stuff after forming another country
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  decisions/LuciandeDecisions.txt
Due: Decisions Encoding

Require adm 3 to build mage towers
  events/estate_mages.txt
Due: Events Encoding

Added dynamic rewards for completing missions
  common/scripted_effects/anb_scripted_effects_boek.txt
  common/scripted_triggers/anb_scripted_triggers_boek.txt
  events/Flavour_Dotimist.txt
  localisation/Flavour_Dotimist_l_english.yml
  missions/Dotimist_Generic_Missions.txt
  missions/Dotimist_Generic_Missions.txt.txt
Due: Events Encoding, Localization Encoding

Coloured hints
  localisation/Flavour_Dotimist_l_english.yml
Due: Localization Encoding

Removed bad tribal land
  history/provinces/734 - East_Gulletpeak.txt
Due: none

Few Viakkoc Tweaks
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Viakkoc_U07.txt
  localisation/Flavour_Viakkoc_U07_l_english.yml
  missions/Viakkoc_Missions.txt
Due: Events Encoding, Localization Encoding

I'm not very clever
  missions/Irkorzik_Missions.txt
Due: none

events
  events/Flavour_Viakkoc_U07.txt
Due: Events Encoding

Fungrum event loc fixes
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Localization Encoding

gathgob fix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Prey Finding Leopard ideas fix
  common/ideas/anb_country_ideas.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
