Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Lesnikpansvo and Adbraseloc ideasets
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

baashidi fixes
  decisions/EastSarhalFormables.txt
  history/countries/S16 - Uwakila Baashi.txt
  history/countries/S17 - Baddabi.txt
  history/countries/S18 - Beeragga.txt
  history/countries/S19 - Weggabiga.txt
  history/countries/S20 - Dadubakha.txt
  history/countries/S21 - Gawakhiza.txt
  history/countries/S22 - Hisraad.txt
  localisation/anb_decisions_l_english.yml
Due: Decisions Encoding, Localization Encoding

Asarta NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

More medasi events
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/MedasiEvents.txt
  localisation/medasi_l_english.yml
Due: Events Encoding, Localization Encoding

changes thekvrystana to Vijayanagar unit pack
  gfx/sprite_packs/Anbennar_sprites.txt
Due: none

Tropical wood modifier. Government start screen blurb.
  common/event_modifiers/anb_deepwoods_modifiers.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_on_actions.txt
  customizable_localization/00_start_screen.txt
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

.
  common/governments/00_governments.txt
Due: none

Medasi events actually happen now
  common/on_actions/00_on_actions.txt
Due: none

no more minor warlord buff
  common/event_modifiers/anb_sarhal_modifiers.txt
  decisions/EastSarhalFormables.txt
  history/countries/S30 - Death_Bringing_Cobra.txt
  history/countries/S31 - Umutukomye.txt
  history/countries/S32 - Gahigi.txt
  localisation/Group_Flavour_Dakinshi_l_english.yml
Due: Decisions Encoding, Localization Encoding

in accordance with new lore
  map/terrain.txt
Due: none

bugfixes
  common/cb_types/00_cb_types.txt
  common/peace_treaties/anb_centaur_subjugation.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/CentaurEvents.txt
  history/provinces/5023 - Oirghud.txt
Due: Events Encoding

integrated butuguzi into the warlord system
  common/peace_treaties/anb_unite_the_dakinshi.txt
Due: none

very tropical
  map/climate.txt
Due: none

boop
  localisation/Group_Flavour_Dakinshi_l_english.yml
Due: Localization Encoding

fix monument loc
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

Eduz Vacyn 3D model bug fix
  map/ambient_object.txt
Due: none

fix
  common/peace_treaties/anb_unite_the_dakinshi.txt
Due: none

.
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

edit
  decisions/EastSarhalFormables.txt
  localisation/Group_Flavour_Dakinshi_l_english.yml
Due: Decisions Encoding, Localization Encoding

rinta seekers isolationism
  common/isolationism/00_shinto.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_for_isolationism.txt
  history/countries/S16 - Uwakila Baashi.txt
  history/countries/S17 - Baddabi.txt
  history/countries/S18 - Beeragga.txt
  history/countries/S19 - Weggabiga.txt
  history/countries/S20 - Dadubakha.txt
  history/countries/S21 - Gawakhiza.txt
  history/countries/S22 - Hisraad.txt
  history/countries/S77 - Amiratsamo.txt
  history/countries/S78 - Maakhibkhii.txt
  history/countries/S79 - Umoji Baashidi.txt
  localisation/Group_Flavour_Baashidi_l_english.yml
Due: Localization Encoding

tweak cloves
  common/tradegoods/00_tradegoods.txt
Due: none

remove these
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

fix personalities
  common/ruler_personalities/00_core.txt
Due: none

reform fixes
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  events/Elections.txt
Due: Events Encoding

comments
  common/ruler_personalities/00_core.txt
Due: none

nerfd starting ruler general pips to 6 shock
  history/countries/S70 - Yezel Mora.txt
Due: none

Vizkaladr bobr
  common/countries/Vizkaladr.txt
  common/country_tags/anb_countries.txt
  common/ideas/anb_country_ideas.txt
  history/countries/U33 - Vizkaladr.txt
  history/provinces/1190 - Ynnkmanja.txt
  history/provinces/1192 - Prejvib.txt
  history/provinces/1193 - Sengha_Urthid.txt
  history/provinces/1758 - Gozhar_Urthid.txt
  history/provinces/1759 - Drozmalrevo.txt
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

various rending things
  common/event_modifiers/anb_spirit_modifiers.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/technology.txt
  events/HalessiSpirits.txt
  localisation/anb_institutions_l_english.yml
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

rending fixies
  common/scripted_effects/spirits_scripted_effects.txt
  events/HalessiSpirits.txt
Due: Events Encoding

startup event fix
  common/event_modifiers/anb_centaur_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/CentaurEvents.txt
  history/provinces/5151 - Godairuul.txt
  history/provinces/5162 - Agnechmeas.txt
Due: Events Encoding

Karshyr Loc Update & Kiohan Harpy Name Fixes
  common/countries/Daughters of the Hills.txt
  common/countries/Kiohalen.txt
  common/cultures/anb_cultures.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

stupid crash is DEAD
  history/countries/I76 - I76.txt
Due: none

1 event loc
  localisation/Flavour_mengi_l_english.yml
Due: Localization Encoding

One last Balance Patch for Chien Binhrung
  common/event_modifiers/anb_chienbinhrung_modifiers.txt
  common/government_reforms/06_government_reforms_common.txt
  decisions/ChienBinhrungDecisions.txt
  missions/ChienBinhrung_Missions.txt
Due: Decisions Encoding

parliament reform fix
  common/government_reforms/06_government_reforms_common.txt
Due: none

Lata NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

dadsadasdasdasdasda
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Rogier's Boyfriend
  history/advisors/Cannor.txt
Due: none

Nansalen advisors
  history/advisors/Harpy.txt
  history/countries/F80 - Nansalen.txt
Due: none

Typos
  localisation/anb_new_sun_cult_events_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
