Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

some placeholder loc wip
  localisation/effelai_bloom_l_english.yml
Due: Localization Encoding

stupid space
  common/cultures/anb_cultures.txt
Due: none

tributaries are back
  common/cb_types/00_cb_types.txt
  common/peace_treaties/anb_tributary.txt
  common/wargoal_types/00_wargoal_types.txt
  localisation/anb_misc_l_english.yml
Due: Localization Encoding

readd the tooltip but modify it
  localisation/EU4_l_english.yml
Due: Localization Encoding

no immortal xhaz + no convert demonster
  decisions/XhazobkultDecisions.txt
  events/MonstrousEvents.txt
  localisation/xhazobkult_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

nvm remove these
  common/peace_treaties/anb_tributary.txt
Due: none

whoops
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
Due: none

Ebbusubtu Golden Highway
  missions/Jaddari_Missions.txt
Due: none

Bulwari Temple Changes 1
  common/on_actions/00_on_actions.txt
  events/Flavour_EduzVacyn_F31.txt
Due: Events Encoding

attunement tiers and healing
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/effelai_bloom_scripted_effects.txt
  decisions/EffelaiBloomDecisions.txt
  events/EffelaiBloomEvents.txt
  localisation/effelai_bloom_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

khet mandate reform fixes
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/06_government_reforms_common.txt
Due: none

just incase
  common/government_reforms/06_government_reforms_common.txt
Due: none

ni stuff
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

loc fixes
  localisation/triggers_and_effects_l_english.yml
Due: Localization Encoding

merge fix
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

merg fix
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

second decision fix
  decisions/AdventurerFormables.txt
  decisions/AkanFormable.txt
  decisions/ArannenNation.txt
  decisions/DostanorNation.txt
  decisions/EsmariNation.txt
  decisions/FahvanosyDecisions.txt
  decisions/HalessiFormables.txt
  decisions/KoboldNation.txt
  decisions/OlavlundNation.txt
Due: Decisions Encoding

Eborthil loc fix
  localisation/Flavour_Eborthil_A47_l_english.yml
Due: Localization Encoding

G17 idea change(nerf)
  common/ideas/anb_country_ideas.txt
Due: none

Revrhavn Events Rework
  common/event_modifiers/anb_event_modifiers.txt
  events/Gerudia.txt
  localisation/anb_custom_tooltips_l_english.yml
  localisation/anb_events_l_english.yml
  localisation/anb_modifiers_l_english.yml
Due: Events Encoding, Localization Encoding

Unnecessary scripted effect, but hey, not it exists
  common/scripted_effects/01_scripted_effects_for_advisors.txt
Due: none

Fey court positive events
  common/event_modifiers/anb_event_modifiers.txt
  events/FeyCourtEvents.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

Kobold dragon cult loc fix
  localisation/Flavour_Kobold_Dragon_Cult_l_english.yml
Due: Localization Encoding

Fey court fixes
  events/FeyCourtEvents.txt
Due: Events Encoding

Fey court placeholder loc
  events/FeyCourtEvents.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

Adding positive fey court events to on_thri_yearly_pulse_2
  common/on_actions/00_on_actions.txt
Due: none

Changing to scripted effect for cleanliness
  common/scripted_effects/adventurers_spawnables.txt
  events/AdventurerFormables.txt
Due: Events Encoding

Nuugdan Fixes and Eunuchs tt
  common/on_actions/00_on_actions.txt
  events/Flavour_NuugdanTsarai_Y91.txt
  localisation/anb_decisions_l_english.yml
  missions/Nuugdan_Tsarai_Missions.txt
Due: Events Encoding, Localization Encoding

More scripted triggers
  common/scripted_effects/adventurers_spawnables.txt
  events/AdventurerFormables.txt
  events/ColonialCulture.txt
Due: Events Encoding

effelai system introduction and exit mechanics
  common/on_actions/00_on_actions.txt
  decisions/EffelaiBloomDecisions.txt
  events/EffelaiBloomEvents.txt
Due: Decisions Encoding, Events Encoding

Sectioning
  events/AdventurerFormables.txt
  events/ColonialCulture.txt
Due: Events Encoding

heal/burn decision performance optimization
  common/scripted_triggers/anb_scripted_triggers_effelai_bloom.txt
  decisions/EffelaiBloomDecisions.txt
Due: Decisions Encoding

added the gov reform whoops
  common/governments/00_governments.txt
Due: none

final nuugdan fix
  events/Flavour_NuugdanTsarai_Y91.txt
  localisation/Flavour_NuugdanTsarai_Y91_l_english.yml
Due: Events Encoding, Localization Encoding

initial setup
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Mulen_F50_l_english.yml
  missions/Mulen_Missions.txt
Due: Events Encoding, Localization Encoding

basic setup
  events/Flavour_Bosancovac_G33.txt
  localisation/Flavour_Bosancovac_G33_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Events Encoding, Localization Encoding

mandate fixes
  common/defines.lua
  common/on_actions/00_on_actions.txt
Due: none

aakhetist work
  common/church_aspects/anb_aakhetist_abilities.txt
  common/religions/00_anb_religion.txt
  events/Aakhetist.txt
  history/countries/F63 - Aramoole.txt
  history/countries/F70 - Mattabo.txt
  history/countries/U04 - Aakheta.txt
  history/provinces/464 - Hapkes.txt
  history/provinces/466 - Aakheta.txt
  history/provinces/467 - Puhuu.txt
  history/provinces/481 - Rasukes.txt
  history/provinces/482 - Ka-Akah.txt
  history/provinces/497 - Gomhitxanrit.txt
  history/provinces/498 - Miumud.txt
  history/provinces/499 - Bagsumosdat.txt
  history/provinces/505 - Wibnu_Waashesh.txt
  history/provinces/5488 - Kaskanrit.txt
  history/provinces/5489 - Mattabo.txt
  history/provinces/5666 - Tisawnwat_Tan.txt
  history/provinces/5693 - Berat_Sert.txt
  history/provinces/5867 - Saartraka.txt
  history/provinces/5870 - Aramoole.txt
  history/provinces/5887 - Tripalan.txt
  history/provinces/5889 - Tanibarr.txt
  history/provinces/5917 - Attatanakis.txt
  history/provinces/6090 - Hapmosdet.txt
  localisation/anb_aakhetist_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

why tf did this not save
  common/on_actions/00_on_actions.txt
Due: none

Xhaz small nerf + loca change
  decisions/XhazobkultDecisions.txt
  events/XhazobkultEvents.txt
  localisation/xhazobkult_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
