Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

forgot hiden trigger
  decisions/SeghdihrDecisions.txt
Due: Decisions Encoding

forgot =
  decisions/PirateGovernment.txt
Due: Decisions Encoding

forgot to PR these oof
  missions/Crathanor_Missions.txt
Due: none

Ynnics Ancient Forests
  map/terrain.txt
Due: none

Profiler and data collection stuff
  common/scripted_effects/profiler_data_scripted_effects.txt
  events/ProfilerDataEvents.txt
Due: Events Encoding

Arg-Ordstun mechanics and Roughness events
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_mechanics/anb_argordstun_roughness.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
Due: Events Encoding, Localization Encoding

Narai is not a lich
  common/event_modifiers/anb_thangoya_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Flavour_Thirabnir_Y59.txt
  history/countries/Y59 - Thirabnir.txt
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
Due: Events Encoding

Azjakuma mission requirements fix
  localisation/Flavour_Azjakuma_Y01_l_english.yml
  missions/Azjakuma_Missions.txt
Due: Localization Encoding

loc gubfix
  events/HalessiSpirits.txt
  localisation/Flavour_NuugdanTsarai_Y91_l_english.yml
  localisation/Flavour_Zongji_Y25_l_english.yml
Due: Events Encoding, Localization Encoding

Lo Ngoen attempt no.4
  events/Flavour_Khao_Elnak_Y62.txt
  events/Flavour_Lo_Ngoen_Y60.txt
  events/Flavour_Thangoya_Z62.txt
  history/countries/Y59 - Thirabnir.txt
  localisation/Flavour_Thirabnir_Y59_l_english.yml
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
Due: Events Encoding, Localization Encoding

Lencenor Terrain Rework
  localisation/anb_modifiers_l_english.yml
  map/terrain.txt
Due: Localization Encoding

Lencenor Terrain Changes
  map/terrain.txt
Due: none

Lencenor pls for the love of Adean
  map/terrain.txt
Due: none

Codification shit
  localisation/anb_modifiers_l_english.yml
Due: Localization Encoding

Perf fix
  decisions/XhurekalFormable.txt
Due: Decisions Encoding

Pls Adean bless your poor daughter with your help
  map/terrain.txt
Due: none

bye bye type = random
  common/on_actions/00_on_actions.txt
  missions/Deyeion_Missions.txt
Due: none

The Legacy of Lord Narai
  common/on_actions/00_on_actions.txt
  events/Flavour_Thirabnir_Y59.txt
  localisation/Flavour_Thirabnir_Y59_l_english.yml
Due: Events Encoding, Localization Encoding

Revert "Lizard and Sikai history"
  history/provinces/4787 - Lektonmai.txt
  history/provinces/4790 - Vai_Ma.txt
  history/provinces/5425 - Phaksanam.txt
  history/provinces/5918 - Etaskasut.txt
  history/provinces/5920 - Shelaksukh.txt
  history/provinces/5921 - Zerat.txt
  history/provinces/5922 - Noor_Tressik.txt
  history/provinces/5924 - Sutnasaak.txt
  history/provinces/5927 - Tsusakhz.txt
  history/provinces/5932 - Lasadzanazh.txt
  history/provinces/5964 - Nazhadza.txt
  history/provinces/5965 - Khogadash.txt
  history/provinces/5967 - Sharitsara.txt
  history/provinces/5968 - Taskasha.txt
  history/provinces/5976 - Karashan.txt
  history/provinces/5977 - Kagyan.txt
  history/provinces/5978 - Ra_Terrissk.txt
  history/provinces/5980 - Khazyn.txt
  history/provinces/6024 - Asparimu.txt
  history/wars/RayazZeratWar.txt
Due: none

I have almost forgorren
  localisation/Flavour_Thirabnir_Y59_l_english.yml
Due: Localization Encoding

Parura MT fixes
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/EffelaiWorshipEvents.txt
  localisation/effelai_worship_l_english.yml
  missions/Effelai_Missions.txt
Due: Events Encoding, Localization Encoding

probably fixed stuff for deepwoods
  events/DeepwoodsVegan.txt
Due: Events Encoding

.
  map/terrain.txt
Due: none

CRLF thing
  map/terrain.txt
Due: none

I'm tired
  map/terrain.txt
Due: none

LF
  map/terrain.txt
Due: none

New LF try
  map/terrain.txt
Due: none

Revert "New LF try"
  map/terrain.txt
Due: none

All or nothing
  map/terrain.txt
Due: none

Moved Lencenor to the Bulwar Superregion
  map/terrain.txt
Due: none

Flavour Bulwar Event 118
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

Event Added to Pulse
  common/on_actions/00_on_actions.txt
Due: none

Event Loc Fix
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

empkeios fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Empkeios_G53.txt
Due: Events Encoding

12312
  common/on_actions/00_on_actions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
