Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

more spirit stuff
  common/scripted_effects/spirits_scripted_effects.txt
  common/state_edicts/spirit_hunters_edict.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

hey bella how you doing loca?
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

fdghsdfhs
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

gubfixes
  common/colonial_regions/00_colonial_regions.txt
  events/Gerudia.txt
  events/MonstrousEvents.txt
  history/countries/R11 - Khadisrapur.txt
  history/countries/S61 - Ibekisedara.txt
  localisation/Flavour_Kaino_L49_l_english.yml
  localisation/Group_Flavour_Lizardfolk_l_english.yml
  localisation/anb_colonial_regions_l_english.yml
  localisation/anb_cultures_l_english.yml
  localisation/anb_events_religion_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/effelai_worship_l_english.yml
  missions/Mountainshark_Missions.txt
Due: Events Encoding, Localization Encoding

s
  events/HalessiSpirits.txt
Due: Events Encoding

lakefed custom loc removal
  customizable_localization/anb_custom_loca_lake_federation_tooltip.txt
Due: none

gerudia error fixes
  events/Gerudia.txt
Due: Events Encoding

xhaz decision fix
  decisions/XhazobkultDecisions.txt
Due: Decisions Encoding

Reuyel conversion fix
  missions/Reuyel_Missions.txt
Due: none

Harpylen
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
  common/on_actions/00_on_actions.txt
  common/rebel_types/pretender.txt
  decisions/HarpylenFormable.txt
  events/ConsortEvents.txt
  events/CultureandReligionEvents.txt
  events/Dynastic.txt
  events/Flavour_Mulen_F50.txt
  events/HarpyEvents.txt
  localisation/Group_Flavour_Harpies_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

MORE GUBFIXES
  common/state_edicts/wondrous_oven_edict.txt
  decisions/XhazobkultDecisions.txt
  events/Flavour_Bianfang_Y09.txt
  events/Flavour_NuugdanTsarai_Y91.txt
  events/XhazobkultEvents.txt
  missions/Eltikan_Missions.txt
Due: Decisions Encoding, Events Encoding

spirits
  common/event_modifiers/anb_spirit_modifiers.txt
  events/HalessiSpirits.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Skill issue
  events/AdventurerFormables.txt
Due: Events Encoding

Azka Sur incident loc
  localisation/Flavour_AzkaSur_U20_l_english.yml
Due: Localization Encoding

seinathil mission adapted to new magic study
  common/ruler_personalities/00_core.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  events/MagicStudy.txt
  localisation/Flavour_Seinathil_A90_l_english.yml
  missions/Seinathil_Missions.txt
Due: Events Encoding, Localization Encoding

revert one
  common/ruler_personalities/00_core.txt
Due: none

fixing more stuff
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
  events/EffelaiBloomEvents.txt
  interface/anb_eventpictures.gfx
Due: Events Encoding

history file for formable
  history/countries/G20 - Araya.txt
Due: none

no double blooming
  events/EffelaiBloomEvents.txt
Due: Events Encoding

why is this hill gnoll
  common/countries/Brrtekuh.txt
Due: none

Vresraak
  common/countries/Vresraak.txt
  common/country_colors/anb_country_colors.txt
  common/country_tags/anb_countries.txt
  common/cultures/anb_cultures.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_HillGnolls.txt
  events/Flavour_Honderaak.txt
  localisation/anb_countries_l_english.yml
Due: Events Encoding, Localization Encoding

Gnoll nerfs
  common/government_reforms/04_government_reforms_tribes.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/static_modifiers/00_static_modifiers.txt
  localisation/cossacks_l_english.yml
Due: Localization Encoding

isobelin gov reform
  common/government_reforms/02_government_reforms_republics.txt
Due: none

isobelin on_actions
  common/on_actions/00_on_actions.txt
Due: none

isobelin scripted effect - increase minority size if present
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

Azka-sur incident loc
  localisation/Flavour_AzkaSur_U20_l_english.yml
Due: Localization Encoding

isobelin events
  events/Flavour_Isobelin_G91.txt
Due: Events Encoding

trigger isobelin event - refugees from witch king
  events/WitchKing.txt
Due: Events Encoding

added tool tip for isobelin scripted effects
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

isobelin mt
  missions/Isobelin_Missions.txt
Due: none

isobelin loc
  localisation/Flavour_Isobelin_G91_l_english.yml
Due: Localization Encoding

Xanzerbexis
  common/countries/Xanzerbexis.txt
  common/country_colors/anb_country_colors.txt
  common/country_tags/anb_countries.txt
  common/cultures/anb_cultures.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_HillGnolls.txt
  events/Flavour_Honderaak.txt
  localisation/anb_countries_l_english.yml
Due: Events Encoding, Localization Encoding

these too
  common/on_actions/00_on_actions.txt
  events/Flavour_Xanzerbexis.txt
  history/countries/A49 - Xanzerbexis.txt
Due: Events Encoding

Jaherian estatute fix
  common/estate_privileges/anb_privileges.txt
Due: none

most mission icons
  localisation/Flavour_Bosancovac_G33_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Localization Encoding

Forgotten triggered mods replacements
  common/event_modifiers/anb_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/triggered_modifiers/00_triggered_modifiers.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
