Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

nudge fix
  map/positions.txt
Due: none

missed some houses
  map/positions.txt
Due: none

Switching
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Mire Maw MT LOC & Religious mechs
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  events/Flavour_MireMaw_J32.txt
  localisation/Flavour_MireMaw_J32_l_english.yml
  localisation/anb_ogre_flavor_l_english.yml
  missions/MireMaw_Missions.txt
Due: Events Encoding, Localization Encoding

Kingsrock + Buddha statues
  map/ambient_object.txt
  map/positions.txt
Due: none

magocracy fix
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

[Steam]splat
  events/Corinite.txt
  events/YnnBuycevEvents.txt
  missions/Khugdihr_Missions.txt
Due: Events Encoding

Command estates Court Ideas fix
  common/estate_privileges/estate_boar_command_privileges.txt
  common/estate_privileges/estate_dragon_command_privileges.txt
  common/estate_privileges/estate_elephant_command_privileges.txt
  common/estate_privileges/estate_gerunanin_privileges.txt
  common/estate_privileges/estate_lion_command_privileges.txt
  common/estate_privileges/estate_tiger_command_privileges.txt
  common/estate_privileges/estate_wolf_command_privileges.txt
Due: none

:OH_GERD:
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/religions/00_anb_religion.txt
  missions/MireMaw_Missions.txt
Due: none

[steam]typo
  localisation/anb_age_of_unraveling_l_english.yml
Due: Localization Encoding

:obrtroll:
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
Due: none

Lake Splinter Mission Fix?
  decisions/LakeFederationStandingCohesion.txt
  events/LakeFederationEvents.txt
  missions/LakeFederation_Missions.txt
  missions/Zabutodask_Missions.txt
Due: Decisions Encoding, Events Encoding

Taychend fix
  events/taychendi_events.txt
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding

LF Splinter Flag
  gfx/flags/J52.tga
Due: none

gelkalis magic-artificery split adaptation
  missions/Gelkalis_Missions.txt
Due: none

and or error
  missions/Gelkalis_Missions.txt
Due: none

coronite
  common/estates/99_artificers.txt
  common/holy_orders/anb_holy_orders.txt
  gfx/interface/country_icon_religion.dds
  gfx/interface/holy_orders/Corinite_Adm_Order.dds
  gfx/interface/holy_orders/Corinite_Dip_Order.dds
  gfx/interface/holy_orders/Corinite_Mil_Order.dds
  gfx/interface/icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
  interface/holy_orders_view.gfx
  localisation/EU4_l_english.yml
Due: Localization Encoding

compression fixes
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
Due: none

hm
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
Due: none

hmm?!
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
Due: none

Revert "hmm?!"
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
Due: none

Revert "hm"
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
Due: none

Revert "compression fixes"
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
Due: none

don't touch mod file
  .gitignore
  Anbennar-PublicFork.mod
Due: none

[Steam] Taychend Fixes
  common/cb_types/anb_cb_taychend.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/peace_treaties/anb_taychend_humiliate.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Royakottar Fixes
  events/Flavour_Royakottar_G67.txt
  localisation/Flavour_Royakottar_G67_l_english.yml
  missions/Royakottar_Missions.txt
Due: Events Encoding, Localization Encoding

Kalib Girlboss
  common/ideas/anb_country_ideas.txt
Due: none

zamp
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Fix Ravelian State propagate religion trade power % requirement
  common/trading_policies/00_trading_policies.txt
Due: none

Empkeios MT quick fixes
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

new branch
  .gitignore
Due: none

Minor fix
  decisions/AdventurerFormables.txt
Due: Decisions Encoding

Dwarovar species events
  common/event_modifiers/anb_dwarovar_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/DiggyDiggyHoleEvents.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Events Encoding, Localization Encoding

species events bugfix
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

Azkare uncolonized province mission fix
  missions/Azkare_Missions.txt
Due: none

Zombie and Orcs rebels loc fix
  localisation/anb_adventurers_wanted_l_english.yml
Due: Localization Encoding

Vyzemby flavour events
  events/Flavour_Vyzemby.txt
  localisation/anb_vyzemby_l_english.yml
Due: Events Encoding, Localization Encoding

Flavour events part two
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
Due: none

More fixes (Yezel Mora and Adventurers)
  decisions/AdventurerFormables.txt
  history/countries/S70 - Yezel Mora.txt
Due: Decisions Encoding
