Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

oops forgot to push
  common/estate_privileges/estate_artifice_privileges.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
Due: none

fghf
  localisation/artifice_l_english.yml
Due: Localization Encoding

PR #6387 Typo fixes
  localisation/Flavour_Allclan_I98_l_english.yml
  localisation/Flavour_TheCommand_R62_l_english.yml
  localisation/anb_diggy_diggy_hole_encounters_l_english.yml
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

Arg-Ordstun progress
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun.txt
Due: Events Encoding, Localization Encoding

Flung Head NIs + QoL Change to Slave Leader Trade Bonus
  common/ideas/anb_country_ideas.txt
  common/tradegoods/00_tradegoods.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

add back in zhavekal ni loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

trigger fix
  common/on_actions/00_on_actions.txt
Due: none

killed the malus, too many edge cases lol
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
Due: none

ai is silly
  decisions/EffelaiBloomDecisions.txt
Due: Decisions Encoding

dad
  events/Kheterata_Civil_War.txt
Due: Events Encoding

Vyzemby Flavour Generic Nakavy Avo Events w/loc
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Vyzemby.txt
  localisation/Flavour_Vyzemby_l_english.yml
Due: Events Encoding, Localization Encoding

encoding
  events/Flavour_Cestirmark_H33.txt
Due: Events Encoding

fixes
  events/Flavour_Mulen_F50.txt
  missions/Blademarches_Missions.txt
  missions/Mulen_Missions.txt
Due: Events Encoding

Vyzemby Flavour Generic Nakavy Avo Events w/locFix
  localisation/Flavour_Vyzemby_l_english.yml
Due: Localization Encoding

Spell Karassk correctly ya numbnuts
  common/countries/Qabiika_Weggabiga.txt
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
  localisation/Group_Flavour_Lizardfolk_l_english.yml
  localisation/anb_great_projects_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_units_l_english.yml
  localisation/prov_names_l_english.yml
  map/adjacencies.csv
  map/positions.txt
Due: Localization Encoding

Tanizu lizards have their ideas again
  common/ideas/anb_group_ideas.txt
Due: none

Sarhal event fixes
  events/Flavour_Vyzemby.txt
  events/Group_Flavour_Lizardfolk.txt
Due: Events Encoding

Misharallen Ideas and Loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Saddleglade Releasable
  common/countries/Saddleglade.txt
  common/country_tags/anb_countries.txt
  common/ideas/anb_country_ideas.txt
  gfx/flags/B77.tga
  history/countries/B77 - Saddleglade.txt
  history/provinces/96 - Enteben.txt
  history/provinces/98 - Saddleglade.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Nudge
  map/positions.txt
Due: none

quick fix
  events/MagicRuler.txt
Due: Events Encoding

e
  events/Ruler.txt
Due: Events Encoding

Fixing Encoding
  common/country_tags/anb_countries.txt
Due: none

Okman suggestion
  common/custom_gui/countrydecisionsview.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
Due: none

Arg-Ordstun first part finished
  common/event_modifiers/anb_mission_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun.txt
Due: Events Encoding, Localization Encoding

Arg-Ordstun missing event
  missions/ArgOrdstun.txt
Due: none

Arg-Ordstun fixes
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun.txt
Due: Localization Encoding

Arg-Ordstun setup
  common/estates/03_burghers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_ArgOrdstun_H76.txt
Due: Events Encoding

Yet antoher fix
  common/ideas/anb_country_ideas.txt
Due: none

Arg-Ordstun names
  events/Flavour_ArgOrdstun_H76.txt
  missions/ArgOrdstun.txt
Due: Events Encoding

removing duplicate natives that don't exist
  common/natives/00_natives.txt
Due: none

Zansap mission nows allow republican tradition/devotion and more
  missions/Zansap_Missions.txt
Due: none

Arg-Ordstun first section fixes
  missions/ArgOrdstun.txt
Due: none

Arg-Ordstun first section more fixes
  missions/ArgOrdstun.txt
Due: none

perf buff
  decisions/BrelarDecisions.txt
Due: Decisions Encoding

Encoding
  common/country_tags/anb_countries.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
