Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

line endings
  common/governments/00_governments.txt
Due: none

Xhurekal
  decisions/XhurekalFormable.txt
Due: Decisions Encoding

Flagger
  gfx/flags/F56.tga
  gfx/flags/F77.tga
Due: none

v3 changes (no bugs)
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/CentaurDecisions.txt
  events/Flavour_Aelnar_Z43.txt
  events/Flavour_Dartaxagerdim_F22.txt
  events/Flavour_Luciande_B34.txt
  events/Flavour_Seghdihr_H78.txt
  events/GenericTolerance.txt
  events/anb_racial_pop_calculations.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  events/anb_racial_pop_misc.txt
  events/migration_force_settle_workaround.txt
  localisation/anb_racial_events_l_english.yml
  localisation/domination_additional_content_l_english.yml
  missions/Cestirmark_Missions.txt
  missions/Eordand_Missions.txt
  missions/Ovdal_Lodhum_Missions.txt
  missions/Reveria_Missions.txt
  missions/Seghdihr_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

modifier number adjustment
  common/event_modifiers/racial_event_modifiers.txt
Due: none

organise merc file and sprite groups for Aelantir mercs
  common/mercenary_companies/00_mercenaries.txt
Due: none

siadan change fix?
  events/Flavour_Siadan_F48.txt
Due: Events Encoding

hide limit modifier
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none

Fangaulan not Fangaula
  localisation/anb_countries_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding

Zealot files
  common/rebel_types/black_doctrine.txt
  common/rebel_types/eagle_worship.txt
  common/rebel_types/gods_of_the_taychend_reformed.txt
  common/rebel_types/irdaeos_worship.txt
  common/rebel_types/levaajan.txt
  common/rebel_types/nur_dahvaraesa.txt
  common/rebel_types/rioqay_diu.txt
  common/rebel_types/sudomegi.txt
  common/rebel_types/umun_omi.txt
  common/rebel_types/un_khudai.txt
  common/rebel_types/yudunyovi.txt
Due: none

Zealot Loc
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Zealot flags part one
  gfx/flags/ashentree_pact_rebels.tga
  gfx/flags/autumn_court_rebels.tga
  gfx/flags/bangujonsi_rebels.tga
  gfx/flags/black_doctrine_rebels.tga
  gfx/flags/bulgu_orazan_rebels.tga
  gfx/flags/dai_nadeilhil_rebels.tga
  gfx/flags/dalcabba_rebels.tga
  gfx/flags/death_cult_of_cheshosh_rebels.tga
  gfx/flags/dotimism_rebels.tga
  gfx/flags/drozma_tur_rebels.tga
  gfx/flags/eagle_worship_rebels.tga
  gfx/flags/enuuk_followers_rebels.tga
  gfx/flags/eordellon_rebels.tga
  gfx/flags/eotomolaque_rebels.tga
  gfx/flags/etchings_of_the_deep_rebels.tga
  gfx/flags/feast_of_the_gods_rebels.tga
  gfx/flags/goblinic_shamanism_rebels.tga
  gfx/flags/gods_of_the_taychend_rebels.tga
  gfx/flags/gods_of_the_taychend_reformed_rebels.tga
  gfx/flags/infernal_court_rebels.tga
Due: none

Zealot flags part two
  gfx/flags/irdaeos_worship_rebels.tga
  gfx/flags/kalun_masks_rebels.tga
  gfx/flags/kalyin_worshippers_rebels.tga
  gfx/flags/kheionism_rebels.tga
  gfx/flags/kodave_followers_rebels.tga
  gfx/flags/kukatodic_religion_rebels.tga
  gfx/flags/leechfather_rebels.tga
  gfx/flags/leechmen_rebels.tga
  gfx/flags/lefthand_path_rebels.tga
  gfx/flags/levaajan_rebels.tga
  gfx/flags/mountain_watchers_rebels.tga
  gfx/flags/night_coven_reformed_rebels.tga
  gfx/flags/nur_dahvaraesa_rebels.tga
  gfx/flags/orwaii_rebels.tga
  gfx/flags/pactseeker_rebels.tga
  gfx/flags/raeldaeriach_rebels.tga
Due: none

Zest of Zealots
  gfx/flags/righteous_path_rebels.tga
  gfx/flags/rune_scribes_rebels.tga
  gfx/flags/saanorgegh_rebels.tga
  gfx/flags/shadow_pact_rebels.tga
  gfx/flags/skincarvers_rebels.tga
  gfx/flags/sky_domain_rebels.tga
  gfx/flags/spring_court_rebels.tga
  gfx/flags/sudomegi_rebels.tga
  gfx/flags/suhan_praxis_rebels.tga
  gfx/flags/summer_court_rebels.tga
  gfx/flags/tswohvwohii_rebels.tga
  gfx/flags/umun_omi_rebels.tga
  gfx/flags/un_khudai_rebels.tga
  gfx/flags/vechnogejzn_rebels.tga
  gfx/flags/weeping_mother_rebels.tga
  gfx/flags/winter_court_rebels.tga
  gfx/flags/ynn_river_reformed_rebels.tga
  gfx/flags/ynn_river_worship_rebels.tga
  gfx/flags/yudunyovi_rebels.tga
  gfx/flags/yukel_followers_rebels.tga
  gfx/interface/ideas_EU4/discipline_efficiency.dds
Due: none

more merc fixes
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
Due: none

Fixed Dwarovar merc sprites
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
Due: none

One more dwarovar merc fix
  common/mercenary_companies/00_mercenaries.txt
Due: none

No Western Sprites
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
Due: none

Taychend rebles ruler lv fix
  common/rebel_types/gods_of_the_tachyend.txt
Due: none

Taychend rebels ruler lv fix
  common/rebel_types/gods_of_the_tachyend.txt
Due: none

Oinukhudi commit
  common/cb_types/anb_cb_oinukhudi.txt
  common/countries/Rabaghekhur.txt
  common/cultures/anb_cultures.txt
  common/disasters/oinukhudi_civil_war.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/event_modifiers/anb_gozengun_modifiers.txt
  common/government_names/00_anbennar_government_names.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/technology.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Flavour_Oinukhudi_V01.txt
  events/Ruler.txt
  gfx/interface/disasters/oinukhudi_civil_war.dds
  gfx/interface/tech_group_strip.dds
  history/countries/V01 - Oinukhudi.txt
  history/countries/V02 - Dolontuglin.txt
  history/countries/V03 - Khezkhagak.txt
  history/countries/V04 - Hakuukulga.txt
  history/countries/V05 - Cangji.txt
  history/countries/V16 - Samisalik Bolki.txt
  history/provinces/5338 - Bhalooxi.txt
  history/provinces/5375 - Tolcuug.txt
  history/provinces/5382 - Huujoolgin.txt
  history/provinces/6805 - NHaless22.txt
  history/provinces/6806 - NHaless21.txt
  history/provinces/6812 - Breaking Grounds.txt
  history/provinces/6813 - Clockwork Graveyard.txt
  history/provinces/6830 - Cursed Wastes.txt
  history/provinces/6842 - Death Valley.txt
  interface/countrycourtview.gfx
  interface/countrygovernmentview.gfx
  interface/countrystabilityview.gfx
  localisation/Flavour_Oinukhudi_V01_l_english.yml
  localisation/anb_institutions_l_english.yml
  localisation/prov_names_l_english.yml
Due: Events Encoding, Localization Encoding

opinion bugfix
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  decisions/CentaurDecisions.txt
  events/Flavour_Aelnar_Z43.txt
  localisation/anb_racial_events_l_english.yml
  missions/Eordand_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

mission capacity increases
  missions/Elikhand_Missions.txt
  missions/Eordand_Missions.txt
Due: none

saving lichdom personalities when revived.
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  events/MagicProjectLichdom.txt
Due: Events Encoding

typo
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

flip checks in tolerance events and check admin rather than cultures for speed
  events/ToleranceCentaur.txt
  events/ToleranceDwarven.txt
  events/ToleranceElven.txt
  events/ToleranceGnoll.txt
  events/ToleranceGnomish.txt
  events/ToleranceGoblin.txt
  events/ToleranceHalfElven.txt
  events/ToleranceHalfOrc.txt
  events/ToleranceHalfling.txt
  events/ToleranceHarimari.txt
  events/ToleranceHarpy.txt
  events/ToleranceHobgoblin.txt
  events/ToleranceHuman.txt
  events/ToleranceKobolds.txt
  events/ToleranceLizardfolk.txt
  events/ToleranceOgre.txt
  events/ToleranceOrcs.txt
  events/ToleranceRuinborn.txt
  events/ToleranceTroll.txt
Due: Events Encoding

last change for centaurs
  events/CentaurEvents.txt
Due: Events Encoding

swap AI pop menu to use fast pop checks
  events/anb_racial_pop_misc.txt
Due: Events Encoding

modify MTTH purge/expel events to use fast pop triggers
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
Due: Events Encoding

loc fixes
  localisation/anb_racial_events_l_english.yml
Due: Localization Encoding

fix
  history/provinces/615 - Danas_Naza.txt
Due: none

Moar Flags
  gfx/flags/F26.tga
  gfx/flags/F76.tga
Due: none

ideas modifier fixes
  common/ideas/anb_country_ideas.txt
Due: none

fgh
  events/AnbennarSetup.txt
Due: Events Encoding

Haless merc sprites
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
Due: none

Bulwar sprites
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
Due: none

more stuff
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Vels_Bacar_G84.txt
  localisation/Flavour_VelsBacar_l_english.yml
  missions/VelsBacar_Missions.txt
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
