Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

oopsie poopsie
  localisation/personalityoptions_l_english.yml
Due: Localization Encoding

flags
  gfx/flags/J88.tga
  gfx/flags/J89.tga
  gfx/flags/J91.tga
  gfx/flags/V07.tga
  gfx/flags/V08.tga
Due: none

Menek Poko ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Changed Bonecarver ruler stats.
  history/countries/B27 - Bonecarver Clan.txt
Due: none

First Test
  common/event_modifiers/anb_vyzemby_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Vyzemby.txt
Due: Events Encoding

Test 2
  events/Flavour_Vyzemby.txt
Due: Events Encoding

Last Ethanamara loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

MT Empkeios
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Empkeios_G53.txt
  localisation/Flavour_Empkeios_G53_l_english.yml
  missions/Empkeios_missions.txt
Due: Events Encoding, Localization Encoding

sarnik
  common/cultures/anb_cultures.txt
  localisation/anb_cultures_l_english.yml
Due: Localization Encoding

my encoding yeeted itself so I'm redoing this
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

Full Mire Maw MT in one commit : ^ )
  common/cb_types/00_cb_types.txt
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/event_modifiers/anb_ogre_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/DiggyDiggyHole.txt
  decisions/MireMawDecisions.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_MireMaw_J32.txt
  history/countries/J32 - Mire Maw.txt
  localisation/Flavour_MireMaw_J32_l_english.yml
  localisation/Flavour_Ogre_l_english.yml
  localisation/anb_diggy_diggy_hole_l_english.yml
  missions/MireMaw_Missions.txt
  missions/Shrakk_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

favors for Iosahar in case this wasn't a defined thing
  common/subject_types/00_subject_types.txt
Due: none

stuff talked about during call
  common/estate_privileges/estate_artifice_privileges.txt
  common/event_modifiers/artifice_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/ArtificeResearch.txt
Due: Events Encoding

Event 16
  common/event_modifiers/anb_vyzemby_modifiers.txt
  events/Flavour_Vyzemby.txt
Due: Events Encoding

Event name changes
  common/cb_types/00_cb_types.txt
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  decisions/MireMawDecisions.txt
  events/Flavour_MireMaw_J32.txt
  localisation/Flavour_MireMaw_J32_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

ynnic estate names v1
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/estates/98_adventurers.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

loc fix
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Localization Encoding

add ravelian ban removing province modifiers
  common/on_actions/00_on_actions.txt
  events/ravelianism.txt
  localisation/anb_events_religion_l_english.yml
Due: Events Encoding, Localization Encoding

fix decision for reallowing ravelians
  decisions/RavelianDecisions.txt
Due: Decisions Encoding

tier 1 inventions done(almost) - scripted effect
  common/estate_privileges/estate_artifice_privileges.txt
  common/province_triggered_modifiers/anb_artifice_research.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/scripted_effects/feiten_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  events/ArtificeResearch.txt
Due: Events Encoding

Event 17 and 18
  events/Flavour_Vyzemby.txt
Due: Events Encoding

Event 18 fix
  events/Flavour_Vyzemby.txt
Due: Events Encoding

fanguala fixes
  common/countries/Jagab Faru.txt
  history/countries/L02 - Jagab Faru.txt
  history/countries/L13 - Samishesha.txt
  history/provinces/6317 - Raddack.txt
Due: none

QoL for Truedagger mission
  missions/Truedagger_Missions.txt
Due: none

Bugfixes
  localisation/anb_diggy_diggy_hole_encounters_l_english.yml
  localisation/anb_precursor_fragment_l_english.yml
Due: Localization Encoding

sarnik stuff
  events/YnnEvents.txt
  localisation/ynn_loc_l_english.yml
Due: Events Encoding, Localization Encoding

estatepilled
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/estates/98_adventurers.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Un Khudai icon
  common/religions/00_anb_religion.txt
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
  interface/countryview.gfx
  interface/ledger.gfx
  interface/provinceview.gfx
Due: none

Mengi namelist rework part 1
  common/countries/Averilibet.txt
  common/countries/Berihrica.txt
  common/countries/Biribitid.txt
  common/countries/Boyebareti.txt
  common/countries/Dakmender.txt
  common/countries/Enikmesiki.txt
  common/countries/Fetengoni.txt
  common/countries/Gnidi.txt
  common/countries/Hisost Yamok.txt
  common/countries/Ibekisedara.txt
  common/countries/Irkan Eparta.txt
  common/countries/Ketemcaka.txt
  common/countries/Layinret.txt
  common/countries/Lipmekat.txt
  common/countries/Manta.txt
  common/countries/Matamot.txt
  common/countries/Melakmengi.txt
  common/countries/Meretgaban.txt
  common/countries/Mewojala.txt
  common/countries/Mewomender.txt
  common/countries/Naleni.txt
  common/countries/Pegosi.txt
  common/countries/Sedarketema.txt
  common/countries/Selodarch.txt
  common/countries/Shelokmengi.txt
  common/countries/Simegasa.txt
  common/countries/Teleksemayi.txt
  common/countries/Tikur Adayni.txt
  common/countries/Tnismoted.txt
  common/countries/Werikgeta.txt
  common/countries/Wezingoa.txt
Due: none

Extended Effelai Monsoon
  map/climate.txt
Due: none

Mengi namelist rework part 2
  common/countries/Bosonkikon.txt
  common/countries/Dubishan.txt
  common/countries/Fuulmana.txt
  common/countries/Huugeta.txt
  common/countries/Kadamuu.txt
  common/countries/Kidsit Yiti.txt
  common/countries/Kirksan.txt
  common/countries/Mukis.txt
  common/countries/Poson.txt
  common/countries/Saposakosa.txt
  common/countries/Yemotaferi.txt
Due: none

part 3
  common/countries/Averilibet.txt
  common/countries/Berihrica.txt
  common/countries/Biribitid.txt
  common/countries/Bosonkikon.txt
  common/countries/Boyebareti.txt
  common/countries/Dakmender.txt
  common/countries/Dubishan.txt
  common/countries/Enikmesiki.txt
  common/countries/Fetengoni.txt
  common/countries/Fuulmana.txt
  common/countries/Gnidi.txt
  common/countries/Hisost Yamok.txt
  common/countries/Huugeta.txt
  common/countries/Ibekisedara.txt
  common/countries/Irkan Eparta.txt
  common/countries/Kadamuu.txt
  common/countries/Ketemcaka.txt
  common/countries/Kirksan.txt
  common/countries/Layinret.txt
  common/countries/Lipmekat.txt
  common/countries/Manta.txt
  common/countries/Matamot.txt
  common/countries/Meretgaban.txt
  common/countries/Mewojala.txt
  common/countries/Mewomender.txt
  common/countries/Mukis.txt
  common/countries/Pegosi.txt
  common/countries/Poson.txt
  common/countries/Saposakosa.txt
  common/countries/Sedarketema.txt
  common/countries/Selodarch.txt
  common/countries/Shelokmengi.txt
  common/countries/Simegasa.txt
  common/countries/Teleksemayi.txt
  common/countries/Tikur Adayni.txt
  common/countries/Tnismoted.txt
  common/countries/Werikgeta.txt
  common/countries/Wezingoa.txt
  common/countries/Yemotaferi.txt
  common/countries/Yetmesira.txt
Due: none

part 7
  common/cultures/anb_cultures.txt
Due: none

8
  events/Flavour_Simegasa_L66.txt
  history/advisors/Harpy.txt
Due: Events Encoding

9
  history/countries/L57 - Boyebareti.txt
  history/countries/L58 - Yetmesira.txt
  history/countries/L66 - Simegasa.txt
  history/countries/L67 - Kidsit Yiti.txt
  history/countries/S23 - Hisost Yamok.txt
  history/countries/S24 - Fuulmana.txt
  history/countries/S25 - Fetengoni.txt
  history/countries/S26 - Saposakosa.txt
  history/countries/S44 - Matamot.txt
  history/countries/S45 - Huugeta.txt
  history/countries/S46 - Dugiti.txt
  history/countries/S51 - Sedarketema.txt
  history/countries/S52 - Teleksemayi.txt
  history/countries/S54 - Layinret.txt
  history/countries/S55 - Ketemcaka.txt
  history/countries/S56 - Enikmesiki.txt
  history/countries/S57 - Shelokmengi.txt
  history/countries/S58 - Werikgeta.txt
  history/countries/S59 - Wezingoa.txt
  history/countries/S60 - Meretgaban.txt
  history/countries/S61 - Ibekisedara.txt
  history/countries/S62 - Kadamuu.txt
  history/countries/S63 - Bosonkikon.txt
  history/countries/S64 - Lipmekat.txt
  history/countries/S65 - Mukis.txt
  history/countries/S66 - Mewomender.txt
  history/countries/S67 - Manta.txt
Due: none

try fixie
  common/buildings/00_buildings.txt
  common/scripted_effects/anb_digging_effects.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
