Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

claimer warning
  events/Flavour_Spiderwretch_H90.txt
  localisation/Flavour_Spiderwretch_H90_l_english.yml
Due: Events Encoding, Localization Encoding

moved these later because I accidentally used the same numbers twice
  decisions/RendingDecisions.txt
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

finding phokhao pre review
  decisions/RendingDecisions.txt
  events/RendingMA.txt
  localisation/anb_decisions_l_english.yml
  localisation/anb_rending_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

hide this
  events/Flavour_Skewered_Drake_H73.txt
Due: Events Encoding

Bulwar Flavour Events
  common/event_modifiers/anb_bulwari_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

vb
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Vels_Bacar_G84.txt
  missions/VelsBacar_Missions.txt
Due: Events Encoding

Quickfix
  events/Flavour_Bulwar.txt
Due: Events Encoding

kalsyto work
  common/event_modifiers/anb_lake_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/new_diplomatic_actions/anb_kalsyto_sphere.txt
  common/scripted_effects/kalsyto_scripted_effects.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_Kalsyto_J33.txt
  events/LakeFederationEvents.txt
  localisation/Flavour_Kalsyto_J33_l_english.yml
  missions/Kalsyto_Missions.txt
Due: Events Encoding, Localization Encoding

Crathanor fixes
  missions/Crathanor_Missions.txt
Due: none

Byzantium Loading Screen
  gfx/loadingscreens/load_25.dds
Due: none

Quickfixes
  events/Flavour_Bulwar.txt
Due: Events Encoding

command patch
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_goblin_modifiers.txt
  common/event_modifiers/anb_rahen_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_BoarCommand_R94_l_english.yml
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding

Content Review Rose and Dove Updates
  common/cb_types/00_cb_types.txt
  common/peace_treaties/anb_blooming_of_the_lorentish_rose.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Flavour_Lorent_A01.txt
  localisation/Flavour_Gawed_A13_l_english.yml
  localisation/Flavour_Lorent_A01_l_english.yml
Due: Events Encoding, Localization Encoding

Win1252 changes
  events/Flavour_Lorent_A01.txt
Due: Events Encoding

fixing names
  events/Flavour_Lorent_A01.txt
Due: Events Encoding

fix names 2
  events/Flavour_Lorent_A01.txt
Due: Events Encoding

pls fix names 3
  events/Flavour_Lorent_A01.txt
Due: Events Encoding

french language debugging
  events/Flavour_Lorent_A01.txt
Due: Events Encoding

a > i
  events/Flavour_Lorent_A01.txt
Due: Events Encoding

Not so quick fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Bulwar.txt
Due: Events Encoding

Color fix for the Bnuuy
  localisation/the_hunt_l_english.yml
Due: Localization Encoding

Fixed Trade station being removed when Damestear and Relics runs out, even if the old trade goods uses it
  events/PrecursorRelicsEvents.txt
Due: Events Encoding

Oh no you fucking dont
  events/PrecursorRelicsEvents.txt
Due: Events Encoding

Hurr durr
  events/DamestearEvent.txt
  events/PrecursorRelicsEvents.txt
Due: Events Encoding

added a goto for haraz slave rebels during hoardcurse, tooltip arawkelin, and minor loc ifx
  events/Flavour_Haraz_Orldhum_I08.txt
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  localisation/anb_spirits_l_english.yml
  missions/Arawkelin_Missions.txt
Due: Events Encoding, Localization Encoding

loc consolidation
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

command tooltip fix
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

no more command MTTH events + laws of ninun bugfix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Next day fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Bulwar.txt
Due: Events Encoding

woof
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_Vels_Bacar_G84.txt
  localisation/Flavour_VelsBacar_l_english.yml
  missions/VelsBacar_Missions.txt
Due: Events Encoding, Localization Encoding

Shadow pact mechanics work
  common/church_aspects/anb_shadow_pact_aspects.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/religions/00_anb_religion.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

the rule of X fix
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Leadership from Insubordination
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Revert "Merge branch 'Personal' into new-master"
  decisions/EscanniWars.txt
  events/EscanniWars.txt
  localisation/anb_age_of_witch_kings_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Events Add Legitimacy or Monarch Power
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

magic school inheritance
  common/on_actions/00_on_actions.txt
  events/MagicProjectLichdom.txt
  events/MagicRuler.txt
  events/Ruler.txt
  events/WitchKing.txt
  localisation/Flavour_Kumarkand_F30_l_english.yml
Due: Events Encoding, Localization Encoding

OT work
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  common/tradegoods/00_tradegoods.txt
  decisions/OvdalTungrDecisions.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding
