Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Lower case :urviksten_avenger_of_castanor
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Urviksten_Z15_l_english.yml
  missions/Urviksten_Missions.txt
Due: Localization Encoding

s
  common/ideas/anb_country_ideas.txt
Due: none

d
  common/ideas/anb_country_ideas.txt
Due: none

d
  common/ideas/anb_country_ideas.txt
  history/countries/B21 - Heartgrinder Clan.txt
Due: none

PR #6136 [Steam] AI weights for picking Corinite orders
  events/Corinite.txt
Due: Events Encoding

PR #6138 [Steam] Jadd Assimilation Loc Fix
  localisation/jadd_nobility_l_english.yml
Due: Localization Encoding

e
  common/great_projects/anb_monuments_rahen_haless.txt
  common/scripted_effects/spirits_scripted_effects.txt
  events/HalessiSpirits.txt
  gfx/interface/great_projects/great_project_temple_of_undying_flame.dds
  interface/anb_great_project.gfx
  localisation/Flavour_Jiantsiang_Y16_l_english.yml
  localisation/anb_great_projects_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Kastonborg to Castonborg
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Localization Encoding

- k
  localisation/loadingtips_l_english.yml
Due: Localization Encoding

Silent as the Grave tooltip fix
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

kheios dev adjustments
  history/provinces/2681 - Proylasi.txt
  history/provinces/2736 - Degakheion.txt
  history/provinces/2738 - Ormam.txt
  history/provinces/2739 - Eionasi.txt
Due: none

Fixed Encoding
  localisation/Flavour_Urviksten_Z15_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

flag
  gfx/flags/G87.tga
Due: none

Haraf reformation first event loc
  localisation/Flavour_Haraf_G43_l_english.yml
Due: Localization Encoding

missionary buff
  common/province_triggered_modifiers/anb_modifiers.txt
  history/provinces/4269 - Earthseed.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Localization Encoding

few renames
  events/DiggyDiggyDungeons.txt
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/positions.txt
Due: Events Encoding, Localization Encoding

duplicate natives
  common/natives/00_natives.txt
Due: none

LF fix
  common/scripted_effects/forbidden_land_scripted_effects.txt
  decisions/LakeFederationStandingCohesion.txt
Due: Decisions Encoding

NI tweak
  common/ideas/anb_country_ideas.txt
Due: none

PR #6142 [Steam] loc fix
  localisation/loadingtips_l_english.yml
Due: Localization Encoding

PR #6143 [Steam] Silent as the Grave tooltip fix
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

gave Lanjinhui ruler peasant revolt leader personality
  history/countries/Y05 - Lanjinhui.txt
Due: none

Stalbor Ni
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Sikai startup screens
  customizable_localization/00_start_screen.txt
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

It works this time
  customizable_localization/00_start_screen.txt
Due: none

skill issue
  customizable_localization/00_start_screen.txt
Due: none

Cosmetical changes
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

fixed enc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

enc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding
