Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Forgotten unloced cb-thing
  localisation/text_l_english.yml
Due: Localization Encoding

update
  decisions/RendingDecisions.txt
Due: Decisions Encoding

as
  common/event_modifiers/anb_spirit_modifiers.txt
Due: none

feiten institution spread trigger fix
  missions/Feiten_Missions.txt
Due: none

idea change
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

vyzemby idea values tweaks
  common/ideas/anb_country_ideas.txt
Due: none

mulen loc fixes
  localisation/Flavour_Mulen_F50_l_english.yml
Due: Localization Encoding

Last minute Corinite rework fixes
  common/defines.lua
  localisation/anb_events_religion_l_english.yml
  localisation/anb_holy_orders_l_english.yml
  localisation/core_l_english.yml
Due: Localization Encoding

final plumstead fixes
  common/government_reforms/02_government_reforms_republics.txt
  events/Elections.txt
  events/Flavour_Plumstead_H61.txt
  localisation/Flavour_Plumstead_H61_l_english.yml
  missions/Plumstead_Missions.txt
Due: Events Encoding, Localization Encoding

Revert "started adding patron loc"
  localisation/anb_patrons_l_english.yml
Due: Localization Encoding

event images
  gfx/event_pictures/GREAT_SPIRIT_HOKUMA_EVIL_eventPicture.dds
  gfx/event_pictures/GREAT_SPIRIT_HOKUMA_eventPicture.dds
Due: none

final fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Plumstead_H61.txt
  missions/Plumstead_Missions.txt
Due: Events Encoding

spirit pulse fix
  common/on_actions/00_on_actions.txt
Due: none

gehet ketine evil
  gfx/event_pictures/GREAT_SPIRIT_GEHET_KETINE_EVIL_eventPicture.dds
Due: none

Lost events
  common/on_actions/00_on_actions.txt
  events/Flavour_Cestirmark_H33.txt
  localisation/Flavour_Cestirmark_H33_l_english.yml
Due: Events Encoding, Localization Encoding

New Havoral missing loc
  common/scripted_effects/anb_scripted_effects.txt
  localisation/Flavour_NewHavoral_H57_l_english.yml
Due: Localization Encoding

Missing flags
  gfx/flags/U32.tga
  gfx/flags/U33.tga
Due: none

Triarchy oversight
  decisions/TriarchyNation.txt
  localisation/Flavour_Triarchy_U31_l_english.yml
Due: Decisions Encoding, Localization Encoding

Tolerance bandaid
  decisions/TriarchyNation.txt
Due: Decisions Encoding

Prov names
  common/province_names/anbennarian.txt
  common/province_names/businori.txt
  common/province_names/dostanorian_g.txt
  common/province_names/dwarven.txt
  common/province_names/escanni.txt
  common/province_names/halfling.txt
  common/province_names/lencori.txt
  common/province_names/trollsbayer.txt
  common/province_names/ynnsman.txt
Due: none

Aelantir missing loc
  localisation/anb_CliffsOfRuin_l_english.yml
  localisation/anb_great_projects_l_english.yml
  localisation/anb_mercs_l_english.yml
  localisation/anb_modifiers_l_english.yml
Due: Localization Encoding

lmao
  common/scripted_effects/harpy_system_scripted_effects.txt
Due: none

fencodingix
  events/Flavour_Cestirmark_H33.txt
Due: Events Encoding

last minute gemradcurt fix
  missions/Gemradcurt_Missions.txt
Due: none

final final gemradcurt fix
  missions/Gemradcurt_Missions.txt
Due: none

small change
  missions/Gemradcurt_Missions.txt
Due: none

chien loc final
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

lots of loc.
  events/EffelaiBloomEvents.txt
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/effelai_bloom_l_english.yml
Due: Events Encoding, Localization Encoding

zomp21312311
  localisation/effelai_bloom_l_english.yml
Due: Localization Encoding

last minute 1
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
  missions/ChienBinhrung_Missions.txt
Due: Localization Encoding

last minute 2
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

AAAA
  localisation/anb_diggy_diggy_hole_encounters_l_english.yml
Due: Localization Encoding

last minute 3
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

last minute 4
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

last minute 5
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

last minute 6
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

aaaaa
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

Allclan stuff
  events/DiggyDiggyEncounters.txt
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Events Encoding, Localization Encoding

Castanorian Dominions fix + small tweaks cross cannor
  common/religions/00_anb_religion.txt
  common/subject_types/00_subject_types.txt
  decisions/1EscannFormables.txt
  decisions/DostanorNation.txt
  history/countries/A13 - Gawed.txt
  localisation/anb_decisions_l_english.yml
  localisation/common_sense_l_english.yml
Due: Decisions Encoding, Localization Encoding

bugfixes for temple events
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding
