Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Railskulker fixes
  events/Flavour_Railskulker_H75.txt
  missions/Railskulker_Missions.txt
Due: Events Encoding

testing
  missions/Zansap_Missions.txt
Due: none

tooltip edits
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

bug
  missions/Zansap_Missions.txt
Due: none

am I deranged? why was this here?
  common/trading_policies/00_trading_policies.txt
Due: none

Revert "am I deranged? why was this here?"
  common/trading_policies/00_trading_policies.txt
Due: none

aaa
  missions/Railskulker_Missions.txt
Due: none

I am not deranged
  common/trading_policies/00_trading_policies.txt
Due: none

AAAAA
  common/estates/01_church.txt
Due: none

a
  common/event_modifiers/anb_event_modifiers.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/event_modifiers/anb_lake_modifiers.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  common/trading_policies/00_trading_policies.txt
  decisions/LakeFederationDecisions.txt
  events/DiggyDiggySpawnable.txt
  events/FederationIncidents_MageWar.txt
  events/Flavour_Zansap_F43.txt
  events/KhetMandateEvents.txt
  gfx/interface/bookmarks/dlc_button_lizardfolk.dds
  gfx/interface/piety_icon_high.dds
  gfx/interface/piety_icon_low.dds
  history/countries/F43 - Zansap.txt
  localisation/Flavour_Kheterata_L01_l_english.yml
  localisation/Flavour_Zansap_F43_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  localisation/xhazobkult_l_english.yml
  missions/Kheteratan_Missions.txt
  missions/LakeFederation2_Missions.txt
  missions/Zansap_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

xhaz tooltips
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

punctuation stuff
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

i fix
  common/estate_privileges/estate_ahati_privileges.txt
  common/religions/00_anb_religion.txt
  events/AdventurerFormables.txt
Due: Events Encoding

no clue what thisd changed
  missions/Zansap_Missions.txt
Due: none

Here you go Auirus
  common/estates/01_church.txt
  common/estates/03_burghers.txt
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

test
  missions/Zansap_Missions.txt
Due: none

working on wrong branch smh
  common/on_actions/00_on_actions.txt
  events/EffelaiBloomEvents.txt
Due: Events Encoding

Revert "working on wrong branch smh"
  common/on_actions/00_on_actions.txt
  events/EffelaiBloomEvents.txt
Due: Events Encoding

fixed effelai bloom path pick events
  common/on_actions/00_on_actions.txt
  events/EffelaiBloomEvents.txt
Due: Events Encoding

Vyzemby tweaks
  decisions/FahvanosyDecisions.txt
  localisation/anb_vyzemby_l_english.yml
Due: Decisions Encoding, Localization Encoding

Mihitarab and Lelanán ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

rename modifier
  localisation/Group_Flavour_Lizardfolk_l_english.yml
Due: Localization Encoding

bug fixing
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Zansap_Missions.txt
Due: none

suraekes bug
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Zansap_Missions.txt
Due: none

Kuikentje piep
  gfx/interface/missions/rezankand/mission_arise_ashes.dds
  missions/Krakdhumvror_Missions.txt
Due: none

code fixing
  missions/Zansap_Missions.txt
Due: none

testr
  missions/Zansap_Missions.txt
Due: none

testing failed
  missions/Zansap_Missions.txt
Due: none

Sarhal names fix due to tabs where there should be spaces
  common/countries/Abigishinbzoka.txt
  common/countries/Hisraad.txt
  common/countries/Kabilu_Gawakhiza.txt
  common/countries/Qabiika_Baddabi.txt
  common/countries/Qabiika_Beeragga.txt
  common/countries/Qabiika_Dadubakha.txt
  common/countries/Qabiika_Weggabiga.txt
  common/countries/Umoji Baashi.txt
  common/countries/Uwakila Bilad.txt
  common/countries/Uwakila_Baashi.txt
Due: none

Brelar custom ttoltip
  localisation/Flavour_Brelar_G27_l_english.yml
  missions/Brelar_Missions.txt
Due: Localization Encoding

Snotfinger loc typo fix
  localisation/Flavour_Snotfinger_H89_l_english.yml
Due: Localization Encoding

Hid a skaldhyrric immediate
  events/Skaldhyrric.txt
Due: Events Encoding

Skaldhyrric event option missing names
  events/Skaldhyrric.txt
Due: Events Encoding

row2
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  decisions/BosancovacDecisions.txt
  decisions/YnnDecisions.txt
  events/AdventurerSpawnables.txt
  events/Flavour_Bosancovac_G33.txt
  localisation/Flavour_Bosancovac_G33_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

aakheta tweaks
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/rebel_types/ahati.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
  events/estate_ahati.txt
Due: Events Encoding

fix reform rng
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

vanilla strong duchies changes
  common/estate_privileges/02_noble_privileges.txt
Due: none

jadd harpy stuff
  decisions/HarpylenFormable.txt
Due: Decisions Encoding

but disable it for mandate
  common/estate_privileges/02_noble_privileges.txt
Due: none
