Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

an amacimst highlight and Brelar reviewed loca
  localisation/Flavour_Brelar_G27_l_english.yml
  missions/Amacimst_Missions.txt
Due: Localization Encoding

GB loc
  localisation/Flavour_GorBurad_I16_l_english.yml
Due: Localization Encoding

Writing credits
  localisation/Flavour_GorBurad_I16_l_english.yml
Due: Localization Encoding

Brelar and Amacimst startup
  customizable_localization/00_start_screen.txt
  events/Flavour_Amacimst_G26.txt
  localisation/Flavour_Amacimst_G26_l_english.yml
  localisation/Flavour_Brelar_G27_l_english.yml
Due: Events Encoding, Localization Encoding

hmm
  localisation/Flavour_Amacimst_G26_l_english.yml
  localisation/Flavour_Brelar_G27_l_english.yml
Due: Localization Encoding

el stupido
  customizable_localization/00_start_screen.txt
Due: none

woooooo
  localisation/Flavour_Brelar_G27_l_english.yml
Due: Localization Encoding

fix for expedition related bonuses not applying
  common/scripted_effects/anb_digging_effects.txt
  events/DiggyDiggyExpeditions.txt
Due: Events Encoding

remove yes
  localisation/medasi_l_english.yml
Due: Localization Encoding

Katelperai, Banderuttai and Kattisangamar National Ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Isobelin decision - change ravenous isle trigger
  decisions/IsobelinDecisions.txt
Due: Decisions Encoding

fix great project trigger in cestirmark missions
  missions/Cestirmark_Missions.txt
Due: none

GB loc fix + events
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
Due: Events Encoding, Localization Encoding

Minro speling mistkae
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

Isobelin loc
  localisation/Flavour_Isobelin_G91_l_english.yml
Due: Localization Encoding

fixed stupid accent i, I hate special characters
  missions/Isobelin_Missions.txt
Due: none

Veykoda Ivory tradegood increase
  common/tradegoods/00_tradegoods.txt
Due: none

Ivory trade good increase Veykoda (fix)
  common/tradegoods/00_tradegoods.txt
Due: none

rinta seeker event manager
  common/on_actions/00_on_actions.txt
  events/RintaSeekerEvents.txt
Due: Events Encoding

encoding
  common/on_actions/00_on_actions.txt
Due: none

fixes for command oni betrayal
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

kill them with hammmers
  common/on_actions/00_on_actions.txt
  events/RintaSeekerEvents.txt
Due: Events Encoding

changing naming
  gfx/sprite_packs/elf_sprites.txt
Due: none

racial tolerance event
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none

Adeen estate Gfx
  common/estates/84_adeen.txt
  events/TribalSuccession.txt
  gfx/flags/adeen_rebels.tga
  gfx/interface/disasters/estate_adeen_palace_coup_disaster.dds
  gfx/interface/estates_icons.dds
  gfx/interface/estates_icons_colour-stroke.dds
  interface/countryestatesview.gfx
Due: Events Encoding

diverse court event picture
  gfx/event_pictures/DIVERSE_COURT_eventPicture.dds
  interface/anb_eventpictures.gfx
Due: none

fixes triggers and highlights for mission
  missions/ChienBinhrung_Missions.txt
Due: none

Allclan Fixes
  common/static_modifiers/00_static_modifiers.txt
  missions/Allclan_Missions.txt
Due: none

oh
  remove.txt.txt
Due: Brackets Syntax

ffff
  remove.txt.txt
Due: Brackets Syntax

Oppressive error log checkers FORCE amanda to fix bugs
  common/on_actions/00_on_actions.txt
  events/Flavour_Lesnikpansvo_U32.txt
  events/Flavour_Trompolere_G36.txt
Due: Events Encoding

Adding some personality to the stale lines of code
  events/Flavour_Lesnikpansvo_U32.txt
Due: Events Encoding

sarhal age 3 ability
  common/ages/00_default.txt
  interface/ages_view.gfx
  localisation/anb_ages_l_english.yml
Due: Localization Encoding

Grand Duchy Incident
  interface/hre.gfx
  localisation/anb_grand_duchy_l_english.yml
Due: Localization Encoding

Butuguzi Beast Memory syncretism
  history/countries/L63 - Butuguzi.txt
  history/provinces/5549 - Juqakuruka.txt
  history/provinces/6647 - Cushyutuugu.txt
Due: none

yinquan work
  common/government_reforms/03_government_reforms_theocracies.txt
  events/Flavour_Yinquan_Y26.txt
  events/RendingMA.txt
  missions/Yinquan_Missions.txt
Due: Events Encoding

Swamp troll unit loc and ruler names
  common/countries/Yezel Mora.txt
  common/cultures/anb_cultures.txt
  localisation/anb_units_l_english.yml
Due: Localization Encoding

trying to fix bug
  common/countries/Yezel Mora.txt
  events/Flavour_YezelMora_S70.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
