Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Dakinshi Ahunaja -> Bamakembta
  common/trade_companies/00_trade_companies.txt
  common/tradenodes/00_tradenodes.txt
  localisation/anb_trade_companies_l_english.yml
  localisation/anb_trade_l_english.yml
Due: Localization Encoding

forgot this
  localisation/anb_trade_companies_l_english.yml
Due: Localization Encoding

new ahati priv
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

Plunder option loc fix
  events/HalessiSpirits.txt
Due: Events Encoding

racism icons
  common/event_modifiers/racial_pop_modifiers.txt
Due: none

Tree of Stone & Jade Mines province names' position's update
  map/ambient_object.txt
  map/positions.txt
Due: none

Crathanor MT Bugfixes Round 2
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/personal_deities/anb_cannorian_deities.txt
  events/Flavour_Crathanor_U17.txt
  localisation/Flavour_Crathanor_U17_l_english.yml
  missions/Crathanor_Missions.txt
Due: Events Encoding, Localization Encoding

No more doge
  localisation/emperor_content_l_english.yml
Due: Localization Encoding

PREV
  common/scripted_triggers/anb_scripted_triggers_escanni_wars.txt
Due: none

baashidi estate decision and mithradhum fix
  decisions/AdeenDecisions.txt
  decisions/MithradhumDecisions.txt
Due: Decisions Encoding

Cestirmark THIS to PREV
  events/Flavour_Cestirmark_H33.txt
Due: Events Encoding

more THIS fixes
  events/Flavour_Bulwar.txt
  missions/Castanor_Missions.txt
  missions/Cestirmark_Missions.txt
Due: Events Encoding

Crathanor MT Bugfixes 2.5 (minor bugs)
  missions/Crathanor_Missions.txt
Due: none

More Crathanor bugs
  missions/Crathanor_Missions.txt
Due: none

Mire Maw fixes
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  events/Flavour_MireMaw_J32.txt
  missions/MireMaw_Missions.txt
Due: Events Encoding

we did it pordolt, we saved the city!
  localisation/Flavour_Kobildzan_Z38_l_english.yml
  missions/Kobold_Missions.txt
Due: Localization Encoding

Crathanor organization
  common/estate_privileges/anb_privileges.txt
Due: none

More Crathanor Bugs part 2
  events/RepublicFactions.txt
Due: Events Encoding

Minor Crathanor tooltip fix
  localisation/Flavour_Crathanor_U17_l_english.yml
Due: Localization Encoding

Empkeios MT: Bug Fixing
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Empkeios_G53.txt
  localisation/Flavour_Empkeios_G53_l_english.yml
  missions/Empkeios_missions.txt
Due: Events Encoding, Localization Encoding

More crathanor bugfix
  localisation/Flavour_Crathanor_U17_l_english.yml
  missions/Crathanor_Missions.txt
Due: Localization Encoding

Gawedi no longer worship dragons
  missions/Gawedi_Missions.txt
Due: none

No more lööps for you, bröther
  localisation/Group_Flavour_Lizardfolk_l_english.yml
Due: Localization Encoding

Editing pacing
  events/Group_Flavour_Lizardfolk.txt
Due: Events Encoding

No or
  common/ideas/anb_group_ideas.txt
Due: none

[Steam]performance thing
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/0002_rajput_privileges.txt
  common/estate_privileges/001_brahmin_privileges.txt
  common/estate_privileges/002_maratha_privileges.txt
  common/estate_privileges/003_vaisya_privileges.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/07_jain_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estate_privileges/estate_lowercastes_privileges.txt
  common/estate_privileges/estate_middlecastes_privileges.txt
  common/estate_privileges/estate_shirgrii_privileges.txt
  common/estate_privileges/estate_uppercastes_privileges.txt
  common/event_modifiers/anb_treasure_fleet_modifiers.txt
  common/scripted_effects/treasure_fleet_scripted_effects.txt
  events/TreasureFleet.txt
  localisation/anb_treasure_fleet_l_english.yml
Due: Events Encoding, Localization Encoding

Indent issue
  events/Group_Flavour_Lizardfolk.txt
Due: Events Encoding

hm
  events/Group_Flavour_Lizardfolk.txt
Due: Events Encoding

hmmmmmmmmmmmmmmmmmmmmm
  events/Group_Flavour_Lizardfolk.txt
Due: Events Encoding

A
  events/Group_Flavour_Lizardfolk.txt
Due: Events Encoding

Goblin t2 reform "cultic tolerance"
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

encoding fixfixfixfixfix
  events/Flavour_Crathanor_U17.txt
Due: Events Encoding

crathanor parsing fix
  missions/Crathanor_Missions.txt
Due: none

Deepwoods Hunt pictures and trimming
  events/DeepwoodsVegan.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding

Fixing overlapping event ids
  common/scripted_effects/deepwoods_scripted_effects.txt
  events/DeepwoodsVegan.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding
