Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

orcish migration checkpoint (DOESN'T BOOT)
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/ToleranceOrcs.txt
  events/anb_racial_pop_events_orcish.txt
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

Sarisung garden failsafe decision
  decisions/SarisungDecisions..txt
  localisation/Flavour_Sarisung_R21_l_english.yml
Due: Decisions Encoding, Localization Encoding

Fixes
  events/Flavour_ArgOrdstun_H76.txt
Due: Events Encoding

removed temporary file
  events/temptemp.txt
Due: Events Encoding

tooltip + refugee fix
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  localisation/anb_racial_events_l_english.yml
Due: Events Encoding, Localization Encoding

Revert "artificers v3"
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Revert "artificers v2"
  common/event_modifiers/anb_estate_modifiers.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Revert "fixed artificers damestear monopoly extension"
  events/MonopolyPrivileges.txt
  localisation/anb_estates_l_english.yml
Due: Events Encoding, Localization Encoding

Starting highlights
  missions/Sthanan_Missions.txt
Due: none

Highlights
  missions/Sthanan_Missions.txt
Due: none

Fix
  missions/Sthanan_Missions.txt
Due: none

more fixes
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  localisation/anb_racial_events_l_english.yml
Due: Events Encoding, Localization Encoding

Revert "Sarisung garden failsafe decision"
  decisions/SarisungDecisions..txt
  localisation/Flavour_Sarisung_R21_l_english.yml
Due: Decisions Encoding, Localization Encoding

added corruption tooltip
  events/Flavour_Cestirmark_H33.txt
  localisation/Flavour_Cestirmark_H33_l_english.yml
Due: Events Encoding, Localization Encoding

Fixes for real
  missions/Sthanan_Missions.txt
Due: none

Last highlight + trust fix
  missions/Sthanan_Missions.txt
Due: none

Mercs + favors
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
  missions/Sthanan_Missions.txt
Due: Events Encoding, Localization Encoding

Crimson Deluge events Adenica
  events/CrimsonDeluge.txt
  localisation/anb_events_religion_l_english.yml
Due: Events Encoding, Localization Encoding

Mercs + Blood of Iron scaling reward
  common/mercenary_companies/00_mercenaries.txt
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
  missions/Sthanan_Missions.txt
Due: Events Encoding, Localization Encoding

Kuiika fixes
  localisation/medasi_l_english.yml
  missions/Kuiika_Missions.txt
Due: Localization Encoding

Scaling reward???
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
Due: Events Encoding, Localization Encoding

Fix I fucking hope
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
Due: Events Encoding, Localization Encoding

[steam] elephant guys fix
  missions/Ghavaanaj_Missions.txt
Due: none

I swear to god if it's case sensitive
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
Due: Events Encoding, Localization Encoding

Post-review switcheroos
  localisation/Flavour_Lo_Ngoen_Y60_l_english.yml
  localisation/Flavour_Thangoya_Z62_l_english.yml
  localisation/Flavour_Thirabnir_Y59_l_english.yml
  missions/Zz_Thangoya_Missions.txt
Due: Localization Encoding

Arg-Ordstun fixes
  common/custom_gui/provinceview.txt
  decisions/DiggyDiggyHole.txt
  events/Flavour_ArgOrdstun_H76.txt
Due: Decisions Encoding, Events Encoding

Arg_ordstun trigger change
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun_Missions.txt
Due: Localization Encoding

remove duplicate natives
  common/natives/00_natives.txt
Due: none

update
  events/CrimsonDeluge.txt
Due: Events Encoding

suite of changes (orcish is the template so it gets changed before everything else)
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/anb_racial_pop_events_orcish.txt
  localisation/anb_racial_events_l_english.yml
Due: Events Encoding, Localization Encoding

This better fucking work
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
Due: Events Encoding, Localization Encoding

YES IT FUCKING WORKS
  events/Flavour_Sthanan_G81.txt
Due: Events Encoding

EoL please make it stop
  common/custom_gui/provinceview.txt
  decisions/DiggyDiggyHole.txt
Due: Decisions Encoding

AAAAAAH FINALLY
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
Due: Events Encoding, Localization Encoding

Enabled Mage Estate for Monstrous Hordes + Minor Flavor Stuff
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/97_mages.txt
  events/Flavour_Varaine_A99.txt
  localisation/anb_estates_l_english.yml
Due: Events Encoding, Localization Encoding

[steam] raj menu fix, no sleepy republic
  events/AdventurerFormables.txt
  events/Flavour_VerkalDromak_I25.txt
  events/RajEvents.txt
Due: Events Encoding

targeting logic
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none
