Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

disaster tweaks
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  events/estate_ahati.txt
Due: Events Encoding

Code stuff
  common/event_modifiers/anb_mission_modifiers.txt
  common/ideas/anb_country_ideas.txt
  events/Flavour_Eltikan_G60.txt
  localisation/Flavour_Eltikan_G60_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/gotiriei_l_english.yml
  missions/Eltikan_Missions.txt
Due: Events Encoding, Localization Encoding

Roilsardi Ideas and Loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Roilsard Loc Minor Edit
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Roilsard Loc and Ideas
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

scour stuff
  common/event_modifiers/anb_spirit_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

chosen bug
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

found it
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

preacher BUG
  events/Flavour_Zansap_F43.txt
  localisation/Flavour_Zansap_F43_l_english.yml
Due: Events Encoding, Localization Encoding

bug
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

more rending stuff
  events/Flavour_Amacimst_G26.txt
  events/Flavour_Bianfang_Y09.txt
  events/Flavour_Brelar_G27.txt
  events/HalessiSpirits.txt
  gfx/event_pictures/GREAT_SPIRIT_TELEBEI_eventPicture.dds
  gfx/event_pictures/GREAT_SPIRIT_YANHE_eventPicture.dds
  interface/anb_eventpictures.gfx
Due: Events Encoding

bug
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

fixing merge
  common/on_actions/00_on_actions.txt
Due: none

RavState Spawn tweaks
  common/new_diplomatic_actions/anb_ravelian_state_actions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/ravelianism.txt
Due: Events Encoding

Oops lol
  events/ravelianism.txt
Due: Events Encoding

Det våras för Rezankand
  gfx/interface/missions/rezankand/mission_embrace_our_destiny.dds
  gfx/interface/missions/rezankand/mission_new_dawn.dds
  interface/missionicons_anb.gfx
  missions/Ameion_Missions.txt
  missions/Azkare_Missions.txt
  missions/Brelar_Missions.txt
  missions/Eordand_Missions.txt
  missions/Lorentish_Missions.txt
  missions/Malacnar_Missions.txt
  missions/Mithradhum_Missions.txt
  missions/Rezankand_Missions.txt
Due: none

added venaili exception to burn system
  common/on_actions/00_on_actions.txt
Due: none

Killing civilians is now slightly harder to portray
  gfx/interface/missions/rezankand/mission_in_the_name_of_the_fallen.dds
  interface/missionicons_anb.gfx
  missions/Azkare_Missions.txt
  missions/Castanor_Missions.txt
  missions/Feiten_Missions.txt
  missions/Rezankand_Missions.txt
  missions/Siadan_Missions.txt
  missions/XX_Phoenix_Empire_Missions.txt
Due: none

added burn failure cooldown
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
  decisions/EffelaiBloomDecisions.txt
  events/EffelaiBloomEvents.txt
Due: Decisions Encoding, Events Encoding

Thx Okman
  events/ravelianism.txt
Due: Events Encoding

Third Time's a charm
  events/ravelianism.txt
Due: Events Encoding

Just let me go to the pool
  events/ravelianism.txt
Due: Events Encoding

this loc is finally done
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Localization Encoding

Contan
  localisation/Flavour_Zongji_Y25_l_english.yml
Due: Localization Encoding

eduz mission icons
  missions/EduzVacyn_Missions.txt
Due: none

Bulwar mission event fix to fit the loc. Also why does it trigger 13 times for an area that has 3 provinces?
  events/Flavour_Bulwar_F39.txt
  missions/Bulwar_Missions.txt
Due: Events Encoding

Releasing Iosahars after being vassalized
  common/on_actions/00_on_actions.txt
  events/YnnEvents.txt
Due: Events Encoding

guhe idea tweak
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Magisterium change since vassalization cb is useless against free cities
  events/Flavour_Magisterium_A85.txt
Due: Events Encoding

Stop Ovdal Lodhum from giving away provinces another tag needs
  missions/Ovdal_Lodhum_Missions.txt
Due: none

Bough
  localisation/Flavour_Gawed_A13_l_english.yml
Due: Localization Encoding

siadan localisation rework
  localisation/Flavour_Siadan_F48_l_english.yml
Due: Localization Encoding

Limit should not be in else, only else_if
  events/Flavour_OvdalLodhum_H77.txt
Due: Events Encoding

Can't have 2 defined names, especially since one is wrong
  events/Flavour_Stanyrhrada_G86.txt
Due: Events Encoding

Misread magisterium mission, added permanent claim
  events/Flavour_Magisterium_A85.txt
Due: Events Encoding

A few changes to things that doesnt make sense
  events/Flavour_TheCommand_R62.txt
  events/Flavour_Toarnen_A57.txt
Due: Events Encoding

Removed empty MTTH
  events/Flavour_Mountainshark_H84.txt
Due: Events Encoding

Bad and unnecessary if statement
  events/anb_lilac_wars.txt
Due: Events Encoding

Limit needs ot be in else_if
  events/anb_MiscEvents.txt
Due: Events Encoding

Strange formatting for the picture fixed
  events/Flavour_GorBurad_I16.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
