Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

update history files with new religion
  history/countries/G87 - G87.txt
  history/countries/G88 - G88.txt
  history/countries/G89 - G89.txt
  history/countries/J86 - J86.txt
  history/countries/J87 - J87.txt
  history/countries/J88 - J88.txt
  history/countries/J89 - J89.txt
  history/countries/J90 - J90.txt
  history/countries/J91 - J91.txt
  history/countries/J92 - J92.txt
Due: none

LF mage crisis full loca fix
  events/FederationIncidents_MageWar.txt
  events/LakeFederationEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

uncommenting and overriding
  common/on_actions/00_on_actions.txt
  events/Flavour_VerkalDromak_I25.txt
  events/Flavour_Yingzhen_Y10.txt
  events/MagicRuler.txt
  events/WitchKing.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

PR #6119 [Steam] Lake Federation mage crisis localisation fixes
  events/FederationIncidents_MageWar.txt
  events/LakeFederationEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

Amadia cultures
  common/cultures/anb_cultures.txt
  localisation/anb_cultures_l_english.yml
Due: Localization Encoding

culture in history file
  history/countries/G87 - G87.txt
  history/countries/G88 - G88.txt
  history/countries/G89 - G89.txt
  history/countries/J86 - J86.txt
  history/countries/J87 - J87.txt
  history/countries/J88 - J88.txt
  history/countries/J89 - J89.txt
  history/countries/J90 - J90.txt
  history/countries/J91 - J91.txt
  history/countries/J92 - J92.txt
Due: none

culture scriptred trigrs
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

added new sun elven names to anb_culture and country files
  common/countries/Azka-Evran.txt
  common/countries/Birsartanses.txt
  common/countries/Elizna.txt
  common/countries/Irrliam.txt
  common/countries/Jaherian Exemplars.txt
  common/countries/Kinvefirel.txt
  common/countries/Phoenix Empire.txt
  common/countries/Sareyand.txt
  common/countries/Setadazar.txt
  common/countries/Varamhar.txt
  common/cultures/anb_cultures.txt
Due: none

holi exile
  events/Flavour_Yinquan_Y26.txt
Due: Events Encoding

Tooltip fix for Goblin Shamanism Primary Cult.
  localisation/goblinic_shamanism_l_english.yml
Due: Localization Encoding

yinquan fixes
  events/Flavour_Yinquan_Y26.txt
  events/RendingMA.txt
  localisation/Flavour_Yinquan_Y26_l_english.yml
  missions/Yinquan_Missions.txt
Due: Events Encoding, Localization Encoding

fix
  events/Flavour_Yinquan_Y26.txt
Due: Events Encoding

gov fix
  common/government_mechanics/anb_huszien_council.txt
Due: none

colors part 1
  common/countries/J88.txt
  common/countries/J89.txt
  common/countries/J90.txt
  common/countries/J91.txt
  common/countries/J92.txt
  common/country_tags/anb_countries.txt
  common/religions/00_anb_religion.txt
Due: none

colors part 2
  common/countries/G87.txt
  common/countries/G88.txt
  common/countries/G89.txt
  common/countries/J86.txt
  common/countries/J87.txt
  common/countries/J92.txt
Due: none

tag names part 1
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

Faalte fix
  history/countries/J87 - J87.txt
Due: none

tribal land
  history/provinces/1195 - Den_Siqum.txt
  history/provinces/2398 - Alunguin.txt
  history/provinces/2404 - Woobora.txt
  history/provinces/2413 - Baafchas.txt
  history/provinces/2419 - Bacodoos.txt
  history/provinces/2420 - Limrei.txt
  history/provinces/2427 - Tuduun.txt
  history/provinces/2429 - Warubir.txt
  history/provinces/2443 - Erelnel.txt
  history/provinces/2446 - Irbuze.txt
  history/provinces/2455 - Pachuden.txt
  history/provinces/2457 - Chaiwafmul.txt
Due: none

PR #6122 [Steam] Tooltip fix for Goblin Shamanism Primary Cult
  localisation/goblinic_shamanism_l_english.yml
Due: Localization Encoding

PR #6123 [Steam] Fixes
  common/government_mechanics/anb_huszien_council.txt
  events/Flavour_Plumstead_H61.txt
  events/Flavour_Yinquan_Y26.txt
  events/RendingMA.txt
  localisation/Flavour_Plumstead_H61_l_english.yml
  localisation/Flavour_Yinquan_Y26_l_english.yml
  map/terrain.txt
  missions/Yinquan_Missions.txt
Due: Events Encoding, Localization Encoding

banche prvs
  history/provinces/2402 - Elilen.txt
  history/provinces/2403 - Bani.txt
  history/provinces/2404 - Woobora.txt
  history/provinces/2414 - Soolchas.txt
  history/provinces/2415 - Bairboos.txt
  history/provinces/2418 - Crequin.txt
  history/provinces/2419 - Bacodoos.txt
  history/provinces/2420 - Limrei.txt
  history/provinces/2423 - Cada_Sinelara.txt
  history/provinces/2431 - Limboos.txt
  history/provinces/2445 - Lorcanfrai.txt
Due: none

chaqanel prvs
  history/provinces/2406 - Giun.txt
  history/provinces/2408 - Chamguin.txt
  history/provinces/2411 - Nahuarbora.txt
  history/provinces/2412 - Toozewaf.txt
  history/provinces/2421 - Dawenban.txt
  history/provinces/2422 - Locpuncara.txt
  history/provinces/2424 - Birchos.txt
  history/provinces/2427 - Tuduun.txt
  history/provinces/2428 - Triceba.txt
  history/provinces/2429 - Warubir.txt
  history/provinces/2430 - Dalcamguin.txt
  history/provinces/2432 - Triwen.txt
  history/provinces/2433 - Watriw.txt
  history/provinces/2434 - Wena_Sinechaiubis.txt
  history/provinces/2436 - Cada_Sirboos.txt
  history/provinces/2443 - Erelnel.txt
  history/provinces/2444 - Aun_Dumallas.txt
Due: none

fixes
  common/great_projects/anb_monuments_missions.txt
  common/religions/00_anb_religion.txt
  events/AgeOfUnraveling.txt
  events/CrimsonDeluge.txt
Due: Events Encoding

chamullach
  history/provinces/2396 - Borawid.txt
  history/provinces/2397 - Rungan.txt
  history/provinces/2398 - Alunguin.txt
  history/provinces/2399 - Lirani.txt
  history/provinces/2400 - Oomul.txt
  history/provinces/2401 - Mantur.txt
  history/provinces/2405 - Baaforcan.txt
  history/provinces/2407 - Chubisoos.txt
  history/provinces/2409 - Puailchas.txt
  history/provinces/2413 - Baafchas.txt
  history/provinces/2417 - Aunel.txt
  history/provinces/2446 - Irbuze.txt
Due: none

faalte prvs
  history/provinces/2385 - Chuesnoon.txt
  history/provinces/2416 - Codoosun.txt
  history/provinces/2435 - Cara_Banqum.txt
  history/provinces/2438 - Puwambatu.txt
  history/provinces/2439 - Catagilen.txt
  history/provinces/2440 - Creilen.txt
  history/provinces/2441 - Ranneranna.txt
  history/provinces/2442 - Erelqum.txt
  history/provinces/2447 - Chuesnel.txt
Due: none

quruwei
  history/provinces/1195 - Den_Siqum.txt
  history/provinces/2382 - Erengunel.txt
  history/provinces/2448 - Coosimba.txt
  history/provinces/2451 - Uyucahp.txt
  history/provinces/2452 - Wifonel.txt
  history/provinces/2453 - Nefuees.txt
  history/provinces/2454 - Sanebanko.txt
  history/provinces/2455 - Pachuden.txt
  history/provinces/2456 - Tecreq.txt
  history/provinces/2457 - Chaiwafmul.txt
  history/provinces/2458 - Sarpuaun.txt
  history/provinces/4328 - Highwaters.txt
  history/provinces/4402 - Sunglare.txt
  history/provinces/4403 - The_Narrows.txt
Due: none

death of doos
  common/cultures/anb_cultures.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  localisation/anb_cultures_l_english.yml
Due: Localization Encoding

quchamar
  history/provinces/2360 - Oomu_Nelir.txt
  history/provinces/2361 - Durileilen.txt
  history/provinces/2362 - Igarunel.txt
  history/provinces/2383 - Wulasun.txt
  history/provinces/2384 - Carginden.txt
  history/provinces/2386 - Falandum.txt
  history/provinces/2387 - Lef_Damaringar.txt
  history/provinces/2388 - Cara_Lafquen.txt
  history/provinces/2389 - Wubrados.txt
  history/provinces/2390 - Mansulaf.txt
  history/provinces/2391 - Uneilen.txt
  history/provinces/2392 - Wiranden.txt
  history/provinces/2393 - Nel_Silir.txt
  history/provinces/3205 - Chamuaili.txt
Due: none

religion prvs parrt 1
  history/provinces/1195 - Den_Siqum.txt
  history/provinces/2382 - Erengunel.txt
  history/provinces/2385 - Chuesnoon.txt
  history/provinces/2416 - Codoosun.txt
  history/provinces/2435 - Cara_Banqum.txt
  history/provinces/2438 - Puwambatu.txt
  history/provinces/2439 - Catagilen.txt
  history/provinces/2440 - Creilen.txt
  history/provinces/2441 - Ranneranna.txt
  history/provinces/2442 - Erelqum.txt
  history/provinces/2447 - Chuesnel.txt
  history/provinces/2448 - Coosimba.txt
  history/provinces/2451 - Uyucahp.txt
  history/provinces/2452 - Wifonel.txt
  history/provinces/2453 - Nefuees.txt
  history/provinces/2454 - Sanebanko.txt
  history/provinces/2455 - Pachuden.txt
  history/provinces/2456 - Tecreq.txt
  history/provinces/2457 - Chaiwafmul.txt
  history/provinces/2458 - Sarpuaun.txt
  history/provinces/4328 - Highwaters.txt
  history/provinces/4402 - Sunglare.txt
  history/provinces/4403 - The_Narrows.txt
Due: none

guh
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

added in workaround for mission requiring iosahar
  missions/Amacimst_Missions.txt
Due: none

tag names
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

country file name alignment
  common/countries/Arapache.txt
  common/countries/Cara Lafquen.txt
  common/countries/Chaparun.txt
  common/countries/Chaqway.txt
  common/countries/Inifoeyu.txt
  common/countries/Iruasawid.txt
  common/countries/Kawayimeqi.txt
  common/countries/Tanafali.txt
  common/countries/Trigica.txt
  common/countries/Udralach.txt
  common/country_tags/anb_countries.txt
Due: none

oop
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

history files
  history/countries/G87 - Chaqway.txt
  history/countries/G88 - Arapache.txt
  history/countries/G89 - Kawayimeqi.txt
  history/countries/J86 - Inifoeyu.txt
  history/countries/J87 - Tanafali.txt
  history/countries/J88 - Udralach.txt
  history/countries/J89 - Chaparun.txt
  history/countries/J90 - Cara Lafquen.txt
  history/countries/J91 - Iruasawid.txt
  history/countries/J92 - Trigica.txt
Due: none

Eltikan MT fixes
  events/Flavour_Eltikan_G60.txt
  localisation/Flavour_Eltikan_G60_l_english.yml
  missions/Eltikan_Missions.txt
Due: Events Encoding, Localization Encoding

ok spy
  common/countries/Imeqitahp.txt
  history/countries/G89 - Imeqitahp.txt
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

e
  common/custom_gui/ruler_race_icon.txt
  interface/countrydiplomacyview.gui
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
