Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

bug
  missions/Kumarkand_Missions.txt
Due: none

gerunanin privilege tooltip
  common/estate_privileges/estate_gerunanin_privileges.txt
Due: none

BUG
  missions/Kumarkand_Missions.txt
Due: none

zomps
  localisation/effelai_worship_l_english.yml
  missions/Effelai_Missions.txt
Due: Localization Encoding

eagle hobbogobbo tooltip
  decisions/HalessiFormables.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

[3D Model] Leechfather's grasp
  gfx/entities/anb_map_objects.asset
  gfx/models/anbennar/map_objects/Leech_Diffuse.dds
  gfx/models/anbennar/map_objects/Leech_Normal.dds
  gfx/models/anbennar/map_objects/Leech_Spec.dds
  gfx/models/anbennar/map_objects/Leechfather_grasp.mesh
  gfx/models/anbennar/map_objects/Leechfather_grasp_slap.anim
  gfx/models/anbennar/map_objects/Leechfather_grasp_slap2.anim
  gfx/models/anbennar/map_objects/Leechfather_grasp_slither.anim
  gfx/models/anbennar/map_objects/Leechfather_grasp_slither2.anim
  gfx/models/anbennar/map_objects/map_objects_animation_anbennar.asset
  interface/assets/anbennar_map_objects.gfx
  map/ambient_object.txt
Due: none

eagle hobgoblin wont turn into normal hobgoblin
  events/anb_racial_admin_mil.txt
Due: Events Encoding

forgor oop
  common/technology.txt
Due: none

rending loc fix
  customizable_localization/anb_rending_appeasement.txt
Due: none

leechfather grasp additional variant + better dispersion
  gfx/entities/anb_map_objects.asset
  gfx/models/anbennar/map_objects/Leechfather_grasp_slither2.anim
  gfx/models/anbennar/map_objects/Leechfather_grasp_slither3.anim
  gfx/models/anbennar/map_objects/map_objects_animation_anbennar.asset
  interface/assets/anbennar_map_objects.gfx
  map/ambient_object.txt
Due: none

Mount Lazzavad Monument Art
  gfx/interface/great_projects/great_project_mount_lazzaward.dds
  interface/anb_great_project.gfx
  interface/great_project.gfx
Due: none

E
  localisation/Flavour_Thangoya_Z62_l_english.yml
Due: Localization Encoding

centaur fix
  decisions/CentaurDecisions.txt
Due: Decisions Encoding

oop
  common/on_actions/00_on_actions.txt
Due: none

more rending loc
  localisation/anb_rending_l_english.yml
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

a
  interface/countrycourtview.gfx
  interface/countrygovernmentview.gfx
Due: none

b
  common/estate_privileges/01_church_privileges.txt
Due: none

c
  common/on_actions/00_on_actions.txt
Due: none

vb fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Vels_Bacar_G84.txt
  history/countries/G84 - Vels Bacar.txt
  localisation/Flavour_VelsBacar_l_english.yml
Due: Events Encoding, Localization Encoding

vb fix
  events/Flavour_Vels_Bacar_G84.txt
  history/countries/G84 - Vels Bacar.txt
Due: Events Encoding

rending loc
  localisation/anb_rending_l_english.yml
Due: Localization Encoding

Autocomplete agendas for Adventurers, Mages, Artificers
  common/estate_agendas/anb_adventurers_agendas.txt
  common/estate_agendas/anb_artificer_agendas.txt
  common/estate_agendas/anb_mages_agendas.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
Due: none

effelai fix
  missions/Effelai_Missions.txt
Due: none

our not out, also ovdal tungr parsing fix
  decisions/OvdalTungrDecisions.txt
  localisation/effelai_worship_l_english.yml
Due: Decisions Encoding, Localization Encoding

VF Varlen failsafe
  events/Flavour_Vels_Fadhecai_G38.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Events Encoding, Localization Encoding

PR #7263 Feiten compatibility patch for new trade nodes
  common/scripted_effects/feiten_scripted_effects.txt
  events/Flavour_Feiten_Y20.txt
  map/provincegroup.txt
Due: Events Encoding

ayarallen parsing error fix
  missions/Ayarallen_Missions.txt
Due: none

kalsyto fixes
  common/subject_types/00_subject_types.txt
  missions/Kalsyto_Missions.txt
Due: none

jarnklo harpy starting vision fix
  common/scripted_effects/anb_setup_effects.txt
Due: none

Vels Bacar loc
  localisation/Flavour_VelsBacar_l_english.yml
Due: Localization Encoding

VB Fix
  localisation/Flavour_VelsBacar_l_english.yml
Due: Localization Encoding

simple changes, trying out scripted effect
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  decisions/TheatreOfAttritionDecisions.txt
  events/TheatreOfAttrition.txt
Due: Decisions Encoding, Events Encoding

Smallest bugfix in the world (making an event give money correctly)
  events/Flavour_ArgOrdstun_H76.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
