Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

Cleaning up Wingren stuff I found
  common/estates/01_church.txt
  common/estates/03_burghers.txt
  common/estates/97_mages.txt
  common/estates/98_adventurers.txt
  localisation/Group_Flavour_Inyaswarosa_l_english.yml
Due: Localization Encoding, Loc key collision check

I forgor
  events/SarhalEvents.txt
Due: Events Encoding

Another hm round
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_masked_butcher.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/MaskedButcherDecisions.txt
  events/Flavour_MaskedButcher_H81.txt
  missions/MaskedButcher_Missions.txt
Due: Decisions Encoding, Events Encoding

reform patch
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding, Loc key collision check

Tweaks as suggested in the Discord server
  events/Flavour_Lake_Splinters_JXX.txt
  missions/Sunijalla_Missions.txt
Due: Events Encoding

another hm round
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_vampires_privileges.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_mechanim.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

command cede province optimization
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Jaddari fixes
  common/government_mechanics/anb_desert_legion.txt
  common/on_actions/00_on_actions.txt
Due: none

changed 34 to a 35
  events/Flavour_OvdalTungr_F23.txt
Due: Events Encoding

OSC buff
  common/church_aspects/anb_old_sun_cult.txt
Due: none

Fix for the Fix God
  common/on_actions/00_on_actions.txt
Due: none

This was bothering me
  common/units/dwarven_5_tortoise_formation.txt
  common/units/dwarven_9_pepper_and_tortoise.txt
  common/units/dwarven_9_remnant_harquebusiers.txt
Due: none

Fix for the fix god
  common/on_actions/00_on_actions.txt
Due: none

hm round
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_vampires_privileges.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/MaskedButcherDecisions.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_mechanim.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
Due: Decisions Encoding, Events Encoding

KU form change
  decisions/CentaurDecisions.txt
Due: Decisions Encoding

whoops
  common/estates/98_adventurers.txt
Due: none

Astera get bonked
  common/church_aspects/anb_transmutative_path.txt
Due: none

yanszin no MT
  common/scripted_effects/anb_scripted_effects.txt
  decisions/HalessiFormables.txt
  events/Elections.txt
  events/Flavour_Yanszin.txt
  localisation/Flavour_Yanszin_l_english.yml
  localisation/anb_decisions_l_english.yml
  missions/Anjiang_Missions.txt
  missions/Zz_Yanszin_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Fixes to the center of trade upgrade
  missions/Bagcatir_Missions.txt
Due: none

fixes
  common/church_aspects/anb_accretive_path.txt
  common/custom_gui/countryreligionview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/transmutative_path_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_accretive_path.txt
  customizable_localization/anb_accretive_path.txt
  gfx/interface/custom_gui/accretive_path_blocker.dds
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
  localisation/accretive_path_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding, Loc key collision check

Aspect icons for Cult of Uelos
  gfx/interface/church_aspects/uelos_aspect_coral.dds
  gfx/interface/church_aspects/uelos_aspect_cuttlefish.dds
  gfx/interface/church_aspects/uelos_aspect_deep_one.dds
  gfx/interface/church_aspects/uelos_aspect_jellyfish.dds
  gfx/interface/church_aspects/uelos_aspect_kraken.dds
  gfx/interface/church_aspects/uelos_aspect_sailfish.dds
  gfx/interface/church_aspects/uelos_aspect_shark.dds
  gfx/interface/church_aspects/uelos_aspect_whale.dds
  interface/anb_church_aspects.gfx
Due: none

PR fix
  common/government_reforms/02_government_reforms_republics.txt
  events/Flavour_Yanzhong_Y08.txt
  missions/Yanzhong_Missions.txt
Due: Events Encoding

Command patch
  common/government_mechanics/anb_command_korashi.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

fix
  common/diplomatic_actions/00_diplomatic_actions.txt
Due: none

oop
  common/on_actions/00_on_actions.txt
  common/scripted_effects/transmutative_path_scripted_effects.txt
  events/Transmutative_Path_events.txt
  localisation/transmutative_path_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

OT work
  common/event_modifiers/anb_mission_modifiers.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Crathanor_Missions.txt
  missions/Ovdal_Tungr_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

a
  common/scripted_effects/transmutative_path_scripted_effects.txt
Due: none

final fixes
  customizable_localization/anb_accretive_path.txt
  localisation/accretive_path_l_english.yml
Due: Localization Encoding, Loc key collision check

loc
  events/Group_Flavour_Forest_Goblins.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Roadwarrior capstone custom loc
  localisation/Flavour_Roadwarrior_H74_l_english.yml
  missions/Roadwarrior_Missions.txt
Due: Localization Encoding, Loc key collision check

Roadwarrior capstone and region custom loc
  localisation/Flavour_Roadwarrior_H74_l_english.yml
  missions/Roadwarrior_Missions.txt
Due: Localization Encoding, Loc key collision check

Bug fixes and alternative reward for second elector bug
  common/scripted_triggers/00_scripted_triggers.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

salgae breakaway religious schools set
  history/countries/I91 - Burning Spear.txt
  history/countries/I92 - Verdant bliss.txt
  history/countries/I93 - Tiger Bane.txt
  history/countries/I94 - Desert Mane.txt
  history/countries/I95 - Raging Blizzard.txt
  history/countries/I96 - Rosen Rider.txt
  history/countries/I97 - Vine Tearer.txt
Due: none

formables dont lie about having missions
  decisions/CentaurDecisions.txt
Due: Decisions Encoding

cannorian holy site code rework
  common/event_modifiers/anb_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/HalessiSpirits.txt
  events/RegentCourtEvents.txt
  history/countries/A01 - Lorent.txt
  history/countries/A10 - Minaran Temple.txt
  history/countries/A12 - Beepeck.txt
  history/countries/A13 - Gawed.txt
  history/countries/A31 - Moonhaven.txt
  history/countries/A34 - Bisan.txt
  history/countries/A41 - Damish Temple.txt
  history/countries/A44 - Esmaraine.txt
  history/countries/A53 - Aramari Temple.txt
  history/countries/A73 - Silverforge.txt
  history/countries/A74 - Nathalaire.txt
  history/provinces/151 - Beepeck.txt
  history/provinces/227 - Aldtempel.txt
  history/provinces/249 - Aramar.txt
  history/provinces/266 - Esmaraine.txt
  history/provinces/308 - Silverforge_Hall.txt
  history/provinces/332 - Corseton.txt
  history/provinces/4 - Moonmount.txt
  history/provinces/451 - Nathalaire.txt
  history/provinces/52 - Port_Munas.txt
  history/provinces/82 - New_Adea.txt
  history/provinces/833 - North_Castonath.txt
  history/provinces/97 - Minar.txt
  localisation/anb_regent_court_events_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

hm round
  common/scripted_effects/anb_scripted_effects_masked_butcher.txt
  events/Flavour_MaskedButcher_H81.txt
  missions/MaskedButcher_Missions.txt
Due: Events Encoding

OT fixes
  missions/Ovdal_Tungr_Missions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
