Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

missed loc
  localisation/text_l_english.yml
Due: Localization Encoding

better trigger
  missions/Kheteratan_Missions.txt
Due: none

typo
  localisation/subject_type_l_english.yml
Due: Localization Encoding

the fog is coming, all shall fade, do not be afraid child
  events/Flavour_Brelar_G27.txt
Due: Events Encoding

disaster tweaks
  common/disasters/ahati_disaster.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

mandate tweak
  common/event_modifiers/anb_khet_mandate_modifiers.txt
Due: none

initial ai tweaks
  common/peace_treaties/anb_take_mandate.txt
  events/estate_ahati.txt
Due: Events Encoding

locked
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

ai work
  common/imperial_reforms/01_china.txt
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
Due: none

ai smart reforms
  common/imperial_reforms/01_china.txt
Due: none

ai smart decrees
  common/decrees/00_china.txt
Due: none

more ai stuff
  common/imperial_reforms/01_china.txt
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
  events/estate_ahati.txt
Due: Events Encoding

mission tweak
  missions/Kheteratan_Missions.txt
Due: none

move to 1 file
  decisions/FangaulaNation.txt
  decisions/KheterataNation.txt
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

lol
  common/peace_treaties/anb_tributary.txt
Due: none

oops
  missions/Kheteratan_Missions.txt
Due: none

spirit event stuff
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

tweak cb desire
  common/cb_types/anb_cb_aakheta_uprising.txt
Due: none

cardesti 2
  common/event_modifiers/anb_cardesti_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_cardesti_scripted_effects.txt
  events/anb_cardesti_events.txt
  localisation/anb_cardesti_l_english.yml
Due: Events Encoding, Localization Encoding

cardesti 3
  events/anb_cardesti_events.txt
  localisation/anb_cardesti_l_english.yml
Due: Events Encoding, Localization Encoding

loc and bug fixes
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  localisation/Flavour_Zansap_F43_l_english.yml
  missions/Zansap_Missions.txt
Due: Localization Encoding

rending events
  common/event_modifiers/anb_spirit_modifiers.txt
  common/rebel_types/spirit_swarms.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

gaming
  common/event_modifiers/anb_spirit_modifiers.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

Crystal cave is back baby
  gfx/interface/missions/mission_crystal_cave.dds
  interface/missionicons_anb.gfx
  missions/Chaingrasper_Missions.txt
  missions/HulazKrakazol_Missions.txt
  missions/Krakdhumvror_Missions.txt
  missions/Railskulker_Missions.txt
  missions/ShatteredCrown_Missions.txt
  missions/TheCommand_Missions.txt
  missions/VerkalDromak_Missions.txt
Due: none

bug
  missions/Zansap_Missions.txt
Due: none

funny button
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

MY SUFFERING HAS ENDED
  gfx/interface/missions/rezankand/mission_a_sword.dds
  interface/missionicons_anb.gfx
  missions/Eltikan_Missions.txt
  missions/Eordand_Missions.txt
  missions/Rezankand_Missions.txt
Due: none

King is no longer sweating
  gfx/interface/missions/mission_approach_throne.dds
  interface/missionicons_anb.gfx
  missions/Adshaw_Missions.txt
  missions/Aelnar_Missions.txt
  missions/Ameion_Missions.txt
  missions/Anjiang_Missions.txt
  missions/Arbaran_Missions.txt
  missions/Asheniande_Missions.txt
  missions/Azka_Evran_Missions.txt
  missions/Azka_Sur_Missions.txt
  missions/Beepeck_Missions.txt
  missions/Beikdugang_Missions.txt
  missions/Bjarnrik_Missions.txt
  missions/Bulwar_Missions.txt
  missions/ChienBinhrung_Missions.txt
  missions/Degakheion_Missions.txt
  missions/Elikhand_Missions.txt
  missions/Feiten_Missions.txt
  missions/Gawedi_Missions.txt
  missions/Jiantsiang_Missions.txt
  missions/Khugdihr_Missions.txt
  missions/LakeFederation_Missions.txt
  missions/Malacnar_Missions.txt
  missions/Marrhold_Missions.txt
  missions/Mountainshark_Missions.txt
  missions/Mulen_Missions.txt
  missions/Oktikheion_Missions.txt
  missions/Shazstundihr_Missions.txt
  missions/Siadan_Missions.txt
  missions/TheCommand_Missions.txt
  missions/ThievingArrow_Missions.txt
  missions/Tiltaghar_Missions.txt
  missions/Toarnen_Missions.txt
  missions/Truedagger_Missions.txt
  missions/Wex_Missions.txt
  missions/WineportMissions.txt
  missions/XX_Phoenix_Empire_Missions.txt
  missions/Zongji_Missions.txt
Due: none

moar spirit
  common/event_modifiers/anb_spirit_modifiers.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

fixing ruler optimization
  common/on_actions/00_on_actions.txt
Due: none

okman smells
  common/on_actions/00_on_actions.txt
Due: none

Subjects can own Bulwari temples
  common/ages/00_default.txt
Due: none

Kinverfirel idea loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Added missing death of the peacher event
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Zansap_F43.txt
  localisation/Flavour_Zansap_F43_l_english.yml
  missions/Zansap_Missions.txt
Due: Events Encoding, Localization Encoding

fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

bug?
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

peacher bug
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

MT Our Future bug fixing
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Zansap_Missions.txt
Due: none

Khet vassal have a bug
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

Jaddari Event loc
  events/Flavour_Jaddari_F46.txt
  localisation/Flavour_Jaddari_F46_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
