Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

aul dwarov NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

urvikstens mt update
  events/Flavour_Urviksten_Z15.txt
  localisation/Flavour_Urviksten_Z15_l_english.yml
  missions/Urviksten_Missions.txt
Due: Events Encoding, Localization Encoding

urviskten change
  missions/Urviksten_Missions.txt
Due: none

I want Tators to be happy
  common/ideas/anb_country_ideas.txt
Due: none

Bug fixe for Zansap due to dlc
  missions/Zansap_Missions.txt
Due: none

fixing zansap bug part 2
  missions/Zansap_Missions.txt
Due: none

Kheterata mission fix wrong province
  missions/Kheteratan_Missions.txt
Due: none

fixing zansap bug part 3
  missions/Zansap_Missions.txt
Due: none

fixing zansap bug part 4
  missions/Zansap_Missions.txt
Due: none

fixing zansap bug part 5
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 6
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 7
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 8
  missions/Zansap_Missions.txt
Due: none

Trollsbay scope fix for set_saved_name
  events/Flavour_Cestirmark_H33.txt
Due: Events Encoding

fixing zansap part 9
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 10
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 11
  Anbennar-PublicFork.mod
Due: none

Revert "fixing zansap part 11"
  Anbennar-PublicFork.mod
Due: none

Auto stash before revert of "fixing zansap part 11"
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 12
  Anbennar-PublicFork.mod
Due: none

fixing zansap part 13
  missions/Zansap_Missions.txt
Due: none

bug on my end
  Anbennar-PublicFork.mod
Due: none

Fixing zansap part 14
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 15
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 16
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 17
  missions/Zansap_Missions.txt
Due: none

fixing zansap part 18
  missions/Zansap_Missions.txt
Due: none

Urvikstens Changes +magisterium fix
  common/estates/97_mages.txt
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/EbonsteelDecisions.txt
  missions/Urviksten_Missions.txt
Due: Decisions Encoding

great merfolk canal fix
  map/adjacencies.csv
Due: none

ebonsteel gubfix
  decisions/EbonsteelDecisions.txt
Due: Decisions Encoding

Minor Deepwoods fix
  common/event_modifiers/anb_deepwoods_modifiers.txt
Due: none

fixes temple repair flavor events
  events/Flavour_TheCommand_R62.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

simul corruption/purification/repair refactor
  common/event_modifiers/anb_spirit_modifiers.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_effects/var_effect.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  decisions/TempleDecisions.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
  missions/TheCommand_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

no more generic models after t12
  gfx/sprite_packs/Anbennar_sprites.txt
Due: none

beautification + optimization
  common/scripted_effects/spirits_scripted_effects.txt
  decisions/TempleDecisions.txt
  events/HalessiSpirits.txt
Due: Decisions Encoding, Events Encoding

Rayaz Asarta alliance break event
  events/SarhalEvents.txt
  localisation/anb_sarhal_events_l_english.yml
Due: Events Encoding, Localization Encoding

misc
  common/church_aspects/anb_fey_court.txt
  events/Theocracies.txt
  gfx/interface/church_aspects/fey_seelie_1.dds
  gfx/interface/church_aspects/fey_seelie_2.dds
  gfx/interface/church_aspects/fey_seelie_3.dds
  gfx/interface/church_aspects/fey_seelie_4.dds
  gfx/interface/church_aspects/fey_unaligned_1.dds
  gfx/interface/church_aspects/fey_unaligned_2.dds
  gfx/interface/church_aspects/fey_unaligned_3.dds
  gfx/interface/church_aspects/fey_unaligned_4.dds
  gfx/interface/church_aspects/fey_unseelie_1.dds
  gfx/interface/church_aspects/fey_unseelie_2.dds
  gfx/interface/church_aspects/fey_unseelie_3.dds
  gfx/interface/church_aspects/fey_unseelie_4.dds
Due: Events Encoding

misc
  interface/anb_church_aspects.gfx
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
