Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Beggaston bugfixes + ravelian/corinite compatible
  common/government_reforms/02_government_reforms_republics.txt
  events/Flavour_Beggaston_H45.txt
  localisation/Flavour_Beggaston_H45_l_english.yml
  missions/Beggaston_Missions.txt
Due: Events Encoding, Localization Encoding

Besolaki Loc and Bugfixes
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/religious_reforms/00_religious_reforms.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/taychend_scripted_effects.txt
  events/Flavour_Besolaki_G54.txt
  events/Flavour_Eneion_G55.txt
  events/Flavour_Keyolion_G58.txt
  events/OrenNayiruEvents.txt
  events/ReligiousReforms.txt
  events/kheionai_events.txt
  localisation/Flavour_Amgremos_G62_l_english.yml
  localisation/Flavour_Besolaki_G54_l_english.yml
  localisation/Flavour_Eneion_G55_l_english.yml
  localisation/anb_factions_l_english.yml
  localisation/anb_taychend_l_english.yml
  missions/Besolaki_Missions.txt
Due: Events Encoding, Localization Encoding

Ayarallen gubfixes
  common/government_mechanics/anb_harpylen_queendom.txt
  events/flavour_Ayarallen_F27.txt
  gfx/interface/custom_gui/image_harpy_queendom_ui.dds
  interface/countrygovernmentview.gui
  interface/government_mechanics/harpylen_queendom_claim.gui
  localisation/Flavour_Ayarallen_F27_l_english.yml
  missions/Ayarallen_Missions.txt
Due: Events Encoding, Localization Encoding

oop
  missions/Ayarallen_Missions.txt
Due: none

a
  common/on_actions/00_on_actions.txt
Due: none

i am so smart
  common/on_actions/00_on_actions.txt
  missions/Ayarallen_Missions.txt
Due: none

Fix
  events/kheionai_events.txt
Due: Events Encoding

setup oop
  common/scripted_effects/anb_setup_effects.txt
Due: none

b
  common/on_actions/00_on_actions.txt
Due: none

c
  common/on_actions/00_on_actions.txt
Due: none

d
  events/InfernalCourtEvents.txt
  missions/Ayarallen_Missions.txt
Due: Events Encoding

c
  common/on_actions/00_on_actions.txt
  events/InfernalCourtEvents.txt
Due: Events Encoding

new religion icons
  common/religions/00_anb_religion.txt
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
  interface/countryview.gfx
  interface/ledger.gfx
  interface/provinceview.gfx
Due: none

allclan bug and tc loc fix
  events/Flavour_Allclan_I98.txt
  localisation/anb_trade_companies_l_english.yml
Due: Events Encoding, Localization Encoding

Beggaston loc fix
  localisation/Flavour_Beggaston_H45_l_english.yml
Due: Localization Encoding

no caribbean
  localisation/golden_century_l_english.yml
Due: Localization Encoding

drusikari flag
  gfx/flags/M02.tga
Due: none

Covenblad mission simplification
  missions/Covenblad_Missions.txt
Due: none

OT fixes
  events/Flavour_OvdalTungr_F23.txt
Due: Events Encoding

blub
  common/religions/00_anb_religion.txt
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
  interface/countryview.gfx
  interface/ledger.gfx
  interface/provinceview.gfx
Due: none

VF Edits
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
Due: Localization Encoding

fix
  common/government_reforms/06_government_reforms_common.txt
Due: none

commented for update
  common/estate_privileges/estate_artifice_privileges.txt
  common/estates/99_artificers.txt
Due: none

khezkhagak has shuvuush nis
  common/ideas/anb_group_ideas.txt
Due: none

BUG
  events/Flavour_Kumarkand_F30.txt
  missions/Kumarkand_Missions.txt
Due: Events Encoding

bug
  missions/Kumarkand_Missions.txt
Due: none

loc fix
  localisation/anb_units_l_english.yml
Due: Localization Encoding

fixes
  common/natives/00_natives.txt
  events/EffelaiWorshipEvents.txt
  localisation/effelai_worship_l_english.yml
  missions/Effelai_Missions.txt
Due: Events Encoding, Localization Encoding

finding phokhao tweaks
  decisions/RendingDecisions.txt
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Nekhei Loc
  localisation/anb_kheionai_l_english.yml
  localisation/anb_subject_type_l_english.yml
Due: Localization Encoding

BUG
  missions/Kumarkand_Missions.txt
Due: none

New Eordand flags
  gfx/flags/U40.tga
  gfx/flags/U41.tga
Due: none

Gerudian Lakes Bugfix
  map/area.txt
  map/climate.txt
  map/continent.txt
  map/default.map
Due: none

ruinborn gov reform loca
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
