Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

fixes
  localisation/Flavour_Bagcatir_H07_l_english.yml
  map/provincegroup.txt
  missions/Bagcatir_Missions.txt
Due: Localization Encoding, Loc key collision check

mage
  common/ruler_personalities/00_core.txt
Due: none

error log fix
  common/on_actions/00_on_actions.txt
  history/countries/U43 - Saraeddun.txt
  localisation/Flavour_Bagcatir_H07_l_english.yml
  missions/Bagcatir_Missions.txt
Due: Localization Encoding, Loc key collision check

tooltip fix
  localisation/Flavour_Bhuvauri_R38_l_english.yml
  missions/Bhuvauri_Missions.txt
Due: Localization Encoding, Loc key collision check

OT work
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Dalcabba loc fix
  localisation/Flavour_Elikhand_B38_l_english.yml
Due: Localization Encoding, Loc key collision check

deleted harpy and hobgoblins
  common/scripted_effects/anb_racial_election_scripted_effects.txt
Due: none

purged event targets
  common/scripted_effects/anb_racial_election_scripted_effects.txt
Due: none

done
  common/scripted_effects/anb_racial_election_scripted_effects.txt
Due: none

Suhan's Praxis Religious actions
  common/church_aspects/anb_suhans_praxis.txt
  common/event_modifiers/anb_religion_modifiers.txt
  events/SuhansPraxisEvents.txt
  localisation/anb_religions_l_english.yml
  localisation/suhans_praxis_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

fixed everything
  common/scripted_effects/anb_racial_election_scripted_effects.txt
Due: none

OT work
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

more
  common/scripted_effects/anb_racial_election_scripted_effects.txt
Due: none

bugfixes
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/estate_artifice_privileges.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/MonstrousEvents.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  localisation/anb_estates_command_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

removing Axius' contribution
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

azjakuma insub fix
  common/disasters/command_insubordination.txt
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

more dumb relic stuff
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/relic_triggers.txt
Due: none

changed mtth to ptm
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_Bagcatir.txt
  missions/Bagcatir_Missions.txt
Due: Events Encoding

Racial Admin and Mil Adjustement
  common/event_modifiers/racial_admin_military.txt
Due: none

loc fixes
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding, Loc key collision check

Removed tacked on Female modifier to one already affect by race admin
  common/ideas/anb_country_ideas.txt
Due: none

More stuff
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_MaskedButcher_H81.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Deleted commented line
  common/ideas/anb_country_ideas.txt
Due: none

Counts League adjustments
  localisation/Flavour_CountsLeague_B55_l_english.yml
  missions/CountsLeague_Missions.txt
Due: Localization Encoding, Loc key collision check

OT work
  common/province_triggered_modifiers/anb_modifiers.txt
  decisions/OvdalTungrDecisions.txt
  events/Flavour_OvdalTungr_F23.txt
Due: Decisions Encoding, Events Encoding

additional fixes
  decisions/KhugraDecisions.txt
  events/Flavour_Khugra_L70.txt
  localisation/Flavour_Khugra_L70_l_english.yml
  missions/Khugra_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

OT work
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_OvdalTungr_F23.txt
Due: Events Encoding

Fix Azkare mission double negative
  missions/Azkabar_missions.txt
Due: none

I hope it is everything
  common/scripted_effects/anb_racial_election_scripted_effects.txt
  events/Elections.txt
Due: Events Encoding

Fix great centaur formable tooltip
  decisions/CentaurDecisions.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Decisions Encoding, Localization Encoding, Loc key collision check

one more
  common/scripted_effects/anb_racial_election_scripted_effects.txt
  events/Elections.txt
Due: Events Encoding

Fix add Xia Mission bypass if tyrants are dead
  missions/Xia_Missions.txt
Due: none

Cannor Bugfixes and QoL
  common/great_projects/anb_monuments_cannor.txt
  common/on_actions/00_on_actions.txt
  localisation/anb_great_projects_l_english.yml
  localisation/loadingtips_l_english.yml
Due: Localization Encoding, Loc key collision check

great xhaz rework
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/estates/95_monstrous_tribe.txt
  common/event_modifiers/anb_patron_modifiers.txt
  common/event_modifiers/anb_xhazobkult_modifiers.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/wargoal_types/00_wargoal_types.txt
  decisions/XhazobkultDecisions.txt
  events/PatronsEvents.txt
  events/PatronsInfernalEvents.txt
  events/XhazobkultEvents.txt
  localisation/anb_estates_l_english.yml
  localisation/anb_patrons_l_english.yml
  localisation/xhazobkult_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

OT work
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Fix Command forming JadeMarch change ruler culture
  missions/TheCommand_Missions.txt
Due: none

fixes and tweaks
  common/estate_privileges/anb_privileges.txt
  common/wargoal_types/00_wargoal_types.txt
  decisions/XhazobkultDecisions.txt
  events/XhazobkultEvents.txt
  localisation/xhazobkult_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

nerf these
  common/on_actions/00_on_actions.txt
Due: none

kheterata ai tweaks
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
  events/Elections.txt
  events/Kheterata_Civil_War.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check
