Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

more brelar performance
  decisions/BrelarDecisions.txt
Due: Decisions Encoding

Encode?
  common/country_tags/anb_countries.txt
Due: none

Encode
  common/country_tags/anb_countries.txt
Due: none

Line fix for Zansap mission
  missions/Zansap_Missions.txt
Due: none

I'm going MAD
  common/country_tags/anb_countries.txt
Due: none

cleanup
  decisions/BrelarDecisions.txt
Due: Decisions Encoding

remove runfile, parsing gubfixes
  annex_xia_highway.txt
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/anb_scripted_effects_for_vampires.txt
  events/Flavour_Dartaxagerdim_F22.txt
  events/Flavour_Varaine_A99.txt
  events/Flavour_Varamhar_F42.txt
  events/Flavour_VerkalOzovar_Y63.txt
  events/Ruler.txt
Due: Events Encoding, Brackets Syntax

Four new Goblin cults.
  common/fetishist_cults/00_fetishist_cults.txt
  gfx/interface/fetishists_strip.dds
  interface/countryreligionview.gfx
Due: none

fix new ruler culture in grombar disaster event
  events/Flavour_Grombar_Z50.txt
Due: Events Encoding

fix culture shift for carneter formable decision
  decisions/CarneterNation.txt
Due: Decisions Encoding

add culture shift for grombar court when half orc
  events/Flavour_Grombar_Z50.txt
Due: Events Encoding

fixed line endings?
  common/event_modifiers/anb_religion_modifiers.txt
  common/fetishist_cults/00_fetishist_cults.txt
  interface/countryreligionview.gfx
Due: none

Gobling
  events/GoblinicShamanism.txt
Due: Events Encoding

uh oh
  events/AnbennarSetup.txt
Due: Events Encoding

add hidden_triggers in allows for performance
  decisions/AzkareDecisions.txt
  decisions/BimLauNecropolisDecisions.txt
  decisions/DiggyDiggyHole.txt
  decisions/EastSarhalFormables.txt
  decisions/EstateActionsCossacks.txt
  decisions/Estates.txt
  decisions/GreatBulwariWatercourse.txt
  decisions/JaddEmpireNation.txt
  decisions/KhetMandateDecisions.txt
  decisions/LakeFederationStandingCohesion.txt
  decisions/LandsharkDecisions.txt
  decisions/OrcFormables.txt
  decisions/YnnDecisions.txt
Due: Decisions Encoding

Arg-Ordstun start second part
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/DiggyFormables.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

feitenfunny
  decisions/FeitenDecisions.txt
Due: Decisions Encoding

some gfx stuff
  gfx/flags/V01.tga
  gfx/interface/bookmarks/dlc_button_hobgoblin.dds
Due: none

im so smart
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/anb_scripted_effects_for_vampires.txt
  events/DeepwoodsVegan.txt
  events/Flavour_Aelnar_Z43.txt
  events/Flavour_ChienBinhrung_Y72.txt
  events/Flavour_Dartaxagerdim_F22.txt
  events/Flavour_HulazKrakazol_I20.txt
  events/Flavour_ShatteredCrown_H72.txt
  events/Flavour_Varaine_A99.txt
  events/Flavour_Varamhar_F42.txt
  events/Flavour_VerkalOzovar_Y63.txt
  events/Flavour_Yingzhen_Y10.txt
  events/Flavour_Yinquan_Y26.txt
  events/HalessiSpirits.txt
  events/MagicProjectLichdom.txt
  events/RendingMA.txt
  events/XhazobkultEvents.txt
  events/estate_vampires.txt
  localisation/anb_magic_project_l_english.yml
  missions/Haraz_Orldhum_Missions.txt
Due: Events Encoding, Localization Encoding

gaymebing
  localisation/anb_magic_project_l_english.yml
Due: Localization Encoding

e
  common/on_actions/00_on_actions.txt
Due: none

more immortality stuff
  common/on_actions/00_on_actions.txt
  events/Flavour_Luciande_B34.txt
  events/Ruler.txt
  events/VampireRuler.txt
  localisation/anb_ruler_l_english.yml
Due: Events Encoding, Localization Encoding

vyzemby flavour 12-16 Loc Fix
  localisation/Flavour_Vyzemby_l_english.yml
Due: Localization Encoding

Blood for the Perfomance Goddess
  decisions/AdventurerFormables.txt
  decisions/AelnarNation.txt
  decisions/ArawkelinDeforestation.txt
  decisions/OrcFormables.txt
Due: Decisions Encoding

gaming
  events/Ruler.txt
  events/VampireRuler.txt
Due: Events Encoding

Set initial ownership + regions for provinces.
  history/provinces/3007 - Corsmyraeth.txt
  history/provinces/7000.txt
  history/provinces/7001.txt
  history/provinces/7002.txt
  history/provinces/7003.txt
  history/provinces/7004.txt
  history/provinces/7005.txt
  history/provinces/7006.txt
  history/provinces/7007.txt
  history/provinces/7008.txt
  history/provinces/7009.txt
  history/provinces/7010.txt
  history/provinces/7014.txt
  history/provinces/7015.txt
  history/provinces/7016.txt
  history/provinces/7017.txt
  history/provinces/7018.txt
  history/provinces/7019.txt
  history/provinces/7020.txt
  history/provinces/7021.txt
  history/provinces/7022.txt
  history/provinces/7023.txt
  history/provinces/7024.txt
  history/provinces/7025.txt
  history/provinces/7027.txt
  history/provinces/7028.txt
  history/provinces/7029.txt
  history/provinces/7030.txt
  history/provinces/7031.txt
  history/provinces/7032.txt
  history/provinces/7033.txt
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/area.txt
Due: Localization Encoding

better code
  common/ideas/anb_group_ideas.txt
Due: none

fix mercs not using the correct sprite packs
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
Due: none

Rend
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

gaymgibg
  common/on_actions/00_on_actions.txt
  events/Ruler.txt
  localisation/anb_ruler_l_english.yml
Due: Events Encoding, Localization Encoding

[Steam] Fixes
  common/mercenary_companies/0_anb_special_mercenaries.txt
  localisation/Flavour_Siadan_F48_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Arverynn_Missions.txt
Due: Localization Encoding

Arg-Ordstun second branch work
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun.txt
Due: Events Encoding, Localization Encoding

[Steam] Life drain tooltip fix
  events/MagicRuler.txt
  localisation/anb_magic_ruler_l_english.yml
Due: Events Encoding, Localization Encoding

Province dev/goods setup + terrain polish
  history/provinces/7000.txt
  history/provinces/7001.txt
  history/provinces/7002.txt
  history/provinces/7003.txt
  history/provinces/7004.txt
  history/provinces/7005.txt
  history/provinces/7006.txt
  history/provinces/7007.txt
  history/provinces/7008.txt
  history/provinces/7009.txt
  history/provinces/7010.txt
  history/provinces/7011.txt
  history/provinces/7012.txt
  history/provinces/7013.txt
  history/provinces/7014.txt
  history/provinces/7015.txt
  history/provinces/7016.txt
  history/provinces/7017.txt
  history/provinces/7018.txt
  history/provinces/7019.txt
  history/provinces/7020.txt
  history/provinces/7021.txt
  history/provinces/7022.txt
  history/provinces/7023.txt
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/terrain.txt
Due: Localization Encoding

Huszien now properly goes poof
  customizable_localization/anb_rending_localization.txt
  events/HalessiSpirits.txt
  gfx/interface/spirits/spirit_huszien.dds
  interface/event_interfaces.gfx
  localisation/anb_rending_l_english.yml
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

Feast of the Gods (take 2)
  common/religions/00_anb_religion.txt
  common/religious_reforms/00_religious_reforms.txt
  common/scripted_effects/anb_scripted_effects_for_on_actions.txt
  events/ReligiousReforms.txt
  localisation/EU4_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

Duwarkani ruler family aged down
  history/countries/F62 - Duwarkani.txt
Due: none

Trunic Monuments Changes
  common/great_projects/anb_great_projects.txt
Due: none

ruler personalities gubfix
  events/Ruler.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
