Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Quality of life fix for Urviksten
  missions/Urviksten_Missions.txt
Due: none

Destroyed annoiyng time gate for urviksten.
  missions/Urviksten_Missions.txt
Due: none

more urvik loc
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Localization Encoding

lmao coding whislt sleepy is not a good idea but I continue to do it
  decisions/EbonsteelDecisions.txt
Due: Decisions Encoding

PR stuff I missed
  decisions/EbonsteelDecisions.txt
  localisation/Flavour_Urviksten_Z15_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Decisions Encoding, Localization Encoding

more loc shit
  localisation/Flavour_Urviksten_Z15_l_english.yml
  missions/Urviksten_Missions.txt
Due: Localization Encoding

Loca
  localisation/Flavour_Thangoya_Z62_l_english.yml
Due: Localization Encoding

Snotfinger Fix
  missions/Snotfinger_Missions.txt
Due: none

pr fix
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Localization Encoding

PR #6073 [Steam] several minor fixes
  common/on_actions/00_on_actions.txt
  decisions/YnnDecisions.txt
  localisation/anb_religions_l_english.yml
Due: Decisions Encoding, Localization Encoding

PR #6074 [Steam] Various bug fixes and changes
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_settings.txt
  events/EscanniWars.txt
  events/Flavour_Cyranvar_I45.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_Bulwar_l_english.yml
  localisation/Flavour_Plumstead_H61_l_english.yml
  localisation/Flavour_Urviksten_Z15_l_english.yml
  localisation/Flavour_VerkalDromak_I25_l_english.yml
  localisation/Flavour_Vyzemby_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_spirits_l_english.yml
  missions/Arawkelin_Missions.txt
  missions/Freemarches_Missions.txt
  missions/Reveria_Missions.txt
  missions/Urviksten_Missions.txt
  missions/Yinquan_Missions.txt
Due: Events Encoding, Localization Encoding

Dogeater Clan NIs + a bit of code clean up
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

pr fix again
  decisions/EbonsteelDecisions.txt
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Decisions Encoding, Localization Encoding

OT fixes
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/OvdalTungrDecisions.txt
  events/Flavour_OvdalTungr_F23.txt
Due: Decisions Encoding, Events Encoding

adjust yinquan harvest moon mission + on actions
  common/on_actions/00_on_actions.txt
  missions/Yinquan_Missions.txt
Due: none

fix castanorian dragon road decision for subjects
  decisions/CastanorDecisions.txt
Due: Decisions Encoding

fix adventurer formables tooltips + outdated stuff
  decisions/1EscannFormables.txt
  decisions/YnnDecisions.txt
Due: Decisions Encoding

pr fix
  decisions/EbonsteelDecisions.txt
Due: Decisions Encoding

again
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Localization Encoding

PR #6077 [Steam] Snotfinger Fix
  missions/Snotfinger_Missions.txt
Due: none

PR #6079 [Steam] several minor fixes
  common/on_actions/00_on_actions.txt
  decisions/1EscannFormables.txt
  decisions/CastanorDecisions.txt
  decisions/YnnDecisions.txt
  missions/Yinquan_Missions.txt
Due: Decisions Encoding

loc fix
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Localization Encoding

fixed again
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Localization Encoding

Fix
  interface/countrygovernmentview.gui
Due: none

Chendhyan Name List Rework
  common/countries/Caergaraen.txt
  common/countries/Darkalyndar.txt
  common/countries/Durasyar.txt
  common/countries/Kaeorg.txt
  common/countries/Tsidarok.txt
  common/countries/Zaernmaera.txt
  history/countries/G74 - Gophira.txt
  history/countries/J72 - Darkalyndar.txt
  history/countries/J73 - Zaernmaera.txt
  history/countries/J74 - Caergaraen.txt
  localisation/anb_government_names_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Minor Command loc fix
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

PR #6082 [Steam] Minor command loc fix
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

[Steam] Lore and name fixes
  history/countries/I35 - Brambleskinner.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Custom innovativeness to mp effect for Anbennar.
  common/scripted_effects/00_scripted_effects.txt
  events/Corinite.txt
  events/Flavour_DurVazhatun_I03.txt
  localisation/anb_events_religion_l_english.yml
  localisation/anb_holy_orders_l_english.yml
  localisation/anb_tooltips_l_english.yml
Due: Events Encoding, Localization Encoding

[Steam] encoding
  localisation/Flavour_Orlghelovar_I12_l_english.yml
Due: Localization Encoding

PR #6042 [Steam] Orlghelovar DLC checks and minor spelling mistakes
  localisation/Flavour_Orlghelovar_I12_l_english.yml
  missions/Orlghelovar_missions.txt
Due: Localization Encoding

Bianfang Bugfix
  missions/Bianfang_Missions.txt
Due: none

wrong nakar
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Bugfix for Dogeater NIs
  common/ideas/anb_country_ideas.txt
Due: none

PR #6085 [Steam] Bianfang Bugfix
  missions/Bianfang_Missions.txt
Due: none
