Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

white peace bug fixed
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

final merc menu changes
  decisions/TheCommandDecisions.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

1.37 stuff
  common/ages/00_default.txt
  common/estates_preload/00_estate_modifiers.txt
Due: none

okman's suggestions
  common/custom_gui/example.txt
  common/defines.lua
Due: none

last changes for /common
  common/policies/00_dip.txt
  common/trading_policies/00_trading_policies.txt
Due: none

1.37 Update Patch last Commit?
  common/custom_gui/00_readme.txt
  common/custom_gui/example.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Elections.txt
  events/ExplorationEvents.txt
  events/Governments.txt
  events/NativeAmerican.txt
  interface/frontend.gfx
  interface/hre.gui
  interface/provinceview.gui
Due: Events Encoding

culture and misc. changes
  common/countries/Boar Command.txt
  common/countries/Lion Command.txt
  common/cultures/anb_cultures.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

Final Piece gets its own commit :)
  Anbennar-PublicFork.mod
Due: none

parsing error fix
  common/ages/00_default.txt
Due: none

deleting unused content
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/Flavour_TheCommand_R62.txt
  missions/TheCommand_Missions.txt
Due: Events Encoding

spy network
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

PAH! Sir Agga, your days are numbered.
  common/event_modifiers/anb_pasiragha_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  decisions/PasiraghaDecisions.txt
  events/Flavour_Pasiragha_R61.txt
  missions/Pasiragha_Missions.txt
Due: Decisions Encoding, Events Encoding

modifier changes
  common/event_modifiers/anb_rahen_modifiers.txt
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Korashi menu
  decisions/TheCommandDecisions.txt
Due: Decisions Encoding

fixes
  common/event_modifiers/anb_vyzemby_modifiers.txt
  map/area.txt
  missions/Sunijalla_Missions.txt
Due: none

undergrowth implementation, deleting old undergrowth stuff
  common/event_modifiers/anb_goblin_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Group_Flavour_CaveGoblins.txt
  events/Group_Flavour_UndergrowthGoblins.txt
  localisation/Flavour_Undergrowth_Goblins_l_english.yml
  localisation/Group_Flavour_Goblins_l_english.yml
  missions/Undergrowth_Missions.txt
  missions/undergrowth_goblin_missions.txt
Due: Events Encoding, Localization Encoding

Kalsyto Democratic Influence GUI
  common/custom_gui/zz_mission_content.txt
  common/government_mechanics/anb_kalsyto_influence.txt
  gfx/interface/government_mechanics/kalsyto_democracy/kalsyto_allocate_wealth.dds
  gfx/interface/government_mechanics/kalsyto_democracy/kalsyto_democracy_bar.dds
  gfx/interface/government_mechanics/kalsyto_democracy/kalsyto_democracy_bar_empty.dds
  gfx/interface/government_mechanics/kalsyto_democracy/kalsyto_democracy_bar_frame.dds
  gfx/interface/government_mechanics/kalsyto_democracy/kalsyto_democracy_bg.dds
  gfx/interface/government_mechanics/kalsyto_democracy/kalsyto_rally_enthusiasts.dds
  gfx/interface/government_mechanics/kalsyto_democracy/kalsyto_reinforce_ideals.dds
  interface/countrygovernmentview.gui
  interface/government_mechanics/anb_government_mechanics.gfx
  interface/government_mechanics/kalsyto_democracy.gui
Due: none

OT work
  common/buildings/00_buildings.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_OvdalTungr_F23.txt
  events/TradeGoodsPrice.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Events Encoding, Localization Encoding

Fixes for undead military
  common/on_actions/00_on_actions.txt
  events/MagicRuler.txt
Due: Events Encoding

undergrowth more
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  customizable_localization/anb_customizable_localization.txt
  decisions/CaveGoblinDecisions.txt
  events/DiggyDiggyExpeditions.txt
  events/Group_Flavour_UndergrowthGoblins.txt
  localisation/Flavour_Undergrowth_Goblins_l_english.yml
  missions/Undergrowth_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

fix
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

encoding
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

oops
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/CaveGoblinDecisions.txt
  localisation/Flavour_Undergrowth_Goblins_l_english.yml
  missions/Undergrowth_Missions.txt
Due: Decisions Encoding, Localization Encoding

jadd perf stuff
  common/event_modifiers/anb_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Bulwar.txt
Due: Events Encoding

provinces
  events/Flavour_Bulwar.txt
Due: Events Encoding

undead v2
  events/MagicRuler.txt
Due: Events Encoding

Arg-Ordstun Lodhum tweak
  missions/ArgOrdstun_Missions.txt
Due: none

undergrowth final final final
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/CaveGoblinDecisions.txt
  events/DiggyDiggyExpeditions.txt
  localisation/Flavour_Undergrowth_Goblins_l_english.yml
  missions/Undergrowth_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

loc fix
  localisation/Flavour_Gawed_A13_l_english.yml
Due: Localization Encoding

goblin final final final
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Group_Flavour_UndergrowthGoblins.txt
  localisation/Flavour_Undergrowth_Goblins_l_english.yml
Due: Events Encoding, Localization Encoding

moved modifiers to right file
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

set traits for goblin rulers
  history/countries/H88 - Ambersniffer.txt
  history/countries/H92 - Poisoned Rock.txt
  history/countries/H93 - Dirtwater.txt
Due: none

final
  events/DiggyDiggyExpeditions.txt
Due: Events Encoding

Auto stash before merge of "new-master" and "JayBean/new-master"
  .DS_Store
  Anbennar-eu4-fork-lexperiments.mod
Due: none

my vscode error highlighter is working again : )
  events/DiggyDiggyExpeditions.txt
  events/Group_Flavour_UndergrowthGoblins.txt
  history/countries/H88 - Ambersniffer.txt
  history/countries/H92 - Poisoned Rock.txt
  history/countries/H93 - Dirtwater.txt
  missions/Undergrowth_Missions.txt
Due: Events Encoding

they finally fixed the incorrect loc for allowed rajput faction bug
  localisation/goose_1_35_l_english.yml
Due: Localization Encoding

cave goblin decisions bugfix
  decisions/CaveGoblinDecisions.txt
Due: Decisions Encoding

Command perf optimizations
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  common/scripted_triggers/anb_scripted_triggers_rahen.txt
  common/state_edicts/laws_of_ninun.txt
  common/state_edicts/revoke_state_edict.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding

minor syntax
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

goblin fixes
  localisation/Flavour_Undergrowth_Goblins_l_english.yml
  missions/Undergrowth_Missions.txt
Due: Localization Encoding
