Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Tijarikhet reworked into Prakheta
  common/countries/Prakheta.txt
  common/cultures/anb_cultures.txt
  common/ideas/anb_country_ideas.txt
  decisions/KheterataNation.txt
  decisions/WestSarhalFormables.txt
  history/countries/F64 - Prakheta.txt
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Localization Encoding

troll fix
  events/ReligiousReforms.txt
Due: Events Encoding

mandate ai tweak
  common/ai_personalities/00_ai_personalities.txt
Due: none

primary switch
  common/cultures/anb_cultures.txt
Due: none

Reverted culture file
  common/cultures/anb_cultures.txt
Due: none

Fixed idea file issue
  common/ideas/anb_country_ideas.txt
Due: none

Fixing crash
  common/country_tags/anb_countries.txt
Due: none

Managed to get the culture file to work
  common/cultures/anb_cultures.txt
Due: none

Fixing errors
  common/ideas/anb_country_ideas.txt
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

Sword Covenant intro event
  events/Flavour_Black_Demesne_Z99.txt
  gfx/event_pictures/ACOLYTE_ANIMATED_eventPicture.dds
  gfx/event_pictures/BLACKPURGIS_ANIMATED_eventPicture.dds
  gfx/event_pictures/BURNING_CITY_ANIMATED_eventPicture.dds
  gfx/event_pictures/JORGUREM_ARISE_ANIMATED_eventPicture.dds
  gfx/event_pictures/JORGUREM_DEATH_ANIMATED_eventPicture.dds
  gfx/event_pictures/JORGUREM_FIGHT_ANIMATED_eventPicture.dds
  gfx/event_pictures/JORGUREM_FIND_ANIMATED_eventPicture.dds
  gfx/event_pictures/MAGE_ANIMATED_eventPicture.dds
  gfx/event_pictures/PILLAR_OF_ETERNITY_ANIMATED_eventPicture.dds
  gfx/event_pictures/WELL_OF_MAJESTY_ANIMATED_eventPicture.dds
Due: Events Encoding

cheaper units
  common/defines.lua
Due: none

adj
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

tiny fix
  events/Fahvanosy.txt
Due: Events Encoding

Small idea fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Brelari edits wooooooo
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_brelar_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_brelar.txt
  common/scripted_effects/yrw_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_ynn.txt
  decisions/BrelarDecisions.txt
  events/Flavour_Brelar_G27.txt
  events/YnnBuycevEvents.txt
  localisation/Flavour_Brelar_G27_l_english.yml
  missions/Brelar_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

sdfgh
  missions/Brelar_Missions.txt
Due: none

dev buffs to counteract primitive
  common/event_modifiers/anb_brelar_modifiers.txt
  missions/Brelar_Missions.txt
Due: none

hmm
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_brelar.txt
Due: none

pain
  common/defines.lua
  common/scripted_effects/anb_khet_mandate_effects.txt
Due: none

some organization
  localisation/anb_governments_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

dfgh
  events/Flavour_Brelar_G27.txt
Due: Events Encoding

irdaeos worship loc
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

school setup
  history/countries/I48 - I48.txt
  history/countries/I50 - I50.txt
  history/countries/I52 - I52.txt
  history/countries/I53 - I53.txt
  history/countries/I59 - I59.txt
  history/countries/I64 - I64.txt
  history/countries/I76 - I76.txt
  history/countries/I78 - I78.txt
  history/countries/I79 - I79.txt
  history/countries/I80 - I80.txt
  history/countries/I81 - I81.txt
  history/countries/I83 - I83.txt
  history/countries/I85 - I85.txt
  history/countries/I87 - I87.txt
Due: none

irdaeos worship celebration events
  common/religions/00_anb_religion.txt
  decisions/CentaurDecisions.txt
  events/CentaurTournament.txt
  events/IrdaeosWorship.txt
Due: Decisions Encoding, Events Encoding

aspects and modifiers
  common/church_aspects/anb_irdaeos_worship_aspects.txt
  common/event_modifiers/anb_centaur_modifiers.txt
Due: none

Corrected ruler culture for broken formables, due to culture changes
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

harpy namelists
  common/countries/Ayaralen.txt
  common/countries/Elayenna.txt
  common/countries/Nalayni.txt
  common/countries/Nanshalen.txt
  common/countries/Siadan.txt
Due: none

nalayni history
  history/countries/L55 - Nalayni.txt
Due: none

fixed error + some loc
  common/church_aspects/anb_irdaeos_worship_aspects.txt
  events/CentaurTournament.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

Added a fourth option to Xia balance events so you can not get softlocked
  events/OneXia.txt
  localisation/Flavour_OneXia_Y99_l_english.yml
Due: Events Encoding, Localization Encoding

Stopped bianfang decisions from taking the same provinces in the events
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  events/Flavour_Bianfang_Y09.txt
Due: Events Encoding

Various minor Skyport related fixes
  common/new_diplomatic_actions/anb_feiten_diplo_actions.txt
  localisation/Flavour_Feiten_Y20_l_english.yml
Due: Localization Encoding

clearing out old run files
  Greentide.txt
  RunRavioli.txt
  delAllButCannor.txt
  delAllButSarhal.txt
  delBulwar.txt
  delCannor.txt
  delDeepwoods.txt
  delForbiddenLands.txt
  delHaless.txt
  delInsyaa.txt
  delNorthAelantir.txt
  delRahenHalessYanshen.txt
  delSarhal.txt
  delSerpentspine.txt
  delSouthAelantir.txt
  hre_religion.txt
  unlockAllDragonCults.txt
Due: Brackets Syntax

gitignored
  .gitignore
Due: none

perf improvements
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  history/countries/Y23 - Zyujyut.txt
Due: none

heyy guurl
  common/scripted_effects/anb_scripted_effects_brelar.txt
  events/Flavour_Brelar_G27.txt
  missions/Brelar_Missions.txt
Due: Events Encoding

fort
  common/event_modifiers/anb_brelar_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

tt desc and uniformity
  common/estate_privileges/anb_privileges.txt
  common/scripted_effects/anb_scripted_effects_brelar.txt
  decisions/BrelarDecisions.txt
  events/Flavour_Brelar_G27.txt
  localisation/Flavour_Brelar_G27_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

??
  localisation/Flavour_Feiten_Y20_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
