Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Remove Advakhalla liches
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

stugff
  common/scripted_effects/yrw_scripted_effects.txt
  events/YnnBuycevEvents.txt
Due: Events Encoding

sfdg
  events/anb_piracy_events.txt
Due: Events Encoding

damn pdx
  events/Flavour_Brelar_G27.txt
  localisation/Flavour_Brelar_G27_l_english.yml
Due: Events Encoding, Localization Encoding

fix 2
  common/ideas/anb_country_ideas.txt
Due: none

revert brrtekuh civil war changes + adapt for new religion
  events/Kheterata_Civil_War.txt
  localisation/Kheterata_civil_war_l_english.yml
Due: Events Encoding, Localization Encoding

Beggaston WIP commit
  decisions/AdventurerFormables.txt
  events/Flavour_Beggaston_H45.txt
  localisation/Flavour_Beggaston_H45_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  missions/Beggaston_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Empkeios MT Updates
  common/on_actions/00_on_actions.txt
  events/Flavour_Empkeios_G53.txt
  localisation/Flavour_Empkeios_G53_l_english.yml
Due: Events Encoding, Localization Encoding

on action cleanup and bugfixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Black_Demesne_Acolyte.txt
  events/Flavour_LotDekkhang_Y58.txt
  events/MagicRuler.txt
  events/estate_eunuchs_anb.txt
Due: Events Encoding

starting minority tolerance fixes
  history/provinces/4396 - Phangban.txt
  history/provinces/4599 - Semver.txt
  history/provinces/4600 - Semphrerong.txt
  history/provinces/4603 - Carong.txt
  history/provinces/4604 - Khung_Btei.txt
  history/provinces/5797 - Khogho_Zughu.txt
Due: none

Gerudian Province Names
  history/provinces/6273 - PROV6273.txt
  localisation/anb_areas_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

deep woods
  common/trade_companies/00_trade_companies.txt
  history/provinces/7001 - Volnudu.txt
  history/provinces/7002 - Podkanek.txt
  history/provinces/7003 - Lebkadu.txt
  history/provinces/7004 - Reekava.txt
  history/provinces/7013 - Vtakizdo.txt
  history/provinces/7014 - Gozyest.txt
  history/provinces/7015 - Contann.txt
  history/provinces/7016 - Scothaeyrst.txt
  history/provinces/7017 - Ciraelis.txt
  history/provinces/7019 - Gytaemina.txt
  history/provinces/7020 - Jekpraz.txt
  history/provinces/7021 - Krazho.txt
  history/provinces/7022 - Dywyael.txt
  history/provinces/7023 - Priahain.txt
  history/provinces/7024 - Ghulapriah.txt
  history/provinces/7026 - Vyr Feal.txt
  history/provinces/7031 - Vyr Cenag.txt
  history/provinces/7032 - Vyr Ahain.txt
  history/provinces/7033 - Vyr Neith.txt
Due: none

rezankand and ozgarom tolerance changes
  events/anb_MiscEvents.txt
Due: Events Encoding

royakottar fixes and taychend content changes
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  decisions/TaychendDecisions.txt
  events/taychendi_events.txt
  localisation/anb_religions_l_english.yml
  localisation/anb_taychend_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

shirgrii privileges
  common/estate_privileges/estate_shirgrii_privileges.txt
  common/estates/86_kabiurgarko.txt
  common/estates/89_shinukhorchi.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  localisation/Flavour_Azjakuma_Y01_l_english.yml
  localisation/anb_estate_shirgrii_l_english.yml
Due: Localization Encoding

Arg-Ordstun second part work
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  decisions/ArgOrdstunDecisions.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  localisation/anb_magic_misc_events_l_english.yml
  missions/ArgOrdstun.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

fixing line endings
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/religious_reforms/00_religious_reforms.txt
  decisions/TaychendDecisions.txt
  events/anb_MiscEvents.txt
  localisation/anb_taychend_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Arg-Ordstun second part nearing the end
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/ArgOrdstunDecisions.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

eunuchs loyalty loc
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Empkeios MT new missions
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Empkeios_G53_l_english.yml
  missions/Empkeios_missions.txt
Due: Localization Encoding

Silverforge church fix
  missions/Silverforge_Missions.txt
Due: none

Correction
  missions/Empkeios_missions.txt
Due: none

Taychend Event fix
  events/taychendi_events.txt
Due: Events Encoding

Updated loc
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Fix in colonial
  common/colonial_regions/00_colonial_regions.txt
Due: none

taychend
  events/taychendi_events.txt
Due: Events Encoding

West Dwarovar province names size/position consistency
  map/positions.txt
Due: none

Adean event picture
  events/ReligiousLeagues.txt
  gfx/event_pictures/ADEANIC_WAR_eventPicture.dds
  interface/anb_eventpictures.gfx
Due: Events Encoding

art edit
  gfx/event_pictures/ADEANIC_WAR_eventPicture.dds
Due: none

[Steam] Brelar gubfix and performance
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Brelar_G27.txt
Due: Events Encoding

Empkeios MT new missions
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Empkeios_G53.txt
  localisation/Flavour_Empkeios_G53_l_english.yml
  missions/Empkeios_missions.txt
Due: Events Encoding, Localization Encoding

.
  events/DakinshiEvents.txt
Due: Events Encoding

Typo fix
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding
