Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

hmmmd
  events/fangaulan_pantheon_events.txt
Due: Events Encoding

dyslexia moment
  common/scripted_triggers/anb_scripted_triggers_seasonal.txt
Due: none

ai hiding
  decisions/EordandNation.txt
Due: Decisions Encoding

fixes to events 3
  common/event_modifiers/and_mengievents_modifiers.txt
  events/anb_mengi_flavor_events.txt
  localisation/anb_mengi_events_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

hmmm Round 2 Ovdal Aldresia
  common/cb_types/00_cb_types.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  missions/Orda_Aldresia_Missions.txt
Due: none

final fixes
  common/church_aspects/anb_seasonal_aspect.txt
  common/scripted_effects/seasonal_scripted_effects.txt
  events/EordellonReligion.txt
  localisation/seasonal_courts_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

final fixes aaa
  common/mercenary_companies/0_anb_special_mercenaries.txt
  common/scripted_effects/seasonal_scripted_effects.txt
  events/EordellonReligion.txt
Due: Events Encoding

Hmm
  common/great_projects/anb_monuments_cannor.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Silentblade.txt
  history/countries/I43 - Silentblade Clan.txt
  missions/Silentblade_Missions.txt
Due: Events Encoding

plutocratic ideas
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

provinces to highlight removal
  missions/Sanghariyar_Missions.txt
Due: none

raghamidesh limit
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding, Loc key collision check

Makan typo fix
  localisation/fangaula_pantheon_l_english.yml
Due: Localization Encoding, Loc key collision check

scripted effect edits
  common/scripted_effects/gerudia_scripted_effects.txt
Due: none

oop
  common/scripted_effects/gerudia_scripted_effects.txt
Due: none

coastal mission trigger rework
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding, Loc key collision check

bugfix
  missions/Sanghariyar_Missions.txt
Due: none

type = all
  missions/Sanghariyar_Missions.txt
Due: none

Ekha MT fixes
  common/event_modifiers/anb_mission_modifiers.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_Ekha_U08.txt
  localisation/Flavour_Ekha_U08_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Dimang government stuff
  common/government_names/00_0anbennar_unique_names.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding, Loc key collision check

Copypasta mistake
  events/Flavour_Silentblade.txt
Due: Events Encoding

[steam]fixing my fix
  missions/VerkalDromak_Missions.txt
Due: none

insubordination tweaks for jade march
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

jadd empire, phoenix empire, sad sur ni rebalance
  common/ideas/anb_country_ideas.txt
Due: none

trigger fix
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding, Loc key collision check

triggers
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding, Loc key collision check

Rahen flavor events
  common/event_modifiers/anb_rahen_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/RahenEvents.txt
  localisation/Flavour_Rahen_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

cradle bypass
  missions/Sanghariyar_Missions.txt
Due: none

a
  missions/VerkalDromak_Missions.txt
Due: none

Get Moredhal out of the error log
  common/countries/Devotees.txt
  common/countries/Grudgeknights.txt
  common/countries/Moredhal.txt
  common/countries/Passionates.txt
Due: none

yanszin checkpoint
  common/on_actions/00_on_actions.txt
  decisions/YanszinDecisions.txt
  events/Flavour_Guhe_Y07.txt
  events/Flavour_Yanszin.txt
  events/Flavour_Yanzhong_Y08.txt
  localisation/Flavour_Yanszin_l_english.yml
  localisation/Flavour_Yanzhong_Y08_l_english.yml
  missions/Yanszin_Missions.txt
  missions/Yanzhong_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

balance changes
  common/church_aspects/anb_seasonal_aspect.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  common/religions/00_anb_religion.txt
  events/EordellonReligion.txt
Due: Events Encoding

hmm
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

e
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

rahen on action fix
  common/on_actions/00_on_actions.txt
Due: none

changes for koboldistan
  common/event_modifiers/anb_mission_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_kobold_traps.txt
  events/Flavour_kobold_dragon_cult.txt
  localisation/Flavour_Kobold_Dragon_Cult_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

another rahen event fixes
  common/on_actions/00_on_actions.txt
  events/RahenEvents.txt
Due: Events Encoding

fixes to events 4
  events/anb_mengi_flavor_events.txt
  localisation/anb_mengi_events_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

fixes
  events/Flavour_kobold_dragon_cult.txt
  localisation/Flavour_Kobold_Dragon_Cult_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

idk fuck
  localisation/Flavour_Kobold_Dragon_Cult_l_english.yml
Due: Localization Encoding, Loc key collision check
