Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

preliminary GUI stuff
  customizable_localization/anb_rending_localization.txt
  localisation/anb_rending_l_english.yml
Due: Localization Encoding

OSC female DoF
  common/religions/00_anb_religion.txt
Due: none

quick tweak
  events/estate_ahati.txt
Due: Events Encoding

smh
  common/cultures/anb_cultures.txt
Due: none

bonk
  customizable_localization/anb_rending_localization.txt
  localisation/anb_rending_l_english.yml
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

Removed piety trigger from an Eordand mission, and removed unused modifiers and decisions
  common/event_modifiers/anb_deepwoods_modifiers.txt
  decisions/FeyCourtDecisions.txt
  localisation/anb_deepwoods_l_english.yml
  missions/Eordand_Missions.txt
Due: Decisions Encoding, Localization Encoding

monarch_name shouldn't be there
  events/Flavour_Trompolere_G36.txt
Due: Events Encoding

Purging a lot of piety since fey religions doesn't use it any more
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

gaming
  gfx/interface/event_interfaces/rending_window_purple.dds
  gfx/interface/event_interfaces/rending_window_red.dds
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

zzzz changes
  customizable_localization/anb_rending_localization.txt
  events/HalessiSpirits.txt
  gfx/interface/spirits/spirit_cinulau.dds
  gfx/interface/spirits/spirit_dhenbasana.dds
  gfx/interface/spirits/spirit_gehet_ketine.dds
  gfx/interface/spirits/spirit_gui_background.dds
  gfx/interface/spirits/spirit_hengda_bowu.dds
  gfx/interface/spirits/spirit_hokuma.dds
  gfx/interface/spirits/spirit_hukai.dds
  gfx/interface/spirits/spirit_huli_jing.dds
  gfx/interface/spirits/spirit_kharunyana.dds
  gfx/interface/spirits/spirit_lupulan.dds
  gfx/interface/spirits/spirit_marutha.dds
  gfx/interface/spirits/spirit_phokhao.dds
  gfx/interface/spirits/spirit_telebei.dds
  gfx/interface/spirits/spirit_tuhhayasa.dds
  gfx/interface/spirits/spirit_yanhe.dds
  interface/event_interfaces.gfx
  interface/provinceview.gfx
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

Xiaken NI fixes
  common/ideas/anb_country_ideas.txt
Due: none

More piety removal
  events/EordellonReligion.txt
Due: Events Encoding

Limit shouldn't be in else, only else_if
  events/HalessiSpirits.txt
Due: Events Encoding

"owns_core_province = yes" is incorrect
  missions/Chaingrasper_Missions.txt
Due: none

Stopped cheeky Black Kastanor to Castanor mischief
  decisions/BlackCastanorNation.txt
  events/CastanorTrials.txt
Due: Decisions Encoding, Events Encoding

early rending commit
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

Drop ALL subjects
  common/on_actions/00_on_actions.txt
Due: none

oops
  common/on_actions/00_on_actions.txt
Due: none

Slight change
  common/on_actions/00_on_actions.txt
Due: none

oof
  events/HalessiSpirits.txt
  gfx/event_pictures/SPIRIT_BACKGROUND_event_picture.dds
  gfx/interface/spirits/spirit_tughayasa.dds
  interface/anb_eventpictures.gfx
  interface/event_interfaces.gfx
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

rending windows wip
  gfx/interface/event_interfaces/rending_window_purple.dds
  gfx/interface/event_interfaces/rending_window_red.dds
Due: none

yanhe
  events/Rending.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

more rending stuff
  common/event_modifiers/anb_spirit_modifiers.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

e
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

Hufumen NI's stage 1
  common/ideas/anb_country_ideas.txt
Due: none

Hufumen NI
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Edit
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

yanhe
  events/Rending.txt
Due: Events Encoding

Mission Icons + allclan Fix
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  gfx/interface/missions/mission_mounted_battle.dds
  gfx/interface/missions/mission_necromancy.dds
  gfx/interface/missions/mission_sinister_castle.dds
Due: none

fix
  common/new_diplomatic_actions/zz_khet_mandate.txt
Due: none

loc typos
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

wip stuff
  gfx/interface/spirits/spirit_cinulau.dds
  gfx/interface/spirits/spirit_dhenbasana.dds
  gfx/interface/spirits/spirit_gehet_ketine.dds
  gfx/interface/spirits/spirit_hengda_bowu.dds
  gfx/interface/spirits/spirit_hokuma.dds
  gfx/interface/spirits/spirit_hukai.dds
  gfx/interface/spirits/spirit_huli_jing.dds
  gfx/interface/spirits/spirit_kharunyana.dds
  gfx/interface/spirits/spirit_lupulan.dds
  gfx/interface/spirits/spirit_marutha.dds
  gfx/interface/spirits/spirit_phokhao.dds
  gfx/interface/spirits/spirit_telebei.dds
  gfx/interface/spirits/spirit_tughayasa.dds
  gfx/interface/spirits/spirit_yanhe.dds
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

racial balance changes
  common/event_modifiers/racial_admin_military.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/RahenEvents.txt
Due: Events Encoding

name too long
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

slight nerf
  common/event_modifiers/anb_khet_mandate_modifiers.txt
Due: none

balance tweaks
  common/event_modifiers/anb_khet_mandate_modifiers.txt
Due: none

more balance
  missions/Kheteratan_Missions.txt
Due: none

Lots of Loc and some other changes
  decisions/EffelaiBloomDecisions.txt
  decisions/EffelaiWorshipDecisions.txt
  localisation/effelai_bloom_l_english.yml
Due: Decisions Encoding, Localization Encoding

last one
  localisation/effelai_bloom_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
