Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Varainé Fixes
  common/governments/00_governments.txt
  events/Flavour_Varaine_A99.txt
  events/TradeGoodsPrice.txt
  history/provinces/309 - Varaine.txt
  localisation/Flavour_Varaine_A99_l_english.yml
  missions/Varaine_Missions.txt
Due: Events Encoding, Localization Encoding

east light
  localisation/Flavour_Zansap_F43_l_english.yml
  missions/Zansap_Missions.txt
Due: Localization Encoding

ai proof the disaster
  events/estate_ahati.txt
Due: Events Encoding

setup for khet events
  events/KhetMandateEvents.txt
Due: Events Encoding

east light coded?
  localisation/Flavour_Zansap_F43_l_english.yml
  missions/Zansap_Missions.txt
Due: Localization Encoding

block subjects
  decisions/KhetMandateDecisions.txt
Due: Decisions Encoding

bracket bug
  missions/Zansap_Missions.txt
Due: none

bug
  missions/Zansap_Missions.txt
Due: none

death to more "harder to convert" religions
  common/religions/00_anb_religion.txt
Due: none

Jadd mission fix for hedonism
  missions/Jaddari_Missions.txt
Due: none

CLSTC fix for unified anbennar
  common/on_actions/00_on_actions.txt
Due: none

Gerudian Harpy Minorities
  events/anb_racial_pop_calculations.txt
  history/provinces/954 - Nautakr.txt
  history/provinces/971 - Grymskali.txt
  history/provinces/972 - Jotunskol.txt
  history/provinces/974 - Glodborg.txt
  history/provinces/976 - Skaldol.txt
  history/provinces/978 - Avnkaup.txt
  history/provinces/979 - Nyrvord.txt
  history/provinces/981 - Silvrborg.txt
Due: Events Encoding

more stuff
  common/great_projects/anb_monuments_rahen_haless.txt
  common/scripted_triggers/01_scripted_triggers_province_modifiers.txt
  events/TradeGoodsPrice.txt
  gfx/interface/great_projects/great_project_godswall.dds
  interface/great_project.gfx
  localisation/Flavour_Rahen_l_english.yml
  localisation/anb_great_projects_l_english.yml
Due: Events Encoding, Localization Encoding

spirit swarms loc fix
  common/rebel_types/spirit_swarms.txt
Due: none

Goblinic shamanism Kroozbuto Nubo primary cult trigger fix
  events/GoblinicShamanism.txt
Due: Events Encoding

Disabled sacred elven empire for nation designer, since you can not pick it anyways
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

Fixed bracket error in anb_MiscEvents.txt
  events/anb_MiscEvents.txt
Due: Events Encoding

Fixes
  missions/Jaddari_Missions.txt
  missions/Marblehead_Missions.txt
Due: none

no more transparency
  gfx/interface/event_interfaces/rending_window_purple.dds
  gfx/interface/event_interfaces/rending_window_red.dds
Due: none

now that shadowpact has mechanic
  common/ideas/anb_country_ideas.txt
Due: none

Bunch Of Baashidi Changes
  common/countries/Maakhibkhii.txt
  common/countries/Umoji Baashidi.txt
  common/country_tags/anb_countries.txt
  gfx/flags/S78.tga
  history/countries/S78 - Maakhibkhii.txt
  history/countries/S79 - Umoji Baashidi.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Tsurin NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Sarhal unit sprites
  gfx/models/units/rigofman_KBO_infantry_02_diffuse.dds
  gfx/models/units/rigofman_KBO_infantry_03_diffuse.dds
  gfx/models/units/rigofman_KBO_infantry_04_diffuse.dds
  gfx/sprite_packs/Sarhal_sprites.txt
  gfx/sprite_packs_order/00_sprite_pack_orders.txt
Due: none

fixes
  common/event_modifiers/anb_mission_modifiers.txt
  gfx/interface/estates_icons.dds
Due: none

Fey-attuned culture for Verdant Bliss
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_deepwoods_l_english.yml
Due: Localization Encoding

godswall
  common/great_projects/anb_monuments_rahen_haless.txt
Due: none

More changes
  common/ideas/anb_country_ideas.txt
  localisation/anb_cultures_l_english.yml
Due: Localization Encoding

Azka-Sur loc
  localisation/Flavour_AzkaSur_U20_l_english.yml
Due: Localization Encoding

Achievement icons: Godfound, Old World
  gfx/interface/achievements/ach_godfound.dds
  gfx/interface/achievements/ach_godfound_g.dds
  gfx/interface/achievements/ach_we_are_the_old_world.dds
  gfx/interface/achievements/ach_we_are_the_old_world_g.dds
Due: none

Bulwar adventurer privilege
  common/estate_privileges/anb_privileges.txt
  common/estates/98_adventurers.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/AnbennarSetup.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

fix koroshesh thing
  common/scripted_effects/anb_khet_mandate_effects.txt
Due: none

koroshesh loc
  localisation/anb_governments_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

House of Riches intro event
  common/on_actions/00_on_actions.txt
  events/Escann_Adventurers_Intro.txt
  localisation/Escann_Adventurers_Intro_l_english.yml
Due: Events Encoding, Localization Encoding

mt bypass for koroshesh
  missions/Kheteratan_Missions.txt
Due: none

Command corrupted temples
  common/on_actions/00_on_actions.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

on request of mangulwort
  gfx/sprite_packs/Sarhal_sprites.txt
Due: none

row 4
  common/event_modifiers/anb_mission_modifiers.txt
  common/event_modifiers/anb_ynn_worship.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Bosancovac_G33.txt
  events/YnnEvents.txt
  localisation/Flavour_Bosancovac_G33_l_english.yml
  localisation/ynn_loc_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Events Encoding, Localization Encoding

drevkenuc -> drevonsred
  events/Flavour_Bosancovac_G33.txt
  events/Flavour_Pomvasonn_G21.txt
  localisation/anb_areas_l_english.yml
  map/area.txt
  map/region.txt
  missions/Amacimst_Missions.txt
  missions/Arverynn_Missions.txt
  missions/Bosancovac_Missions.txt
  missions/Brelar_Missions.txt
  missions/Malacnar_Missions.txt
Due: Events Encoding, Localization Encoding

Varainé Fix
  events/TradeGoodsPrice.txt
Due: Events Encoding
