Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

bug
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

bonk
  common/countries/Araya.txt
Due: none

quick loc fixes
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

byg
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

event
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

Peitar Ward missions fixes
  missions/Peitar_Missions.txt
Due: none

BUG
  events/Flavour_Zansap_F43.txt
Due: Events Encoding

balance
  common/government_reforms/06_government_reforms_common.txt
Due: none

Creating my branch / having it for my computer / testing commits + pushing
  Anbennar-eu4-fork-lexperiments.mod
Due: none

Double-checking commit
  Anbennar-eu4-fork-lexperiments.mod
Due: none

Fix for blorc treasure pile modifier not being deleted
  common/scripted_effects/anb_digging_effects.txt
Due: none

Scripted effect for converting countries and rulers in one go
  common/scripted_effects/00_scripted_effects.txt
Due: none

Added ideas. Added "New Traditions & Ambitions" event to the Hierarchy.
  common/ideas/anb_country_ideas.txt
  decisions/GnomishNation.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Localization Encoding

Finished editing ideas + testing + ensuring that they work; also added New Ideas & Traditions event to the Gnomish Hierarchy forming decision
  common/ideas/anb_country_ideas.txt
Due: none

REMANE
  missions/ZZ_Surakes_Missions.txt
  missions/Zansap_Missions.txt
Due: none

Fixed all bugs and finished writing. Idea set + accompanying events are good!
  decisions/GnomishNation.txt
  events/Flavour_Hierarchy_A79.txt
  localisation/Flavour_Hierarchy_A79_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

karashan
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fixed a wrong province check and typo
  localisation/Flavour_Zansap_F43_l_english.yml
  missions/Zansap_Missions.txt
Due: Localization Encoding

fixing surakes and phoenix empire mission file names
  missions/Zz_Phoenix_Empire_Missions.txt
  missions/Zz_Surakes_Missions.txt
Due: none

Fix that loc bug
  localisation/Flavour_Zansap_F43_l_english.yml
Due: Localization Encoding

Typo again
  missions/Zansap_Missions.txt
Due: none

Fixed Zansap missing bracket
  missions/Zansap_Missions.txt
Due: none

Fix problem with Vassals owning territory in the Zansap MT
  missions/Zansap_Missions.txt
Due: none

Zealots mt typo again
  missions/Zansap_Missions.txt
Due: none

Zansap MT broke testing fixes
  missions/Zansap_Missions.txt
Due: none

still testing
  missions/Zansap_Missions.txt
Due: none

testing
  missions/Zansap_Missions.txt
Due: none

bug
  missions/Zansap_Missions.txt
Due: none

bug
  localisation/Flavour_Zansap_F43_l_english.yml
Due: Localization Encoding
