Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

fixed pipeline script to ignore false negatives (BOM but binary) on loc encoding
  checkEncoding.sh
Due: none

Added claim that was missing
  missions/Pasiragha_Missions.txt
Due: none

Revert "Dynamid Names Plateau"
  common/province_names/sirimadsik_kobold.txt
  common/province_names/skyfall_ogre.txt
  common/province_names/utubodi.txt
Due: none

Reapply "Dynamid Names Plateau"
  common/province_names/sirimadsik_kobold.txt
  common/province_names/skyfall_ogre.txt
  common/province_names/utubodi.txt
Due: none

Kvangahga event loc
  localisation/kvangahga_l_english.yml
Due: Localization Encoding, Loc key collision check

Province Group Fix
  map/provincegroup.txt
Due: none

Philosopher bonus fix
  common/scripted_effects/anb_scripted_effects_for_haless.txt
Due: none

twak
  missions/Zuvavim_missions.txt
Due: none

test
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Revert "test"
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

small clarification
  localisation/gommo_expansion_l_english.yml
Due: Localization Encoding, Loc key collision check

Finishing touches
  decisions/OrcFormables.txt
  events/Flavour_BrokenJaw_Z19.txt
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Forgot this
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
Due: Localization Encoding, Loc key collision check

Fix Shattered Crown vassal mission after Tarakar
  events/Flavour_ShatteredCrown_H72.txt
Due: Events Encoding

Fix Vertesk cheese
  missions/Vertesk_Missions.txt
Due: none

Runefather Worship personal deities
  common/personal_deities/runefather_deities.txt
  gfx/interface/hindu_deities_strip.dds
  interface/countryreligionview.gfx
Due: none

Fix generic goblin mission end reward
  missions/Escann_Goblin_Missions.txt
Due: none

Fixed razed modifier
  common/on_actions/00_on_actions.txt
Due: none

Fix Viakkoc mission bypass
  missions/Viakkoc_Missions.txt
Due: none

Fix Obrtrol loc
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/ObrtrolDecisions.txt
  events/Flavour_Obrtrol_Z17.txt
  localisation/Flavour_Obrtrol_Z17_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Taric and Cagodic Migrations
  common/countries/Cagodor.txt
  common/countries/Jarvema.txt
  common/country_tags/anb_countries.txt
  common/event_modifiers/anb_gerudia_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/Gerudia.txt
  history/countries/Z91 - Jarvema.txt
  history/countries/Z92 - Cagodor.txt
  history/provinces/6271 - Vængheim.txt
  history/provinces/696 - Celmaldor.txt
  history/provinces/700 - Coldmarket.txt
  history/provinces/704 - Reachspier.txt
  history/provinces/715 - Eskerborg.txt
  history/provinces/721 - Alencay.txt
  history/provinces/722 - Everwharf.txt
  history/provinces/723 - Bayvic.txt
  history/provinces/952 - Sporreyn.txt
  history/provinces/956 - Konungrhavn.txt
  history/provinces/975 - Redgarhavn.txt
  history/provinces/976 - Skaldol.txt
  history/provinces/978 - Avnkaup.txt
  history/provinces/982 - Naugsvol.txt
  history/provinces/984 - Urviksten.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_gerudia_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

fuck you line endings
  common/cultures/anb_cultures.txt
Due: none

Revert "fuck you line endings"
  common/cultures/anb_cultures.txt
Due: none

Fix missing loc
  localisation/Flavour_Castes_l_english.yml
Due: Localization Encoding, Loc key collision check

Fix aristocratic coup invisible end decision
  decisions/Estates.txt
Due: Decisions Encoding

even more things
  events/Flavour_Zuvavim_L09.txt
  missions/Zuvavim_missions.txt
Due: Events Encoding

Dynamic Loc Update Plateau
  common/province_names/sirimadsik_kobold.txt
  common/province_names/skyfall_ogre.txt
  common/province_names/utubodi.txt
Due: none

Lizardfolk Ship Names
  common/countries/Abussa.txt
  common/countries/Adzalan.txt
  common/countries/Alashkatsa.txt
  common/countries/Arazin.txt
  common/countries/Asarta.txt
  common/countries/Ashakani.txt
  common/countries/Ashkha.txt
  common/countries/Charach.txt
  common/countries/Gasha.txt
  common/countries/Golkhi.txt
  common/countries/Ishalani.txt
  common/countries/Ishyaga.txt
  common/countries/Kakhazajar.txt
  common/countries/Karach.txt
  common/countries/Karashan.txt
  common/countries/Karassk.txt
  common/countries/Karshyr.txt
  common/countries/Katsanada.txt
  common/countries/Khatalashya.txt
  common/countries/Khugra.txt
  common/countries/Lata.txt
  common/countries/Nazhni.txt
  common/countries/Rayaz.txt
  common/countries/Rshak.txt
  common/countries/Shagadyrra.txt
  common/countries/Shalazar.txt
  common/countries/Shangra.txt
  common/countries/Tsurin.txt
  common/countries/Tsuz.txt
  common/countries/Yassa.txt
  common/countries/Yushyn.txt
  common/countries/Zatal.txt
  common/countries/Zatsuti.txt
  common/countries/Zerat.txt
  common/countries/Zulbur.txt
Due: none

Removing Harem and heirs from Naléni gov reform
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/HarpyEvents.txt
  events/PirateEvents.txt
  localisation/anb_governments_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

small bugfix
  common/countries/Suryavar.txt
Due: none

ups
  events/PirateEvents.txt
Due: Events Encoding

Bug fix
  common/religions/00_anb_religion.txt
Due: none

Mass settling is permanent
  missions/BrokenJaw_Missions.txt
Due: none

Order of the Iron Scepter intro
  common/on_actions/00_on_actions.txt
  events/Escann_Adventurers_Intro.txt
  localisation/Escann_Adventurers_Intro_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Another fix
  common/religions/00_anb_religion.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_schools.txt
  common/static_modifiers/00_static_modifiers.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

Conflict fix
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none

Conflict Fix Fix
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none
