Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

themarenn fixes from PR #8316
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Themarenn_A95.txt
  localisation/Flavour_Themarenn_A95_l_english.yml
  missions/Themarenn_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8623 [Steam] Averilibet tiny loc fix
  localisation/Flavour_Averilibet_S53_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #8624 [Steam] Moonhaven adjustments
  common/scripted_triggers/anb_scripted_triggers_settings.txt
  missions/Moonhaven_missions.txt
Due: none

PR #8625 [Steam] lots of bugfixes + decision change
  decisions/KhetMandateDecisions.txt
  events/Flavour_Duwarkani_F62.txt
  localisation/Flavour_Duwarkani_F62_l_english.yml
  localisation/Flavour_Moonhaven_A31_l_english.yml
  localisation/Flavour_Naleni_F55_l_english.yml
  localisation/Flavour_Rosande_Z35_l_english.yml
  localisation/accretive_path_l_english.yml
  localisation/anb_aakhetist_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
  localisation/seasonal_courts_l_english.yml
  missions/Duwarkani_missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

PR #8628 [Steam] West Dreadmire Fix
  localisation/anb_areas_l_english.yml
  map/area.txt
  map/region.txt
  missions/Arannen_Missions.txt
  missions/Corvuria_Missions.txt
Due: Localization Encoding, Loc key collision check

PR #8629 [Steam] rosande fix
  events/Flavour_Rosande_Z35.txt
Due: Events Encoding

PR #8630 [Steam] runefather fix
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
Due: none

PR #8633 [Steam] azjakuma fix
  common/church_aspects/anb_devouring_path.txt
  common/scripted_effects/00_scripted_effects.txt
  missions/Azjakuma_Missions.txt
Due: none

PR #8634 [Steam] beat obsidian as runefather fix
  events/DiggyDiggyFallenDwarf.txt
Due: Events Encoding

PR #8638 [Steam] Wyvernheart fixes
  common/event_modifiers/anb_wyvernheart_modifiers.txt
  common/government_mechanics/anb_floodborn_council.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_wyvernheart.txt
  events/Flavour_Wyvernheart_B39.txt
  localisation/Flavour_Wyvernheart_B39_l_english.yml
  missions/Wyvernheart_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

[Steam] Fix Apparatus System gov attribute
  common/scripted_effects/00_scripted_effects.txt
Due: none

[Steam] Loc fixes
  customizable_localization/00_start_screen.txt
  localisation/Flavour_CountsLeague_B55_l_english.yml
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  localisation/anb_khom_civil_war_l_english.yml
  localisation/anb_misc_l_english.yml
Due: Localization Encoding, Loc key collision check

[Steam] Ghankedhen fixes
  localisation/Flavour_Ghankedhen_R74_l_english.yml
  missions/Ghankedhen_Missions.txt
Due: Localization Encoding, Loc key collision check

[Steam] one more loc fix
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #8639 [Steam] Bugfixes for Gray Orcs and Dwarves
  events/EffelaiWorshipEvents.txt
  events/Flavour_Grombar_Z50.txt
  events/Governments.txt
  localisation/Flavour_Grombar_Z50_l_english.yml
  missions/VerkalDromak_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8640 [Steam] Kheionist Tooltips and Other Various Bugfixes
  common/great_projects/anb_monuments_aelantir.txt
  common/scripted_effects/kheionai_scripted_effects.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/Kheionism.txt
  localisation/Flavour_Ameion_G52_l_english.yml
  localisation/Flavour_Amgremos_G62_l_english.yml
  localisation/Flavour_Anisikheion_G59_l_english.yml
  localisation/Flavour_Deyeion_G56_l_english.yml
  localisation/Flavour_Eltikan_G60_l_english.yml
  localisation/Flavour_Empkeios_G53_l_english.yml
  localisation/Flavour_Eneion_G55_l_english.yml
  localisation/Flavour_Keyolion_G58_l_english.yml
  localisation/Flavour_Kherka_G48_l_english.yml
  localisation/Flavour_TaychendiEmpire_J84_l_english.yml
  localisation/anb_kheionai_l_english.yml
  localisation/anb_opinion_modifiers_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8642 [Steam] rosande fixes
  common/estate_privileges/anb_privileges.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  events/Flavour_Rosande_Z35.txt
  localisation/Flavour_Rosande_Z35_l_english.yml
  missions/Rosande_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8644 [Steam] Verkal Skomdihr loc fix
  localisation/Flavour_Spiderwretch_H90_l_english.yml
  localisation/Flavour_VerkalSkomdihr_I13_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #8648 [Steam] Kumarkand Fixes/Bugs/Changes
  decisions/KumarkandDecisions.txt
  events/Flavour_Kumarkand_F30.txt
  localisation/Flavour_Kumarkand_F30_l_english.yml
  missions/Kumarkand_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

PR #8641 [Steam] Bugfixes
  common/government_reforms/06_government_reforms_common.txt
  customizable_localization/anb_custom_loca.txt
  decisions/EstateActionsBurghers.txt
  events/Elections.txt
  events/Flavour_Azjakuma_Y01.txt
  events/Flavour_Giberd_A81.txt
  events/Flavour_Skewered_Drake_H73.txt
  events/VampireRuler.txt
  history/countries/A81 - Giberd.txt
  localisation/Flavour_Barumand_Z53_l_english.yml
  localisation/Flavour_Beggaston_H45_l_english.yml
  localisation/Flavour_Giberd_A81_l_english.yml
  localisation/Flavour_Kumarkand_F30_l_english.yml
  localisation/Flavour_Surakes_F52_l_english.yml
  localisation/artifice_l_english.yml
  localisation/xhazobkult_l_english.yml
  missions/Giberd_Missions.txt
  missions/SkeweredDrake_Missions.txt
  missions/Spiderwretch_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

PR #8649 [Steam] Bunch of Fixes
  common/buildings/00_buildings.txt
  common/countries/Aramoole.txt
  common/countries/Duwarkani.txt
  common/countries/Muhaqaar.txt
  common/countries/Munzeri.txt
  common/countries/Prakheta.txt
  common/countries/Samsumbat.txt
  common/estate_privileges/02_noble_privileges.txt
  common/subject_types/00_subject_types.txt
  localisation/Flavour_Magharma_I90_l_english.yml
  localisation/anb_diggy_diggy_hole_l_english.yml
  localisation/anb_sarhal_events_l_english.yml
  missions/Duwarkani_missions.txt
  missions/Maghargma_Missions.txt
Due: Localization Encoding, Loc key collision check

PR #8655 [Steam] fix bulwar hussars, change to taychend vassalize po
  common/estate_privileges/anb_privileges.txt
  common/peace_treaties/anb_taychend_vassalize.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  events/Flavour_VerkalDromak_I25.txt
  events/HalessiSpirits.txt
  events/taychend_flavour_events.txt
  localisation/Flavour_Bulwar_l_english.yml
  localisation/Flavour_VerkalDromak_I25_l_english.yml
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8656 [Steam] Bugfix and small suggestion implementation
  common/event_modifiers/anb_mission_modifiers.txt
  common/parliament_issues/00_adm_parliament_issues.txt
Due: none

PR #8658 [Steam] Bugfixes and loc fixes
  common/great_projects/anb_monuments_cannor.txt
  localisation/Escann_Adventurers_Intro_l_english.yml
  localisation/Flavour_Moonhaven_A31_l_english.yml
  localisation/anb_cardesti_l_english.yml
  localisation/anb_lilac_wars_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #8662 [Steam] open stormwall at rending + other bugfixes
  common/estate_privileges/estate_artifice_privileges.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/great_projects/anb_great_projects.txt
  decisions/YinquanDecisions.txt
  events/HalessiSpirits.txt
  gfx/interface/event_interfaces/event_button_become_confident.dds
  gfx/interface/event_interfaces/event_button_become_confident_g.dds
  localisation/Flavour_Giberd_A81_l_english.yml
  localisation/Flavour_Kulugiash_L08_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  localisation/anb_religions_l_english.yml
  missions/Elikhand_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

PR #8663 [Steam] Eordan loc fixes
  localisation/Flavour_Jaddari_F46_l_english.yml
  localisation/Flavour_Kobildzan_Z38_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #8664 [Steam] rosande tweaks
  events/Flavour_Rosande_Z35.txt
  localisation/Flavour_Rosande_Z35_l_english.yml
  missions/Rosande_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8665 [Steam] Taychend, Larankar, and Nekhei Bugfixes and Changes
  common/custom_gui/zz_mission_content.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_mechanics/anb_taychend_vainglory.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Eneion_G55.txt
  events/Flavour_Larankar_G64.txt
  events/Flavour_Taychendi_Empire_J84.txt
  events/kheionai_events.txt
  localisation/Flavour_Larankar_G64_l_english.yml
  localisation/Flavour_TaychendiEmpire_J84_l_english.yml
  localisation/anb_regions_l_english.yml
  map/provincegroup.txt
  missions/Zz_Taychendi_Empire_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8666 [Steam] Runefather tweak
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
  events/RunefatherWorship.txt
Due: Events Encoding

PR #8671 [Steam] suhan loc
  common/church_aspects/anb_suhans_praxis.txt
  common/religions/00_anb_religion.txt
  events/Flavour_TheCommand_R62.txt
  events/SuhansPraxisEvents.txt
  interface/countryreligionview.gfx
  localisation/Flavour_TheCommand_R62_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/suhans_praxis_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8672 [Steam] Simplifying Black Castanor Formation Tooltip
  decisions/BlackCastanorNation.txt
  missions/Urviksten_Missions.txt
Due: Decisions Encoding

PR #8673 [Steam] Jaddari Typo Fix
  localisation/Flavour_Jaddari_F46_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #8675 [Steam] Close Button Artificer UI Resolution Fix
  interface/countrydecisionsview.gui
Due: none

PR #8677 [Steam] Brambleskinner Fix
  localisation/Flavour_Brambleskinner_I35_l_english.yml
  missions/Brambleskinner_Missions.txt
Due: Localization Encoding, Loc key collision check

PR #8680 [Steam] Masked Butcher Fixes V2
  common/event_modifiers/anb_dwarovar_modifiers.txt
  common/new_diplomatic_actions/anb_vampire_spreading.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_masked_butcher.txt
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
  events/Flavour_MaskedButcher_H81.txt
  events/estate_vampires.txt
  history/provinces/4033 - Bloodied_Altar.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8681 [Steam] Seinathil's Bardic Ally with Imperial Bodyguard
  events/Flavour_Seinathil_A90.txt
Due: Events Encoding

PR #8684 [Steam] Maghargma Tweaks
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Magharma_I90_l_english.yml
  missions/Maghargma_Missions.txt
Due: Localization Encoding, Loc key collision check

PR #8687 [Steam] more separatist fixes
  common/revolt_triggers/anb_revolt_triggers.txt
  events/Flavour_Grombar_Z50.txt
  events/Flavour_Shalazar_L84.txt
  localisation/Escann_Adventurers_Intro_l_english.yml
  localisation/Flavour_Kobold_Dragon_Cult_l_english.yml
  localisation/Flavour_Shalazar_L84_l_english.yml
  missions/Urviksten_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8693 [Steam] Bhuvauri culture fix
  events/Flavour_Bhuvauri_R38.txt
  localisation/Flavour_Bhuvauri_R38_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #8697 [Steam] Fixes
  events/DakinshiEvents.txt
  events/Flavour_Magharma_I90.txt
  localisation/anb_mercs_l_english.yml
  missions/Ayarallen_Missions.txt
  missions/Maghargma_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
