Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

Forest Goblin event test
  common/event_modifiers/anb_deepwoods_modifiers.txt
  events/Group_Flavour_Forest_Goblins.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Forest Goblin event test try 2 (i forgot to save)
  events/Group_Flavour_Forest_Goblins.txt
Due: Events Encoding

Tiltaghar Fixes (Didnt take that long huh)
  common/on_actions/00_on_actions.txt
  events/Flavour_Tiltaghar_R08.txt
  missions/Tiltaghar_Missions.txt
Due: Events Encoding

Forest Goblin first event done
  events/Group_Flavour_Forest_Goblins.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Tiltaghar fix
  common/on_actions/00_on_actions.txt
Due: none

Small fix
  events/Flavour_BrokenJaw_Z19.txt
Due: Events Encoding

tiltagahr fix
  common/on_actions/00_on_actions.txt
Due: none

Genie Cult: Dark Fate
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Genie_cult.txt
Due: Events Encoding

Please let it end
  events/Genie_cult.txt
Due: Events Encoding

Pain
  events/Genie_cult.txt
Due: Events Encoding

Eordand Decision Crunch
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/EordandDeepwoodsRestoration.txt
  events/Flavour_Eordand.txt
  localisation/Flavour_Eordand_H21_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Fixing comments
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

small bugfix + localisation changes
  events/Flavour_Eordand.txt
  localisation/Flavour_Eordand_H21_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Silentblade 18/19
  common/event_modifiers/anb_deepwoods_modifiers.txt
  events/Flavour_Silentblade.txt
  missions/Silentblade_Missions.txt
Due: Events Encoding

Silentblade MT 19/19
  common/event_modifiers/anb_deepwoods_modifiers.txt
  events/Flavour_Silentblade.txt
  missions/Silentblade_Missions.txt
Due: Events Encoding

missions up to line 8
  common/event_modifiers/anb_mission_modifiers.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_Sanghariyar.txt
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Fixing claims
  events/Flavour_BrokenJaw_Z19.txt
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
  missions/BrokenJaw_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

missions up to line 9
  common/estate_privileges/estate_lowercastes_privileges.txt
  common/estates/93_lowercastes.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  localisation/anb_estate_lower_castes_l_english.yml
  localisation/anb_regions_l_english.yml
  map/provincegroup.txt
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding, Loc key collision check

MMaw fix
  localisation/Flavour_MireMaw_J32_l_english.yml
  missions/MireMaw_Missions.txt
Due: Localization Encoding, Loc key collision check

fixed suggestion
  localisation/anb_events_l_english.yml
Due: Localization Encoding, Loc key collision check

I'm silly
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
Due: Localization Encoding, Loc key collision check

Norker Events diggy.759-761
  common/event_modifiers/anb_dwarovar_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/DiggyDiggyHoleEvents.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Dibari province name fix
  common/province_names/utubodi.txt
Due: none

Urdea Samrad colonies fix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_UrdeaSamrad.txt
  localisation/Flavour_UrdeaSamrad_U42_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Pohaimeli ideas (no loc)
  common/ideas/anb_country_ideas.txt
Due: none

[steam] loc change for rending cb
  localisation/Flavour_HulazKrakazol_I20_l_english.yml
  localisation/Flavour_Yinquan_Y26_l_english.yml
  localisation/anb_spirits_l_english.yml
  missions/Yinquan_Missions.txt
Due: Localization Encoding, Loc key collision check

missions up to line 11
  common/estate_privileges/estate_lowercastes_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/flagship_modifications/00_flagship_modifications.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_bhuvauri.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Bianfang_Y09.txt
  events/Flavour_Sanghariyar.txt
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  localisation/anb_regions_l_english.yml
  localisation/golden_century_l_english.yml
  map/provincegroup.txt
  missions/Sanghariyar_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

stuhh
  common/event_modifiers/and_mengievents_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/anb_mengi_flavor_events.txt
  localisation/anb_great_projects_l_english.yml
  localisation/anb_mengi_events_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

final bit of transmutative path code
  customizable_localization/anb_transmutative_path.txt
  events/Transmutative_Path_events.txt
  localisation/transmutative_path_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Accretive Path aspects
  common/church_aspects/anb_accretive_path.txt
  common/religions/00_anb_religion.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding, Loc key collision check

parliament bribe
  common/parliament_bribes/sanghariyar_pay_money.txt
Due: none

oop
  common/church_aspects/anb_accretive_path.txt
Due: none

ai decisions
  decisions/EborthilDecisions.txt
Due: Decisions Encoding

missions up to line 13
  common/event_modifiers/anb_mission_modifiers.txt
  common/flagship_modifications/00_flagship_modifications.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/parliament_bribes/administrative_support.txt
  common/parliament_bribes/diplomatic_support.txt
  common/parliament_bribes/estate_bribes.txt
  common/parliament_bribes/gain_corruption.txt
  common/parliament_bribes/gain_inflation.txt
  common/parliament_bribes/gain_war_exhaustion.txt
  common/parliament_bribes/grant_local_autonomy.txt
  common/parliament_bribes/lose_army_tradition.txt
  common/parliament_bribes/lose_manpower.txt
  common/parliament_bribes/lose_mercantilism.txt
  common/parliament_bribes/lose_navy_tradition.txt
  common/parliament_bribes/lose_prestige.txt
  common/parliament_bribes/lose_sailors.txt
  common/parliament_bribes/military_support.txt
  common/parliament_bribes/monetary_support.txt
  common/parliament_bribes/pay_armyprofessionalism.txt
  common/parliament_bribes/pay_crown_land.txt
  common/parliament_bribes/pay_government_currency.txt
  common/parliament_bribes/pay_institutiongrowth.txt
  common/parliament_bribes/pay_reformprogress.txt
  common/parliament_bribes/scapegoat_bribe.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/Flavour_Sanghariyar.txt
  events/RaghamideshGovernmentEvents.txt
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_l_english.yml
  localisation/golden_century_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #7802 [Steam] loc change for rending cb + fixes
  localisation/Flavour_HulazKrakazol_I20_l_english.yml
  localisation/Flavour_Yinquan_Y26_l_english.yml
  localisation/anb_spirits_l_english.yml
  missions/Yinquan_Missions.txt
Due: Localization Encoding, Loc key collision check

Bug Fixes
  common/on_actions/00_on_actions.txt
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding
