Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Command migration bugfix
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

final fixes
  common/event_modifiers/anb_rahen_modifiers.txt
  events/Escann_Adventurers_Intro.txt
Due: Events Encoding

Cultivate them groves, fey loving gobbo
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  history/provinces/3010 - Cenarka.txt
  history/provinces/7020 - Jekpraz.txt
  history/provinces/7033 - Vyr Neith.txt
  missions/Cyranvar_Missions.txt
  missions/ShatteredCrown_Missions.txt
Due: none

balancing act
  common/event_modifiers/taychendi_modifiers.txt
  events/taychendi_events.txt
  localisation/anb_cardesti_l_english.yml
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding

final vb changes
  missions/VelsBacar_Missions.txt
Due: none

18
  localisation/Flavour_ShatteredCrown_H72_l_english.yml
Due: Localization Encoding

Lions of Busilar refix
  gfx/models/anbennar/monuments/busilarlion-diffuse.dds
  gfx/models/anbennar/monuments/busilarlion-normal.dds
  gfx/models/anbennar/monuments/busilarlion-specular.dds
Due: none

V2 of Escanni province modifiers
  history/provinces/151 - Beepeck.txt
  history/provinces/157 - Orston.txt
  history/provinces/18 - Troutcoast.txt
  history/provinces/205 - The_Strip.txt
  history/provinces/207 - Uelaire.txt
  history/provinces/209 - Highwind.txt
  history/provinces/263 - Oldpassage.txt
  history/provinces/268 - Bennon.txt
  history/provinces/270 - Bennonhill.txt
  history/provinces/271 - Giberd.txt
  history/provinces/308 - Silverforge_Hall.txt
  history/provinces/911 - Telgeir.txt
Due: none

Basic Escanni system infrastructure
  common/event_modifiers/anb_escanni_refugees.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  common/scripted_triggers/anb_scripted_triggers_escanni_refugees.txt
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding

Basic Escanni system infrastructure part 2
  common/event_modifiers/anb_escanni_refugees.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  common/scripted_triggers/anb_scripted_triggers_escanni_refugees.txt
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding

vb changes
  localisation/Flavour_VelsBacar_l_english.yml
  missions/VelsBacar_Missions.txt
Due: Localization Encoding

more civi stuff
  common/estate_privileges/anb_privileges.txt
  common/estates/98_adventurers.txt
  customizable_localization/anb_customizable_localization.txt
  events/anb_heroic_realm.txt
  localisation/anb_estates_l_english.yml
Due: Events Encoding, Localization Encoding

Fixing a broken trigger
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

a
  common/estate_privileges/anb_privileges.txt
Due: none

a
  localisation/anb_estates_l_english.yml
  localisation/heroicrealm_l_english.yml
Due: Localization Encoding

Mnor Spleeing Mistak
  localisation/Flavour_Thangoya_Z62_l_english.yml
Due: Localization Encoding

Elaienna fix
  events/Flavour_Elayenna_F49.txt
  localisation/Flavour_Elayenna_F49_l_english.yml
Due: Events Encoding, Localization Encoding

Order of the Zenith fix
  common/mercenary_companies/0_anb_special_mercenaries.txt
Due: none

Removed old code
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

abundant goods bug because goblins did it
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  history/provinces/3010 - Cenarka.txt
  history/provinces/7020 - Jekpraz.txt
  history/provinces/7033 - Vyr Neith.txt
Due: none

more vb fixes
  events/Flavour_Vels_Bacar_G84.txt
  localisation/Flavour_VelsBacar_l_english.yml
  missions/VelsBacar_Missions.txt
Due: Events Encoding, Localization Encoding

N Rahen Religion Descriptions
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

kalsyto disaster
  common/disasters/kalsyto_crisis.txt
  common/event_modifiers/anb_lake_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_kalsyto.txt
  common/scripted_triggers/anb_scripted_triggers_kalsyto.txt
  decisions/LakeFederationStandingCohesion.txt
  events/Flavour_Kalsyto_J33.txt
  gfx/interface/disasters/kalsyto_crisis.dds
  interface/kalsyto_crisis.gfx
  localisation/Flavour_Kalsyto_J33_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

PR #7117 N Rahen Religion Descriptions
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Besolaki Mission Tree
  common/cb_types/anb_cb_kamrayakvals_war.txt
  common/custom_gui/faction.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/factions/anb_factions.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/parliament_issues/anb_besolaki.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/static_modifiers/00_static_modifiers.txt
  common/subject_types/00_subject_types.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_Besolaki_G54.txt
  events/Parlaments.txt
  history/diplomacy/andic_alliances.txt
  interface/faction.gfx
  localisation/Flavour_Besolaki_G54_l_english.yml
  localisation/anb_factions_l_english.yml
  localisation/anb_misc_l_english.yml
  localisation/anb_regions_l_english.yml
  localisation/anb_subject_type_l_english.yml
  localisation/anb_units_l_english.yml
  map/provincegroup.txt
  missions/Besolaki_Missions.txt
Due: Events Encoding, Localization Encoding

less aggro for Azjakuma players
  missions/TheCommand_Missions.txt
Due: none

Quick Fix (Is the best medigun)
  localisation/anb_factions_l_english.yml
Due: Localization Encoding

highlight fix
  events/HalessiSpirits.txt
Due: Events Encoding

loc fixes
  localisation/Flavour_Allclan_I98_l_english.yml
  localisation/Flavour_Gelkalis_F26_l_english.yml
  localisation/anb_new_sun_cult_events_l_english.yml
  localisation/dharma_l_english.yml
  localisation/hnn_l_english.yml
Due: Localization Encoding

should be this
  localisation/dharma_l_english.yml
Due: Localization Encoding

command xia bugfixes
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/Flavour_TheCommand_R62.txt
  missions/TheCommand_Missions.txt
Due: Events Encoding

comments
  missions/TheCommand_Missions.txt
Due: none

removed mythical cavalry fix
  localisation/hnn_l_english.yml
Due: Localization Encoding

Grombar MT can be done without half-orc ruler
  missions/Grombar_Missions.txt
Due: none

Make it actually rewarding something for now
  missions/Grombar_Missions.txt
Due: none

Nulohak-u Temar - Dalaire Colonial Nation for Grombar
  common/colonial_regions/00_colonial_regions.txt
  localisation/anb_colonial_regions_l_english.yml
Due: Localization Encoding

vb fixes
  missions/VelsBacar_Missions.txt
Due: none

white peace extended to 12 years
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding
