Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

no more big lament
  map/area.txt
Due: none

Revert
  map/positions.txt
Due: none

you idiot
  common/tradenodes/00_tradenodes.txt
Due: none

Mtth
  events/RahenEvents.txt
Due: Events Encoding

aelantir tweaks
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none

lizard island names
  history/provinces/3257.txt
  history/provinces/3258.txt
  history/provinces/3259.txt
  history/provinces/3260.txt
  history/provinces/6033.txt
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Adeen tweaks to scaled modifiers
  common/estate_privileges/estate_adeen_privileges.txt
  decisions/AdeenDecisions.txt
Due: Decisions Encoding

temple restoration perf fix
  common/on_actions/00_on_actions.txt
  decisions/TempleDecisions.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

hold decision perf improvements
  common/on_actions/00_on_actions.txt
  decisions/DiggyDiggyHole.txt
  events/DiggyDiggyHoleEvents.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

loc fix
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

beautification
  events/HalessiSpirits.txt
Due: Events Encoding

Rending error fix one
  customizable_localization/anb_rending_appeasement.txt
  events/Rending.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

Fix
  events/RahenEvents.txt
Due: Events Encoding

Fix B
  events/RahenEvents.txt
Due: Events Encoding

3rd time is the charm?
  events/RahenEvents.txt
Due: Events Encoding

Allclan Loc
  events/DiggyDiggyDungeons.txt
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
  missions/Allclan_Missions.txt
Due: Events Encoding, Localization Encoding

Allclan fix
  missions/Allclan_Missions.txt
Due: none

:(
  events/RahenEvents.txt
Due: Events Encoding

konolkhatep stuff
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
  decisions/GnollDecisions.txt
  events/Flavour_Konolkhatep.txt
  history/countries/F66 - Konolkhatep.txt
  history/countries/F72 - Haraagtseda.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  localisation/anb_governments_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

oops
  events/Flavour_Konolkhatep.txt
Due: Events Encoding

Performance tweaks
  decisions/AmeionDecisions.txt
  decisions/AzkareDecisions.txt
  decisions/CallInDegakheionDecision.txt
Due: Decisions Encoding

Jagab Faru ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Vyzemby mission loc
  localisation/anb_vyzemby_l_english.yml
  missions/Azkare_Missions.txt
Due: Localization Encoding

spirit mil
  common/event_modifiers/anb_spirit_modifiers.txt
  common/event_modifiers/racial_admin_military.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  common/technologies/mil.txt
  common/units/spirit_10_heavenly_steeds.txt
  common/units/spirit_12_huli_jing_foxfire.txt
  common/units/spirit_14_ethereal_pact.txt
  common/units/spirit_15_middling_accord.txt
  common/units/spirit_18_spirits_of_wind.txt
  common/units/spirit_19_emboldened_accord.txt
  common/units/spirit_1_flickering_wisps.txt
  common/units/spirit_1_will_o_wisps.txt
  common/units/spirit_23_azure_onslaught.txt
  common/units/spirit_23_burgeoning_accord.txt
  common/units/spirit_26_resounding_accord.txt
  common/units/spirit_28_faces_of_heaven.txt
  common/units/spirit_30_seventh_circle_denizens.txt
  decisions/RendingDecisions.txt
  events/HalessiSpirits.txt
  events/RendingMA.txt
  localisation/anb_racial_l_english.yml
  localisation/anb_rending_l_english.yml
  localisation/anb_spirits_l_english.yml
  localisation/anb_units_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Added imperial incident template
  common/imperial_incidents/anb_imperial_incidents.txt
Due: none

Added events content for imperial incident
  events/Flavour_Gawed_A13.txt
Due: Events Encoding

Added opinion modifiers for incident
  common/opinion_modifiers/anb_opinion_modifiers.txt
Due: none

Added event modifier for incident
  common/event_modifiers/anb_event_modifiers.txt
Due: none

Created edge case if Vertesk forms Gawed that incident doesn't trigger
  events/Flavour_Vertesk_A23.txt
Due: Events Encoding

Added incident localization
  localisation/Flavour_Gawed_A13_l_english.yml
Due: Localization Encoding

Cleaned up localization
  localisation/Flavour_Gawed_A13_l_english.yml
Due: Localization Encoding

3D Model - Yezel Mora Tree
  gfx/entities/anb_monuments.asset
  gfx/models/anbennar/monuments/yezel_mora_tree.mesh
  gfx/models/anbennar/monuments/yezel_mora_tree_diffuse.dds
  gfx/models/anbennar/monuments/yezel_mora_tree_normal.dds
  gfx/models/anbennar/monuments/yezel_mora_tree_spec.dds
  interface/assets/anbennar_monuments.gfx
  map/ambient_object.txt
Due: none

changes to permanent modifier
  events/HalessiSpirits.txt
Due: Events Encoding

Final loc clean up and fixed ai-chance values
  events/Flavour_Gawed_A13.txt
  localisation/Flavour_Gawed_A13_l_english.yml
Due: Events Encoding, Localization Encoding

bosancovac bug fix
  events/Flavour_Bosancovac_G33.txt
Due: Events Encoding

Added event pictures
  events/Flavour_Gawed_A13.txt
Due: Events Encoding

Fixed old localization for incident alert for Emperor
  localisation/Flavour_Gawed_A13_l_english.yml
Due: Localization Encoding

Adeen tweaks and fixing ordinary rebels
  common/rebel_types/adeen_rebels.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  events/estate_adeen_events.txt
Due: Events Encoding

Adeen buffed rebel numbers
  events/estate_adeen_events.txt
Due: Events Encoding

Feast of the Gods reform adjustments
  common/on_actions/00_on_actions.txt
  common/religious_reforms/00_religious_reforms.txt
  events/FeastOfTheGodsEvents.txt
Due: Events Encoding
