Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

mein gott
  common/country_tags/anb_countries.txt
Due: none

try
  common/countries/Pelekalio.txt
  common/country_tags/anb_countries.txt
Due: none

.
  common/countries/Hupali'naina.txt
Due: none

Insaya trade map 1st
  common/tradenodes/00_tradenodes.txt
  map/positions.txt
Due: none

it finally doesnt crash anymore
  common/countries/Haifumana.txt
  common/countries/Houhaliaa.txt
  common/countries/Huia Koluila.txt
  common/countries/Keotlepoz.txt
  common/countries/Kheteawepha.txt
  common/countries/Kitetl.txt
  common/countries/Koatepec.txt
  common/countries/Kotli Komhitzi.txt
  common/countries/Kusaimauna.txt
  common/countries/Lakohe Iamoku.txt
  common/countries/MtKaui Keakol.txt
  common/countries/Myaika Nhouaka.txt
  common/countries/Na Kiai.txt
  common/countries/Nohakai.txt
  common/countries/Nuio Hopuana.txt
  common/countries/Ponhamuphona.txt
  common/countries/Poni Kuahoii.txt
  common/countries/Tauhakelehali.txt
  common/countries/Waimauna.txt
  common/country_tags/anb_countries.txt
Due: none

[STEAM] fixes
  common/scripted_triggers/anb_scripted_triggers_settings.txt
  interface/anb_bookmarks.gfx
Due: none

BUG
  common/estate_privileges/anb_privileges.txt
  localisation/Flavour_Kumarkand_F30_l_english.yml
  missions/Kumarkand_Missions.txt
Due: Localization Encoding, Loc key collision check

ahetl mulyatl
  history/countries/N00.txt
  history/provinces/6154 - PROV6154.txt
  history/provinces/6155 - PROV6155.txt
  history/provinces/6207 - PROV6207.txt
Due: none

Fixed, added OR for the 3 religions
  common/great_projects/anb_monuments_rahen_haless.txt
Due: none

actual tag implementation!
  common/country_tags/anb_countries.txt
  history/countries/N01.txt
  history/countries/N02.txt
  history/countries/N03.txt
  history/countries/N04.txt
  history/countries/N05.txt
  history/countries/N62.txt
  history/countries/N63.txt
  history/provinces/6156 - PROV6156.txt
  history/provinces/6157 - PROV6157.txt
  history/provinces/6158 - PROV6158.txt
  history/provinces/6170 - PROV6170.txt
  history/provinces/6179 - PROV6179.txt
  history/provinces/6182 - PROV6182.txt
  history/provinces/6184 - PROV6184.txt
  history/provinces/6188 - PROV6188.txt
  history/provinces/6200 - PROV6200.txt
  history/provinces/6925 - PROV6925.txt
  history/provinces/6936 - PROV6936.txt
Due: none

disabled two rending events for the command
  events/HalessiSpirits.txt
Due: Events Encoding

rending tweaks
  events/RendingMA.txt
Due: Events Encoding

west coast
  history/countries/N06.txt
  history/countries/N07.txt
  history/countries/N08.txt
  history/countries/N09.txt
  history/countries/N64.txt
  history/countries/N65.txt
  history/provinces/6918 - PROV6918.txt
  history/provinces/6919 - PROV6919.txt
  history/provinces/6921 - PROV6921.txt
  history/provinces/6922 - PROV6922.txt
  history/provinces/6923 - PROV6923.txt
  history/provinces/6924 - PROV6924.txt
  history/provinces/6926 - PROV6926.txt
  history/provinces/6927 - PROV6927.txt
  history/provinces/6928 - PROV6928.txt
  history/provinces/6929 - PROV6929.txt
  history/provinces/6930 - PROV6930.txt
  history/provinces/6931 - PROV6931.txt
  history/provinces/6932 - PROV6932.txt
  history/provinces/6933 - PROV6933.txt
  history/provinces/6934 - PROV6934.txt
  history/provinces/6935 - PROV6935.txt
  history/provinces/6937 - PROV6937.txt
Due: none

commented out other half of remaining vanilla religion definition and gov reform
  common/governments/00_governments.txt
  common/religions/00_religion.txt
Due: none

PR #7333 [Steam] racial pop stuff fix
  common/custom_gui/countrygovernmentview.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none

event target fix
  events/taychendi_events.txt
Due: Events Encoding

PR #7325 [Steam] Besolaki Bugfixes
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/static_modifiers/00_static_modifiers.txt
  localisation/Flavour_Besolaki_G54_l_english.yml
  missions/Besolaki_Missions.txt
  missions/Lokemeion_Missions.txt
Due: Localization Encoding, Loc key collision check

try 2
  events/AdventurerFormables.txt
  events/Flavour_Luciande_B34.txt
  missions/Luciande_Missions.txt
Due: Events Encoding

PR #7328 Hyena & gnoll model fixes
  gfx/models/Units/Gnoll/animation/attack_blunderbuss.anim
  gfx/models/Units/Gnoll/animation/attack_cavalry_hyena.anim
  gfx/models/Units/Gnoll/animation/attack_cavalry_rider.anim
  gfx/models/Units/Gnoll/animation/attack_spear.anim
  gfx/models/Units/Gnoll/animation/idle_blunderbuss.anim
  gfx/models/Units/Gnoll/animation/idle_cavalry_hyena.anim
  gfx/models/Units/Gnoll/animation/idle_cavalry_rider.anim
  gfx/models/Units/Gnoll/animation/idle_spear.anim
  gfx/models/Units/Gnoll/animation/retreat_blunderbuss.anim
  gfx/models/Units/Gnoll/animation/retreat_cavalry_hyena.anim
  gfx/models/Units/Gnoll/animation/retreat_cavalry_rider.anim
  gfx/models/Units/Gnoll/animation/retreat_spear.anim
  gfx/models/Units/Gnoll/animation/walk_blunderbuss.anim
  gfx/models/Units/Gnoll/animation/walk_cavalry_hyena.anim
  gfx/models/Units/Gnoll/animation/walk_cavalry_rider.anim
  gfx/models/Units/Gnoll/animation/walk_spear.anim
  gfx/models/Units/Gnoll/gnoll_01.mesh
  gfx/models/Units/Gnoll/gnoll_01_diffuse.dds
  gfx/models/Units/Gnoll/gnoll_02.mesh
  gfx/models/Units/Gnoll/gnoll_02_diffuse.dds
  gfx/models/Units/Gnoll/gnoll_03.mesh
  gfx/models/Units/Gnoll/gnoll_03_diffuse.dds
  gfx/models/Units/Gnoll/gnoll_04.mesh
  gfx/models/Units/Gnoll/gnoll_04_diffuse.dds
  gfx/models/Units/Gnoll/hyena.mesh
  gfx/models/Units/Gnoll/hyena_diffuse.dds
Due: none

PR #7331 loading screen fix
  gfx/loadingscreens/load_3.dds
Due: none

PR #7332 [steam] fixes for New havoral & tay event
  decisions/AdventurerFormables.txt
  events/Flavour_NewHavoral_H57.txt
  events/anb_cardesti_events.txt
  events/taychendi_events.txt
  missions/NewHavoral_Missions.txt
Due: Decisions Encoding, Events Encoding

PR #7336 [STEAM] fixes
  common/scripted_triggers/anb_scripted_triggers_settings.txt
  interface/anb_bookmarks.gfx
Due: none

PR #7339 [Steam] vamp
  events/AdventurerFormables.txt
  events/Flavour_Luciande_B34.txt
  missions/Luciande_Missions.txt
Due: Events Encoding

bug
  map/provincegroup.txt
Due: none

BUG
  localisation/Flavour_Kumarkand_F30_l_english.yml
Due: Localization Encoding, Loc key collision check

BUG
  missions/Kumarkand_Missions.txt
Due: none

bug
  missions/Kumarkand_Missions.txt
Due: none

Culture fixing
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

Irkorzik silly fix
  events/Flavour_Irkorzik_F69.txt
  missions/Irkorzik_Missions.txt
Due: Events Encoding

work continues
  history/countries/N10.txt
  history/countries/N11.txt
  history/countries/N12.txt
  history/countries/N13.txt
  history/countries/N14.txt
  history/countries/N15.txt
  history/countries/N16.txt
  history/provinces/6159 - PROV6159.txt
  history/provinces/6160 - PROV6160.txt
  history/provinces/6161 - PROV6161.txt
  history/provinces/6162 - PROV6162.txt
  history/provinces/6169 - PROV6169.txt
  history/provinces/6172 - PROV6172.txt
  history/provinces/6177 - PROV6177.txt
  history/provinces/6178 - PROV6178.txt
  history/provinces/6912 - PROV6912.txt
  history/provinces/6913 - PROV6913.txt
  history/provinces/6914 - PROV6914.txt
  history/provinces/6915 - PROV6915.txt
  history/provinces/6916 - PROV6916.txt
  history/provinces/6917 - PROV6917.txt
Due: none

sheer tediousness
  history/countries/N17.txt
  history/countries/N18.txt
  history/countries/N19.txt
  history/countries/N20.txt
  history/countries/N21.txt
  history/provinces/6164 - PROV6164.txt
  history/provinces/6166 - PROV6166.txt
  history/provinces/6866 - PROV6866.txt
  history/provinces/6869 - PROV6869.txt
  history/provinces/6870 - PROV6870.txt
  history/provinces/6909 - PROV6909.txt
  history/provinces/6910 - PROV6910.txt
  history/provinces/6911 - PROV6911.txt
  localisation/anb_countries_l_english.yml
Due: Localization Encoding, Loc key collision check

opms moment
  common/country_tags/anb_countries.txt
  history/countries/N23.txt
  history/countries/N25.txt
  history/countries/N26.txt
  history/countries/N27.txt
  history/countries/N28.txt
  history/countries/N29.txt
  history/countries/N30.txt
  history/countries/N59.txt
  history/provinces/6185 - PROV6185.txt
  history/provinces/6190 - PROV6190.txt
  history/provinces/6199 - PROV6199.txt
  history/provinces/6203 - PROV6203.txt
  history/provinces/6205 - PROV6205.txt
  history/provinces/6873 - PROV6873.txt
  history/provinces/6874 - PROV6874.txt
  history/provinces/6875 - PROV6875.txt
  history/provinces/6894 - PROV6894.txt
  history/provinces/6895 - PROV6895.txt
  history/provinces/6907 - PROV6907.txt
  history/provinces/6908 - PROV6908.txt
  history/provinces/6920 - PROV6920.txt
  localisation/anb_countries_l_english.yml
Due: Localization Encoding, Loc key collision check

oof
  history/countries/N31.txt
  history/countries/N32.txt
  history/countries/N33.txt
  history/countries/N34.txt
  history/provinces/6896 - PROV6896.txt
  history/provinces/6897 - PROV6897.txt
  history/provinces/6901 - PROV6901.txt
  history/provinces/6902 - PROV6902.txt
  history/provinces/6903 - PROV6903.txt
Due: none

vb fixes
  common/estates/02_nobility.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Flavour_Vels_Bacar_G84.txt
  localisation/Flavour_VelsBacar_l_english.yml
  missions/VelsBacar_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

rending
  events/HalessiSpirits.txt
Due: Events Encoding
