Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Dwarfs to Dwarves
  localisation/Flavour_VerkalDromak_I25_l_english.yml
  localisation/anb_diggy_diggy_hole_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Sarhali to Sarhaly
  localisation/Flavour_Dhenijanraj_R51_l_english.yml
  localisation/Flavour_Feiten_Y20_l_english.yml
  localisation/Flavour_Varaine_A99_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
  localisation/anb_units_l_english.yml
Due: Localization Encoding

pain
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Elections.txt
  events/Flavour_Yinquan_Y26.txt
  events/HalessiSpirits.txt
  events/PatronsOnAction.txt
  localisation/Flavour_Yinquan_Y26_l_english.yml
  localisation/anb_patrons_l_english.yml
  missions/Yinquan_Missions.txt
Due: Events Encoding, Localization Encoding

country_or_non_sovereign_subject_holds = ROOT
  missions/Yinquan_Missions.txt
Due: none

last bit of loc.
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Dwarfs to Dwarves
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
  localisation/Flavour_Plumstead_H61_l_english.yml
  localisation/anb_units_l_english.yml
Due: Localization Encoding

Encoding fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

lizardmen -> lizardfolk
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Lizardfolks -> Lizardfolk
  localisation/anb_units_l_english.yml
Due: Localization Encoding

Lizardfolks -> Lizardfolk
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

encoding fix
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

some tweaks and fixes
  events/NativeAmerican.txt
  events/ideagroups.txt
  localisation/Flavour_NewHavoral_H57_l_english.yml
Due: Events Encoding, Localization Encoding

commenting out harpylen queendom
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

spelling fix
  localisation/anb_patrons_l_english.yml
Due: Localization Encoding

chien loc fix
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

more pain
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/PatronsOnAction.txt
Due: Events Encoding

event picture
  events/Flavour_Yinquan_Y26.txt
Due: Events Encoding

Mystic accord
  common/religions/00_anb_religion.txt
  events/MysticAccordEvents.txt
  localisation/mystic_accord_l_english.yml
Due: Events Encoding, Localization Encoding

Sigh
  events/MysticAccordEvents.txt
Due: Events Encoding

sigh again
  common/religions/00_anb_religion.txt
  localisation/mystic_accord_l_english.yml
Due: Localization Encoding

Art
  events/Flavour_Azka_Sur_U20.txt
  events/Flavour_Bulwar.txt
  events/Flavour_Bulwar_F39.txt
  events/Flavour_EduzVacyn_F31.txt
  gfx/event_pictures/SUN_CULT_PRIEST_event_picture.dds
  interface/anb_eventpictures.gfx
Due: Events Encoding

A new hope
  common/religions/00_anb_religion.txt
  events/MysticAccordEvents.txt
  localisation/mystic_accord_l_english.yml
Due: Events Encoding, Localization Encoding

yinquan bugfixes
  common/cb_types/anb_cb_eternal_blossom.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/wargoal_types/00_wargoal_types.txt
  decisions/EunuchAnbDecisions.txt
  decisions/YinquanDecisions.txt
  events/Flavour_Yinquan_Y26.txt
  gfx/interface/missions/mission_lotus_flower.dds
  interface/missionicons_anb.gfx
  localisation/Flavour_Yinquan_Y26_l_english.yml
  localisation/anb_patrons_l_english.yml
  missions/Yinquan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

mission fix
  missions/Yinquan_Missions.txt
Due: none

randomness
  events/Flavour_Brelar_G27.txt
  missions/Brelar_Missions.txt
Due: Events Encoding

More fixes
  localisation/mystic_accord_l_english.yml
Due: Localization Encoding

4 2 1
  events/Flavour_Brelar_G27.txt
Due: Events Encoding

( ͡° ͜ʖ ͡°)
  events/MysticAccordEvents.txt
Due: Events Encoding

pain
  missions/Yinquan_Missions.txt
Due: none

fix
  events/HalessiSpirits.txt
  localisation/Flavour_Yinquan_Y26_l_english.yml
  missions/Yinquan_Missions.txt
Due: Events Encoding, Localization Encoding

( ಠ ͜ʖ ಠ)
  events/MysticAccordEvents.txt
  localisation/mystic_accord_l_english.yml
Due: Events Encoding, Localization Encoding

(×_×)
  common/religions/00_anb_religion.txt
Due: none

removed test decision
  decisions/YinquanDecisions.txt
Due: Decisions Encoding

PR #5976 removed test decision
  decisions/YinquanDecisions.txt
Due: Decisions Encoding

Chien Loc Hotfix
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
Due: Localization Encoding

fix yinquan loc (gov reforms don't take loc scope)
  localisation/Flavour_Yinquan_Y26_l_english.yml
Due: Localization Encoding

fix flag in rending quest decision
  decisions/RendingDecisions.txt
Due: Decisions Encoding

add missing loc for night_coven_reforms
  localisation/Flavour_Yezel_Mora_S70_l_english.yml
Due: Localization Encoding

Vyzemby fixes
  decisions/FahvanosyDecisions.txt
  localisation/anb_vyzemby_l_english.yml
  missions/Vyzemby_missions.txt
Due: Decisions Encoding, Localization Encoding

b
  common/government_mechanics/anb_harpylen_queendom.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects.txt
  gfx/interface/custom_gui/image_harpy_queendom_ui.dds
  history/advisors/Harpy.txt
  interface/countrygovernmentview.gui
Due: none
