Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

azjakuma fix
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
Due: none

decision loc
  localisation/Flavour_Amadia_group_l_english.yml
Due: Localization Encoding

ok, man
  decisions/HinediuYulasNation.txt
Due: Decisions Encoding

Adding Oinukhudi NI
  common/ideas/anb_country_ideas.txt
Due: none

command migration change
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

sir revolt loc
  customizable_localization/anb_customizable_localization.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

Bug fix for Emperor not defending Orda Aldresia from outside invaders
  common/diplomatic_actions/00_diplomatic_actions.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
Due: Events Encoding, Localization Encoding

fixed opinion modifier errro
  common/subject_types/00_subject_types.txt
Due: none

Feiten Anti-Command coalition change
  events/Flavour_Feiten_Y20.txt
  localisation/Flavour_Feiten_Y20_l_english.yml
Due: Events Encoding, Localization Encoding

It woooooorks
  gfx/interface/settings/settings_east_sarhal.dds
  gfx/interface/settings/settings_gozenguun.dds
  gfx/interface/settings/settings_south_sarhal.dds
Due: none

parsing error
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Correcting a typo in Oinukhudi NI
  common/ideas/anb_country_ideas.txt
Due: none

command post-edict fix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

ai wuhyunization fix
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

wuhyun horc ai command
  missions/TheCommand_Missions.txt
Due: none

Removed Corin tooltip, she is removed earlier
  events/Corinite.txt
Due: Events Encoding

Changed some Azkabar things to better account for forming Surakes
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  customizable_localization/anb_custom_loca.txt
  events/flavour_Azkabar_F35.txt
  localisation/Flavour_Azkabar_F35_l_english.yml
  missions/Azkabar_missions.txt
Due: Events Encoding, Localization Encoding

Changed Reveria influence modifiers into country modifiers
  common/event_modifiers/anb_event_modifiers.txt
  events/Flavour_Reveria_A05.txt
  localisation/Flavour_Reveria_A05_l_english.yml
  missions/Reveria_Missions.txt
Due: Events Encoding, Localization Encoding

Changed triggers for Corin as a personal deity, so she is disabled when the Deluge starts
  common/personal_deities/anb_cannorian_deities.txt
  events/Corinite.txt
  events/RegentCourtEvents.txt
Due: Events Encoding

Bug fix for hmmmm
  common/diplomatic_actions/00_diplomatic_actions.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
Due: Events Encoding, Localization Encoding

Updated Gawed imperial incident with content review changes. Added new war, peace deal, province group, cb type, and slimmed down code for incident
  common/cb_types/00_cb_types.txt
  common/peace_treaties/anb_flight_of_eagle_and_dove.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Flavour_Gawed_A13.txt
  localisation/EU4_l_english.yml
  localisation/Flavour_Gawed_A13_l_english.yml
  localisation/anb_regions_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding

Hmm fixes
  common/diplomatic_actions/00_diplomatic_actions.txt
Due: none

Added more hmmmm fixes
  common/diplomatic_actions/00_diplomatic_actions.txt
Due: none

Fixed Gawedi Monarch lore loc to be Jon II instead of Welyam
  localisation/Flavour_Gawed_A13_l_english.yml
Due: Localization Encoding

wuhyunization changes + loc
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding

Performance fix
  common/diplomatic_actions/00_diplomatic_actions.txt
Due: none

wuhyunization final changes
  common/event_modifiers/anb_rahen_modifiers.txt
  common/state_edicts/laws_of_ninun.txt
  events/Flavour_TheCommand_R62.txt
  missions/TheCommand_Missions.txt
Due: Events Encoding

loc error fixes
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

HumanInnovation Fix + visible silk cities + silkroad
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  localisation/Flavour_Spiderwretch_H90_l_english.yml
  missions/Spiderwretch_Missions.txt
Due: Localization Encoding

da same
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
Due: none

Buttons
  gfx/interface/settings/settings_button_east_sarhal.dds
  gfx/interface/settings/settings_button_east_sarhal_x.dds
  gfx/interface/settings/settings_button_gozenguun.dds
  gfx/interface/settings/settings_button_gozenguun_x.dds
Due: none

Disable all
  events/anb_settings.txt
  gfx/interface/settings/settings_button_all.dds
  gfx/interface/settings/settings_button_all_x.dds
  interface/event_interfaces.gfx
  localisation/anb_settings_l_english.yml
Due: Events Encoding, Localization Encoding
