Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Bjarnrik Civil War Events
  events/Gerudia.txt
  localisation/anb_events_l_english.yml
Due: Events Encoding, Localization Encoding

zomp
  common/event_modifiers/anb_effelai_worship_modifiers.txt
  missions/Effelai_Missions.txt
Due: none

Lupulan easy 3 change
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

Dakinshi flags
  gfx/flags/L63.tga
  gfx/flags/S27.tga
  gfx/flags/S83.tga
Due: none

Generic Flavour Events Vyzemby 12-16 w/Loc
  localisation/Flavour_Vyzemby_l_english.yml
Due: Localization Encoding

fix incorrect tooltip loc for isolationist cyranvar
  localisation/anb_deepwoods_l_english.yml
Due: Localization Encoding

fix province highlighting for railskulker mission
  missions/Railskulker_Missions.txt
Due: none

fix seek patron decision breaking magic menu flag
  decisions/MagicRuler.txt
Due: Decisions Encoding

fix strait adjacencies in ringlet isles
  map/adjacencies.csv
Due: none

fix railskulker mission affecting wrong province
  missions/Railskulker_Missions.txt
Due: none

fix/add support for patricians in allclan mission
  missions/Allclan_Missions.txt
Due: none

fix/update localisation for azkare event
  localisation/Flavour_Azkare_Y86_l_english.yml
Due: Localization Encoding

add zapsap to list of tags that need south sarhal
  common/scripted_triggers/anb_scripted_triggers_settings.txt
Due: none

fix losing dotf upon new monarch for nsc
  common/scripted_effects/anb_scripted_effects_for_isolationism.txt
Due: none

Generic Flavour Events Vyzemby 12-16 Ready
  localisation/Flavour_Vyzemby_l_english.yml
Due: Localization Encoding

Jojo swapped Ids by mistake
  gfx/flags/S27.tga
  gfx/flags/S83.tga
Due: none

azkabar sync p1
  missions/Azkabar_missions.txt
Due: none

Azjakuma recolor decision + loc
  decisions/AzjakumaDecisions.txt
  localisation/Flavour_Azjakuma_Y01_l_english.yml
Due: Decisions Encoding, Localization Encoding

azkabar sync p2
  missions/Azkabar_missions.txt
Due: none

dfgdf
  common/scripted_effects/artifice_scripted_effects.txt
  events/MagicArtificerySetup.txt
  localisation/artifice_l_english.yml
Due: Events Encoding, Localization Encoding

Arg-Ordstun second part work
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun.txt
Due: Events Encoding, Localization Encoding

Azjakuma vassal recolor decision + loc
  decisions/AzjakumaDecisions.txt
  localisation/Flavour_Azjakuma_Y01_l_english.yml
Due: Decisions Encoding, Localization Encoding

dfg
  events/ArtificeResearch.txt
  localisation/artifice_l_english.yml
Due: Events Encoding, Localization Encoding

tooltip magic
  localisation/Flavour_Azkabar_F35_l_english.yml
  missions/Azkabar_missions.txt
Due: Localization Encoding

encoding encoding encoding
  events/Flavour_Cestirmark_H33.txt
  events/NewSunCultEvents.txt
Due: Events Encoding

Hengdu Bowu quest 4 rework
  customizable_localization/anb_rending_appeasement.txt
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

random fixes
  missions/Azkabar_missions.txt
Due: none

the boss' requests
  missions/Azkabar_missions.txt
Due: none

severe skill issue
  missions/Azkabar_missions.txt
Due: none

hope this works
  missions/Azkabar_missions.txt
Due: none

s moment
  missions/Azkabar_missions.txt
Due: none

i moment
  missions/Azkabar_missions.txt
Due: none

fixes
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/estate_artifice_privileges.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/MagicArtificerySetup.txt
Due: Events Encoding

asd
  common/custom_gui/countrydecisionsview.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
Due: none

fh
  common/estate_privileges/estate_artifice_privileges.txt
  localisation/artifice_l_english.yml
Due: Localization Encoding

Eordand government event removed
  decisions/EordandNation.txt
  events/Eordand.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
