Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

rend
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  common/state_edicts/spirit_hunters_edict.txt
  customizable_localization/anb_halessi_spirits_localization.txt
  decisions/HalessiSpirits.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Oops, can declare war, just not without CB
  common/diplomatic_actions/00_diplomatic_actions.txt
Due: none

ahati work
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/imperial_reforms/01_china.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

Taking into account new shadowswamp province
  events/Flavour_YezelMora_S70.txt
  history/provinces/3206 - Vakulai.txt
Due: Events Encoding

Shadowprovince name
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Name list implementation
  common/countries/Adaru.txt
  common/countries/Binwarji.txt
  common/countries/Bokiya.txt
  common/countries/Dendugma.txt
  common/countries/Fangaula.txt
  common/countries/Jagab Faru.txt
  common/countries/Kaino Federation.txt
  common/countries/Kunolo.txt
  common/countries/Mausarjirad.txt
  common/countries/Mokatanga.txt
  common/countries/Ndurubu.txt
  common/countries/Negefaama.txt
  common/countries/Nenfi Remuj.txt
  common/countries/Samishesha.txt
  common/countries/Taafisi.txt
  common/cultures/anb_cultures.txt
Due: none

More Shadowswamp stuff
  common/countries/Maikirow.txt
  events/ReligiousReforms.txt
  gfx/interface/natives.dds
Due: Events Encoding

Great Projects better placeholder
  interface/great_project.gfx
Due: none

jadd exemplary nobility enabled
  common/estate_privileges/01_church_privileges.txt
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

isobelin loc
  localisation/Flavour_Isobelin_G91_l_english.yml
Due: Localization Encoding

isobelin events
  events/Flavour_Isobelin_G91.txt
Due: Events Encoding

isobelin mt
  missions/Isobelin_Missions.txt
Due: none

1st agenda
  common/estate_agendas/anb_ahati_agendas.txt
  common/estates/109_ahati.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  decisions/KhetMandateDecisions.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Decisions Encoding, Localization Encoding

allclan fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/DiggyDiggyHole.txt
  events/DiggyDiggyEncounters.txt
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

funny reward
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Events Encoding, Localization Encoding

Eltikan and Baashidi Changes
  common/ideas/anb_country_ideas.txt
  events/Flavour_Eltikan_G60.txt
  gfx/flags/S78.tga
  history/provinces/5654 - Hisraad.txt
  history/provinces/6011 - Shari_Kumsiin.txt
  history/provinces/6013 - Gharagaalsh.txt
  history/provinces/6046 - Kallayaad.txt
  localisation/Flavour_Eltikan_G60_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Misc Fixes
  common/estate_privileges/anb_privileges.txt
  events/DiggyDiggyDungeons.txt
  events/DiggyDiggyEncounters.txt
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
Due: Events Encoding, Localization Encoding

aaaa
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

Jojo saves the Sarhal update
  gfx/flags/J79.tga
  gfx/flags/J80.tga
  gfx/flags/J82.tga
Due: none

Jousting with event_targets
  events/YnnEvents.txt
  missions/Azka_Sur_Missions.txt
Due: Events Encoding

rending stuff
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  decisions/HalessiSpirits.txt
  events/HalessiSpirits.txt
  gfx/interface/event_interfaces/event_button_spirit_cinulau.dds
  gfx/interface/event_interfaces/event_button_spirit_dhenbasana.dds
  gfx/interface/event_interfaces/event_button_spirit_gehet_ketine.dds
  gfx/interface/event_interfaces/event_button_spirit_hengdu_bowu.dds
  gfx/interface/event_interfaces/event_button_spirit_hokuma.dds
  gfx/interface/event_interfaces/event_button_spirit_hukai_and_telebei.dds
  gfx/interface/event_interfaces/event_button_spirit_huszien.dds
  gfx/interface/event_interfaces/event_button_spirit_kharunyana.dds
  gfx/interface/event_interfaces/event_button_spirit_lupulan.dds
  gfx/interface/event_interfaces/event_button_spirit_marutha.dds
  gfx/interface/event_interfaces/event_button_spirit_phokhao.dds
  gfx/interface/event_interfaces/event_button_spirit_tughayasa.dds
  gfx/interface/event_interfaces/event_button_spirit_yanhe.dds
  interface/event_interfaces.gfx
  localisation/anb_spirits_l_english.yml
  map/provincegroup.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Isobelin MT
  missions/Isobelin_Missions.txt
Due: none

Restrict "annex migratory tribe" peace option for escann
  common/peace_treaties/01_annex_tribe.txt
Due: none

Monument Fix
  common/great_projects/anb_monuments_sarhal.txt
Due: none

Corintar government rank fix
  common/government_reforms/03_government_reforms_theocracies.txt
  localisation/Flavour_Corintar_B02_l_english.yml
Due: Localization Encoding

Somehow at some point the encoding broke...
  localisation/anb_adventurers_l_english.yml
Due: Localization Encoding

alter adventurer mission req since they don't have allies now
  missions/Adventurer_Missions.txt
Due: none

Sarhal Nudge Fixes
  map/positions.txt
Due: none

Salahad
  localisation/Flavour_Kobold_Dragon_Cult_l_english.yml
Due: Localization Encoding

e
  events/HalessiSpirits.txt
  gfx/interface/event_interfaces/event_button_spirit_cinulau.dds
  gfx/interface/event_interfaces/event_button_spirit_dhenbasana.dds
  gfx/interface/event_interfaces/event_button_spirit_gehet_ketine.dds
  gfx/interface/event_interfaces/event_button_spirit_hengdu_bowu.dds
  gfx/interface/event_interfaces/event_button_spirit_hokuma.dds
  gfx/interface/event_interfaces/event_button_spirit_hukai_and_telebei.dds
  gfx/interface/event_interfaces/event_button_spirit_huszien.dds
  gfx/interface/event_interfaces/event_button_spirit_kharunyana.dds
  gfx/interface/event_interfaces/event_button_spirit_lupulan.dds
  gfx/interface/event_interfaces/event_button_spirit_marutha.dds
  gfx/interface/event_interfaces/event_button_spirit_phokhao.dds
  gfx/interface/event_interfaces/event_button_spirit_tughayasa.dds
  gfx/interface/event_interfaces/event_button_spirit_yanhe.dds
Due: Events Encoding

stupid vanilla disaster
  common/disasters/coup_attempt.txt
Due: none

more agendas
  common/estate_agendas/anb_ahati_agendas.txt
  common/estates/109_ahati.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
  events/estate_ahati.txt
Due: Events Encoding

mulen fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Mulen_F50.txt
  events/MonstrousEvents.txt
  missions/Mulen_Missions.txt
Due: Events Encoding

oops
  history/provinces/5717.txt
  history/provinces/5850 - Copy.txt
Due: none

oops
  localisation/Flavour_Allclan_I98_l_english.yml
  localisation/Flavour_Mulen_F50_l_english.yml
Due: Localization Encoding
