Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

More cardesti stuff
  events/anb_cardesti_events.txt
Due: Events Encoding

S
  common/holy_orders/anb_holy_orders.txt
Due: none

Tidying up
  events/anb_cardesti_events.txt
Due: Events Encoding

More tidying
  events/anb_cardesti_events.txt
Due: Events Encoding

TWENTY FLIPPING SEVEN
  events/LakeFederationEvents.txt
Due: Events Encoding

zomp123
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

tunnel fix
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

aakheta flag
  gfx/flags/U04.tga
Due: none

Sadge
  common/scripted_triggers/anb_scripted_triggers.txt
  missions/Plumstead_Missions.txt
Due: none

about to be some peak fuckin jank
  common/government_mechanics/anb_harpylen_queendom.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  customizable_localization/anb_harpy_gov_mechanic_localization.txt
  decisions/HarpylenFormable.txt
  localisation/anb_harpy_gov_bar_l_english.yml
Due: Decisions Encoding, Localization Encoding

fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Allclan Loc
  events/DiggyDiggyEncounters.txt
  localisation/anb_diggy_diggy_hole_encounters_l_english.yml
Due: Events Encoding, Localization Encoding

aight it worked
  common/government_mechanics/anb_harpylen_queendom.txt
  common/on_actions/00_on_actions.txt
  customizable_localization/anb_harpy_gov_mechanic_localization.txt
  decisions/HarpylenFormable.txt
  localisation/anb_harpy_gov_bar_l_english.yml
Due: Decisions Encoding, Localization Encoding

a
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/06_government_reforms_common.txt
Due: none

loc fixes
  localisation/Flavour_GorBurad_I16_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

comment rending debug decision
  decisions/RendingDecisions.txt
Due: Decisions Encoding

on action and centaur cleanup
  common/on_actions/00_on_actions.txt
  events/CentaurEvents.txt
Due: Events Encoding

fix temples stuck in infinite revolutionary loop
  events/anb_MiscEvents.txt
Due: Events Encoding

lake federation events parsing error fixes
  events/LakeFederationEvents.txt
Due: Events Encoding

harpylen loc error fix
  localisation/Group_Flavour_Harpies_l_english.yml
Due: Localization Encoding

Allclan loc 2
  localisation/anb_diggy_diggy_hole_encounters_l_english.yml
Due: Localization Encoding

Isobelin loc - tightening up events, added tooltips
  localisation/Flavour_Isobelin_G91_l_english.yml
Due: Localization Encoding

Aelantir Spawnable loc - added isobelin
  localisation/anb_aelantirspawnables_l_english.yml
Due: Localization Encoding

Aelantir spawnable - swtiched Isobel Island and Port, added tooltip
  events/AelantirSpawnables.txt
Due: Events Encoding

Auto stash before merge of "new-master" and "origin/new-master"
  gfx/interface/holy_sites/Ardim_Qarast.dds
  gfx/interface/holy_sites/Bixanrit.dds
  gfx/interface/holy_sites/Bogorr.dds
  gfx/interface/holy_sites/Gamyi.dds
  gfx/interface/holy_sites/Junanusuar.dds
  gfx/interface/holy_sites/Kunolo.dds
  gfx/interface/holy_sites/Lel.dds
  gfx/interface/holy_sites/Nahzni.dds
  gfx/interface/holy_sites/Niramit.dds
  gfx/interface/holy_sites/Resecreet.dds
  gfx/interface/holy_sites/Rostgrax.dds
  gfx/interface/holy_sites/Sirik.dds
  gfx/interface/holy_sites/Sprigi_Twani.dds
  gfx/interface/holy_sites/Zitarr.dds
  localisation/anb_religions_l_english.yml
  localisation/fangaula_pantheon_l_english.yml
Due: Localization Encoding

New flag for Menibor and renamed corvurian provs as per CK3
  common/countries/Brinkmarches.txt
  common/countries/Corintar.txt
  common/countries/Corvuria.txt
  common/countries/Dostanor.txt
  common/countries/Neratica.txt
  common/countries/Onyx Legion.txt
  common/countries/Ourdia.txt
  common/countries/Raven Banner.txt
  common/countries/Ravenmarch.txt
  decisions/DostanorNation.txt
  gfx/flags/A55.tga
  localisation/Flavour_Ravenmarch_B48_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/definition.csv
  map/positions.txt
Due: Decisions Encoding, Localization Encoding

change monument pic
  interface/great_project.gfx
Due: none

Plumstead MT Icons
  missions/Plumstead_Missions.txt
Due: none

plumstead fixes
  events/Flavour_Plumstead_H61.txt
  localisation/Flavour_Plumstead_H61_l_english.yml
Due: Events Encoding, Localization Encoding

Plumstead MT Icons attempt 3
  missions/Plumstead_Missions.txt
Due: none

diverse court event image
  gfx/event_pictures/DIVERSE_COURT_eventPicture.dds
Due: none

rending fix
  common/event_modifiers/anb_spirit_modifiers.txt
  decisions/HalessiSpirits.txt
Due: Decisions Encoding

probably finally fixed..?
  common/estate_privileges/estate_artifice_privileges.txt
Due: none

Arverynn fix
  events/Flavour_Arverynn_G35.txt
  localisation/ynn_loc_l_english.yml
  missions/Arverynn_Missions.txt
Due: Events Encoding, Localization Encoding

plumstead work
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Plumstead_H61.txt
  localisation/Flavour_Plumstead_H61_l_english.yml
Due: Events Encoding, Localization Encoding

tiny loc fix
  localisation/Flavour_Gelkalis_F26_l_english.yml
Due: Localization Encoding

hotfixes
  common/event_modifiers/anb_spirit_modifiers.txt
  decisions/RendingDecisions.txt
  gfx/interface/great_projects/great_project_heart_of_the_effelai.dds
Due: Decisions Encoding

foundarie->foundry
  localisation/Flavour_Gelkalis_F26_l_english.yml
Due: Localization Encoding

Marrhold ideas tooltip fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Snotfinger custom trigger tt
  localisation/Flavour_Snotfinger_H89_l_english.yml
  missions/Snotfinger_Missions.txt
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
