Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Fixing Xiaken getting released with the wrong gov reform
  common/on_actions/00_on_actions.txt
Due: none

Elikhand custom tooltip clarification
  localisation/Flavour_Elikhand_B38_l_english.yml
Due: Localization Encoding

"hidden = no" is incorrect
  events/Flavour_Silverforge_A73_diggy.txt
Due: Events Encoding

More removal of "hidden = no"
  common/estate_privileges/anb_privileges.txt
  common/great_projects/anb_great_projects.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  decisions/EsthilDecisions.txt
  events/YnnZodiacEvents.txt
  events/anb_aw_bandits.txt
  events/anb_aw_eldritch_cultists.txt
  events/anb_aw_ghouls.txt
  events/anb_aw_goblins.txt
  events/anb_aw_hags.txt
  events/anb_aw_haunted_house.txt
  events/anb_aw_orcs.txt
  events/anb_aw_satyrs.txt
  events/anb_aw_test.txt
  events/anb_aw_thieves_guild.txt
  events/anb_aw_trolls.txt
  events/anb_aw_vampires.txt
  events/anb_aw_wendigo.txt
  events/anb_aw_werewolves.txt
  events/anb_aw_wyvern.txt
  events/anb_aw_zombies.txt
  events/disaster_vampires_masquerade.txt
  missions/Anjiang_Missions.txt
  missions/Luciande_Missions.txt
Due: Decisions Encoding, Events Encoding

Some scope errors and stuff
  common/estate_agendas/anb_eunuchs_anb_agendas.txt
  common/estate_agendas/anb_raj_ministries_agendas.txt
  events/Flavour_Ameion_G52.txt
  events/Flavour_DurVazhatun_I03.txt
  events/Flavour_Eltikan_G60.txt
Due: Events Encoding

Shadowswamp monument scope fix
  decisions/Shadowswamp_Decisions.txt
Due: Decisions Encoding

Reuyel scope fixes and tidying indentation
  events/Flavour_Reuyel_U18.txt
Due: Events Encoding

Urviksten scope fix
  events/Flavour_Urviksten_Z15.txt
Due: Events Encoding

Plumstead scope fix
  missions/Plumstead_Missions.txt
Due: none

xhazob potential/decision stuff + commented out always = no
  decisions/XhazobkultDecisions.txt
Due: Decisions Encoding

conflict files
  localisation/Flavour_Zansap_F43_l_english.yml
  missions/Zansap_Missions.txt
Due: Localization Encoding

Zansap MT
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  decisions/ZansapDecisions.txt
  events/Flavour_Zansap_F43.txt
  localisation/Flavour_Zansap_F43_l_english.yml
  map/provincegroup.txt
  missions/Zansap_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

bunch of tweaks
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/static_modifiers/00_static_modifiers.txt
  common/subject_types/00_subject_types.txt
  events/Confucianism.txt
  events/ConsortEvents.txt
  events/CorruptionEvents.txt
  events/KhetMandateEvents.txt
  events/Kheterata_Civil_War.txt
  events/Mercantilism.txt
  events/Meritocracy.txt
  events/Overextension.txt
  events/PersonalityEvents.txt
  events/RandomEvents.txt
  events/TributaryEvents.txt
  events/estate_ahati.txt
  events/estate_burghers.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

no more troll skill issue
  localisation/Flavour_Yezel_Mora_S70_l_english.yml
Due: Localization Encoding

stuff
  common/disasters/ahati_disaster.txt
  events/estate_ahati.txt
Due: Events Encoding

BO Conversion Loc Fey Court 2.0 Balance Patch 1
  common/on_actions/00_on_actions.txt
  events/AgeOfGreentide.txt
  events/FeyCourtEvents.txt
  localisation/anb_age_of_greentide_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

more Brelar fixes :tired_sun_elf:
  decisions/BrelarDecisions.txt
  events/Flavour_Brelar_G27.txt
  missions/Brelar_Missions.txt
Due: Decisions Encoding, Events Encoding

First load
  customizable_localization/and_rending_appeasement.txt
  decisions/RendingDecisions.txt
  events/Rending.txt
  localisation/anb_rending_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Sorncost Updated Ideas and Eltikan Fixes
  common/ideas/anb_country_ideas.txt
  decisions/GotirieiDecisions.txt
  events/GotirieiPilgrimage.txt
  localisation/Flavour_Eltikan_G60_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Eltikan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Gor Burad beta test fixes #3
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  decisions/DiggyFormables.txt
  decisions/GorBuradDecisions.txt
  events/Flavour_GorBurad_I16.txt
  localisation/Flavour_GorBurad_I16_l_english.yml
  missions/Gor_Burad_missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Fixing edge case bugs, will cherry-pick to main actually
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

even more shit
  common/scripted_triggers/anb_scripted_triggers_ynn.txt
  events/Flavour_Brelar_G27.txt
  missions/Brelar_Missions.txt
Due: Events Encoding

fix
  decisions/RendingDecisions.txt
  events/HalessiSpirits.txt
  events/Rending.txt
Due: Decisions Encoding, Events Encoding

fix
  localisation/anb_decisions_l_english.yml
Due: Localization Encoding

h
  localisation/anb_decisions_l_english.yml
Due: Localization Encoding

fd
  common/on_actions/00_on_actions.txt
Due: none

e
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

Aakheta Ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

more stuff
  common/great_projects/anb_monuments_sarhal.txt
  common/imperial_reforms/01_china.txt
  common/new_diplomatic_actions/zz_khet_mandate.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

tators asked me to fix it
  decisions/ChienBinhrungDecisions.txt
Due: Decisions Encoding

Enabled the thalassocracy reform that was disabled for pirate republics for no good reason
  common/government_reforms/06_government_reforms_common.txt
Due: none

More Tators changes
  decisions/HalessiFormables.txt
  decisions/HonSaiDecisions.txt
Due: Decisions Encoding

sfdfd
  events/ToleranceKobolds.txt
Due: Events Encoding

Quick Fix
  common/ideas/anb_country_ideas.txt
Due: none

so much fixing
  common/cb_types/anb_cb_aakheta_uprising.txt
  common/countries/Aakheta.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/disasters/ahati_disaster.txt
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/imperial_reforms/01_china.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_aakheta_uprising.txt
  common/rebel_types/ahati.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
  common/scripted_triggers/anb_scripted_triggers_khet_mandate.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Elections.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

ada
  decisions/OneXia.txt
Due: Decisions Encoding

remove cores
  events/estate_ahati.txt
Due: Events Encoding

elizna starting cores change
  history/countries/U05 - Elizna.txt
  history/provinces/463 - Koroshesh.txt
  history/provinces/465 - Hamatsopot.txt
  history/provinces/490 - Idatsay.txt
  history/provinces/546 - Wibnuat.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
