Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Correct name for sarhal events
  events/SarhalEvents.txt
  localisation/anb_sarhal_events_l_english.yml
Due: Events Encoding, Localization Encoding

Rebalanced Aramoole NIs and changing loc slightly
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

balgabar > argezvale
  common/countries/Argezvale.txt
  common/countries/New Havoral.txt
  common/countries/Ynnic Empire.txt
  common/country_tags/anb_countries.txt
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/event_modifiers/anb_ynn_worship.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/personal_deities/anb_cannorian_deities.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_ravelian.txt
  dlc_metadata/dlc_info/00_dlc_info.txt
  dlc_metadata/dlc_recommendations/06_spawnable.txt
  events/AdventurerFormables.txt
  events/AelantirSpawnables.txt
  events/ColonialCulture.txt
  events/Flavour_Arverynn_G35.txt
  events/Flavour_Isobelin_G91.txt
  events/Flavour_NewHavoral_H57.txt
  events/RegentCourtEvents.txt
  events/YnnEvents.txt
  events/YnnsmanEvents.txt
  history/countries/G94 - Argezvale.txt
  localisation/Flavour_Arverynn_G35_l_english.yml
  localisation/Flavour_NewHavoral_H57_l_english.yml
  localisation/anb_areas_l_english.yml
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_units_l_english.yml
  localisation/artifice_privileges_l_english.yml
  localisation/ynn_loc_l_english.yml
  map/area.txt
  map/region.txt
  missions/Arverynn_Missions.txt
  missions/NewHavoral_Missions.txt
Due: Events Encoding, Localization Encoding

nanru nakar implementation
  common/ideas/anb_country_ideas.txt
  decisions/TaychendDecisions.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_taychend_l_english.yml
Due: Decisions Encoding, Localization Encoding

more fixes and loc
  events/Aakhetist.txt
  localisation/anb_aakhetist_l_english.yml
Due: Events Encoding, Localization Encoding

isobelim parliament issue - adjust crownland
  common/parliament_issues/anb_isobelin.txt
Due: none

isobel event fixes
  events/Flavour_Isobelin_G91.txt
Due: Events Encoding

Isobelin mission icon
  gfx/interface/missions/mission_thorned_lady.dds
Due: none

isobelin MT
  missions/Isobelin_Missions.txt
Due: none

more loc and a fix
  events/Flavour_ZokkaJaddariWar.txt
  localisation/anb_aakhetist_l_english.yml
Due: Events Encoding, Localization Encoding

Land leader vs Leader land oops
  common/ideas/anb_country_ideas.txt
Due: none

placeholder loc
  localisation/anb_aakhetist_l_english.yml
Due: Localization Encoding

fixed extra bracket parsing error
  common/great_projects/anb_monuments_sarhal.txt
  events/MagicStudyEventsGood.txt
Due: Events Encoding

someclan
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  missions/Allclan_Missions.txt
Due: Events Encoding, Localization Encoding

checksum gone
  checksum_manifest.txt
Due: Brackets Syntax

Rogieria custom tooltip
  events/Flavour_Rogieria_B37.txt
  localisation/Flavour_Rogieria_B37_l_english.yml
Due: Events Encoding, Localization Encoding

better decision format
  decisions/GnollDecisions.txt
Due: Decisions Encoding

Thorfin's requested changes
  common/scripted_effects/effelai_bloom_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_effelai_bloom.txt
  decisions/EffelaiWorshipDecisions.txt
  events/EffelaiBloomEvents.txt
Due: Decisions Encoding, Events Encoding

trigger change
  events/EffelaiBloomEvents.txt
Due: Events Encoding

region to checkregion
  common/scripted_effects/effelai_bloom_scripted_effects.txt
Due: none

whoops region and checkregion
  events/EffelaiBloomEvents.txt
Due: Events Encoding

maybe fixed spacing idk, it was fine on my end.
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

last minute allclan panic
  common/buildings/00_buildings.txt
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estates/99_artificers.txt
  common/factions/anb_factions.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/static_modifiers/00_static_modifiers.txt
  events/Flavour_Allclan_I98.txt
  events/anb_MiscEvents.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  missions/Allclan_Missions.txt
Due: Events Encoding, Localization Encoding

gommit.
  common/static_modifiers/00_static_modifiers.txt
Due: none

moved mission modifiers
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

removing bombnar
  common/scripted_effects/anb_digging_effects.txt
Due: none

last minute fixes
  events/DiggyDiggyDungeons.txt
  map/provincegroup.txt
Due: Events Encoding

jallclan staff
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_mechanics/anb_allclan_pandemonium.txt
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

allclan stuff
  common/government_mechanics/anb_allclan_pandemonium.txt
Due: none

gov stuff
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_mechanics/anb_allclan_pandemonium.txt
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

event loc
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

allclan loc
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

loc fix - silly gitkraken
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

whoops now they can settle properly
  common/event_modifiers/anb_effelai_worship_modifiers.txt
Due: none

1
  checksum_manifest.txt
Due: Brackets Syntax

some loc and tweaks
  events/EffelaiBloomEvents.txt
  localisation/effelai_bloom_l_english.yml
  localisation/effelai_worship_l_english.yml
Due: Events Encoding, Localization Encoding

more loc
  localisation/effelai_worship_l_english.yml
Due: Localization Encoding

institution spread better please
  events/EffelaiBloomEvents.txt
Due: Events Encoding

Disabling heir events for immortal rulers
  events/ConsortEvents.txt
  events/Dynastic.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
