Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Feiten bypass and changing some culture references
  common/rebel_types/daxugo_human_racists.txt
  missions/Feiten_Missions.txt
Due: none

nvm found a workaround
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  events/estate_ahati.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

Disabling events that had their presceding event disabled
  events/Espionage.txt
Due: Events Encoding

mandate decisions
  decisions/KhetMandateDecisions.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Decisions Encoding, Localization Encoding

missed these
  common/estate_agendas/anb_ahati_agendas.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

few more ahati events
  common/on_actions/00_on_actions.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

events
  events/estate_ahati.txt
Due: Events Encoding

disaster and privileges
  common/disasters/ahati_disaster.txt
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
Due: none

Obvious harpy_raid error
  events/The_Hunt_events.txt
Due: Events Encoding

remove aakheta cores
  history/countries/U04 - Aakheta.txt
  history/provinces/464 - Hapkes.txt
  history/provinces/466 - Aakheta.txt
  history/provinces/467 - Puhuu.txt
Due: none

disaster work
  common/disasters/ahati_disaster.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

elizna accepts shasouran
  history/countries/U05 - Elizna.txt
Due: none

more stuff
  common/disasters/ahati_disaster.txt
  common/estate_privileges/estate_ahati_privileges.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  events/estate_ahati.txt
Due: Events Encoding

New NIs for Irsmahap, rework of Korashesh NIs, edit in Mattabo NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Gor Burad beta test fix #2
  events/Flavour_GorBurad_I16.txt
  missions/Gor_Burad_missions.txt
Due: Events Encoding

Mission fix
  missions/Gor_Burad_missions.txt
Due: none

Gor Burad mission fix
  missions/Gor_Burad_missions.txt
Due: none

GB fixes
  common/scripted_effects/anb_digging_effects.txt
  decisions/DiggyDiggyHole.txt
  missions/Gor_Burad_missions.txt
Due: Decisions Encoding

GB fixes
  events/Flavour_GorBurad_I16.txt
Due: Events Encoding

Cannot repair hold flag cleanup
  decisions/DiggyDiggyHole.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Decisions Encoding, Localization Encoding

Correcting religion groups in rebels
  common/rebel_types/beast_memory.txt
  common/rebel_types/habab_zar.txt
  common/rebel_types/jinn_cult.txt
  common/rebel_types/kheionism.txt
  common/rebel_types/rinta_seekers.txt
  common/rebel_types/shadow_pact.txt
  common/rebel_types/sky_domain.txt
Due: none

edits and refining
  common/event_modifiers/anb_brelar_modifiers.txt
  events/Flavour_Brelar_G27.txt
  localisation/Flavour_Brelar_G27_l_english.yml
  missions/Brelar_Missions.txt
Due: Events Encoding, Localization Encoding

more tuning
  missions/Brelar_Missions.txt
Due: none

maybe this will make people mald about the devving a bit less
  common/event_modifiers/anb_brelar_modifiers.txt
  localisation/Flavour_Brelar_G27_l_english.yml
  missions/Brelar_Missions.txt
Due: Localization Encoding

nerf
  common/event_modifiers/anb_brelar_modifiers.txt
Due: none

more work
  common/disasters/ahati_disaster.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/rebel_types/ahati.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

history file changes
  history/countries/L26 - Irsmahap.txt
  history/countries/L27 - Shasoura.txt
  history/countries/L28 - Koroshesh.txt
  history/countries/U04 - Aakheta.txt
Due: none

nirat reform tweak
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

aakheta reform
  common/government_names/00_0anbennar_unique_names.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  localisation/anb_government_names_l_english.yml
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

more events
  common/disasters/ahati_disaster.txt
  events/estate_ahati.txt
Due: Events Encoding

Goldbold Tolerance Events
  common/event_modifiers/racial_event_modifiers.txt
  events/ToleranceKobolds.txt
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

b
  events/ToleranceKobolds.txt
Due: Events Encoding

Fixing harpy raid event_target errors, and streamlining the event with scripted stuff
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/The_Hunt_events.txt
Due: Events Encoding

Revert "relic stuff"
  decisions/GenieRelicsDecisions.txt
  events/GenieRelics.txt
  events/GenieRelicsSarhal.txt
  localisation/Genie_Relics.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

attunement no longer begins in dead provinces
  events/EffelaiBloomEvents.txt
Due: Events Encoding

Slight change to remove a NOT
  common/government_reforms/02_government_reforms_republics.txt
Due: none

dad
  events/ToleranceKobolds.txt
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

Using triggers and scripted_triggers
  common/event_modifiers/anb_adventurers_wanted.txt
  common/scripted_triggers/anb_scripted_triggers_adventurers_wanted.txt
  events/AelantirSpawnables.txt
  events/anb_aw_spawner.txt
  events/anb_aw_vampires.txt
Due: Events Encoding

Error fixes
  common/scripted_effects/anb_scripted_effects_for_kobold_dragon_cult.txt
  events/anb_aw_spawner.txt
  missions/Brelar_Missions.txt
  missions/Venail_Missions.txt
Due: Events Encoding

Achievement fixes
  common/triggered_modifiers/anb_achievements.txt
Due: none
