Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

OT hellish work
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/OvdalTungrDecisions.txt
  events/Flavour_OvdalTungr_F23.txt
Due: Decisions Encoding, Events Encoding

Escanni Decision Performance Cleanup
  common/scripted_triggers/anb_scripted_triggers_escanni_wars.txt
  decisions/EscanniWars.txt
Due: Decisions Encoding

OA fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_OrdaAldresia_A77.txt
Due: Events Encoding

Bugfixing 6
  gfx/flags/B94.tga
  localisation/anb_magic_misc_events_l_english.yml
  missions/Gisden_Missions.txt
Due: Localization Encoding, Loc key collision check

Kheionai flavour events balance fix
  common/event_modifiers/anb_kheionai_modifiers.txt
  events/kheionai_flavour_events.txt
Due: Events Encoding

Various fixes and improvements
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Bagcatir.txt
  missions/Bagcatir_Missions.txt
Due: Events Encoding

fixes all the way down
  events/RahenEvents.txt
Due: Events Encoding

Dalcabba event fixes
  events/Corinite.txt
  events/Flavour_Elikhand_B38.txt
Due: Events Encoding

more fallbacks
  missions/Bagcatir_Missions.txt
Due: none

drupp's tolerance considered
  customizable_localization/anb_seasonal_court_loc.txt
  events/EordellonReligion.txt
Due: Events Encoding

fixed custom loc
  customizable_localization/anb_seasonal_court_loc.txt
Due: none

hopefully last gubfix
  common/buildings/00_buildings.txt
Due: none

more
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/accretive_path_scripted_effects.txt
Due: none

un oop
  common/on_actions/00_on_actions.txt
Due: none

oop
  common/on_actions/00_on_actions.txt
  decisions/BimLauNecropolisDecisions.txt
Due: Decisions Encoding

more edits
  common/great_projects/anb_monuments_rahen_haless.txt
  events/Flavour_Balrijin_Y85.txt
  events/Flavour_ChienBinhrung_Y72.txt
  events/Flavour_HonSai_Y66.txt
  missions/Azkare_Missions.txt
  missions/Balrijin_Missions.txt
  missions/ChienBinhrung_Missions.txt
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
  missions/Yinquan_Missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: Events Encoding

Saving my Duwarkani progress
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/EastSarhalFormables.txt
  events/Flavour_Duwarkani_F62.txt
  events/RandomEvents.txt
  events/estate_ahati.txt
  history/countries/F62 - Duwarkani.txt
  localisation/Flavour_Duwarkani_F62_l_english.yml
  localisation/Flavour_Eltikan_G60_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/kvangahga_l_english.yml
  missions/Duwarkani_missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Kheionai events balance fix take 2
  events/kheionai_flavour_events.txt
Due: Events Encoding

Bugfixing 7
  missions/Gisden_Missions.txt
Due: none

OT work
  common/event_modifiers/anb_mission_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

CN stuff
  events/Flavour_Bagcatir.txt
Due: Events Encoding

Khugra fixes and changes
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_mechanics/anb_khugra_araizary_affinity.txt
  events/Flavour_Khugra_L70.txt
  localisation/Flavour_Khugra_L70_l_english.yml
  missions/Khugra_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

nerf player zokka and tluukt starting events
  events/Flavour_Tluukt_F28.txt
  events/Flavour_ZokkaJaddariWar.txt
  history/countries/F29 - Zokka.txt
Due: Events Encoding

Kheionai flavour events fixeddddd
  events/kheionai_flavour_events.txt
Due: Events Encoding

xhaz tweaks
  common/event_modifiers/anb_xhazobkult_modifiers.txt
  common/ruler_personalities/00_core.txt
  decisions/XhazobkultDecisions.txt
  events/XhazobkultEvents.txt
  localisation/xhazobkult_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

aakheta tweaks
  common/event_modifiers/anb_khet_mandate_modifiers.txt
Due: none

Bugfixing 8
  localisation/Flavour_Gisden_A75_l_english.yml
  missions/Gisden_Missions.txt
Due: Localization Encoding, Loc key collision check

final patch
  common/estate_privileges/estate_artifice_privileges.txt
  common/estate_privileges/estate_dragon_command_privileges.txt
  common/event_modifiers/anb_rahen_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

banned magic bugfix
  events/MagicArtificerySetup.txt
Due: Events Encoding

command alert event change
  common/estate_agendas/anb_command_agendas.txt
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

oop
  common/estate_privileges/anb_privileges.txt
Due: none

PR updates
  gfx/interface/ideas_EU4/monthly_korashi_reserves.dds
  missions/TheCommand_Missions.txt
Due: none

To be reverted
  common/on_actions/00_on_actions.txt
  events/SarhalEvents.txt
Due: Events Encoding

Revert "To be reverted"
  common/on_actions/00_on_actions.txt
  events/SarhalEvents.txt
Due: Events Encoding

Coven's Bargain merged together
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/SarhalEvents.txt
Due: Events Encoding

last gubfixes
  events/EstateOrganization.txt
  events/Flavour_HonSai_Y66.txt
Due: Events Encoding

Bugfixing 9
  localisation/anb_magic_misc_events_l_english.yml
Due: Localization Encoding, Loc key collision check
