Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

bugfixes round 1
  common/event_modifiers/racial_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/ToleranceGnoll.txt
  events/ToleranceHalfElven.txt
  events/ToleranceHalfOrc.txt
  events/ToleranceHalfling.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

fix custom nations spawning with incorrect ruler flags leading to halfishness
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
Due: none

updated instances of ruler/consort/heir culture changes that could/would change race to also update racial flags
  common/on_actions/00_on_actions.txt
  common/rebel_types/eordand_green_invasion.txt
  common/scripted_effects/ravelian_scripted_effects.txt
  events/FeyAlignment.txt
  events/Flavour_Brelar_G27.txt
  events/Flavour_Cestirmark_H33.txt
  events/Flavour_Grombar_Z50.txt
  events/Flavour_Honderaak.txt
  events/Flavour_Magisterium_A85.txt
  events/Flavour_Rogieria_B37.txt
  events/Flavour_Seghdihr_H78.txt
  events/Flavour_Varaine_A99.txt
  events/anb_RacialMiscEvents.txt
  missions/Ovdal_Lodhum_Missions.txt
  missions/Seghdihr_Missions.txt
  missions/TheCommand_Missions.txt
Due: Events Encoding

wastelander units
  common/cultures/anb_cultures.txt
  common/estate_privileges/05_nomadic_tribe_privileges.txt
  common/estates/05_nomadic_tribes.txt
  common/technologies/mil.txt
  common/units/wastelander_10_remnant_lancers.txt
  common/units/wastelander_12_khudi_arquebusiers.txt
  common/units/wastelander_12_matchstick_monks.txt
  common/units/wastelander_14_khenurag_formation.txt
  common/units/wastelander_15_khaaz_monk_evokers.txt
  common/units/wastelander_15_six_banner_volleys.txt
  common/units/wastelander_18_khudi_banners.txt
  common/units/wastelander_19_lowland_wastewarriors.txt
  common/units/wastelander_19_three_standard_armies.txt
  common/units/wastelander_1_monastery_defenders.txt
  common/units/wastelander_1_oinu_lancers.txt
  common/units/wastelander_1_oinukhudi_raiders.txt
  common/units/wastelander_23_guardians_of_unbroken_gear.txt
  common/units/wastelander_23_lowland_oathsworn.txt
  common/units/wastelander_23_spirit_kin_rangers.txt
  common/units/wastelander_26_dance_of_eternal_storm.txt
  common/units/wastelander_26_way_of_fallow_field.txt
  common/units/wastelander_28_clockwork_juggernaughts.txt
  common/units/wastelander_30_army_of_five_phases.txt
  common/units/wastelander_30_steamwrought_armor.txt
  common/units/wastelander_5_clan_kin_sentinels.txt
  common/units/wastelander_5_windstep_monks.txt
  common/units/wastelander_6_kalashaag_raiders.txt
  common/units/wastelander_9_khagakan_bladebreakers.txt
  common/units/wastelander_9_spiritglade_sentinels.txt
  gfx/interface/privileges/privilege_oinukhudi_nobles.dds
  history/countries/V01 - Oinukhudi.txt
  interface/countryestatesview.gfx
  localisation/Flavour_Oinukhudi_V01_l_english.yml
  localisation/anb_units_l_english.yml
Due: Localization Encoding

Removed Gawed stubs
  common/ideas/anb_country_ideas.txt
Due: none

Gawed Ni fix
  common/ideas/anb_country_ideas.txt
Due: none

fix patron decision
  decisions/MagicRuler.txt
Due: Decisions Encoding

Getname -> GetName
  events/TribalFederationEvents.txt
  localisation/Flavour_Vyzemby_l_english.yml
  localisation/Group_Flavour_Lizardfolk_l_english.yml
  localisation/domination_l_english.yml
Due: Events Encoding, Localization Encoding

Error log fixes
  events/TribalFederationEvents.txt
  events/anb_aw_satyrs.txt
  events/anb_aw_wendigo.txt
  localisation/domination_l_english.yml
Due: Events Encoding, Localization Encoding

Dates
  history/provinces/5925 - Rakirakh.txt
  history/provinces/5969 - Khograkshas.txt
  history/provinces/6023 - Rakhanek.txt
  history/provinces/6062 - Akhanekas.txt
Due: none

AW estate error log fixes
  events/anb_aw_bandits.txt
  events/anb_aw_eldritch_cultists.txt
  events/anb_aw_ghouls.txt
  events/anb_aw_goblins.txt
  events/anb_aw_hags.txt
  events/anb_aw_haunted_house.txt
  events/anb_aw_orcs.txt
  events/anb_aw_thieves_guild.txt
  events/anb_aw_trolls.txt
  events/anb_aw_vampires.txt
  events/anb_aw_werewolves.txt
  events/anb_aw_wyvern.txt
  events/anb_aw_zombies.txt
Due: Events Encoding

fix
  history/countries/L61 - Irkan Eparta.txt
Due: none

fix
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

Aw estate error log fixes
  events/anb_aw_bandits.txt
  events/anb_aw_eldritch_cultists.txt
  events/anb_aw_ghouls.txt
  events/anb_aw_goblins.txt
  events/anb_aw_hags.txt
  events/anb_aw_haunted_house.txt
  events/anb_aw_orcs.txt
  events/anb_aw_thieves_guild.txt
  events/anb_aw_trolls.txt
  events/anb_aw_vampires.txt
  events/anb_aw_werewolves.txt
  events/anb_aw_wyvern.txt
  events/anb_aw_zombies.txt
Due: Events Encoding

Aw estate error log fixes
  events/anb_aw_bandits.txt
  events/anb_aw_eldritch_cultists.txt
  events/anb_aw_ghouls.txt
  events/anb_aw_goblins.txt
  events/anb_aw_hags.txt
  events/anb_aw_haunted_house.txt
  events/anb_aw_orcs.txt
  events/anb_aw_thieves_guild.txt
  events/anb_aw_werewolves.txt
  events/anb_aw_wyvern.txt
  events/anb_aw_zombies.txt
Due: Events Encoding

Aw estate error log fixes
  events/anb_aw_vampires.txt
Due: Events Encoding

Ynn estate error log fixes
  events/YnnEvents.txt
Due: Events Encoding

Error log fixes for AW events
  events/anb_aw_thieves_guild.txt
  localisation/anb_adventurers_wanted_l_english.yml
Due: Events Encoding, Localization Encoding

Error log event target fixes
  common/scripted_effects/anb_scripted_effects_for_isolationism.txt
  events/NewSunCultEvents.txt
Due: Events Encoding

Error log event target fixes
  events/FeyAlignment.txt
  events/Group_Flavour_Lizardfolk.txt
  events/anb_aw_haunted_house.txt
Due: Events Encoding

Error log fixes
  events/FeyAlignment.txt
  events/Group_Flavour_Lizardfolk.txt
Due: Events Encoding

Line endings
  events/Group_Flavour_Lizardfolk.txt
  events/YnnEvents.txt
  localisation/anb_adventurers_wanted_l_english.yml
Due: Events Encoding, Localization Encoding

Error log event target fixes
  events/Flavour_Asheniande_A60.txt
  events/Flavour_Corvuria_A59.txt
  events/NewSunCultEvents.txt
  missions/Asheniande_Missions.txt
  missions/Corvuria_Missions.txt
Due: Events Encoding

e
  history/countries/V01 - Oinukhudi.txt
Due: none

anarkhudi and hill trolls
  common/countries/Anarkhudi.txt
  common/countries/Samisalik Bolki.txt
  common/country_tags/anb_countries.txt
  common/cultures/anb_cultures.txt
  events/anb_racial_pop_calculations.txt
  history/countries/V15 - Anarkhudi.txt
  history/countries/V16 - Samisalik Bolki.txt
  history/provinces/5009 - Hularmuseg.txt
  history/provinces/5169 - Salrunachar.txt
  history/provinces/5178 - Malulainn.txt
  history/provinces/5181 - Urthalainn.txt
  history/provinces/5182 - Salrunatabh.txt
  history/provinces/5193 - Agelanargh.txt
  history/provinces/5201 - Ghasiobaldh.txt
  history/provinces/5202 - Fasdhbaldh.txt
  history/provinces/5206 - Dirlanailgh.txt
  history/provinces/5211 - Ilabomar.txt
  history/provinces/5328 - Modurke.txt
  history/provinces/5332 - Odonavdan.txt
  history/provinces/5334 - Chingarmuseg.txt
  history/provinces/5335 - Nuktungh.txt
  localisation/anb_countries_l_english.yml
Due: Events Encoding, Localization Encoding

big oinukhudi commit
  common/countries/Anarkhudi.txt
  common/custom_gui/countrygovernmentview.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/government_names/00_anbennar_government_names.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  events/anb_racial_pop_calculations.txt
  gfx/interface/ideas_EU4/hill_troll_taishi.dds
  history/countries/V01 - Oinukhudi.txt
  history/provinces/5169 - Salrunachar.txt
  history/provinces/5181 - Urthalainn.txt
  history/provinces/5182 - Salrunatabh.txt
  history/provinces/5193 - Agelanargh.txt
  history/provinces/5201 - Ghasiobaldh.txt
  history/provinces/5202 - Fasdhbaldh.txt
  history/provinces/5203 - Baldhbhoch.txt
  history/provinces/5206 - Dirlanailgh.txt
  history/provinces/5211 - Ilabomar.txt
  history/provinces/5325 - Gokun.txt
  history/provinces/5329 - Togolamud.txt
  history/provinces/5330 - Jogonmo.txt
  history/provinces/5331 - Muongori.txt
  history/provinces/5333 - Sulgerin.txt
  history/provinces/5361 - Yeujojae.txt
  history/provinces/5375 - Tolcuug.txt
  history/provinces/5382 - Huujoolgin.txt
  history/provinces/5418 - Mostokhi.txt
  history/provinces/6810 - Cayershavar.txt
  interface/provinceview.gfx
  localisation/anb_government_names_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/anb_modifiers_l_english.yml
  localisation/anb_racial_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/positions.txt
Due: Events Encoding, Localization Encoding

testing
  common/on_actions/00_on_actions.txt
  events/Flavour_Yinquan_Y26.txt
  missions/Yinquan_Missions.txt
Due: Events Encoding

Indentation fix
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

Nalayni Election Fixes
  common/on_actions/00_on_actions.txt
  events/PirateEvents.txt
Due: Events Encoding

Viakkoc Events Fix
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Viakkoc_U07.txt
  localisation/anb_opinion_modifiers_l_english.yml
Due: Events Encoding, Localization Encoding

1
  missions/Viakkoc_Missions.txt
Due: none

debugging v2
  common/event_modifiers/racial_event_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  customizable_localization/anb_racial_localization.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

ai can get dev sometimes
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none

Skeleton for LF leader gov reform
  common/event_modifiers/anb_lake_modifiers.txt
  common/government_mechanics/anb_lake_federation_authority
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  events/LakeFederationEvents.txt
  history/countries/J02 - Zurkanrek.txt
Due: Events Encoding

Vyzemby theocracy names
  common/government_names/00_0anbennar_unique_names.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
