Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Ameion fix
  missions/Ameion_Missions.txt
Due: none

Holy Order fix
  common/holy_orders/anb_holy_orders.txt
Due: none

Monstrous Rule fix
  common/ages/00_default.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Bulwar.txt
Due: Events Encoding

Sun Cult Resurgence fix
  common/advisortypes/00_advisortypes.txt
  common/ages/00_default.txt
Due: none

Vertesk A23_gib_electorate bypass
  missions/Vertesk_Missions.txt
Due: none

Small loc fix
  localisation/Flavour_Vertesk_A23_l_english.yml
Due: Localization Encoding

Azjakuma Fixes
  localisation/Flavour_Azjakuma_Y01_l_english.yml
  missions/Azjakuma_Missions.txt
Due: Localization Encoding

Cheese Events
  common/event_modifiers/anb_bulwari_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

Unfixed Ameion
  missions/Ameion_Missions.txt
Due: none

Special Unit Force Limit Fraction Fix
  localisation/goose_1_35_l_english.yml
Due: Localization Encoding

Final fixes in typos of the Yanshen Titles
  common/government_names/00_0anbennar_unique_names.txt
  common/government_names/00_anbennar_government_names.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding

Final fixes in typos of the Yanshen Titles
  common/government_names/00_0anbennar_unique_names.txt
  common/government_names/00_anbennar_government_names.txt
Due: none

fixes
  common/event_modifiers/anb_mission_modifiers.txt
  events/DiggyDiggyDungeons.txt
  events/Flavour_Allclan_I98.txt
Due: Events Encoding

Auto stash before merge of "new-master" and "JayBean/new-master"
  common/government_names/00_0anbennar_unique_names.txt
  common/government_names/00_anbennar_government_names.txt
Due: none

file
  common/scripted_effects/mother_akasik_scripted_effects.txt
Due: none

NI and mengi ruler title
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

some rahen new ideas and lipmekat custom ruler name.
  common/government_names/00_0anbennar_unique_names.txt
  localisation/anb_government_names_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

magisterium + hemantian reform fix
  common/ages/00_default.txt
  events/Flavour_Magisterium_A85.txt
  gfx/interface/ages/ab_reform_progress_growth.dds
Due: Events Encoding

age event
  common/ages/00_default.txt
  localisation/Flavour_Magisterium_A85_l_english.yml
Due: Localization Encoding

Ogrish Adjectivication + NI fix
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

AAAAA test
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_digging_effects.txt
Due: none

remove leftover command faction stuff
  common/on_actions/00_on_actions.txt
Due: none

error log gubfixes
  history/countries/S79 - Umoji Baashi.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding

aaa
  common/scripted_effects/anb_digging_effects.txt
Due: none

Rayavhatimana stuff
  common/government_names/00_0anbennar_unique_names.txt
  history/countries/R25 - Rayavhatimana.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding

smol modifier changes
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
Due: none

other modifier tweaks
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
Due: none

Changes to reflect the document proposal
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/great_projects/anb_monuments_sarhal.txt
  events/Flavour_YezelMoraHorde_S70.txt
  events/ReligiousReforms.txt
Due: Events Encoding

fixed mushroom ruler magic levels
  history/countries/J83 - Airoa Naditari.txt
Due: none

continued changes
  common/religious_reforms/00_religious_reforms.txt
Due: none

Rahen NI
  common/ideas/anb_country_ideas.txt
  history/countries/R05 - Tughayasa.txt
  history/countries/R25 - Rayavhatimana.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

E-V Idea buff
  common/ideas/anb_country_ideas.txt
Due: none

Wasteland rename
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Nansalen idea loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Refactoring events for Fey Portal
  events/Flavour_Cyranvar_I45.txt
  localisation/anb_deepwoods_l_english.yml
  missions/Cyranvar_Missions.txt
Due: Events Encoding, Localization Encoding

Culture file fix
  common/cultures/anb_cultures.txt
Due: none

Harpy Government Names
  common/government_names/00_anbennar_government_names.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding

salad gang
  common/event_modifiers/anb_brelar_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/province_names/brelari.txt
  events/Elections.txt
  events/Flavour_Brelar_G27.txt
  missions/Brelar_Missions.txt
Due: Events Encoding

Dartax Mercenary Company fix
  common/mercenary_companies/0_anb_elite_mercenaries.txt
Due: none
