Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

Global flag for performance
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

Code fix 4
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Code fix 5 and Art
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  events/Escanni_refugees_settlement.txt
  gfx/interface/ideas_EU4/escanni_refugee_settlement_large.dds
  gfx/interface/ideas_EU4/escanni_refugee_settlement_massive.dds
  gfx/interface/ideas_EU4/escanni_refugee_settlement_small.dds
  history/provinces/2 - Eargate.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

A bit of art, a bit of loc
  gfx/interface/ideas_EU4/escanni_center_of_learning.dds
  gfx/interface/ideas_EU4/escanni_jousting_ground.dds
  localisation/anb_escanni_refugees_l_english.yml
Due: Localization Encoding, Loc key collision check

"Placeholder" Loc final and "Placeholder" Art final
  gfx/interface/ideas_EU4/escanni_center_of_learning.dds
  gfx/interface/ideas_EU4/escanni_refugee_settlement_large.dds
  gfx/interface/ideas_EU4/escanni_refugee_settlement_massive.dds
  gfx/interface/ideas_EU4/escanni_refugee_settlement_small.dds
  localisation/anb_escanni_refugees_l_english.yml
Due: Localization Encoding, Loc key collision check

Disabled Rogieria from purging/expelling Orcs and Half-Orcs
  common/government_reforms/01_government_reforms_monarchies.txt
  missions/Rogieria_Missions.txt
Due: none

Fix Feiten mission highlighting to match trigger
  missions/Feiten_Missions.txt
Due: none

Fix Toarnaire chess stuck in a loop
  events/Flavour_Toarnen_A57.txt
Due: Events Encoding

Fix Feiten mission dlc bypass marines
  missions/Feiten_Missions.txt
Due: none

Fix asheniande/coruvia vampire estate loc
  history/countries/A60 - Asheniande.txt
  localisation/Flavour_Asheniande_A60_l_english.yml
  localisation/Flavour_Corvuria_A59_l_english.yml
  missions/Asheniande_Missions.txt
  missions/Corvuria_Missions.txt
Due: Localization Encoding, Loc key collision check

Fix Ayarallen mission bypass
  missions/Ayarallen_Missions.txt
Due: none

Fix typo rogieria mission reward loc
  localisation/Flavour_Rogieria_B37_l_english.yml
Due: Localization Encoding, Loc key collision check

Fix Damescrown republic reform as special election
  common/government_reforms/02_government_reforms_republics.txt
Due: none

loc, event pictures, final effects...
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_kobold_dragon_cult.txt
  events/Theatre_Of_Attrition.txt
  localisation/theatre_of_attrition_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

final bugfixes!
  common/scripted_effects/anb_scripted_effects_theatre_of_attrition.txt
  events/Theatre_Of_Attrition.txt
  localisation/theatre_of_attrition_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Fix Maghargma mission converting to pre-reformed
  missions/Maghargma_Missions.txt
Due: none

Fix Azkabar mission forgotten east eclipse level
  missions/Azkabar_missions.txt
Due: none

Wood_elf mission retaking_our_land, id tag correction
  missions/WoodElves_Missions.txt
Due: none

Kumarkand art
  common/estate_privileges/anb_privileges.txt
  gfx/interface/privileges/privilege_rangers.dds
  gfx/interface/privileges/privilege_surakels_orthodoxy.dds
  interface/countryestatesview.gfx
Due: none

Fix VerkalOzovar rune magic not checking for wards
  events/Flavour_VerkalOzovar_Y63.txt
  localisation/Flavour_VerkalOzovar_Y63_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Tooltips and loca, removing debug helpers
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  customizable_localization/anb_custom_loca.txt
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Code fix 6
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  events/Escanni_refugees_settlement.txt
  history/provinces/245 - Freecestir.txt
  map/provincegroup.txt
Due: Events Encoding

Event pictures
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

Tooltips touch up
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

stuff for myself
  common/event_modifiers/mengi_monuments_modifers.txt
  common/great_projects/anb_monuments_cannor.txt
  common/great_projects/anb_monumnets_mengi.txt
  events/MagicRuler.txt
  events/MengiMonuments.txt
Due: Events Encoding

bugfixes for gov reforms
  common/government_reforms/06_government_reforms_common.txt
  common/trading_policies/00_trading_policies.txt
  localisation/anb_governments_l_english.yml
  localisation/leviathan_l_english.yml
Due: Localization Encoding, Loc key collision check

forgot one
  localisation/anb_governments_l_english.yml
Due: Localization Encoding, Loc key collision check

Hmmm1
  common/on_actions/00_on_actions.txt
Due: none

Hmmm2
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

forgot a thing
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

Hmmmmm3
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

Hmmmm4
  common/on_actions/00_on_actions.txt
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

make these not get yeeted by annexing a subject
  events/Flavour_Brelar_G27.txt
Due: Events Encoding

[steam]brelar & azkabar fixs
  events/Flavour_Brelar_G27.txt
  localisation/Flavour_Azkabar_F35_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

rebalance requested by tators
  common/government_reforms/06_government_reforms_common.txt
Due: none

Broken Jaw starting setup
  common/event_modifiers/anb_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_BrokenJaw_Z19.txt
  history/countries/Z19 - Brokenjaw.txt
Due: Events Encoding

new havoral faction loca
  localisation/anb_factions_l_english.yml
Due: Localization Encoding, Loc key collision check

ynnic loyalists replace the old 3rd faction so button in slot 3
  common/custom_gui/faction.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
