Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

no more free 6/6/6 for Tanizu
  events/Elections.txt
Due: Events Encoding

Corinite hoyl order upgrades (WIP)
  common/holy_orders/anb_holy_orders.txt
  common/on_actions/00_on_actions.txt
  events/Corinite.txt
  events/Flavour_Seinathil_A90.txt
  localisation/anb_events_religion_l_english.yml
  missions/Freemarches_Missions.txt
  missions/Hammerhome_Missions.txt
  missions/Ibevar_Missions.txt
  missions/Khugdihr_Missions.txt
  missions/Silverforge_Missions.txt
Due: Events Encoding, Localization Encoding

Corinite paragonhood balance hotfix
  common/defines.lua
  localisation/core_l_english.yml
Due: Localization Encoding

Rending LOC
  common/great_projects/anb_monuments_rahen_haless.txt
  customizable_localization/anb_rending_appeasement.txt
  decisions/RendingDecisions.txt
  events/Rending.txt
  localisation/anb_decisions_l_english.yml
  localisation/anb_rending_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

added missing lizardfolk flavour events in pulse and error log fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Gawed_A13.txt
  events/SkyDomain.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Ravioli Tweaks
  common/new_diplomatic_actions/anb_ravelian_state_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/estate_artificers.txt
  events/ravelianism.txt
  localisation/Flavour_Ravelian_State_Z97_l_english.yml
  missions/Ravelian_State_Missions.txt
Due: Events Encoding, Localization Encoding

golden highway perf improverments
  decisions/GoldenHighway.txt
Due: Decisions Encoding

Grand Duchy Incident
  common/government_names/00_anbennar_government_names.txt
  common/imperial_incidents/anb_imperial_incidents.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/peace_treaties/anb_grand_duchy_claims.txt
  events/GrandDuchyEvents.txt
  localisation/anb_grand_duchy_l_english.yml
Due: Events Encoding, Localization Encoding

Grand Duchy aaaaa
  events/GrandDuchyEvents.txt
  localisation/anb_grand_duchy_l_english.yml
Due: Events Encoding, Localization Encoding

Cyranvar modifier fix
  common/event_modifiers/anb_deepwoods_modifiers.txt
Due: none

Tugund-Darakh black hearth anti-cheese
  events/DeepwoodsVegan.txt
Due: Events Encoding

Added Elizna to nations requiring Rahen
  common/scripted_triggers/anb_scripted_triggers_settings.txt
Due: none

why
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

Human court mage portraits + copied loc for Ashhama icon on bookmark screen
  gfx/interface/advisors/bulwari_court_mage.dds
  gfx/interface/advisors/bulwari_court_mage_female.dds
  gfx/interface/advisors/halessi_court_mage.dds
  gfx/interface/advisors/halessi_court_mage_female.dds
  gfx/interface/advisors/raheni_court_mage.dds
  gfx/interface/advisors/raheni_court_mage_female.dds
  gfx/interface/advisors/southeast_halessi_court_mage.dds
  gfx/interface/advisors/southeast_halessi_court_mage_female.dds
  interface/anb_advisors.gfx
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

fix that Auirus also got
  common/event_modifiers/anb_sarhal_modifiers.txt
Due: none

ebonsteel urviksten changes
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Urviksten_Z15.txt
  localisation/Flavour_Urviksten_Z15_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Urviksten_Missions.txt
Due: Events Encoding, Localization Encoding

rending pt 2
  common/event_modifiers/anb_spirit_modifiers.txt
  decisions/RendingDecisions.txt
  events/Rending.txt
  localisation/anb_decisions_l_english.yml
  localisation/anb_rending_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

RavTweaks 2
  common/great_projects/anb_monuments_missions.txt
  events/Flavour_Ravelian_State_Z97.txt
  events/ravelianism.txt
  localisation/Flavour_Ravelian_State_Z97_l_english.yml
  missions/Ravelian_State_Missions.txt
Due: Events Encoding, Localization Encoding

rending critical
  events/HalessiSpirits.txt
Due: Events Encoding

uh
  localisation/anb_rending_l_english.yml
Due: Localization Encoding

ebonsteel fixes
  common/event_modifiers/ebonsteel_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/static_modifiers/00_static_modifiers.txt
  decisions/EbonsteelDecisions.txt
  events/anb_ebonsteel_events.txt
  history/countries/Z08 - Bjarnrik.txt
  history/countries/Z15 - Urviksten.txt
  history/provinces/956 - Konungrhavn.txt
  history/provinces/984 - Urviksten.txt
  localisation/anb_ebonsteel_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

reuyel conversion stuff
  events/Flavour_Reuyel_U18.txt
Due: Events Encoding

oop this too lmao
  events/Flavour_Reuyel_U18.txt
Due: Events Encoding

gov reform culture lock and RC deity switch decision loc
  common/government_reforms/01_government_reforms_monarchies.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

aelnar dome resize
  map/ambient_object.txt
Due: none

bosancovac mission loc + a tooltip
  localisation/Flavour_Bosancovac_G33_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Localization Encoding

some loc trimming
  events/EffelaiBloomEvents.txt
  localisation/effelai_bloom_l_english.yml
Due: Events Encoding, Localization Encoding

Plz
  localisation/Flavour_Ravelian_State_Z97_l_english.yml
  missions/Ravelian_State_Missions.txt
Due: Localization Encoding

lizard icons
  gfx/interface/hindu_deities_strip.dds
  gfx/interface/icon_lizard_school_being_sculptors.dds
  gfx/interface/icon_lizard_school_blade_and_needle.dds
  gfx/interface/icon_lizard_school_fate_sculptors.dds
  gfx/interface/icon_lizard_school_great_cycle.dds
  gfx/interface/icon_lizard_school_humble_zeal.dds
  gfx/interface/icon_lizard_school_soul_song.dds
  interface/countryreligionview.gfx
Due: none

Saranza OSC
  history/provinces/2928 - Saranza.txt
Due: none

Ravelian Grammar and Spelling
  localisation/Flavour_Ravelian_State_Z97_l_english.yml
Due: Localization Encoding

fix
  localisation/anb_units_l_english.yml
Due: Localization Encoding

Thil -> Thíl
  localisation/Flavour_Ravelian_State_Z97_l_english.yml
Due: Localization Encoding

Adzalan Ideas and Formation
  common/ideas/anb_country_ideas.txt
  decisions/EastSarhalFormables.txt
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Localization Encoding

Adzalan NI
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

icon resize
  gfx/interface/icon_lizard_school_being_sculptors.dds
Due: none

Adzalan Formation
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

dakinshi charter fix
  common/trade_companies/00_trade_companies.txt
Due: none

sunrise elf unit models
  common/country_colors/anb_country_colors.txt
  gfx/sprite_packs/Anbennar_sprites.txt
  gfx/sprite_packs_order/00_sprite_pack_orders.txt
Due: none

Fangaula Pantheon loc
  decisions/FahvanosyDecisions.txt
  localisation/anb_religions_l_english.yml
  localisation/anb_vyzemby_l_english.yml
  localisation/fangaula_pantheon_l_english.yml
  localisation/noukahi_pantheon_l_english.yml
Due: Decisions Encoding, Localization Encoding
