Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

Kes
  common/great_projects/anb_monuments_sarhal.txt
Due: none

Akasik
  common/great_projects/anb_monuments_sarhal.txt
Due: none

bug
  events/Flavour_Kumarkand_F30.txt
Due: Events Encoding

AI Command brought low
  common/disasters/command_insubordination.txt
  common/estate_agendas/anb_command_agendas.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

fix
  events/Flavour_Kumarkand_F30.txt
Due: Events Encoding

tooltip
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

major trigger
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

bulwari_no_mage
  events/MagicRuler.txt
Due: Events Encoding

Insyaa Biomes
  localisation/anb_regions_l_english.yml
  localisation/anb_terrain_l_english.yml
  map/superregion.txt
  map/terrain.txt
Due: Localization Encoding, Loc key collision check

gold_fix
  missions/Ayarallen_Missions.txt
Due: none

rebel capitals
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Bal Hyl art
  gfx/interface/great_projects/great_project_bal_hyl.dds
  interface/great_project.gfx
Due: none

[Steam] Exwes typo
  localisation/Flavour_Exwes_A40_l_english.yml
Due: Localization Encoding, Loc key collision check

PR #7357 [Steam] Bulwari Human No Mage
  events/MagicRuler.txt
Due: Events Encoding

PR #7358 [Steam] Ayarallen mission gold fix
  missions/Ayarallen_Missions.txt
Due: none

[Steam] Crathanor fixes
  decisions/GreatBulwarNation.txt
  missions/Crathanor_Missions.txt
Due: Decisions Encoding

PR #7360 [Steam] Bulwar fixes
  decisions/GreatBulwarNation.txt
  localisation/Flavour_Exwes_A40_l_english.yml
  missions/Crathanor_Missions.txt
Due: Decisions Encoding, Localization Encoding, Loc key collision check

Country History Files Update
  common/countries/Mekeana.txt
  history/countries/N16 - Yayacahai.txt
  history/countries/N19 - Haupoaka.txt
  history/countries/N20 - Mekeana.txt
  history/countries/N58 - Kaioh-Thau.txt
  history/countries/N58.txt
Due: none

Update Tags Kano
  history/countries/N19 - Haupoaka.txt
Due: none

Kano tag
  history/countries/N19 - Haupoaka.txt
Due: none

Kano Tag Update
  history/countries/N19 - Haupoaka.txt
Due: none

[Steam] Crathanor fix fix
  missions/Crathanor_Missions.txt
Due: none

capital position bugfix
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Vic22s
  gfx/fonts/vic_22s.dds
  gfx/fonts/vic_22s.fnt
Due: none

Vic29
  gfx/fonts/vic_29.fnt
  gfx/fonts/vic_29.tga
Due: none

Vic29s
  gfx/fonts/vic_29s.dds
  gfx/fonts/vic_29s.fnt
Due: none

Yezel Mora fixes
  events/ReligiousReforms.txt
  localisation/Flavour_Yezel_Mora_S70_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

various mandate fixes and tweaks
  common/disasters/ahati_disaster.txt
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/rebel_types/ahati.txt
  common/scripted_effects/anb_khet_mandate_effects.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
  missions/Kheteratan_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

halfway
  decisions/Jiangdu_Decisions.txt
  events/Flavour_Jiangdu_Y13.txt
  localisation/Flavour_Jiangdu_Y13_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Remove Subkaliss from Siadan mission
  missions/Siadan_Missions.txt
Due: none

decisions are merged and tested
  decisions/Jiangdu_Decisions.txt
  events/Flavour_Jiangdu_Y13.txt
  localisation/Flavour_Jiangdu_Y13_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

old decisions removed
  decisions/Jiangdu_Decisions.txt
  localisation/Flavour_Jiangdu_Y13_l_english.yml
Due: Decisions Encoding, Localization Encoding, Loc key collision check

harpy event fix
  events/Flavour_Kumarkand_F30.txt
Due: Events Encoding

Bug
  events/Flavour_Kumarkand_F30.txt
Due: Events Encoding

bad code
  events/Flavour_Kumarkand_F30.txt
Due: Events Encoding

This should do it
  events/Flavour_Allclan_I98.txt
Due: Events Encoding
