Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

transmutative path code
  common/event_modifiers/transmutative_path_modifiers.txt
  common/scripted_effects/transmutative_path_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_transmutative_path.txt
  events/Transmutative_Path_events.txt
Due: Events Encoding

fixed ui funnies
  common/custom_gui/zz_mission_content.txt
  events/Transmutative_Path_events.txt
  interface/provinceview.gui
Due: Events Encoding

trade goods
  history/provinces/3676 - PROV3676.txt
  history/provinces/3683 - PROV3683.txt
  history/provinces/3687 - PROV3687.txt
  history/provinces/6169 - PROV6169.txt
  history/provinces/6178 - PROV6178.txt
  history/provinces/6179 - PROV6179.txt
  history/provinces/6183 - PROV6183.txt
  history/provinces/6216 - PROV6216.txt
  history/provinces/6870 - PROV6870.txt
  history/provinces/6872 - PROV6872.txt
  history/provinces/6886 - PROV6886.txt
  history/provinces/6891 - PROV6891.txt
  history/provinces/6901 - PROV6901.txt
  history/provinces/6909 - PROV6909.txt
  history/provinces/6911 - PROV6911.txt
  history/provinces/6914 - PROV6914.txt
  history/provinces/6936 - PROV6936.txt
Due: none

Fix localization lakefederation mission
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding, Loc key collision check

Fix strait crossing placement dalaire island
  map/adjacencies.csv
Due: none

Fix religious league bonus staying after dismantle
  common/on_actions/00_on_actions.txt
Due: none

Removing old cultures from sarhal
  common/cultures/anb_cultures.txt
  history/countries/S78 - Maakhibkhii.txt
  history/countries/S79 - Umoji Baashidi.txt
  localisation/anb_cultures_l_english.yml
  localisation/anb_estates_l_english.yml
Due: Localization Encoding, Loc key collision check

t
  localisation/Flavour_Sthanan_G81_l_english.yml
  missions/Sthanan_Missions.txt
Due: Localization Encoding, Loc key collision check

t
  events/OrenNayiruEvents.txt
Due: Events Encoding

Fixed some bugs for Azkabar
  events/flavour_Azkabar_F35.txt
  localisation/Flavour_Azkabar_F35_l_english.yml
  missions/Azkabar_missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

New Khugra Loc and removing incorrect tooltip from theocracy elections
  events/Magocracies.txt
  events/adventurers.txt
  localisation/Flavour_Khugra_L70_l_english.yml
  localisation/anb_estates_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Fix gold override for Arayallen mission
  missions/Ayarallen_Missions.txt
Due: none

Add gold bypass tooltip for scripted trigger
  common/scripted_triggers/00_scripted_triggers.txt
  localisation/scandinavia_l_english.yml
Due: Localization Encoding, Loc key collision check

Fix ghavaanaj herd secrets faulty province id copy
  events/Flavour_Ghavaanaj_R72.txt
Due: Events Encoding

Fix loc error nsc masquerade event
  events/NewSunCultEvents.txt
  localisation/anb_new_sun_cult_events_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Removing ALL references to old sarhali cultures
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_effects/anb_setup_effects.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/EastSarhalFormables.txt
  decisions/TanizuDakinshiDecisions.txt
  events/estate_adeen_events.txt
  events/sarhal_spawnables.txt
Due: Decisions Encoding, Events Encoding

Coffee is bad because you might twitch, not because it gives you ADHD
  localisation/anb_tradegoods&event_l_english.yml
Due: Localization Encoding, Loc key collision check

North Haless changes
  common/event_modifiers/anb_gozengun_modifiers.txt
  common/institutions/00_Core.txt
  history/provinces/5328 - Modurke.txt
  history/provinces/5387 - Iona Saothar.txt
  history/provinces/6830 - Nenukinan Nubikya.txt
  history/provinces/6841 - The'as Aschur.txt
  history/provinces/6842 - Danvarkhebur.txt
  localisation/anb_modifiers_l_english.yml
  map/terrain.txt
Due: Localization Encoding, Loc key collision check

Insyaa Positions
  map/positions.txt
Due: none

PR #7502 [steam] taychend and allclan small fixes
  decisions/DiggyDiggyHole.txt
  events/OrenNayiruEvents.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
  localisation/anb_taychend_l_english.yml
  missions/Allclan_Missions.txt
  missions/Sthanan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

[STEAM] Error log Fixes
  events/Flavour_Wesdam_A04.txt
  events/RepublicFactions.txt
Due: Events Encoding

PR #7504 [Steam] more bugfixes from discord reports
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/Flavour_Ghavaanaj_R72.txt
  events/NewSunCultEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
  localisation/scandinavia_l_english.yml
  map/adjacencies.csv
  missions/Ayarallen_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Small fix for 1st NSC incident
  events/NewSunCultEvents.txt
Due: Events Encoding

Small isagumze fix
  common/estate_privileges/anb_privileges.txt
Due: none

Gov reform fix
  common/government_reforms/06_government_reforms_common.txt
  events/PlanetouchedEvents.txt
  localisation/anb_governments_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

MT fixes/Loc
  localisation/effelai_worship_l_english.yml
  missions/Effelai_Missions.txt
Due: Localization Encoding, Loc key collision check

Samishesha goods and title changes
  common/government_names/00_0anbennar_unique_names.txt
  history/countries/L02 - Jagab Faru.txt
  history/countries/L13 - Samishesha.txt
  history/provinces/3208 - Jadurar.txt
  history/provinces/3209 - Japerasi.txt
  history/provinces/5702 - Nyana_Mdal.txt
  history/provinces/5717 - Khawit.txt
  history/provinces/5773 - Heyingat.txt
  history/provinces/5836 - Kulugiash.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding, Loc key collision check

Ideas for N18, N21, N30
  common/ideas/anb_country_ideas.txt
Due: none

Magisterium Ship
  common/countries/Magisterium.txt
Due: none

artificery flag fixes
  common/custom_gui/countrydecisionsview.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
Due: none

Golden Highway workaround for pasiragha treaty with bhuvari
  decisions/GoldenHighway.txt
Due: Decisions Encoding

Added safeguard of removing traps if annexed by non-kobold. Very small rebalance to the tiers of traps. Added an option to increase trap mastery without creating a trap.
  common/event_modifiers/anb_theatre_of_attrition_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Theatre_Of_Attrition.txt
  localisation/theatre_of_attrition_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

genie cult work
  common/fetishist_cults/00_fetishist_cults.txt
  common/religions/00_anb_religion.txt
  localisation/genie_pact.yml
Due: Localization Encoding, Loc key collision check

Black Desert
  localisation/prov_names_l_english.yml
Due: Localization Encoding, Loc key collision check

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
