Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

BUG
  missions/Kumarkand_Missions.txt
Due: none

Lesser tree loc
  localisation/Flavour_Khao_Elnak_Y62_l_english.yml
  localisation/Flavour_Lo_Ngoen_Y60_l_english.yml
  localisation/Flavour_Thirabnir_Y59_l_english.yml
Due: Localization Encoding

makes korashi tuners selectable
  common/estate_privileges/estate_artifice_privileges.txt
Due: none

tooltip clarification
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

Centaur Mission Loc+Adjustments
  common/estates/97_mages.txt
  common/government_reforms/04_government_reforms_tribes.txt
  decisions/CentaurDecisions.txt
  events/IrdaeosWorship.txt
  localisation/anb_forbidden_lands_l_english.yml
  localisation/text_l_english.yml
  missions/Centaur_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Runsukhi Province Names
  localisation/anb_cultures_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Aldresian Seperate Peace from Emperor bug fix
  common/diplomatic_actions/00_diplomatic_actions.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
Due: Localization Encoding

oop
  history/provinces/6163 - PROV6163.txt
  localisation/anb_cultures_l_english.yml
Due: Localization Encoding

hold dig notif fix
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
Due: none

bug
  missions/Kumarkand_Missions.txt
Due: none

bug
  events/Flavour_Kumarkand_F30.txt
  missions/Kumarkand_Missions.txt
Due: Events Encoding

rakkabuttai oremvand fix
  missions/Rakkabuttai_Missions.txt
Due: none

fix prof. Rakkabuttai
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Covenblad Typo fix
  localisation/Flavour_Covenblad_Z37_l_english.yml
Due: Localization Encoding

Fix
  localisation/Flavour_Covenblad_Z37_l_english.yml
Due: Localization Encoding

Fixed Infernal Court scope error and a country event being set as a province event
  events/InfernalCourtEvents.txt
Due: Events Encoding

Fixed the Valley trade node not being discoverable with a pulse that discovers it
  common/on_actions/00_on_actions.txt
Due: none

Fixed Aiztszúir being misspelled for Azkare in some places
  localisation/Flavour_Azkare_Y86_l_english.yml
Due: Localization Encoding

Fixed Rogieria being able to become emperor even with the modifier
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

arg-ordstun level 11
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
Due: none

small tooltip
  events/EffelaiWorshipEvents.txt
  localisation/effelai_worship_l_english.yml
Due: Events Encoding, Localization Encoding

Fixed the "Wonders of the Precursors" age ability not working after the artificery rework
  common/ages/00_default.txt
  common/scripted_effects/artifice_scripted_effects.txt
  customizable_localization/anb_custom_artifice_localization.txt
  localisation/artifice_l_english.yml
Due: Localization Encoding

OT fixes
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  common/subject_types/00_subject_types.txt
  decisions/OvdalTungrDecisions.txt
  events/ArtificeInventions.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Crathanor_Missions.txt
  missions/Ovdal_Tungr_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

OT fix
  localisation/Flavour_OvdalTungr_F23_l_english.yml
Due: Localization Encoding

OT fixes
  decisions/OvdalTungrDecisions.txt
  missions/Ovdal_Tungr_Missions.txt
Due: Decisions Encoding

Samthalsu Flag
  gfx/flags/V18.tga
Due: none

Havoric culture fix
  common/cultures/anb_cultures.txt
Due: none

Wastelander Unit Loc
  localisation/anb_units_l_english.yml
Due: Localization Encoding

Added Arg-Ordstun custom tt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun_Missions.txt
Due: Localization Encoding

gerudian troll loc
  localisation/anb_units_l_english.yml
Due: Localization Encoding

unitz
  common/technologies/mil.txt
  common/technology.txt
  common/units/hill_troll_10_reformed_rangers.txt
  common/units/hill_troll_12_inf.txt
  common/units/hill_troll_14_forest_wardens.txt
  common/units/hill_troll_15_inf.txt
  common/units/hill_troll_18_spirit_tusk_dragoons.txt
  common/units/hill_troll_19_inf.txt
  common/units/hill_troll_1_inf.txt
  common/units/hill_troll_1_mastodon_rangers.txt
  common/units/hill_troll_23_inf.txt
  common/units/hill_troll_23_light_mastodon_hussars.txt
  common/units/hill_troll_26_inf.txt
  common/units/hill_troll_28_heavy_mastodon_hussars.txt
  common/units/hill_troll_30_inf.txt
  common/units/hill_troll_6_mastodon_outriders.txt
  common/units/hill_troll_9_inf.txt
Due: none

Fixed a Mother Akasik bug
  common/scripted_effects/sarhal_scripted_effects.txt
Due: none

loc
  localisation/anb_units_l_english.yml
Due: Localization Encoding

kalsyto fixes
  common/event_modifiers/anb_lake_modifiers.txt
  common/new_diplomatic_actions/anb_kalsyto_sphere.txt
  common/parliament_bribes/kalsyto_bribes.txt
  common/parliament_issues/anb_kalsyto.txt
  events/Flavour_Kalsyto_J33.txt
  events/TreasureFleet.txt
  localisation/Flavour_Kalsyto_J33_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_subject_type_l_english.yml
  missions/Kalsyto_Missions.txt
Due: Events Encoding, Localization Encoding

Infernal Court Bugfixes
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/InfernalCourtEvents.txt
  localisation/infernal_court_l_english.yml
Due: Events Encoding, Localization Encoding

Vaengheim vision tech group
  common/institutions/00_Core.txt
  common/scripted_effects/anb_setup_effects.txt
  common/technology.txt
  history/countries/Z88 - Vaengheim.txt
  localisation/anb_institutions_l_english.yml
Due: Localization Encoding

small little things
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  decisions/TheatreOfAttritionDecisions.txt
  events/TheatreOfAttrition.txt
Due: Decisions Encoding, Events Encoding
