Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

request peace and estate bug fixes
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_privileges/anb_privileges.txt
Due: none

PR #7806 [Steam] Bugfix
  common/cb_types/anb_cb_monsters.txt
  common/government_reforms/04_government_reforms_tribes.txt
  events/Flavour_Skewered_Drake_H73.txt
  events/HarpyEvents.txt
  history/countries/F27 - Ayarallen.txt
  localisation/anb_spirits_l_english.yml
  localisation/emperor_content_l_english.yml
  localisation/powers_and_ideas_l_english.yml
  localisation/xhazobkult_l_english.yml
  missions/Hammerhome_Missions.txt
  missions/Obrtrol_Missions.txt
  missions/Skurkokli_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #7812 [Steam] fixed two crashes and an error in heir_is_human
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/Flavour_TheCommand_R62.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #7816 [Steam] fixes
  common/religions/00_anb_religion.txt
  events/HalessiSpirits.txt
  events/TreasureFleet.txt
  localisation/anb_rending_l_english.yml
  localisation/anb_spirits_l_english.yml
  localisation/anb_treasure_fleet_l_english.yml
  localisation/mystic_accord_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

accretive path celebrations
  common/event_modifiers/accretive_path_modifiers.txt
  common/religions/00_anb_religion.txt
  customizable_localization/anb_accretive_path.txt
  localisation/accretive_path_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding, Loc key collision check

chi scripted effects
  common/scripted_effects/accretive_path_scripted_effects.txt
Due: none

Runefather Worship gubfixes
  common/personal_deities/runefather_deities.txt
  common/scripted_effects/runefather_worship_scripted_effects.txt
  events/RunefatherWorship.txt
Due: Events Encoding

remove old dumb stuff
  common/event_modifiers/genie_relic_modifiers.txt
  common/state_edicts/earth_elemental_construction_edict.txt
  common/state_edicts/wondrous_oven_edict.txt
Due: none

Taric Migrations gubfixes
  common/on_actions/00_on_actions.txt
  events/Gerudia.txt
  localisation/anb_regions_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

xhaz cleanup 1
  common/event_modifiers/anb_religion_modifiers.txt
  common/event_modifiers/anb_xhazobkult_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  decisions/XhazobkultDecisions.txt
  events/MonstrousEvents.txt
  events/XhazobkultEvents.txt
  localisation/xhazobkult_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

indents
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

buff this slightly
  events/estate_ahati.txt
Due: Events Encoding

demonic power cleanup
  common/ruler_personalities/00_core.txt
  common/static_modifiers/00_static_modifiers.txt
Due: none

on releasable
  common/on_actions/00_on_actions.txt
  events/EordellonReligion.txt
Due: Events Encoding

urdea samrad
  events/Flavour_UrdeaSamrad.txt
Due: Events Encoding

Baihon Xinh gubfixes
  events/Flavour_Baihon_Xinh_Y97.txt
Due: Events Encoding

fixes
  common/on_actions/00_on_actions.txt
  events/EordellonReligion.txt
Due: Events Encoding

allclan tweaks
  decisions/CaveGoblinDecisions.txt
  missions/Allclan_Missions.txt
Due: Decisions Encoding

Fixed
  common/event_modifiers/anb_dwarovar_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/DiggyDiggyHoleEvents.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

OA PR Bug Fixes Round 1
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_OrdaAldresia_A77.txt
  history/countries/A77 - Orda Aldresia.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Mengi mouments offical locs besides crater/ 12 megni events
  common/event_modifiers/and_mengievents_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/anb_mengi_flavor_events.txt
  localisation/anb_mengi_events_l_english.yml
  localisation/anb_modifiers_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Forest goblin events 5 and 6
  common/event_modifiers/anb_deepwoods_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Group_Flavour_Forest_Goblins.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

More Hmmm fixes to finish Round 1
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Magisterium_A85.txt
  events/Theocracies.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

siege umbral king fix
  common/on_actions/00_on_actions.txt
Due: none

fixes to events 1
  events/anb_mengi_flavor_events.txt
Due: Events Encoding

siege umbral king second fix
  common/on_actions/00_on_actions.txt
Due: none

Content tweaks to Silentblade MT + Cannor Monuments Batch
  common/event_modifiers/anb_deepwoods_modifiers.txt
  common/great_projects/anb_monuments_cannor.txt
  events/Flavour_Silentblade.txt
  history/provinces/3042 - Yfelorr.txt
  history/provinces/3063 - Vyr_Tronna.txt
  interface/great_project.gfx
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_great_projects_l_english.yml
  missions/Silentblade_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

reminder text
  localisation/Flavour_Sanghariyar_R98_l_english.yml
Due: Localization Encoding, Loc key collision check

remove this peace option
  common/peace_treaties/anb_loot_kvang_scrap.txt
  localisation/kvangahga_l_english.yml
Due: Localization Encoding, Loc key collision check

xhaz cleanup 2
  common/event_modifiers/anb_xhazobkult_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/rebel_types/demonic_horde.txt
  events/XhazobkultEvents.txt
  localisation/xhazobkult_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

more tweaks
  common/religions/00_anb_religion.txt
  events/XhazobkultEvents.txt
  localisation/cossacks_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

loc fixes
  localisation/kvangahga_l_english.yml
Due: Localization Encoding, Loc key collision check

more fixes
  events/kvangahga_events.txt
Due: Events Encoding

defensive edict
  missions/Sanghariyar_Missions.txt
Due: none

Akasik Start screen
  customizable_localization/00_start_screen.txt
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding, Loc key collision check

mission fix
  missions/Sanghariyar_Missions.txt
Due: none

new ideas
  events/anb_racial_pop_calculations.txt
  history/provinces/4510 - Sarnavan.txt
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

numbers
  common/buildings/00_buildings.txt
Due: none

Fangaulan Pantheon Religious Events
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/fangaulan_pantheon_events.txt
  localisation/fangaula_pantheon_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
