Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

effelai election stuff
  common/on_actions/00_on_actions.txt
  common/scripted_effects/effelai_worship_scripted_effects.txt
  events/EffelaiWorshipEvents.txt
  events/MagicRuler.txt
  events/Theocracies.txt
  localisation/effelai_worship_l_english.yml
Due: Events Encoding, Localization Encoding

yinquan fix
  missions/Yinquan_Missions.txt
Due: none

Remaining Xiaken rulers
  history/countries/Y11 - Wudikmen.txt
  history/countries/Y32 - Yumaomen.txt
  history/countries/Y34 - Nay Khwan.txt
  history/countries/Y41 - Xaram.txt
  history/countries/Y42 - Linquanzhuang.txt
  history/countries/Y43 - Tsiancukmen.txt
  history/countries/Y49 - Qiansimiao.txt
Due: none

cleanup
  events/RendingMA.txt
  missions/Yinquan_Missions.txt
Due: Events Encoding

Night_pact religion Icons
  common/religions/00_anb_religion.txt
  gfx/interface/country_icon_religion.dds
  gfx/interface/icon_religion.dds
  gfx/interface/icon_religion_small.dds
  gfx/interface/province_view_religion.dds
  interface/countryview.gfx
  interface/ledger.gfx
  interface/provinceview.gfx
Due: none

hmm
  gfx/sprite_packs/Sarhal_sprites.txt
Due: none

hmmmm
  gfx/sprite_packs/Anbennar_sprites.txt
  gfx/sprite_packs/Sarhal_sprites.txt
  gfx/sprite_packs_order/00_sprite_pack_orders.txt
Due: none

Dadubakha Ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

final touches
  common/government_mechanics/anb_effelai_attuned.txt
  common/great_projects/anb_monuments_aelantir.txt
  decisions/Mages.txt
  events/EffelaiBloomEvents.txt
  events/EffelaiWorshipEvents.txt
  localisation/effelai_worship_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

zomp
  events/EffelaiWorshipEvents.txt
  localisation/effelai_worship_l_english.yml
Due: Events Encoding, Localization Encoding

loc fix
  localisation/effelai_worship_l_english.yml
Due: Localization Encoding

Auto stash before merge of "new-master" and "origin/new-master"
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Nenfi Remuj NIs and Loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

FP age abilities
  common/ages/00_default.txt
Due: none

Fix for enforcing culture turning tags monstrous
  common/on_actions/00_on_actions.txt
Due: none

FP age ability loc
  localisation/anb_ages_l_english.yml
Due: Localization Encoding

encoding smh
  common/ages/00_default.txt
  localisation/anb_ages_l_english.yml
Due: Localization Encoding

encoding again reeeee
  common/ages/00_default.txt
Due: none

gfx stuff
  interface/ages_view.gfx
Due: none

racial menu buttons
  common/custom_gui/example.txt
  common/custom_gui/racial_menu_buttons.txt
  decisions/Racial.txt
  gfx/interface/custom_gui/racial_mil_button.dds
  gfx/interface/custom_gui/racial_tolerance_button.dds
  gfx/interface/government_view/country_local_government_view_bg.dds
  gfx/interface/government_view/country_local_government_view_bg_huge.dds
  gfx/interface/government_view/country_local_government_view_bg_large.dds
  gfx/interface/pop_menus/pop_coexisting_icon.dds
  gfx/interface/pop_menus/pop_integrated_icon.dds
  gfx/interface/pop_menus/pop_oppressed_icon.dds
  interface/countrygovernmentview.gfx
  interface/countrygovernmentview.gui
  localisation/anb_racial_pop_l_english.yml
Due: Decisions Encoding, Localization Encoding

Vacyn typo
  localisation/Flavour_Eduz_Vacyn_F32_l_english.yml
Due: Localization Encoding

FP Bookmark loc
  localisation/anb_bookmarks_l_english.yml
Due: Localization Encoding

Rinta seekers WIP
  events/RintaSeekerEvents.txt
Due: Events Encoding

Removing my own stupid scripted effect
  common/scripted_effects/01_scripted_effects_for_advisors.txt
Due: none

one in a krillion
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  events/AnbennarSetup.txt
  events/Flavour_Lesnikpansvo_U32.txt
  events/RintaSeekerEvents.txt
  localisation/Flavour_Isobelin_G91_l_english.yml
Due: Events Encoding, Localization Encoding

i'm only human after all
  common/ages/00_default.txt
Due: none

LF Tweak
  common/event_modifiers/anb_lake_modifiers.txt
  events/LakeFederationEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

typo
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

fix
  events/LakeFederationEvents.txt
Due: Events Encoding

Rinte seekers beginning loc
  common/event_modifiers/anb_rinta_seekers_modifiers.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Printing Press in Rahen Event
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/HighPhilosophy.txt
  localisation/high_philosophy_l_english.yml
Due: Events Encoding, Localization Encoding

yinquan investigation fix
  events/Flavour_Yinquan_Y26.txt
Due: Events Encoding

Pelodaire into Elathael
  common/countries/Elathael.txt
  common/countries/House of Reflection.txt
  common/ideas/anb_country_ideas.txt
  events/Flavour_Ibevar_A32.txt
  gfx/flags/H53.tga
  gfx/flags/H531.tga
  history/countries/H52 - House of Reflection.txt
  history/countries/H53 - Elathael.txt
  localisation/Flavour_Ibevar_A32_l_english.yml
  localisation/anb_aelantirspawnables_l_english.yml
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

forgot this
  common/cb_types/00_cb_types.txt
Due: none

argezvale bookmark and event tweak
  dlc_metadata/dlc_info/00_dlc_info.txt
  dlc_metadata/dlc_recommendations/04_spawnable_bis_bis.txt
  dlc_metadata/dlc_recommendations/05_spawnable_bis.txt
  dlc_metadata/dlc_recommendations/06_spawnable.txt
  events/AelantirSpawnables.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Events Encoding, Localization Encoding

remove broken trigger for aw goblin event
  events/anb_aw_goblins.txt
Due: Events Encoding

elven cannons
  gfx/entities/elves.asset
Due: none

Cardesti system
  common/event_modifiers/anb_cardesti_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_cardesti_scripted_effects.txt
  events/anb_cardesti_events.txt
  localisation/anb_cardesti_l_english.yml
Due: Events Encoding, Localization Encoding

Spirit Mil Icon
  common/event_modifiers/racial_admin_military.txt
  gfx/interface/ideas_EU4/racial_mil_spirit.dds
Due: none

fix
  gfx/interface/ideas_EU4/racial_mil_spirit.dds
Due: none
