Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Magic affects Kheionai Windwards
  common/buildings/00_buildings.txt
  common/scripted_effects/anb_scripted_effects_for_deathwinds.txt
  events/MagicEstates.txt
  events/MagicRuler.txt
  events/kheionai_events.txt
  localisation/anb_kheionai_l_english.yml
Due: Events Encoding, Localization Encoding

Vision
  common/scripted_effects/anb_setup_effects.txt
Due: none

zomp
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_on_actions.txt
Due: none

bonk
  common/on_actions/00_on_actions.txt
Due: none

zomppp
  common/event_modifiers/anb_effelai_worship_modifiers.txt
  missions/Effelai_Missions.txt
Due: none

tech group stuff
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  common/technology.txt
  gfx/interface/tech_group_strip.dds
  history/countries/V01 - Oinukhudi.txt
  history/countries/V02 - Dolontuglin.txt
  history/countries/V03 - Khezkhagak.txt
  history/countries/V04 - Hakuukulga.txt
  history/countries/V05 - Huizhou.txt
  history/countries/V06 - Bazuneizar.txt
  history/countries/V07 - Olkhalsu.txt
  history/countries/V08 - Sudokli.txt
  history/countries/V09 - Shevhedil.txt
  history/countries/V10 - Motelisamok.txt
  history/countries/V11 - Zugi Yusan.txt
  history/countries/V12 - Kuenan Nirokyu.txt
  history/countries/V13 - Nunsan Banbe.txt
  history/countries/V14 - Nutean Kezen.txt
  history/provinces/5214 - Ghoirirdu.txt
  interface/countrycourtview.gfx
  interface/countrygovernmentview.gfx
  localisation/anb_institutions_l_english.yml
Due: Localization Encoding

historical friend
  history/countries/Y16 - Jiantsiang.txt
Due: none

naval supplies
  history/provinces/5335 - Nuktungh.txt
Due: none

fixeedddd
  events/EffelaiBloomEvents.txt
  events/EffelaiWorshipEvents.txt
  missions/Effelai_Missions.txt
Due: Events Encoding

sowwy imacop
  history/provinces/5214 - Ghoirirdu.txt
  history/provinces/6805 - NHaless22.txt
Due: none

remove remove, clearly clr
  common/on_actions/00_on_actions.txt
Due: none

amountgus
  missions/Deyeion_Missions.txt
Due: none

some smol changes
  missions/Effelai_Missions.txt
Due: none

smol change
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

on action fixes
  common/on_actions/00_on_actions.txt
Due: none

encoding
  common/on_actions/00_on_actions.txt
Due: none

no more nurgai
  history/countries/V02 - Dolontuglin.txt
  history/countries/V03 - Khezkhagak.txt
  history/countries/V04 - Hakuukulga.txt
  history/countries/V05 - Huizhou.txt
  history/countries/V06 - Bazuneizar.txt
  history/countries/V07 - Olkhalsu.txt
  history/countries/V08 - Sudokli.txt
  history/countries/V09 - Shevhedil.txt
  history/countries/V10 - Motelisamok.txt
  history/countries/V11 - Zugi Yusan.txt
  history/countries/V12 - Kuenan Nirokyu.txt
  history/countries/V13 - Nunsan Banbe.txt
  history/countries/V14 - Nutean Kezen.txt
Due: none

updated missions
  events/EffelaiWorshipEvents.txt
  missions/Effelai_Missions.txt
Due: Events Encoding

rectified startup events for effelai tags
  common/on_actions/00_on_actions.txt
  events/EffelaiWorshipEvents.txt
  missions/Effelai_Missions.txt
Due: Events Encoding

effei tag startup
  common/on_actions/00_on_actions.txt
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

more changes heh
  common/event_modifiers/anb_effelai_worship_modifiers.txt
  missions/Effelai_Missions.txt
Due: none

encoding
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

line endings
  events/EffelaiWorshipEvents.txt
  missions/Effelai_Missions.txt
Due: Events Encoding

oof
  events/EffelaiWorshipEvents.txt
  missions/Effelai_Missions.txt
Due: Events Encoding

Cannor Trade changes v.0.0
  common/tradenodes/00_tradenodes.txt
Due: none

Cannor Trade changes v.0.01
  common/tradenodes/00_tradenodes.txt
Due: none

Vels Fadhecai Opening Section
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/anb_scripted_effects_for_on_actions.txt
  decisions/MagicRuler.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  events/anb_aw_spawner.txt
  events/anb_aw_wendigo.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Missing duration for the CB
  common/estate_agendas/anb_ahati_agendas.txt
Due: none

Brelar flag is already in the potential
  decisions/BrelarDecisions.txt
Due: Decisions Encoding

Kalyin Fixes
  events/FederationIncidents_ReligiousWar.txt
  events/LakeFederationEvents.txt
Due: Events Encoding

NYAAA
  gfx/entities/anb_monuments.asset
  gfx/models/anbennar/monuments/AsA_Fortress.mesh
  gfx/models/anbennar/monuments/AzA_Fortress_Diffuse.dds
  gfx/models/anbennar/monuments/AzA_Fortress_Normals.dds
  gfx/models/anbennar/monuments/AzA_Fortress_Spec.dds
  interface/assets/anbennar_monuments.gfx
  map/ambient_object.txt
Due: none

nYa x2
  map/positions.txt
Due: none

Revert "NYAAA"
  gfx/entities/anb_monuments.asset
  gfx/models/anbennar/monuments/AsA_Fortress.mesh
  gfx/models/anbennar/monuments/AzA_Fortress_Diffuse.dds
  gfx/models/anbennar/monuments/AzA_Fortress_Normals.dds
  gfx/models/anbennar/monuments/AzA_Fortress_Spec.dds
  interface/assets/anbennar_monuments.gfx
  map/ambient_object.txt
Due: none

fixed the whoops
  gfx/entities/anb_monuments.asset
  gfx/models/anbennar/monuments/AsA_Fortress.mesh
  gfx/models/anbennar/monuments/AzA_Fortress_Diffuse.dds
  gfx/models/anbennar/monuments/AzA_Fortress_Normals.dds
  gfx/models/anbennar/monuments/AzA_Fortress_Spec.dds
  interface/assets/anbennar_monuments.gfx
  map/ambient_object.txt
Due: none

zomp
  missions/Effelai_Missions.txt
Due: none

Fixed vampire oak monarchy loop
  events/Flavour_Cyranvar_I45.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
