Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

winter
  common/church_aspects/anb_seasonal_aspect.txt
  common/event_modifiers/seasonal_court_modifiers.txt
  common/flagship_modifications/anb_flagship_modifications.txt
Due: none

on action church power gain
  common/buildings/00_buildings.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
Due: none

naming
  events/EordellonReligion.txt
Due: Events Encoding

aspects
  common/religions/00_anb_religion.txt
Due: none

aspect final
  common/church_aspects/anb_seasonal_aspect.txt
  common/event_modifiers/seasonal_court_modifiers.txt
Due: none

temp loc
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  events/EordellonReligion.txt
  localisation/seasonal_courts_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

it's festival time
  common/church_aspects/anb_seasonal_aspect.txt
  common/event_modifiers/seasonal_court_modifiers.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  common/scripted_effects/seasonal_scripted_effects.txt
  events/EordellonReligion.txt
Due: Events Encoding

fixes and more lock
  common/church_aspects/anb_seasonal_aspect.txt
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding, Loc key collision check

fixes
  events/EordellonReligion.txt
  interface/countryreligionview.gui
  localisation/seasonal_courts_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

fuck
  decisions/EordandNation.txt
Due: Decisions Encoding

finished raw code
  common/event_modifiers/seasonal_court_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_seasonal.txt
  events/EordellonReligion.txt
Due: Events Encoding

Orda 2/3rds done
  common/cb_types/00_cb_types.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Magisterium_A85.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_Magisterium_A85_l_english.yml
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

desc fix
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding, Loc key collision check

a
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding, Loc key collision check

Forest goblin events 3 and 4
  common/event_modifiers/anb_deepwoods_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Group_Flavour_Forest_Goblins.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

forgor the passives
  common/religions/00_anb_religion.txt
Due: none

HP ui
  common/custom_gui/countryreligionview.txt
  customizable_localization/anb_customizable_localization.txt
  gfx/interface/visvatma_hp_icon.dds
  interface/countryreligionview.gui
  interface/spirits.gfx
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding, Loc key collision check

fixed rare command crash (ceding provinces in every_neighbor_province)
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

fixing the darn strip again
  gfx/interface/icon_religion.dds
  interface/countryreligionview.gui
Due: none

fixed crash on harmonizing amadian
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding, Loc key collision check

fixed erroneous ruler_culture in heir_is_human
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

fixing minority setup for Sarnavan
  history/provinces/4510 - Sarnavan.txt
Due: none

text centering
  interface/countryreligionview.gui
Due: none

piety bar shadow fix+recolor
  gfx/interface/piety_bar_frame.dds
Due: none

OA 3/3 MT, just 2 event chains left
  common/cb_types/00_cb_types.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

ai insubordination
  common/disasters/command_insubordination.txt
  decisions/TheCommandDecisions.txt
  events/Flavour_TheCommand_R62.txt
Due: Decisions Encoding, Events Encoding

ai insubordination 2
  common/event_modifiers/anb_rahen_modifiers.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Umbral King and Ravelian Coup Event Chains Coded
  common/cb_types/00_cb_types.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_aldresian_incursion.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

updates
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding, Loc key collision check

Orda Aldresia, loc and buf fixes MT. IT IS DONE.
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

gotos
  events/Flavour_Sanghariyar.txt
Due: Events Encoding

removing tolerance ideas bias for godlost
  common/ideas/00_basic_ideas.txt
Due: none

[steam] fixs
  common/religions/00_anb_religion.txt
  events/HalessiSpirits.txt
  events/TreasureFleet.txt
  localisation/anb_escanni_refugees_l_english.yml
  localisation/anb_rending_l_english.yml
  localisation/anb_spirits_l_english.yml
  localisation/anb_treasure_fleet_l_english.yml
  localisation/mystic_accord_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

bugfix
  missions/Sanghariyar_Missions.txt
Due: none

Imperial Bodyguard Subject Icon
  common/subject_types/00_subject_types.txt
  gfx/interface/icon_diplomacy_leadimperialbodyguard.dds
  gfx/interface/icon_diplomacy_weakimperialbodyguard.dds
  gfx/interface/icon_imperialbodyguard.dds
  interface/countrydiplomacyview.gfx
Due: none

LN changes
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_tooltips_l_english.yml
  missions/Lo_Ngoen_missions.txt
Due: Localization Encoding, Loc key collision check

Th changes
  missions/Thirabnir_missions.txt
Due: none

Thangoya changes
  missions/Zz_Thangoya_Missions.txt
Due: none

Readded DLC to expand empire
  common/cb_types/00_cb_types.txt
Due: none
