Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

fix reform mandate
  common/on_actions/00_on_actions.txt
  decisions/KhetMandateDecisions.txt
Due: Decisions Encoding

Zansap MT chnages
  common/estate_privileges/anb_privileges.txt
  missions/Zansap_Missions.txt
Due: none

Bjarnrik Events Adjustment
  events/Gerudia.txt
Due: Events Encoding

More Zansap MT chnages
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Zansap_Missions.txt
Due: none

bug
  missions/Zansap_Missions.txt
Due: none

fixed MT bug
  missions/Effelai_Missions.txt
Due: none

swapped effect spots
  missions/Effelai_Missions.txt
Due: none

Stoping natives from stealing the cliff passages
  common/great_projects/anb_great_projects.txt
Due: none

Clarification for iosahar loyalty
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

Azkare ogre purge event extended to the whole of Haless
  events/Flavour_Azkare_Y86.txt
  localisation/Flavour_Azkare_Y86_l_english.yml
Due: Events Encoding, Localization Encoding

HRE to EoA loca change for claim electorship CB
  localisation/scandinavia_l_english.yml
Due: Localization Encoding

improve this effect
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
Due: none

khet generic MT
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Kheterata_L01_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  missions/Kheteratan_Missions.txt
Due: Localization Encoding

forget
  missions/Zansap_Missions.txt
Due: none

removed
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Added conditional estate triggers for Mountainshark if you are a technocracy
  missions/Mountainshark_Missions.txt
Due: none

Wrong reference on a kobold scripted effect
  common/on_actions/00_on_actions.txt
Due: none

Bulwari S
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Bulwari and Harpy estate names
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/estates/97_mages.txt
  common/estates/98_adventurers.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

CentaurTournament trigger fix
  events/CentaurTournament.txt
Due: Events Encoding

Duplicate =
  common/event_modifiers/anb_centaur_modifiers.txt
Due: none

Missing namespace
  events/Escann_Adventurers_Intro.txt
Due: Events Encoding

Don't give adventurer unity to Marrhold or Count's League
  events/Corinite.txt
Due: Events Encoding

Gor burad scope fix
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

Harpy raid target scope error fix
  common/scripted_effects/anb_scripted_effects.txt
Due: none

Lol decimals
  common/scripted_effects/anb_scripted_effects.txt
Due: none

Monument scope fix
  common/great_projects/anb_monuments_missions.txt
Due: none

Corrected missing superregion
  common/mercenary_companies/00_mercenaries.txt
Due: none

Some more superregion stuff
  common/scripted_effects/relic_scripts.txt
  events/anb_aw_spawner.txt
Due: Events Encoding

Diggy scope errors
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

Even more scope errors
  events/Eordand.txt
  events/Flavour_Plumstead_H61.txt
Due: Events Encoding

Even even more scopt errors
  events/Flavour_Plumstead_H61.txt
  events/ravelianism.txt
  missions/Eordand_Missions.txt
  missions/Vertesk_Missions.txt
Due: Events Encoding

An underscore too much
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Small plumstead thing
  events/Flavour_Plumstead_H61.txt
Due: Events Encoding

dDwarves
  localisation/Flavour_Escann_Goblin_l_english.yml
Due: Localization Encoding

suppression loc
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

sad loc file
  localisation/effelai_worship_l_english.yml
Due: Localization Encoding

Missing claims and major bug fixes
  events/Flavour_Zansap_F43.txt
  missions/Zansap_Missions.txt
Due: Events Encoding

ŠAD SUR
  localisation/Flavour_Zansap_F43_l_english.yml
Due: Localization Encoding
