Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

icon stuff
  common/estate_privileges/03_burgher_privileges.txt
Due: none

hide
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

rahe
  common/event_modifiers/anb_event_modifiers.txt
  gfx/interface/ideas_EU4/raheni_potions.dds
  history/provinces/4459 - Khandi.txt
  interface/provinceview.gfx
  localisation/anb_modifiers_l_english.yml
Due: Localization Encoding

ruler properly get shifter stuff when never an heir
  common/on_actions/00_on_actions.txt
Due: none

wtf
  events/Elections.txt
Due: Events Encoding

some ahati events
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

wut
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

could've sworn I moved this
  map/provincegroup.txt
Due: none

Tanizu lizards are non monstrous
  history/countries/L82 - Izmeri.txt
  history/countries/S11 - Natani.txt
  history/countries/S12 - Ksazata.txt
Due: none

Adding Er-Natvir
  missions/Railskulker_Missions.txt
Due: none

Brûndskâppa
  localisation/anb_modifiers_l_english.yml
Due: Localization Encoding

Enabling homonculus consorts for everyone that has royal marriages enabled later
  events/MagicProjectHomunculus.txt
Due: Events Encoding

No double shiriekers
  common/units/firanyan_harpy_1_shriekers.txt
  common/units/siadunan_harpy_1_shriekers.txt
Due: none

Saving bytes
  missions/Railskulker_Missions.txt
Due: none

Changed adittional to additional
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

Haraf reformation event chain mostly coded
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/HarafEvents.txt
  localisation/Flavour_Haraf_G43_l_english.yml
  localisation/anb_governments_l_english.yml
Due: Events Encoding, Localization Encoding

Estate loc for 1.35 max privileges modifiers
  localisation/Flavour_BlackDemesne_Z99_l_english.yml
  localisation/anb_estate_lower_castes_l_english.yml
  localisation/anb_estate_middle_castes_l_english.yml
  localisation/anb_estate_shirgrii_l_english.yml
  localisation/anb_estate_upper_castes_l_english.yml
  localisation/anb_estate_vampires_l_english.yml
  localisation/anb_estates_command_l_english.yml
  localisation/anb_estates_l_english.yml
  localisation/anb_patricians_estate_l_english.yml
Due: Localization Encoding

whoops, wrong estate
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Urdea Samrad Loc Fixes
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Caamas_l_english.yml
  localisation/Flavour_Kairncal_H05_l_english.yml
  missions/Caamas_Missions.txt
  missions/Eordand_Missions.txt
  missions/Kairncal_Missions.txt
Due: Localization Encoding

Allclan Fixes
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_mechanics/anb_allclan_pandemonium.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Allclan_I98.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
  missions/Allclan_Missions.txt
Due: Events Encoding, Localization Encoding

i hate gitkraken encoding mistakes
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

small tweaks.
  common/event_modifiers/anb_effelai_blooming_modifiers.txt
  events/EffelaiBloomEvents.txt
Due: Events Encoding

events fix
  common/on_actions/00_on_actions.txt
  events/Flavour_Mulen_F50.txt
Due: Events Encoding

whoops again
  localisation/anb_estates_command_l_english.yml
Due: Localization Encoding

error fixes
  common/estate_privileges/01_church_privileges.txt
  common/peace_treaties/anb_unite_the_dakinshi.txt
  common/religions/00_anb_religion.txt
  events/sarhal_spawnables.txt
  history/countries/S80 - Abigishinbzoka.txt
  localisation/Group_Flavour_Dakinshi_l_english.yml
  missions/Caamas_Missions.txt
  missions/Eordand_Missions.txt
Due: Events Encoding, Localization Encoding

another fix
  common/governments/00_governments.txt
Due: none

brelar fixes
  events/Flavour_Brelar_G27.txt
  localisation/Flavour_Brelar_G27_l_english.yml
  map/provincegroup.txt
  missions/Brelar_Missions.txt
Due: Events Encoding, Localization Encoding

sigh
  common/religions/00_anb_religion.txt
Due: none

Monument gubfix + Tianlou NI changes
  common/great_projects/anb_monuments_rahen_haless.txt
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

set variable for these too
  history/countries/F70 - Mattabo.txt
Due: none

host approval tooltip
  events/Aakhetist.txt
  localisation/anb_aakhetist_l_english.yml
Due: Events Encoding, Localization Encoding

some basic ahati events
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

khetist syncretism
  common/religions/00_anb_religion.txt
Due: none

oops
  events/estate_ahati.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

rename this culture
  common/cultures/anb_cultures.txt
  common/estate_agendas/anb_ahati_agendas.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  history/countries/L27 - Shasoura.txt
  history/provinces/492 - Buhurusopot.txt
  history/provinces/493 - Azka_Jexis.txt
  history/provinces/495 - Khetraz.txt
  history/provinces/497 - Gomhitxanrit.txt
  history/provinces/498 - Miumud.txt
  history/provinces/499 - Bagsumosdat.txt
  history/provinces/500 - Biaaat.txt
  history/provinces/501 - Nisoppirit.txt
  history/provinces/504 - Desh_Waashesh.txt
  history/provinces/505 - Wibnu_Waashesh.txt
  localisation/anb_cultures_l_english.yml
  missions/Castanor_Missions.txt
  missions/Elizna_Missions.txt
Due: Localization Encoding

Haraf reformation
  common/on_actions/00_on_actions.txt
  events/HarafEvents.txt
Due: Events Encoding

temp loc
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

quick fixes
  common/estate_privileges/estate_ahati_privileges.txt
  common/estates/109_ahati.txt
  events/estate_ahati.txt
Due: Events Encoding

final tweaks
  common/estate_agendas/anb_ahati_agendas.txt
  common/imperial_reforms/01_china.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

Heretic loc
  events/HarafEvents.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding
