Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Test S NL
  decisions/CaveGoblinDecisions.txt
Due: Decisions Encoding

fixies
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/MagicProjectLichdom.txt
  events/Ruler.txt
  history/countries/B17 - Asra Expedition.txt
  history/countries/G94 - Argezvale.txt
  history/countries/H52 - House of Reflection.txt
  history/countries/H68 - Ruby Company.txt
  history/countries/H69 - Forgemaster Union.txt
  history/countries/H70 - Company of Duran Blueshield.txt
  history/countries/H71 - Blackbeard Cartel.txt
  history/countries/H76 - Arg-Ordstun.txt
  history/countries/H78 - Seghdihr.txt
  history/countries/H96 - Mithril-Arm Cartel.txt
  history/countries/H97 - Company of the Grudgebearers.txt
  history/countries/H98 - Axebellow Cartel.txt
  history/countries/I02 - Krakdhumvror.txt
Due: Events Encoding

Saloren Localisation fix
  localisation/Flavour_Saloren_A87_l_english.yml
Due: Localization Encoding

e
  events/MagicProjectLichdom.txt
Due: Events Encoding

The tale of the missing Hold Infrastructure
  decisions/ArgOrdstunDecisions.txt
  missions/ArgOrdstun_Missions.txt
Due: Decisions Encoding

The tale of the missing Hold Infrastructure
  decisions/ArgOrdstunDecisions.txt
Due: Decisions Encoding

goblin monarchy reforms
  common/event_modifiers/anb_goblin_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
  common/ideas/00_basic_ideas.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/anb_scripted_effects.txt
  gfx/interface/government_reform_icons/goblin_gold.dds
  gfx/interface/government_reform_icons/goblin_king.dds
  interface/governmentreformicons.gfx
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

lowercasing species
  localisation/anb_racial_events_l_english.yml
Due: Localization Encoding

parliament consistency fix
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

better consistency fix
  common/government_reforms/01_government_reforms_monarchies.txt
  events/Governments.txt
Due: Events Encoding

arg-ordstun roughness events, pt. 1
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/parliament_issues/anb_argordstun.txt
  events/DiggyDiggyHoardcurse.txt
  events/Flavour_ArgOrdstun_H76.txt
  history/countries/H76 - Arg-Ordstun.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun_Missions.txt
Due: Events Encoding, Localization Encoding

post-removed
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

Varamhar mission change
  missions/Varamhar_Missions.txt
Due: none

Lawassar cheese changes
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

loc 1, some changes, event pics
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  events/Flavour_ArgOrdstun_H76.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
Due: Events Encoding, Localization Encoding

effects checkpoint
  common/event_modifiers/racial_event_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  events/anb_racial_pop_events_orcish.txt
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

checks for heir and consort in set_x_religion
  events/CrimsonDeluge.txt
  events/Flavour_Aelnar_Z43.txt
  events/Flavour_Reveria_A05.txt
  events/Flavour_ShatteredCrown_H72.txt
  events/YnnEvents.txt
Due: Events Encoding

"Form Svaikzenszel" Decision Localization
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding

remove the if
  events/Flavour_ShatteredCrown_H72.txt
Due: Events Encoding

space
  events/Flavour_ShatteredCrown_H72.txt
Due: Events Encoding

ahh
  events/Flavour_ShatteredCrown_H72.txt
Due: Events Encoding

v2 changes (no bugs)
  common/event_modifiers/racial_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_misc.txt
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

bugfixes
  common/new_diplomatic_actions/zz_autonomous_vassal.txt
  common/scripted_effects/anb_scripted_effects.txt
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

minor fixes + adding the on-action
  common/on_actions/00_on_actions.txt
  events/Flavour_ArgOrdstun_H76.txt
Due: Events Encoding

b
  localisation/Flavour_Surakes_F52_l_english.yml
  localisation/anb_age_of_witch_kings_l_english.yml
Due: Localization Encoding

stupid fucking computer program
  sound/all_sounds.asset
Due: none

QoL scripted trigger for ynn stuff
  common/on_actions/00_on_actions.txt
  common/scripted_effects/yrw_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_ynn.txt
  events/YnnDebateEvents.txt
  events/YnnEvents.txt
  localisation/ynn_loc_l_english.yml
Due: Events Encoding, Localization Encoding

Change Exploration and colonization without cannor
  common/ideas/00_basic_ideas.txt
  common/institutions/00_Core.txt
Due: none

Revert "Change Exploration and colonization without cannor"
  common/ideas/00_basic_ideas.txt
  common/institutions/00_Core.txt
Due: none

Fix colonization if cannor is snapped
  common/ideas/00_basic_ideas.txt
  common/ideas/anb_country_ideas.txt
  common/institutions/00_Core.txt
Due: none

small fix
  common/ideas/00_basic_ideas.txt
Due: none

Taychend Start Screens
  customizable_localization/00_start_screen.txt
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

Azkabar cleaning and fixing issues
  common/event_modifiers/anb_mission_modifiers.txt
  common/new_diplomatic_actions/anb_azkabar_cult.txt
  events/flavour_Azkabar_F35.txt
  localisation/Flavour_Azkabar_F35_l_english.yml
  missions/Azkabar_missions.txt
Due: Events Encoding, Localization Encoding
