Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

i my life
  missions/Corintar_Missions.txt
Due: none

xhaz fixes and tweaks
  common/on_actions/00_on_actions.txt
  events/PatronsInfernalEvents.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

wild hunt balance change # 8000
  common/event_modifiers/anb_centaur_modifiers.txt
  events/CentaurEvents.txt
Due: Events Encoding

kill_units is in on_startup instead of history files
  common/on_actions/00_on_actions.txt
  events/AnbennarSetup.txt
  history/countries/I78 - I78.txt
  history/provinces/4879 - Feiten.txt
  history/provinces/5136 - Ulteruim.txt
  history/provinces/5146 - Imulotpaek.txt
  history/provinces/5151 - Godairuul.txt
  history/provinces/5162 - Agnechmeas.txt
  history/provinces/995 - Murtrhol.txt
Due: Events Encoding

indentation
  missions/Corintar_Missions.txt
Due: none

indend save zansap 3
  missions/Zansap_Missions.txt
Due: none

WIP event
  events/Flavour_crothan_A54.txt
Due: Events Encoding

temple restoration AI fixes
  common/scripted_effects/spirits_scripted_effects.txt
  decisions/TempleDecisions.txt
  events/HalessiSpirits.txt
Due: Decisions Encoding, Events Encoding

indend save zansap 4 and test for capital gold
  missions/Zansap_Missions.txt
Due: none

loc
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

Stone Palace now gets to kept its gold
  missions/Zansap_Missions.txt
Due: none

Loading Screen
  gfx/loadingscreens/load_22.dds
Due: none

indend fixed for Zansap
  missions/Zansap_Missions.txt
Due: none

Feiten Jellyfish and Airship 3D Models
  gfx/entities/Feiten_Jellyfish.asset
  gfx/entities/anb_monuments.asset
  gfx/models/anbennar/monuments/AirShip_Normal.dds
  gfx/models/anbennar/monuments/Airship_Diffuse.dds
  gfx/models/anbennar/monuments/Airship_Spec.dds
  gfx/models/anbennar/monuments/Balloon_Spec.dds
  gfx/models/anbennar/monuments/Feiten_Airship.mesh
  gfx/models/anbennar/monuments/Feiten_Airship_anchored.anim
  gfx/models/anbennar/monuments/Feiten_Airship_idle.anim
  gfx/models/anbennar/monuments/ambient_objects_animation_anbennar.asset
  gfx/models/units/Feiten_Jellyfish/Balloon_animation.asset
  gfx/models/units/Feiten_Jellyfish/Balloon_base.anim
  gfx/models/units/Feiten_Jellyfish/Balloon_base.mesh
  gfx/models/units/Feiten_Jellyfish/Feiten_Airship_attack.anim
  gfx/models/units/Feiten_Jellyfish/Feiten_Airship_moving.anim
  gfx/models/units/Feiten_Jellyfish/Feiten_Jellyfish_moving.anim
  gfx/sprite_packs/Anbennar_sprites.txt
  gfx/sprite_packs_order/00_sprite_pack_orders.txt
  interface/assets/Balloon.gfx
  interface/assets/anbennar_monuments.gfx
  map/ambient_object.txt
  missions/Feiten_Missions.txt
Due: none

loc stuff
  localisation/effelai_bloom_l_english.yml
Due: Localization Encoding

add bypass to silverforge vanbury mission
  localisation/Flavour_Silverforge_A73_l_english.yml
  missions/Silverforge_Missions.txt
Due: Localization Encoding

delete references to province 6067
  common/natives/00_natives.txt
  common/trade_companies/00_trade_companies.txt
  common/tradenodes/00_tradenodes.txt
  history/provinces/6067 - Anbennar6067.txt
  map/area.txt
  map/climate.txt
  map/continent.txt
Due: none

finalized rending loc
  events/Flavour_VerkalOzovar_Y63.txt
  interface/countrygovernmentview.gui
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

don't touch the .mod file
  Anbennar-PublicFork.mod
Due: none

fix highlighted provinces in newshire missions
  missions/Newshire_Missions.txt
Due: none

fix avnkaup name list
  common/countries/Avnkaup.txt
Due: none

Age tooltip fix
  common/ages/00_default.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

Hunt raid modifier
  common/event_modifiers/anb_bulwari_modifiers.txt
  events/The_Hunt_events.txt
  localisation/the_hunt_l_english.yml
Due: Events Encoding, Localization Encoding

Restored Jaddari gov mechanic
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

Vacyn event picture
  events/Flavour_EduzVacyn_F31.txt
Due: Events Encoding

tt
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

Harpy event pictures
  events/HarpyEvents.txt
  events/The_Hunt_events.txt
Due: Events Encoding

taychend loc fix
  localisation/anb_taychend_l_english.yml
Due: Localization Encoding

Garlic bread is canon
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fucking broken else_ifs
  common/scripted_effects/spirits_scripted_effects.txt
Due: none

Fuck else_if, all my homies hate else_if
  common/scripted_effects/spirits_scripted_effects.txt
Due: none

Weeoo weeoo, indentation police, drop your brackets
  missions/Zansap_Missions.txt
Due: none

Dakinshi idea loc rework
  common/ideas/anb_country_ideas.txt
  localisation/anb_governments_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

allclan stuff
  common/custom_gui/allclan_buttons.txt
  common/event_modifiers/racial_admin_military.txt
  common/government_mechanics/anb_allclan_pandemonium.txt
  gfx/interface/custom_gui/allclan_button_1.dds
  gfx/interface/custom_gui/allclan_button_2.dds
  gfx/interface/custom_gui/allclan_button_3.dds
  gfx/interface/custom_gui/allclan_gov_background.dds
  gfx/interface/government_mechanics/allclan_pandemonium/pandemonium_metachaos_button.dds
  gfx/interface/government_mechanics/allclan_pandemonium/pandemonium_parlay_button.dds
  gfx/interface/government_mechanics/allclan_pandemonium/pandemonium_plundering_button.dds
  interface/countrygovernmentview.gfx
  interface/countrygovernmentview.gui
  interface/government_mechanics/allclan_pandemonium.gui
  interface/government_mechanics/anb_government_mechanics.gfx
  localisation/Flavour_Allclan_I98_l_english.yml
Due: Localization Encoding

Why were the keys named TAG_0-6 lmao
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

loc and images and fun
  events/EffelaiBloomEvents.txt
  events/EffelaiWorshipEvents.txt
  gfx/event_pictures/LEECHMEN_CENTIPEDE_eventPicture.dds
  interface/anb_eventpictures.gfx
  localisation/effelai_bloom_l_english.yml
  localisation/effelai_worship_l_english.yml
Due: Events Encoding, Localization Encoding

more loc
  localisation/anb_religions_l_english.yml
  localisation/effelai_bloom_l_english.yml
Due: Localization Encoding

Zansap bug fix for calling of the faithful mission and gold
  missions/Zansap_Missions.txt
Due: none

Umoji Baashidi idea fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

djinn
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
