Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

OT work
  events/Flavour_OvdalTungr_F23.txt
Due: Events Encoding

MORE
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/SarhalEvents.txt
  history/countries/S31 - Eusiwuni.txt
Due: Events Encoding

Damn you Gilly
  events/SarhalEvents.txt
Due: Events Encoding

gubfixing
  common/church_aspects/anb_transmutative_path.txt
  common/estate_privileges/01_church_privileges.txt
  common/religions/00_anb_religion.txt
  history/countries/L63 - Butuguzi.txt
  localisation/accretive_path_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding, Loc key collision check

OT work
  common/event_modifiers/anb_mission_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/subject_types/00_subject_types.txt
  decisions/OvdalTungrDecisions.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

khugra bug fix
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

fixing OA release decision
  decisions/OrdaAldresiaDecisions.txt
Due: Decisions Encoding

OT work
  common/flagship_modifications/anb_flagship_modifications.txt
  common/scripted_effects/anb_digging_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/OvdalTungrDecisions.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  localisation/anb_diggy_diggy_hole_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

Escanni Refugee fixes
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

OT work
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/scripted_effects/anb_digging_effects.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_OvdalTungr_F23.txt
  interface/anb_flagship_modifications.gfx
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

IC reaction to the 11th pantheonic council
  common/event_modifiers/anb_religion_modifiers.txt
  events/AgeOfUnraveling.txt
  localisation/anb_age_of_unraveling_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Yinquan tweak
  events/Flavour_Yinquan_Y26.txt
  missions/Yinquan_Missions.txt
Due: Events Encoding

OT work
  common/event_modifiers/anb_mission_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Feiten QoL Changes P1
  common/estate_privileges/estate_artifice_privileges.txt
  common/event_modifiers/anb_feiten_modifiers.txt
  events/Flavour_Feiten_Y20.txt
  localisation/Flavour_Feiten_Y20_l_english.yml
  missions/Feiten_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

pr patch
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Cannor Province Modifiers
  common/event_modifiers/anb_event_modifiers.txt
  history/provinces/135 - Tipney.txt
  history/provinces/186 - Kobilderd.txt
  history/provinces/303 - Ironhill.txt
  history/provinces/4241 - Rose_Mines.txt
  localisation/anb_modifiers_l_english.yml
Due: Localization Encoding, Loc key collision check

imagine if you spent hours and hours on something and it doesn't work
  common/cb_types/anb_cb_masked_butcher.txt
  common/church_aspects/anb_dookan_abilities.txt
  common/disasters/estate_vampires_install_thrall.txt
  common/disasters/estate_vampires_restore_masquerade_disaster.txt
  common/estate_privileges/estate_vampires_privileges.txt
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/peace_treaties/anb_claim_oblations.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_masked_butcher.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Flavour_MaskedButcher_H81.txt
  gfx/interface/church_aspects/summon_blood_moon.dds
  interface/anb_church_aspects.gfx
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

uh
  common/ideas/anb_country_ideas.txt
Due: none

removed cut content
  common/on_actions/00_on_actions.txt
Due: none

bugfix
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

OT work
  common/event_modifiers/anb_mission_modifiers.txt
  common/subject_types/00_subject_types.txt
  decisions/OvdalTungrDecisions.txt
  events/Flavour_OvdalTungr_F23.txt
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  missions/Ovdal_Tungr_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

PR patch
  events/Flavour_TheCommand_R62.txt
  missions/TheCommand_Missions.txt
Due: Events Encoding

PR change
  common/event_modifiers/anb_rahen_modifiers.txt
Due: none

PR patch
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

[New Master] Small gubfixes
  common/religions/00_anb_religion.txt
  common/scripted_effects/merfolk_scripted_effects.txt
  events/MerfolkEvents.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

ought to work
  common/scripted_effects/merfolk_scripted_effects.txt
Due: none

Corintar Flavor Events
  common/event_modifiers/anb_event_modifiers.txt
  events/Flavour_Corintar_B02.txt
  localisation/Flavour_Corintar_B02_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Cannor Monuments polish
  common/great_projects/anb_monuments_cannor.txt
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

Silentblade QoL
  events/Flavour_Sapchopper_I41.txt
  events/Flavour_Silentblade.txt
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_misc_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

oop
  common/religions/00_anb_religion.txt
  common/scripted_effects/merfolk_scripted_effects.txt
Due: none

Mostly annotations, some AND/OR swapping
  common/scripted_effects/anb_scripted_effects_masked_butcher.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  events/Flavour_MaskedButcher_H81.txt
Due: Events Encoding

merge conflict
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
Due: none

.
  common/on_actions/00_on_actions.txt
Due: none

PR patch
  common/parliament_issues/00_mil_parliament_issues.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

okman updates one
  common/church_aspects/anb_dookan_abilities.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/peace_treaties/anb_claim_oblations.txt
  common/scripted_effects/anb_scripted_effects_masked_butcher.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  events/Flavour_MaskedButcher_H81.txt
Due: Events Encoding

kheionai event bugfix
  events/kheionai_flavour_events.txt
Due: Events Encoding

more updates
  common/estate_privileges/estate_vampires_privileges.txt
  common/scripted_effects/anb_scripted_effects_masked_butcher.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  events/Flavour_MaskedButcher_H81.txt
Due: Events Encoding
