Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Loc key collision check:
  script:
  - echo "Checking loc key collisions..."
  - python3 hash_collision_detect.py

AI fixes
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

Insyaa Starting Ruler Setup bloc #1 + government name edits
  common/government_names/00_0anbennar_unique_names.txt
  history/countries/N01 - Maulu.txt
  history/countries/N07 - Ke'otlepoz.txt
  history/countries/N17 - Pa Cemihcalhuili.txt
  history/countries/N19 - Haupoaka.txt
  history/countries/N22 - Xihatlele.txt
  history/countries/N32 - Huahou.txt
  history/countries/N33 - Ki'tetl.txt
  history/countries/N35 - Kusaimauna.txt
  history/countries/N36 - Haifumana.txt
  history/countries/N41 - Koahou.txt
  history/countries/N42 - Pohaimeli.txt
  history/countries/N43 - Pukamana.txt
  history/countries/N44 - Waimauna.txt
  history/countries/N47 - Na Kia'i.txt
  history/countries/N49 - Kaponaihoku.txt
  history/countries/N54 - No'hakai.txt
  history/countries/N55 - Kapamoku.txt
  history/countries/N56 - Poni Kuahoii.txt
  history/countries/N57 - Wapohai.txt
  history/countries/N61 - Wao Nākahea.txt
  history/countries/N65 - Kotli Komhitzi.txt
  history/countries/N67 - Paus-Biru.txt
  history/countries/N71 - Houpuni Kaupuni.txt
  history/countries/N80 - Rokadie.txt
  history/countries/N82 - Dimang.txt
  history/countries/N83 - Imbabo.txt
  history/countries/N85 - Tekariga.txt
  history/countries/N86 - Likat Nu Tsilal.txt
  history/countries/N90 - Kabakige.txt
  history/countries/N91 - Sirimadsik.txt
  history/countries/N92 - Kan-En-Zaya.txt
  history/countries/N93 - Marunuma.txt
  history/countries/N97 - Kakunor.txt
  history/countries/N98 - Igotudi Munialbutu.txt
  history/countries/N99 - Torami.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding, Loc key collision check

I got the tag wrong...
  common/government_names/00_0anbennar_unique_names.txt
Due: none

Encoding fix
  history/countries/N07 - Ke'otlepoz.txt
  history/countries/N22 - Xihatlele.txt
  history/countries/N36 - Haifumana.txt
  history/countries/N57 - Wapohai.txt
Due: none

Consort and starting personality
  history/countries/A33 - Verne.txt
Due: none

Masked Butcher Initial MT section
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_digging_effects.txt
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
  events/Flavour_MaskedButcher_H81.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Putting back the Anbennar-Publicfork
  Anbennar-PublicFork.mod
Due: none

patch
  map/terrain.txt
  missions/Bhuvauri_Missions.txt
Due: none

Initial section mostly done, plus Moonlight loc!
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/on_actions/00_on_actions.txt
  events/DiggyDiggyBlorc.txt
  events/Flavour_MaskedButcher_H81.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

PR #7833 [Steam] dromak fix
  missions/VerkalDromak_Missions.txt
Due: none

fixing a couple kobold bugs
  events/Flavour_kobold_dragon_cult.txt
  events/Kobold_Traps.txt
Due: Events Encoding

Added green highlighting to Cardesti events
  events/anb_cardesti_events.txt
Due: Events Encoding

event pictures and such
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  localisation/anb_misc_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

bugfixes
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/seasonal_court_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_seasonal.txt
  events/EordellonReligion.txt
  localisation/seasonal_courts_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

more fixes and color coding
  common/church_aspects/anb_seasonal_aspect.txt
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding, Loc key collision check

loc fixes
  events/EordellonReligion.txt
  localisation/seasonal_courts_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

tooltips for festival
  common/religions/00_anb_religion.txt
  customizable_localization/anb_seasonal_court_loc.txt
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding, Loc key collision check

loc cleaning
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding, Loc key collision check

Double mages bug OA and Magisterium
  common/estate_privileges/anb_privileges.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

quick MT block bug fixes
  missions/Orda_Aldresia_Missions.txt
Due: none

theocracy + republic genders
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Theocracies.txt
Due: Events Encoding

[STEAM} Artificery fix
  common/custom_gui/countrydecisionsview.txt
Due: none

magocracy gender
  events/Magocracies.txt
Due: Events Encoding

gender fixing
  common/scripted_effects/anb_define_heir_random_gender.txt
  events/Magocracies.txt
  events/Theocracies.txt
  events/adventurers.txt
Due: Events Encoding

miremaw fixes
  localisation/Flavour_MireMaw_J32_l_english.yml
  missions/MireMaw_Missions.txt
Due: Localization Encoding, Loc key collision check

cleaner version
  common/scripted_effects/anb_define_heir_random_gender.txt
Due: none

hmmm fixes
  common/estate_privileges/anb_privileges.txt
  common/estates/97_mages.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

kalsyto fix
  common/scripted_effects/kalsyto_scripted_effects.txt
Due: none

type = all
  missions/Sanghariyar_Missions.txt
Due: none

Gemradcourt reform buff
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

removed useless tooltip for KDC
  events/Flavour_kobold_dragon_cult.txt
Due: Events Encoding

kobolds and eordan
  common/cultures/anb_cultures.txt
  common/event_modifiers/racial_admin_military.txt
Due: none

hoard loc
  common/scripted_effects/anb_scripted_effects_kobold_traps.txt
  customizable_localization/anb_custom_loca.txt
  localisation/Flavour_Kobold_Dragon_Cult_l_english.yml
Due: Localization Encoding, Loc key collision check

cleaner
  common/scripted_effects/anb_define_heir_random_gender.txt
  events/Magocracies.txt
  events/Theocracies.txt
Due: Events Encoding

new triggers
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Localization Encoding, Loc key collision check

fucked up the unlock
  customizable_localization/anb_seasonal_court_loc.txt
  events/EordellonReligion.txt
Due: Events Encoding

technocracies cannot become dictatorships (was messing w some stuff)
  common/government_reforms/02_government_reforms_republics.txt
Due: none

Many many bug fixes per tester feedback
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

advisor not trigger change for mission
  missions/Orda_Aldresia_Missions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
  Loc key collision check: any of: localisation/*.yml
