Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

10
  common/countries/Naleni.txt
Due: none

hobgoblin fix
  common/ruler_personalities/00_core.txt
Due: none

funny stuff
  common/estate_crown_land/00_interactions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  events/ArtificeResearch.txt
Due: Events Encoding

t
  common/on_actions/00_on_actions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  events/ArtificeInventions.txt
  events/ArtificeResearch.txt
Due: Events Encoding

11
  common/ideas/anb_country_ideas.txt
  history/countries/S64 - Lipmekat.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

12
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

6
  events/ArtificeResearch.txt
Due: Events Encoding

mengi dynamic names
  common/province_names/mengi.txt
Due: none

I LOVE GUI
  common/custom_gui/countrydecisionsview.txt
  common/estate_crown_land/00_interactions.txt
  common/province_triggered_modifiers/anb_artifice_research.txt
  common/scripted_effects/artifice_scripted_effects.txt
  events/ArtificeResearch.txt
  gfx/interface/custom_gui/artificery_close_inventions_menu.dds
  gfx/interface/custom_gui/artificery_information.dds
  gfx/interface/custom_gui/artificery_innovation_active.dds
  gfx/interface/custom_gui/artificery_invention.dds
  gfx/interface/custom_gui/artificery_select_cultural.dds
  gfx/interface/custom_gui/artificery_select_tier_1_generic.dds
  gfx/interface/custom_gui/artificery_select_tier_3.dds
  gfx/interface/custom_gui/artificery_select_unique.dds
  gfx/interface/custom_gui/inventions_view.dds
  interface/countrydecisionsview.gfx
  interface/countrydecisionsview.gui
Due: Events Encoding

test
  common/province_triggered_modifiers/anb_artifice_research.txt
  events/ArtificeResearch.txt
  localisation/artifice_l_english.yml
Due: Events Encoding, Localization Encoding

Y75 Kuplakamba ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

shorten comment
  common/ideas/anb_country_ideas.txt
Due: none

Scripted_effect completed t1-t3
  common/scripted_effects/artifice_scripted_effects.txt
Due: none

Devand Trees
  map/trees.bmp
Due: none

Flags
  common/countries/Annail.txt
  gfx/flags/F85.tga
  gfx/flags/F88.tga
  gfx/flags/F89.tga
  history/countries/F26 - Gelkalis.txt
Due: none

Krahahga loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Harpy and Lawassari rename
  history/provinces/2903 - Nuzidastu.txt
  history/provinces/2904 - Siadunaiun.txt
  history/provinces/2906 - Siphefireri.txt
  history/provinces/2908 - Larfira.txt
  history/provinces/2916 - Harnio.txt
  history/provinces/2917 - Ianvireri.txt
  history/provinces/2918 - Tarnuthen.txt
  history/provinces/2919 - Kotidurnor.txt
  history/provinces/2920 - Garanias.txt
  history/provinces/2921 - Mermigan.txt
  history/provinces/2922 - Chorfo.txt
  history/provinces/4117 - Khaajesfo.txt
  history/provinces/4376 - Istartovo.txt
  history/provinces/5439 - Calfiror.txt
  history/provinces/544 - Yesdbar.txt
  history/provinces/5523 - Ofireri.txt
  history/provinces/619 - Vainviria.txt
  history/provinces/653 - Kihanyanbar.txt
  history/provinces/655 - Lawassar.txt
  history/provinces/656 - Peruskam.txt
  history/provinces/659 - Haqharias.txt
  history/provinces/660 - Heunthume.txt
  history/provinces/661 - Hytiranyalen.txt
  history/provinces/662 - Setufiraor.txt
  history/provinces/6656 - Masphire.txt
  history/provinces/6659 - Jezarpizu.txt
  history/provinces/666 - Ayarallen.txt
  history/provinces/667 - Arnilqan.txt
  history/provinces/672 - Mionfo.txt
  history/provinces/673 - Misarallen.txt
  history/provinces/674 - Mynaurame.txt
  history/provinces/675 - Qarvetarkan.txt
  history/provinces/677 - Ijenmyfor.txt
  history/provinces/678 - Kotierontol.txt
Due: none

vettakaramai and darkalyndar NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Missed one
  common/countries/Dugiti.txt
Due: none

T2-3 Event options done
  common/scripted_effects/artifice_scripted_effects.txt
  events/ArtificeResearch.txt
Due: Events Encoding

.
  localisation/Flavour_Anisikheion_G59_l_english.yml
Due: Localization Encoding

error log parsing gubfixes
  missions/MireMaw_Missions.txt
  missions/VelsFadhecai_Missions.txt
Due: none

encopeding
  events/YnnEvents.txt
Due: Events Encoding

New Kheteratan Namelist and purging Ardimya and Imidkis tags
  common/countries/Aakheta.txt
  common/countries/Anarat.txt
  common/countries/Ardimya.txt
  common/countries/Chibuswa.txt
  common/countries/Elikhand.txt
  common/countries/Imidkis.txt
  common/countries/Irsmahap.txt
  common/countries/Kartakhet.txt
  common/countries/Kheterata.txt
  common/countries/Koroshesh.txt
  common/countries/Mattabo.txt
  common/countries/New Wanderers.txt
  common/countries/Nirat.txt
  common/countries/Shasoura.txt
  common/country_tags/anb_countries.txt
  common/cultures/anb_cultures.txt
  customizable_localization/anb_custom_loca.txt
  history/countries/F59 - Imidkis.txt
  history/countries/L60 - Ardmiya.txt
  interface/anb_flags.gfx
  localisation/anb_countries_l_english.yml
  localisation/anb_misc_l_english.yml
Due: Localization Encoding

Mire Maw bugfixes + old stuff removal
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/event_modifiers/anb_ogre_modifiers.txt
  events/Flavour_MireMaw_J32.txt
  events/Flavour_Skurkokli_J47.txt
  localisation/Flavour_MireMaw_J32_l_english.yml
  localisation/Flavour_Ogre_l_english.yml
  missions/MireMaw_Missions.txt
Due: Events Encoding, Localization Encoding

few more bugs fixed and changes
  missions/MireMaw_Missions.txt
Due: none

quick fix
  common/custom_gui/countrydecisionsview.txt
  events/ArtificeResearch.txt
  interface/countrydecisionsview.gui
Due: Events Encoding

Content Review #1
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: none

hold repair with proper effect
  events/Flavour_MireMaw_J32.txt
Due: Events Encoding

let's hope nothing broke.
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/estate_artifice_mission_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estates/99_artificers.txt
  common/event_modifiers/anb_estate_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_on_actions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  decisions/BrelarDecisions.txt
  events/Flavour_Brelar_G27.txt
  events/Flavour_Cestirmark_H33.txt
  events/Flavour_Plumstead_H61.txt
  events/MonopolyPrivileges.txt
  interface/countrydecisionsview.gui
  localisation/anb_estates_l_english.yml
  missions/Allclan_Missions.txt
  missions/Cestirmark_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

more fixes
  common/estate_privileges/estate_artifice_privileges.txt
  missions/VerkalDromak_Missions.txt
Due: none

zomp2.0
  common/custom_gui/countrydecisionsview.txt
  common/scripted_effects/artifice_scripted_effects.txt
  events/ArtificeResearch.txt
  interface/countrydecisionsview.gfx
  interface/countrydecisionsview.gui
Due: Events Encoding

[Steam / BB] One Xia cb against Bhuvauri fix
  common/cb_types/anb_cb_xiaken.txt
Due: none

rending suppression and scouring highlights
  decisions/HalessiSpirits.txt
  events/HalessiSpirits.txt
Due: Decisions Encoding, Events Encoding

merge highlights
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

adds rending CB
  common/cb_types/anb_cb_rending.txt
  common/wargoal_types/00_wargoal_types.txt
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

MA temple destruction on siege
  common/on_actions/00_on_actions.txt
  common/scripted_effects/spirits_scripted_effects.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

scouring menu highlighting
  common/scripted_effects/spirits_scripted_effects.txt
  decisions/HalessiSpirits.txt
  events/HalessiSpirits.txt
Due: Decisions Encoding, Events Encoding

Leader and Ship names for Kheteratan countries
  common/countries/Aakheta.txt
  common/countries/Anarat.txt
  common/countries/Chibuswa.txt
  common/countries/Elikhand.txt
  common/countries/Irsmahap.txt
  common/countries/Kartakhet.txt
  common/countries/Kheterata.txt
  common/countries/Koroshesh.txt
  common/countries/Mattabo.txt
  common/countries/New Wanderers.txt
  common/countries/Nirat.txt
  common/countries/Shasoura.txt
Due: none
