Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Obrtrol fixes
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Obrtrol_Z17.txt
  localisation/Flavour_Obrtrol_Z17_l_english.yml
  missions/Obrtrol_Missions.txt
Due: Events Encoding, Localization Encoding

forgor
  missions/Obrtrol_Missions.txt
Due: none

corrections
  decisions/RendingDecisions.txt
  events/Rending.txt
Due: Decisions Encoding, Events Encoding

correction 2
  customizable_localization/and_rending_appeasement.txt
Due: none

Fangaula Pantheon Mechanics
  common/church_aspects/anb_fangaula_pantheon.txt
  common/religions/00_anb_religion.txt
Due: none

Fangaulan Loc + Heretic loc fix
  localisation/anb_religions_l_english.yml
  localisation/fangaula_pantheon_l_english.yml
Due: Localization Encoding

Ruinborn Adm and Mil rework
  common/event_modifiers/racial_admin_military.txt
Due: none

bug
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Zansap_Missions.txt
Due: none

testing
  missions/Zansap_Missions.txt
Due: none

bug
  missions/Zansap_Missions.txt
Due: none

bug won
  missions/Zansap_Missions.txt
Due: none

confounding fixes
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
Due: none

Huszien
  common/rebel_types/four_lords_byakko.txt
  common/rebel_types/four_lords_genbu.txt
  common/rebel_types/four_lords_seiryu.txt
  common/rebel_types/four_lords_suzaku.txt
  customizable_localization/and_rending_appeasement.txt
  events/Rending.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

akasik formable no missions
  decisions/AkanFormable.txt
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

GB fix
  missions/Gor_Burad_missions.txt
Due: none

row 3
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  decisions/BosancovacDecisions.txt
  decisions/YnnDecisions.txt
  events/Flavour_Bosancovac_G33.txt
  localisation/Flavour_Bosancovac_G33_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Remake of Eneion triggers and effects for Otto - The Electric Boogaloo
  events/Flavour_Eneion_G55.txt
  localisation/Flavour_Eneion_G55_l_english.yml
  missions/Eneion_Missions.txt
Due: Events Encoding, Localization Encoding

Oh right the decision too
  decisions/CallInDegakheionDecision.txt
Due: Decisions Encoding

Holy Order event fix for Aelantir spawnables
  events/AdventurerSpawnables.txt
  events/AelantirSpawnables.txt
  events/anb_MiscEvents.txt
Due: Events Encoding

Two spaces
  localisation/Flavour_Tluukt_F28_l_english.yml
Due: Localization Encoding

Rogieria fix to allow subject to own provinces
  missions/Rogieria_Missions.txt
Due: none

Fix for vampire nations that are in a PU, so they won't break it
  events/estate_vampires.txt
Due: Events Encoding

Revert "Holy Order event fix for Aelantir spawnables"
  events/AdventurerSpawnables.txt
  events/AelantirSpawnables.txt
  events/anb_MiscEvents.txt
Due: Events Encoding

Simplified
  events/anb_MiscEvents.txt
Due: Events Encoding

dhenijanraj mission fix
  localisation/Flavour_Dhenijanraj_R51_l_english.yml
  missions/Dhenijanraj_Missions.txt
Due: Localization Encoding

part 2
  missions/Dhenijanraj_Missions.txt
Due: none

e
  localisation/Flavour_Dhenijanraj_R51_l_english.yml
Due: Localization Encoding

Be gone!
  common/estate_privileges/anb_privileges.txt
Due: none

stupid ogres
  events/Flavour_Skurkokli_J47.txt
Due: Events Encoding

azka sur peace treaty fixes
  common/peace_treaties/anb_azka_sur_remove_harimari.txt
  events/Flavour_Azka_Sur_U20.txt
  localisation/Flavour_AzkaSur_U20_l_english.yml
Due: Events Encoding, Localization Encoding

Minor spelling fix in loca of "Hold Specialization" event.
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Localization Encoding

weirdness
  localisation/anb_aakhetist_l_english.yml
Due: Localization Encoding

nerf duration
  common/on_actions/00_on_actions.txt
Due: none

koroshesh stuff
  events/KhetMandateEvents.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Events Encoding, Localization Encoding

make these zaradyrra
  history/provinces/5957 - Teranak.txt
  history/provinces/5959 - Shastazas.txt
Due: none

natives
  common/natives/00_natives.txt
Due: none

Simegasa Reworked NI LOC
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

culture and religion
  events/KhetMandateEvents.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
