Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Buttons complet
  events/anb_settings.txt
  gfx/interface/settings/settings_button_all.dds
  gfx/interface/settings/settings_button_all_x.dds
  gfx/interface/settings/settings_button_east_sarhal.dds
  gfx/interface/settings/settings_button_east_sarhal_x.dds
  gfx/interface/settings/settings_button_gozenguun.dds
  gfx/interface/settings/settings_button_gozenguun_x.dds
Due: Events Encoding

missing loca
  localisation/Flavour_Spiderwretch_H90_l_english.yml
Due: Localization Encoding

loca 1 letter
  localisation/Flavour_Spiderwretch_H90_l_english.yml
Due: Localization Encoding

Kalsyto work
  common/cb_types/00_cb_types.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/new_diplomatic_actions/anb_kalsyto_sphere.txt
  common/scripted_effects/kalsyto_scripted_effects.txt
  common/subject_types/00_subject_types.txt
  decisions/LakeFederationDecisions.txt
  events/Flavour_Kalsyto_J33.txt
  localisation/Flavour_Kalsyto_J33_l_english.yml
  missions/Kalsyto_Missions.txt
  missions/LakeFederation_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

amadia damestear -1
  events/AmadiaEvents.txt
Due: Events Encoding

north haless climate tweak
  map/climate.txt
  map/terrain.txt
Due: none

climate
  history/provinces/2431 - Limboos.txt
  history/provinces/6824 - Thundering Plain.txt
  map/climate.txt
  map/terrain.txt
Due: none

LF minors now duchy
  common/event_modifiers/anb_lake_modifiers.txt
  history/countries/J01 - Kovtalzar.txt
  history/countries/J02 - Zurkanrek.txt
  history/countries/J03 - Yarumudh.txt
  history/countries/J04 - Khirntozgon.txt
  history/countries/J05 - Haraigizenhi Bulrek.txt
  history/countries/J06 - Khugatseig.txt
  history/countries/J07 - Tzidoilhol.txt
  history/countries/J08 - Kozuurigur.txt
  history/countries/J09 - Lankuuhsta.txt
  history/countries/J10 - Vahjevgiiv.txt
  history/countries/J11 - Bazur Qarshtuluu.txt
  history/countries/J12 - Zurka Qarshtuluu.txt
  history/countries/J13 - Negechimudh.txt
  history/countries/J14 - Orilgbulrek.txt
  history/countries/J15 - Yizuqkeyil.txt
  history/countries/J16 - Tolgusrek.txt
  history/countries/J17 - Mizaqtoch.txt
  history/countries/J18 - Narkel.txt
  history/countries/J19 - Jungyukaroy.txt
  history/countries/J20 - Bozkuqayla.txt
  history/countries/J21 - Marekiiv.txt
  history/countries/J22 - Tayerigliq.txt
  history/countries/J23 - Yikashlay.txt
  history/countries/J24 - Zabyos'tlar.txt
  history/countries/J25 - Buruvaqoyla.txt
  history/countries/J26 - Raattakod.txt
  history/countries/J27 - Sinesadma.txt
  history/countries/J28 - Valralahdi.txt
  history/countries/J29 - Vantnhasadma.txt
  history/countries/J30 - Lankina.txt
  history/countries/J31 - Akuutengen.txt
  history/countries/J33 - Kalsyto.txt
  history/countries/J34 - Qarshtuluu.txt
Due: none

aelantir pic fix
  gfx/interface/settings/settings_north_aelantir.dds
  gfx/interface/settings/settings_south_aelantir.dds
Due: none

Last commit
  gfx/interface/settings/settings_button_all.dds
  gfx/interface/settings/settings_south_aelantir.dds
  localisation/anb_settings_l_english.yml
Due: Localization Encoding

Bruh
  gfx/interface/settings/settings_button_all.dds
  gfx/interface/settings/settings_south_aelantir.dds
Due: none

Fixed being able to force monsterous nations to join the empire through CB
  common/cb_types/00_cb_types.txt
Due: none

Changed Cardesti modifiers to mention that they are removed when they migrate away
  events/anb_cardesti_events.txt
  localisation/anb_cardesti_l_english.yml
Due: Events Encoding, Localization Encoding

Fixed Trades station being removed when Damestear runs out, even if the old Trade goods uses it
  events/DamestearEvent.txt
Due: Events Encoding

repeat forest fix
  map/terrain.txt
Due: none

age ability tweak
  localisation/anb_ages_l_english.yml
Due: Localization Encoding

pastnada files
  common/disasters/rahen_religious_turmoil.txt
  common/event_modifiers/anb_pasiragha_modifiers.txt
  common/government_mechanics/anb_pasiragha_philosophical_lean.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  decisions/PasiraghaDecisions.txt
  events/Flavour_Pasiragha_R61.txt
  events/HighPhilosophy.txt
  localisation/high_philosophy_l_english.yml
  map/provincegroup.txt
  missions/Pasiragha_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

kalsyto fix
  common/parliament_issues/anb_kalsyto.txt
Due: none

hm
  gfx/interface/settings/settings_button_all_x.dds
  gfx/interface/settings/settings_south_aelantir.dds
Due: none

NI fixes
  common/ideas/anb_country_ideas.txt
Due: none

Revert "hm"
  gfx/interface/settings/settings_button_all_x.dds
  gfx/interface/settings/settings_south_aelantir.dds
Due: none

only SA map
  gfx/interface/settings/settings_south_aelantir.dds
Due: none

Localisation for Isagumze
  decisions/WestSarhalFormables.txt
  localisation/Flavour_Isagumze_L03_l_english.yml
Due: Decisions Encoding, Localization Encoding

arrival event
  events/Flavour_Spiderwretch_H90.txt
Due: Events Encoding

smooth journey event
  events/Flavour_Spiderwretch_H90.txt
Due: Events Encoding

PR time
  gfx/interface/settings/settings_button_all_x.dds
  localisation/anb_settings_l_english.yml
Due: Localization Encoding

Sapchopper MT content
  common/event_modifiers/anb_deepwoods_modifiers.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  common/on_actions/00_on_actions.txt
  decisions/DeepwoodDecisions.txt
  events/DeepwoodsEvents.txt
  events/Flavour_Sapchopper_I41.txt
  localisation/anb_deepwoods_l_english.yml
  missions/Sapchopper_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

explo ideas ai changes
  common/ideas/00_basic_ideas.txt
Due: none

forgor a number change
  common/ideas/00_basic_ideas.txt
Due: none

n
  localisation/Flavour_Brelar_G27_l_english.yml
Due: Localization Encoding

Drakonshani Dominion GUI
  common/custom_gui/zz_mission_content.txt
  common/government_mechanics/anb_drakonshani_dominion.txt
  gfx/interface/government_mechanics/drakonshan/drakonshan_bar.dds
  gfx/interface/government_mechanics/drakonshan/drakonshan_bar_empty.dds
  gfx/interface/government_mechanics/drakonshan/drakonshan_bar_frame.dds
  gfx/interface/government_mechanics/drakonshan/drakonshan_bg.dds
  gfx/interface/government_mechanics/drakonshan/drakonshan_draft_workers.dds
  gfx/interface/government_mechanics/drakonshan/drakonshan_hold_tournament.dds
  gfx/interface/government_mechanics/drakonshan/drakonshan_seize_resources.dds
  interface/countrygovernmentview.gui
  interface/government_mechanics/anb_government_mechanics.gfx
  interface/government_mechanics/drakonshan.gui
Due: none

hinediu yulas changes gov type if tribal or native
  decisions/HinediuYulasNation.txt
Due: Decisions Encoding

Year 0 fix
  localisation/Flavour_NuugdanTsarai_Y91_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/loadingtips_l_english.yml
Due: Localization Encoding

sunijalla oopsie
  missions/Sunijalla_Missions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
