Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

addons
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  missions/Spiderwretch_Missions.txt
Due: none

libertydesire proper
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
Due: none

nortiochadn teething
  common/countries/Nortiochand.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/AelantirSpawnables.txt
Due: Events Encoding

SilkAndVenom Highlight
  missions/Spiderwretch_Missions.txt
Due: none

again
  events/AelantirSpawnables.txt
Due: Events Encoding

again
  events/AelantirSpawnables.txt
  events/AgeOfUnraveling.txt
Due: Events Encoding

......fuk
  common/cultures/anb_cultures.txt
  events/ColonialCulture.txt
  localisation/anb_countries_l_english.yml
Due: Events Encoding, Localization Encoding

Added missing spaces to Province Trade Power tooltip
  localisation/text_l_english.yml
Due: Localization Encoding

hopefully its over now
  events/AgeOfUnraveling.txt
Due: Events Encoding

pain
  events/AelantirSpawnables.txt
Due: Events Encoding

Fixed Rayavhatimana having the wrong government in the country file
  history/countries/R25 - Rayavhatimana.txt
Due: none

agony
  common/ideas/anb_country_ideas.txt
Due: none

done
  events/AelantirSpawnables.txt
Due: Events Encoding

.done
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

Added Klereyen and Astolbhen cultures to the ruinborn racial scripted triggers
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

finally
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

performance optimizations
  common/cb_types/00_cb_types.txt
  common/cb_types/anb_cb_command.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_agendas/anb_command_agendas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  common/scripted_triggers/anb_scripted_triggers_rahen.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

performance
  decisions/TheCommandDecisions.txt
Due: Decisions Encoding

kalsyto mt coded
  common/disasters/revolution.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/event_modifiers/anb_lake_modifiers.txt
  common/government_mechanics/anb_kalsyto_influence.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/new_diplomatic_actions/anb_kalsyto_sphere.txt
  common/on_actions/00_on_actions.txt
  common/rebel_types/revolutionary.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/kalsyto_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_kalsyto.txt
  common/static_modifiers/00_static_modifiers.txt
  common/subject_types/00_subject_types.txt
  common/trading_policies/00_trading_policies.txt
  events/Flavour_Kalsyto_J33.txt
  localisation/Flavour_Kalsyto_J33_l_english.yml
  missions/Kalsyto_Missions.txt
Due: Events Encoding, Localization Encoding

Lakefed dip rep
  missions/Spiderwretch_Missions.txt
Due: none

Nekhei Subjects
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_kheionai_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_names/00_anbennar_government_names.txt
  common/ideas/00_basic_ideas.txt
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/keyolion_scripted_effects.txt
  common/scripted_effects/kheionai_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_kheionai.txt
  common/subject_types/00_subject_types.txt
  decisions/NekheiDecisions.txt
  events/kheionai_events.txt
  history/diplomacy/andic_alliances.txt
  localisation/anb_government_names_l_english.yml
  localisation/anb_kheionai_l_english.yml
  localisation/anb_modifiers_l_english.yml
  localisation/anb_subject_type_l_english.yml
  missions/Degakheion_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

CaravanReturnsedit
  events/Flavour_Spiderwretch_H90.txt
Due: Events Encoding

small typos
  localisation/Flavour_Spiderwretch_H90_l_english.yml
Due: Localization Encoding

g
  missions/Undergrowth_Missions.txt
Due: none

yes
  events/Flavour_Oinukhudi_V01.txt
Due: Events Encoding

MT Changes for Nekheis
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_kheionai_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/subject_types/00_subject_types.txt
  decisions/CallInDegakheionDecision.txt
  decisions/NekheiDecisions.txt
  events/Flavour_Eneion_G55.txt
  localisation/Flavour_Eneion_G55_l_english.yml
  missions/Arpedifer_Missions.txt
  missions/Degakheion_Missions.txt
  missions/Kherka_Missions.txt
  missions/Oktikheion_Missions.txt
  missions/Ormam_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Escann WoC Bypass
  decisions/EscanniWars.txt
  events/EscanniWars.txt
  localisation/anb_age_of_witch_kings_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

line ending fix
  common/countries/Arawkelin.txt
  common/countries/Neratica.txt
  common/countries/New Havoral.txt
  common/countries/Newshire.txt
  common/countries/Southroy.txt
  events/AelantirSpawnables.txt
  events/Flavour_Wex_A30.txt
  history/countries/R37 - Kethur.txt
Due: Events Encoding

Horse for a King Fix
  events/Flavour_Adenica_B58.txt
Due: Events Encoding

gerwick fixes
  common/country_tags/anb_countries.txt
  events/Flavour_Gerwick_B83.txt
Due: Events Encoding

kabiurgarko fix
  common/estate_privileges/estate_shirgrii_privileges.txt
Due: none

nortiochand fix
  events/AgeOfUnraveling.txt
Due: Events Encoding

line ending fixes
  common/countries/Brenulan.txt
  history/provinces/4173 - Old_Dwaroval.txt
  history/provinces/4174 - Khugsland.txt
  history/provinces/4175 - Foothills.txt
  history/provinces/6220 - Oxenby.txt
  history/provinces/6284 - PROV6284.txt
  history/provinces/715 - Eskerborg.txt
  history/provinces/717 - Cedevik.txt
  history/provinces/987 - Giantsmarch.txt
  history/provinces/988 - Myrk.txt
  history/provinces/989 - Giants_Tears.txt
  history/provinces/991 - Jawud.txt
  history/provinces/992 - Outer_Dwaroval.txt
  missions/Corvuria_Missions.txt
  missions/Grombar_Missions.txt
Due: none
