Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax, Loc key collision check

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i
      - step:
          name: 'Loc key collision check'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking loc key collisions..."
            - python3 hash_collision_detect.py

typo in loc
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding, Loc key collision check

Nomsyulhan Gateway
  gfx/entities/anb_monuments.asset
  gfx/models/anbennar/monuments/ambient_objects_animation_anbennar.asset
  gfx/models/anbennar/monuments/valley_portal.mesh
  gfx/models/anbennar/monuments/valley_portal2_diffuse.dds
  gfx/models/anbennar/monuments/valley_portal2_normal.dds
  gfx/models/anbennar/monuments/valley_portal2_spec.dds
  gfx/models/anbennar/monuments/valley_portal_diffuse.dds
  gfx/models/anbennar/monuments/valley_portal_idle.anim
  gfx/models/anbennar/monuments/valley_portal_normal.dds
  gfx/models/anbennar/monuments/valley_portal_spec.dds
  interface/assets/anbennar_monuments.gfx
  map/ambient_object.txt
Due: none

Fix to kraken
  common/scripted_effects/anb_scripted_effects.txt
  events/EordellonReligion.txt
  localisation/seasonal_courts_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

another fix
  events/Flavour_OrdaAldresia_A77.txt
Due: Events Encoding

Larankar and Zaernmaera Fixes
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/Flavour_Larankar_G64.txt
  history/countries/G52 - Ameion.txt
  history/countries/G64 - Larankar.txt
  history/countries/J73 - Zaernmaera.txt
  localisation/Flavour_Larankar_G64_l_english.yml
  localisation/Flavour_Zaernmaera_J73_l_english.yml
  missions/Larankar_Missions.txt
  missions/Zaernmaera_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

Silentblade MT bugfixes + A few other things
  common/event_modifiers/anb_deepwoods_modifiers.txt
  common/great_projects/anb_monuments_cannor.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  events/Flavour_Sapchopper_I41.txt
  events/Flavour_Silentblade.txt
  events/Group_Flavour_Orcs.txt
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_great_projects_l_english.yml
  missions/Silentblade_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

patch
  events/Flavour_Sanghariyar.txt
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

trade state buff
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

patch
  common/estate_privileges/estate_gerunanin_privileges.txt
  common/government_mechanics/anb_command_korashi.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding, Loc key collision check

different trade state buff
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

add core cause it doesn't work without
  history/provinces/102 - Lencesk.txt
  history/provinces/104 - Hollowview.txt
  history/provinces/58 - Daromsfort.txt
Due: none

Fix
  common/ideas/anb_country_ideas.txt
Due: none

fix 2
  common/ideas/anb_country_ideas.txt
Due: none

fix 3
  common/ideas/anb_country_ideas.txt
Due: none

Cannor monument descriptions
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Castellyr_B31_l_english.yml
  localisation/anb_great_projects_l_english.yml
  missions/Castellyr_Missions.txt
Due: Localization Encoding, Loc key collision check

Stupid hanging bracket
  common/great_projects/anb_monuments_cannor.txt
Due: none

simplified code
  events/Flavour_Sapchopper_I41.txt
Due: Events Encoding

Flag
  gfx/flags/B73.tga
Due: none

fix 4
  common/ideas/anb_country_ideas.txt
Due: none

More Genie cult icons; gunblade icon for Orda Aldresia
  common/estate_privileges/estate_artifice_privileges.txt
  common/fetishist_cults/00_fetishist_cults.txt
  gfx/interface/fetishists_strip.dds
  gfx/interface/privileges/privilege_orda_aldresia_gunblade.dds
  interface/countryestatesview.gfx
  interface/countryreligionview.gfx
Due: none

Bugfix + locfix
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check

Counts League revamp
  common/estate_privileges/estate_patricians_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  decisions/1EscannFormables.txt
  events/Flavour_CountsLeague_B55.txt
  localisation/Flavour_CountsLeague_B55_l_english.yml
  localisation/anb_regent_court_events_l_english.yml
  missions/CountsLeague_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Loc key collision check

reworked version
  common/scripted_effects/anb_define_heir_random_gender.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Flavour_Balrijin_Y85.txt
  events/Magocracies.txt
  events/Theocracies.txt
Due: Events Encoding

mini comment fix
  events/Theocracies.txt
Due: Events Encoding

changeling fix
  events/EordellonReligion.txt
Due: Events Encoding

more woke
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Flavour_Irkorzik_F69.txt
Due: Events Encoding

patch
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Sanghariyar_R98_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding, Loc key collision check

mini fixes
  common/event_modifiers/anb_gender_policy_modifier.txt
  events/Magocracies.txt
  events/Theocracies.txt
Due: Events Encoding

small bhuv fix
  missions/Bhuvauri_Missions.txt
Due: none

Localisation fix
  localisation/Flavour_CountsLeague_B55_l_english.yml
Due: Localization Encoding, Loc key collision check

Writing review for Kalyin harmonization event
  localisation/Kalyin_Harmonize_l_english.yml
Due: Localization Encoding, Loc key collision check

vimdatrongening 2
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_effects/anb_setup_effects.txt
  localisation/Flavour_ChienBinhrung_Y72_l_english.yml
  localisation/anb_racial_pop_l_english.yml
  missions/Azkare_Missions.txt
  missions/ChienBinhrung_Missions.txt
Due: Localization Encoding, Loc key collision check

more fixes
  events/Flavour_OrdaAldresia_A77.txt
Due: Events Encoding

give dak feudalism
  common/institutions/00_Core.txt
Due: none

Raven Banner Starting Event
  common/on_actions/00_on_actions.txt
  events/Escann_Adventurers_Intro.txt
  localisation/Escann_Adventurers_Intro_l_english.yml
Due: Events Encoding, Localization Encoding, Loc key collision check
