Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

almost done zzz
  common/event_modifiers/anb_effelai_worship_modifiers.txt
  common/scripted_effects/effelai_worship_scripted_effects.txt
  events/EffelaiBloomEvents.txt
  localisation/effelai_worship_l_english.yml
  missions/Effelai_Missions.txt
Due: Events Encoding, Localization Encoding

precurosr relicwsa
  common/tradegoods/00_tradegoods.txt
Due: none

dwarovar fix
  common/scripted_effects/anb_digging_effects.txt
Due: none

Final Valley Set Up PR
  common/scripted_effects/anb_setup_effects.txt
  common/tradenodes/00_tradenodes.txt
  history/provinces/5380 - Huizhou.txt
  map/area.txt
  map/climate.txt
  map/continent.txt
Due: none

firstmen nono
  common/religions/00_anb_religion.txt
Due: none

changed shared missions on the right
  events/EffelaiWorshipEvents.txt
  missions/Effelai_Missions.txt
Due: Events Encoding

laii changes
  common/on_actions/00_on_actions.txt
  events/EffelaiWorshipEvents.txt
  missions/Effelai_Missions.txt
Due: Events Encoding

more stuffs
  localisation/effelai_worship_l_english.yml
  missions/Effelai_Missions.txt
Due: Localization Encoding

Auto stash before merge of "new-master" and "JayBean/new-master"
  common/tradenodes/00_tradenodes.txt
Due: none

trade
  common/tradenodes/00_tradenodes.txt
Due: none

VF - up to fourth row + Mitrenya death failsafes
  common/estate_privileges/02_noble_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  events/YnnBargesSystem.txt
  history/countries/G38 - Vels Fadhecai.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Events Encoding, Localization Encoding

sudomegi nerf
  common/religions/00_anb_religion.txt
Due: none

Chosen
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Trade changes v.0.1
  common/tradenodes/00_tradenodes.txt
Due: none

loadingscreen fixes
  gfx/loadingscreens/load_0.dds
  gfx/loadingscreens/load_1.dds
  gfx/loadingscreens/load_10.dds
  gfx/loadingscreens/load_11.dds
  gfx/loadingscreens/load_12.dds
  gfx/loadingscreens/load_13.dds
  gfx/loadingscreens/load_14.dds
  gfx/loadingscreens/load_15.dds
  gfx/loadingscreens/load_16.dds
  gfx/loadingscreens/load_17.dds
  gfx/loadingscreens/load_18.dds
  gfx/loadingscreens/load_19.dds
  gfx/loadingscreens/load_2.dds
  gfx/loadingscreens/load_20.dds
  gfx/loadingscreens/load_21.dds
  gfx/loadingscreens/load_22.dds
  gfx/loadingscreens/load_23.dds
  gfx/loadingscreens/load_24.dds
  gfx/loadingscreens/load_3.dds
  gfx/loadingscreens/load_4.dds
  gfx/loadingscreens/load_5.dds
  gfx/loadingscreens/load_6.dds
  gfx/loadingscreens/load_7.dds
  gfx/loadingscreens/load_8.dds
  gfx/loadingscreens/load_9.dds
Due: none

Rending fixes
  customizable_localization/anb_rending_appeasement.txt
  decisions/RendingDecisions.txt
  events/RendingMA.txt
  localisation/anb_decisions_l_english.yml
  localisation/anb_rending_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

hmm
  events/RendingMA.txt
Due: Events Encoding

mulen fix
  missions/Mulen_Missions.txt
Due: none

Merge and Backup
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Empkeios_G53.txt
  localisation/Flavour_Empkeios_G53_l_english.yml
  localisation/anb_opinion_modifiers_l_english.yml
  missions/Empkeios_missions.txt
Due: Events Encoding, Localization Encoding

bugfix
  missions/LakeFederation_Missions.txt
Due: none

Test -CTD on launch
  common/countries/Lamentaire.txt
  common/countries/Port Palegold.txt
  common/countries/Rhasáil.txt
  common/countries/Trollshaunt.txt
  common/country_tags/anb_countries.txt
  events/anb_piracy_events.txt
  history/countries/M03 - Rhasáil.txt
  history/countries/M04 - Lamentaire.txt
  history/countries/M05 - Trollshaunt.txt
  history/countries/M06 - Port Palegold.txt
Due: Events Encoding

Crash fix
  common/countries/Rhasail.txt
  common/country_tags/anb_countries.txt
  history/countries/M03 - Rhasail.txt
Due: none

Piracy event part 1
  events/anb_piracy_events.txt
Due: Events Encoding

Queendom Throne fixes
  common/great_projects/anb_monuments_bulwar.txt
Due: none

Up to row 7
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/VelsFadhecaiDecisions.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  events/anb_aw_spawner.txt
  events/anb_aw_wendigo.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Queen Throne changes
  common/great_projects/anb_monuments_bulwar.txt.bak
Due: none

Queen Throne changes
  common/great_projects/anb_monuments_bulwar.txt
Due: none

common/great_projects/anb_monuments_bulwar.txt.bak edited online with Bitbucket
  common/great_projects/anb_monuments_bulwar.txt.bak
Due: none

Up to row 8
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Events Encoding, Localization Encoding

Bugfix
  events/estate_adeen_events.txt
Due: Events Encoding

Trade Nodes v.0.2
  common/tradenodes/00_tradenodes.txt
Due: none

Yingzhen Mission QoL
  missions/Yingzhen_Missions.txt
Due: none

comments
  common/fetishist_cults/00_fetishist_cults.txt
Due: none

Dursikari NIs + Loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Custom nation fix
  common/ruler_personalities/00_core.txt
Due: none

Empkeios MT: Dhorý Diplomacy
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Empkeios_G53.txt
  localisation/Flavour_Empkeios_G53_l_english.yml
  missions/Empkeios_missions.txt
Due: Events Encoding, Localization Encoding

bosancovac fix
  events/Flavour_Bosancovac_G33.txt
Due: Events Encoding

VF Code Complete
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_names/00_anbennar_government_names.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/anb_scripted_effects_for_on_actions.txt
  decisions/VelsFadhecaiDecisions.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  events/YnnEvents.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  missions/VelsFadhecai_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Vels Bacar stuff (in case you can't get the first war off the ground)
  common/opinion_modifiers/anb_opinion_modifiers.txt
  decisions/VelsFadhecaiDecisions.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding
