Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

oops
  common/natives/00_natives.txt
  common/scripted_effects/anb_digging_effects.txt
Due: none

We testing and coding
  events/Flavour_Khao_Elnak_Y62.txt
  events/Flavour_Lo_Ngoen_Y60.txt
  events/Flavour_LotDekkhang_Y58.txt
  localisation/Flavour_Khao_Elnak_Y62_l_english.yml
  localisation/Flavour_Lo_Ngoen_Y60_l_english.yml
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
Due: Events Encoding, Localization Encoding

Events
  events/Flavour_Khao_Elnak_Y62.txt
  events/Flavour_Lo_Ngoen_Y60.txt
Due: Events Encoding

CenterRightMostlyDone + cult + reforms
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/fetishist_cults/00_fetishist_cults.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  missions/Spiderwretch_Missions.txt
Due: none

T E S T I N G
  events/Flavour_Khao_Elnak_Y62.txt
  events/Flavour_Thirabnir_Y59.txt
  localisation/Flavour_Khao_Elnak_Y62_l_english.yml
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
Due: Events Encoding, Localization Encoding

sarhal endgame tags
  common/scripted_triggers/00_scripted_triggers.txt
Due: none

horashesh tags can't form eachother
  decisions/WestSarhalFormables.txt
Due: Decisions Encoding

Close to mostly playable
  missions/Khao_Elnak_Missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: none

Very close to playable
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Khao_Elnak_Y62.txt
  events/Flavour_Lo_Ngoen_Y60.txt
  events/Flavour_Thangoya_Z62.txt
  events/Flavour_Thirabnir_Y59.txt
  localisation/Flavour_Thangoya_Z62_l_english.yml
  localisation/Flavour_Thirabnir_Y59_l_english.yml
  missions/Khao_Elnak_Missions.txt
  missions/Thirabnir_missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: Events Encoding, Localization Encoding

Add the polish to the finished product
  missions/Thirabnir_missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: none

CULTURE IS NOT HUMAN GODDAMNIT
  localisation/Flavour_Thirabnir_Y59_l_english.yml
  localisation/anb_racial_l_english.yml
  missions/Thirabnir_missions.txt
Due: Localization Encoding

Tooltips
  localisation/Flavour_Khao_Elnak_Y62_l_english.yml
  missions/Khao_Elnak_Missions.txt
  missions/Thirabnir_missions.txt
Due: Localization Encoding

It's time to merge some files with the main branch
  localisation/Flavour_Khao_Elnak_Y62_l_english.yml
  localisation/Flavour_Thangoya_Z62_l_english.yml
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
Due: Localization Encoding

trade node renames
  common/estate_agendas/anb_ahati_agendas.txt
  common/trade_companies/00_trade_companies.txt
  common/tradenodes/00_tradenodes.txt
  localisation/anb_trade_companies_l_english.yml
  localisation/anb_trade_l_english.yml
Due: Localization Encoding

Township missions
  events/Flavour_Khao_Elnak_Y62.txt
  events/Flavour_Lo_Ngoen_Y60.txt
  events/Flavour_Thangoya_Z62.txt
  localisation/Flavour_Khao_Elnak_Y62_l_english.yml
  localisation/Flavour_Lo_Ngoen_Y60_l_english.yml
  localisation/Flavour_Thangoya_Z62_l_english.yml
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
Due: Events Encoding, Localization Encoding

I forgor
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

Modifiers put into the correct file
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Bye bye wrong file
  common/event_modifiers/anb_thangoya_modifiers.txt
Due: none

fangaula region and trade edits
  common/trade_companies/00_trade_companies.txt
  common/tradegoods/00_tradegoods.txt
  common/tradenodes/00_tradenodes.txt
  history/provinces/5684 - Kumsdat.txt
  history/provinces/5732 - Gharr_Marr.txt
  history/provinces/5742 - Jerr_Araf.txt
  history/provinces/5758 - Ninakaire.txt
  history/provinces/5770 - Tukula.txt
  history/provinces/5785 - Makan.txt
  history/provinces/5813 - Sigilan.txt
  localisation/anb_areas_l_english.yml
  map/area.txt
  map/region.txt
Due: Localization Encoding

Spaces
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Pure unadulterated pain
  common/event_modifiers/anb_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Irkorzik_F69.txt
  missions/Irkorzik_Missions.txt
Due: Events Encoding

#Final edits before PR
  localisation/Flavour_Thangoya_Z62_l_english.yml
  localisation/Flavour_Thirabnir_Y59_l_english.yml
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
Due: Localization Encoding

gitkrokon
  common/on_actions/00_on_actions.txt
Due: none

Basic Working MT, no titles
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  missions/Spiderwretch_Missions.txt
Due: none

Initial command event tiny grammar fix
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

i hate how advisor portraits are coded
  interface/anb_advisors.gfx
Due: none

small azkare bugfix
  missions/Azkare_Missions.txt
Due: none

Mission Loca + Modifier Loca
  localisation/Flavour_Spiderwretch_H90_I_english.yml
  localisation/Flavour_Spiderwretch_H90_l_english.yml
  localisation/Group_Flavour_Goblins_l_english.yml
Due: Localization Encoding

Missions have icons
  localisation/Flavour_Thangoya_Z62_l_english.yml
  missions/Thirabnir_missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: Localization Encoding

"The Evergrowing Citadel of Ciranmyna" addition.
  events/DeepwoodsVegan.txt
Due: Events Encoding

[steam] rooted and fromed some goblins
  events/GroupFlavour_Exodus_Goblins.txt
Due: Events Encoding

organisation first
  common/estate_privileges/anb_privileges.txt
Due: none

Column no.1
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  localisation/Flavour_Thangoya_Z62_l_english.yml
  missions/Zz_Thangoya_Missions.txt
Due: Localization Encoding

Column no.2
  localisation/Flavour_Thangoya_Z62_l_english.yml
  localisation/anb_regions_l_english.yml
  map/provincegroup.txt
  missions/Khao_Elnak_Missions.txt
  missions/Lo_Ngoen_missions.txt
  missions/Thirabnir_missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: Localization Encoding

krak northern pass tweaks
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  missions/Krakdhumvror_Missions.txt
Due: none

some starting personalities
  history/countries/H73 - Skewered Drake.txt
  history/countries/H81 - Masked Butcher.txt
  history/countries/H82 - Greedy grin.txt
  history/countries/H83 - Shadowdreamer.txt
  history/countries/H85 - Truedagger.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
