Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

add flag
  gfx/flags/B80.tga
Due: none

Placeholder loc
  common/event_modifiers/anb_mission_modifiers.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
Due: Localization Encoding

To do
  common/parliament_issues/00_adm_parliament_issues.txt
Due: none

Lizzie Separatism
  history/provinces/5918 - Etaskasut.txt
  history/provinces/5920 - Shelaksukh.txt
  history/provinces/5921 - Zerat.txt
  history/provinces/5922 - Noor_Tressik.txt
  history/provinces/5924 - Sutnasaak.txt
  history/provinces/5927 - Tsusakhz.txt
  history/provinces/5932 - Lasadzanazh.txt
  history/provinces/5964 - Nazhadza.txt
  history/provinces/5965 - Khogadash.txt
  history/provinces/5967 - Sharitsara.txt
  history/provinces/5968 - Taskasha.txt
  history/provinces/6024 - Asparimu.txt
Due: none

Lizzie history
  history/provinces/5918 - Etaskasut.txt
  history/provinces/5920 - Shelaksukh.txt
  history/provinces/5921 - Zerat.txt
  history/provinces/5927 - Tsusakhz.txt
  history/provinces/5932 - Lasadzanazh.txt
  history/provinces/5964 - Nazhadza.txt
  history/provinces/5965 - Khogadash.txt
  history/provinces/5967 - Sharitsara.txt
  history/provinces/5968 - Taskasha.txt
  history/provinces/6024 - Asparimu.txt
Due: none

Flaggening continues
  gfx/flags/F40.tga
  gfx/flags/F44.tga
Due: none

fixed artificers damestear monopoly extension
  events/MonopolyPrivileges.txt
  localisation/anb_estates_l_english.yml
Due: Events Encoding, Localization Encoding

[steam] typo
  localisation/Flavour_Blademarches_B33_l_english.yml
Due: Localization Encoding

[steam]typo2
  localisation/RC_favored_by_the_gods_l_english.yml
Due: Localization Encoding

e
  localisation/anb_racial_l_english.yml
Due: Localization Encoding

Triggers and line endings
  common/event_modifiers/anb_mission_modifiers.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  missions/Sthanan_Missions.txt
Due: none

[steam] exempt from seizing stuff
  common/scripted_triggers/00_scripted_triggers_estates.txt
Due: none

artificers v2
  common/event_modifiers/anb_estate_modifiers.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

A few fixes for Arg-Ordstun
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
  missions/ArgOrdstun_Missions.txt
Due: Localization Encoding

s
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
Due: Localization Encoding

Line endings
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  localisation/Flavour_ArgOrdstun_H76_l_english.yml
Due: Localization Encoding

Azkabar encoding and brackets hell
  missions/Azkabar_missions.txt
Due: none

Bunch of fixes
  events/AdventurerSpawnables.txt
  events/Flavour_Cestirmark_H33.txt
  events/MagicRuler.txt
Due: Events Encoding

emulant modifiers fix
  common/event_modifiers/anb_religion_modifiers.txt
Due: none

artificers v3
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Fixes and simple effects
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Sthanan_Missions.txt
Due: none

Effects
  missions/Sthanan_Missions.txt
Due: none

Events and loc
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
  missions/Sthanan_Missions.txt
Due: Events Encoding, Localization Encoding

Fixes
  localisation/Flavour_Sthanan_G81_l_english.yml
  missions/Sthanan_Missions.txt
Due: Localization Encoding

Simple events
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
Due: Events Encoding, Localization Encoding

Privilege
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Sthanan_G81.txt
  localisation/Flavour_Sthanan_G81_l_english.yml
Due: Events Encoding, Localization Encoding

Privilege 2.0
  common/estates/01_church.txt
Due: none

Icons and pictures
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Sthanan_G81.txt
  missions/Sthanan_Missions.txt
Due: Events Encoding

Fix
  events/Flavour_Sthanan_G81.txt
  missions/Sthanan_Missions.txt
Due: Events Encoding

Fix 2.0
  missions/Sthanan_Missions.txt
Due: none

Fix 3.0 AAAAAAAAAAAAAAAAAAAAA
  missions/Sthanan_Missions.txt
Due: none

Holy shit i forgot to include the name change.
  common/government_mechanics/anb_argordstun_roughness.txt
  missions/ArgOrdstun_Missions.txt
Due: none

Fixed highlight
  missions/ArgOrdstun_Missions.txt
Due: none

Highlights fixing
  missions/ArgOrdstun_Missions.txt
Due: none

Added requirement to experimental excavation
  missions/ArgOrdstun_Missions.txt
Due: none
