Repository JayBean/Anbennar-PublicFork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:JayBean/anbennar-eu4-fork-public-build.git
          - cd anbennar-eu4-fork-public-build.git
          - git push --mirror git@github.com:JayBean/Anbennar-PublicFork.git
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

fixing getting blocked by ai
  events/EffelaiBloomEvents.txt
  localisation/effelai_bloom_l_english.yml
Due: Events Encoding, Localization Encoding

Improved intend for Zansap MT
  events/Flavour_Zansap_F43.txt
  missions/Zansap_Missions.txt
Due: Events Encoding

greth stuff
  common/great_projects/anb_monuments_rahen_haless.txt
  customizable_localization/and_rending_appeasement.txt
  events/Rending.txt
  localisation/anb_rending_l_english.yml
  localisation/anb_spirits_l_english.yml
  map/adjacencies.csv
  map/ambient_object.txt
  map/budanphre_canal_river.bmp
  map/default.map
Due: Events Encoding, Localization Encoding

fixes
  customizable_localization/and_rending_appeasement.txt
  events/MagicEstates.txt
  events/MagicRuler.txt
  events/Rending.txt
  localisation/anb_magic_estates_l_english.yml
Due: Events Encoding, Localization Encoding

Corinite order fixes
  common/event_modifiers/anb_religion_modifiers.txt
  common/holy_orders/anb_holy_orders.txt
  events/Corinite.txt
  localisation/anb_events_religion_l_english.yml
  localisation/anb_holy_orders_l_english.yml
Due: Events Encoding, Localization Encoding

added loc for displaying how much attuned hub dev you have
  common/scripted_effects/effelai_bloom_scripted_effects.txt
  events/EffelaiBloomEvents.txt
  localisation/effelai_bloom_l_english.yml
Due: Events Encoding, Localization Encoding

Flying Hound NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

merge conflict fix
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Balance changes + QoL stuff
  common/event_modifiers/anb_effelai_worship_modifiers.txt
  common/scripted_effects/effelai_bloom_scripted_effects.txt
  common/tradegoods/00_tradegoods.txt
  events/EffelaiWorshipEvents.txt
  localisation/effelai_bloom_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding

teleport change:/
  events/EffelaiWorshipEvents.txt
Due: Events Encoding

removed renaissance oops
  events/EffelaiBloomEvents.txt
Due: Events Encoding

matching the response whoops
  common/event_modifiers/anb_effelai_worship_modifiers.txt
Due: none

Akasi CN fix
  common/colonial_regions/00_colonial_regions.txt
  localisation/anb_colonial_regions_l_english.yml
Due: Localization Encoding

most of row 8
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Bosancovac_G33.txt
  localisation/Flavour_Bosancovac_G33_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Events Encoding, Localization Encoding

row 9
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Bosancovac_G33.txt
  localisation/Flavour_Bosancovac_G33_l_english.yml
  map/ambient_object.txt
  missions/Bosancovac_Missions.txt
Due: Events Encoding, Localization Encoding

moved to hidden
  events/EffelaiBloomEvents.txt
Due: Events Encoding

no message
  common/estate_privileges/estate_adeen_privileges.txt
Due: none

Katsanada NI fix
  common/ideas/anb_country_ideas.txt
Due: none

Medasi government mechanics rework
  common/government_mechanics/anb_medasi_power_share.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
Due: none

Medasi elections
  decisions/WestSarhalFormables.txt
  events/MedasiEvents.txt
  localisation/anb_governments_l_english.yml
  localisation/medasi_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

More Medasi rework
  events/Elections.txt
  history/countries/L01 - Kuiika.txt
  history/countries/L03 - Isagumze.txt
  history/countries/L04 - Saqraxat.txt
  history/countries/L05 - Iqhekabi.txt
  history/countries/L06 - Zena.txt
  history/countries/L07 - Imbushid.txt
  history/countries/L08 - Kulugiash.txt
  history/countries/L09 - Zuvavim.txt
  history/countries/L11 - Chibuswa.txt
  history/countries/L12 - Gomuvuri.txt
  history/countries/L13 - Samishesha.txt
  history/countries/L29 - Kartakhet.txt
  history/countries/L30 - Vurebindika.txt
  history/countries/L31 - Irsukumbha.txt
Due: Events Encoding

minor merc fix
  localisation/anb_mercs_l_english.yml
Due: Localization Encoding

Medasi Onactions
  common/on_actions/00_on_actions.txt
Due: none

loc for tanizu
  common/government_reforms/03_government_reforms_theocracies.txt
  history/countries/S32 - Gahigi.txt
  localisation/anb_governments_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

fix
  common/ideas/anb_country_ideas.txt
Due: none

last row
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Bosancovac_G33.txt
  localisation/Flavour_Bosancovac_G33_l_english.yml
  missions/Bosancovac_Missions.txt
Due: Events Encoding, Localization Encoding

Death Bringing Cobra NIs
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_vyzemby_l_english.yml
Due: Localization Encoding

More fixes
  events/MedasiEvents.txt
  localisation/medasi_l_english.yml
Due: Events Encoding, Localization Encoding

Last fix
  events/MedasiEvents.txt
Due: Events Encoding

Lizard mercenaries
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
  localisation/anb_mercs_l_english.yml
Due: Localization Encoding

Birsartanses fix if you don't have CoC DLC
  missions/Birsartanses_Missions.txt
Due: none

so the eastern chendhyans get generic taychendi NI too
  common/ideas/anb_group_ideas.txt
Due: none

hisost yamok NI
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fushindi tuur port fix
  map/positions.txt
Due: none

merge fix
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Changed most formables converting culture to also convert the ruling family, also check for races to avoid silly race changes
  decisions/1EscannFormables.txt
  decisions/BimLauNation.txt
  decisions/BlackCastanorNation.txt
  decisions/BlackDemenseNation.txt
  decisions/DostanorNation.txt
  decisions/FahvanosyDecisions.txt
  decisions/HalessiFormables.txt
  decisions/KoboldNation.txt
  decisions/WestSarhalFormables.txt
  events/AelantirSpawnables.txt
  events/CastanorTrials.txt
  events/DeepwoodsVegan.txt
  events/EscanniWars.txt
  events/Flavour_Aelnar_Z43.txt
  events/Flavour_Azka_Evran_F34.txt
  events/Flavour_Bennon_A39.txt
  events/Flavour_Ravenmarch_B48.txt
  events/Flavour_Telgeir_A62.txt
  events/OrcFormables.txt
  events/kheionai_events.txt
  missions/Beikdugang_Missions.txt
  missions/Brelar_Missions.txt
  missions/Eordand_Missions.txt
  missions/Malacnar_Missions.txt
  missions/Skurkokli_Missions.txt
  missions/Toarnen_Missions.txt
  missions/Zabutodask_Missions.txt
Due: Decisions Encoding, Events Encoding

Adeen estate privilege changed to only be available when artillery is
  common/estate_privileges/estate_adeen_privileges.txt
  decisions/AdeenDecisions.txt
Due: Decisions Encoding

Deepwoods Localization, part 1
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Effelai bloom loc fix
  localisation/effelai_bloom_l_english.yml
Due: Localization Encoding
